Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

convert os.system to subprocess.call
  Bio/PDB/DSSP.py
  Bio/PDB/PSEA.py
  Bio/PDB/ResidueDepth.py
  Bio/Wise/__init__.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_blastbg.py
Owners: @joaorodrigues, @lennax

drop redudant arg
  Bio/AlignIO/__init__.py
  Bio/Nexus/Nexus.py
  Bio/PDB/PDBParser.py
  Bio/SCOP/Cla.py
  Bio/SearchIO/__init__.py
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SwissIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/phenotype/__init__.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_graphics_online.py
  Tests/test_KGML_nographics.py
  Tests/test_PDB.py
Owners: @peterjc, @joaorodrigues, @lennax, @bow

mode
  Bio/Nexus/Nexus.py
Owners: none

update Bio.Nexus for python3
  Bio/Nexus/Nexus.py
  Bio/Nexus/StandardData.py
  Bio/Nexus/Trees.py
  Bio/Nexus/cnexus.c
Owners: none

drop redudant arg
  Bio/AlignIO/__init__.py
  Bio/PDB/PDBParser.py
  Bio/SCOP/Cla.py
  Bio/SearchIO/__init__.py
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SwissIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/phenotype/__init__.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_graphics_online.py
  Tests/test_KGML_nographics.py
  Tests/test_PDB.py
Owners: @peterjc, @joaorodrigues, @lennax, @bow

Apply black and isort to Tests/test_pairwise_aligner.py
  Tests/test_pairwise_aligner.py
Owners: none

Added my name to CONTRIB.rst
  CONTRIB.rst
Owners: none

Reduces size of aligner.alphabet by grouping as in original formatting.
  Tests/test_pairwise_aligner.py
Owners: none

style, amend long list produced by black.
  Tests/test_PDB_MMCIF2Dict.py
Owners: @joaorodrigues, @lennax

Apply black style to Test/test_PDB*, version 19.10b0.
  NEWS.rst
  Tests/test_PDBList.py
  Tests/test_PDB_FragmentMapper.py
  Tests/test_PDB_KDTree.py
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PDB_Polypetide.py
  Tests/test_PDB_ResidueDepth.py
  Tests/test_PDB_Superimposer.py
  Tests/test_PDB_vectors.py
Owners: @joaorodrigues, @lennax

fix string concat
  Scripts/Restriction/ranacompiler.py
Owners: none

flake8-comp
  Bio/codonalign/codonseq.py
Owners: @zruan

search with legacy SCOP url
  Bio/SCOP/__init__.py
Owners: none

use legacy links in documentation
  Bio/SCOP/__init__.py
Owners: none

search with legacy SCOP url
  Bio/SCOP/__init__.py
Owners: none

use legacy links in documentation
  Bio/SCOP/__init__.py
Owners: none

flake8-comp
  Bio/codonalign/codonseq.py
Owners: @zruan

fix string concat
  Scripts/Restriction/ranacompiler.py
Owners: none

Fix flake8 errors
  Tests/test_pairwise_aligner.py
Owners: none

Actually restrict to latin1 for BGZF output
  Bio/bgzf.py
Owners: @peterjc

black, version 19.10b, does tuple assignment
  Bio/File.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SeqIO/_index.py
Owners: @peterjc

black, version 19.10b, for recent edits
  Bio/Affy/CelFile.py
  Bio/Align/AlignInfo.py
  Bio/Align/__init__.py
  Bio/Application/__init__.py
  Bio/Entrez/Parser.py
  Bio/PDB/Atom.py
  Bio/PDB/PDBIO.py
  Bio/PDB/PDBParser.py
  Bio/PDB/StructureBuilder.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
Owners: @peterjc, @mdehoon, @joaorodrigues, @lennax

Missing space on string concatenation
  Bio/Affy/CelFile.py
Owners: none

More black on top of recent edits
  Bio/FSSP/__init__.py
  Bio/GenBank/__init__.py
  Bio/GenBank/utils.py
  Bio/KEGG/REST.py
  Bio/NMR/xpktools.py
  Bio/Nexus/Nexus.py
  Bio/PDB/ResidueDepth.py
  Bio/SeqIO/XdnaIO.py
  Bio/motifs/mast.py
Owners: @peterjc, @joaorodrigues, @lennax, @mdehoon

Avoid triple-quote string; suggest f-string
  Bio/Align/__init__.py
Owners: @peterjc

Apply black style to Test/test_SeqIO*, version 19.10b0.
  Tests/test_SeqIO_AbiIO.py
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_Gck.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_NibIO.py
  Tests/test_SeqIO_PdbIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_SeqXML.py
  Tests/test_SeqIO_SnapGene.py
  Tests/test_SeqIO_Xdna.py
  Tests/test_SeqIO_convert.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_index.py
  Tests/test_SeqIO_online.py
  Tests/test_SeqIO_write.py
Owners: @peterjc, @bow

Remove list additions by disabling black temporarily.
  Tests/test_pairwise_aligner.py
Owners: none

Move E731 to correct line despite being non-functional because of PyCQA/pycodestyle/issues/868
  Tests/test_pairwise_aligner.py
Owners: none

Remove python 2 assertion
  Tests/test_AlignIO.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Gck.py
  Tests/test_SeqIO_SnapGene.py
  Tests/test_SeqIO_Xdna.py
Owners: @peterjc

Black test pairwise aligner (#2570)
  CONTRIB.rst
  Tests/test_pairwise_aligner.py
Owners: none

Remove python 2 assertion
  Tests/test_AlignIO.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Gck.py
  Tests/test_SeqIO_SnapGene.py
  Tests/test_SeqIO_Xdna.py
Owners: @peterjc

change all "r" args
  Bio/Affy/CelFile.py
  Bio/AlignIO/MafIO.py
  Bio/GenBank/Scanner.py
  Bio/Graphics/GenomeDiagram/_Colors.py
  Bio/NMR/xpktools.py
  Bio/PDB/DSSP.py
  Bio/PDB/FragmentMapper.py
  Bio/PDB/PSEA.py
  Bio/PDB/ResidueDepth.py
  Bio/PDB/parse_pdb_header.py
  Bio/Phylo/_io.py
  Bio/SeqUtils/CodonUsage.py
  Bio/bgzf.py
  Scripts/GenBank/check_output.py
  Scripts/GenBank/check_output_simple.py
  Scripts/Performance/biosql_performance_load.py
  Scripts/Restriction/ranacompiler.py
  Tests/common_BioSQL.py
  Tests/test_Affy.py
  Tests/test_AlignIO.py
  Tests/test_AlignIO_FastaIO.py
  Tests/test_AlignIO_MauveIO.py
  Tests/test_BWA_tool.py
  Tests/test_EmbossPhylipNew.py
  Tests/test_EmbossPrimer.py
  Tests/test_GenBank.py
  Tests/test_GenomeDiagram.py
  Tests/test_NCBI_qblast.py
  Tests/test_NMR.py
  Tests/test_PDB.py
  Tests/test_PDB_StructureAlignment.py
  Tests/test_PhyloXML.py
  Tests/test_PopGen_GenePop_nodepend.py
  Tests/test_UniProt_GOA.py
  Tests/test_bgzf.py
Owners: @peterjc, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao

gzip and bgzf stuff
  Bio/bgzf.py
  Scripts/GenBank/check_output.py
  Tests/test_bgzf.py
Owners: @peterjc

typo
  Bio/bgzf.py
Owners: @peterjc

Remove python 2 crutch for cmp
  Bio/SCOP/__init__.py
Owners: none

Style improvements after black.
  Tests/test_PDBList.py
  Tests/test_PDB_KDTree.py
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PDB_ResidueDepth.py
Owners: @joaorodrigues, @lennax

Remove python 2 crutch for cmp
  Bio/SCOP/__init__.py
Owners: none

black, version 19.10b, Bio/Blast/Applications.py
  Bio/Blast/Applications.py
Owners: none

post-black string concatenation
  Bio/Blast/Applications.py
Owners: none

Fix triple quotes in Bio/Blast/Applications.py
  Bio/Blast/Applications.py
Owners: none
