Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

travis
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

travis
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

ran black" Bio/SeqIO/FastaIO.py
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

Fix './Bio/SeqIO/FastaIO.py:192:1: D400 First line should end with a period'
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

format
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

use with to open files
  Tests/test_UniGene.py
Owners: none

use with to open files
  Tests/test_Uniprot.py
Owners: none

use with
  Tests/test_XXmotif_tool.py
Owners: none

travis does not like blank lines
  Tests/test_UniGene.py
Owners: none

use with
  Tests/test_bgzf.py
Owners: @peterjc

use with
  Tests/test_cellosaurus.py
Owners: none

use with to open files (#2719)
  Tests/test_Uniprot.py
Owners: none

use with (#2720)
  Tests/test_XXmotif_tool.py
Owners: none

use with to open files in test_UniGene.py (#2718)
  Tests/test_UniGene.py
Owners: none

travis
  Tests/test_cellosaurus.py
Owners: none

use with in test_cellosaurus.py (#2722)
  Tests/test_cellosaurus.py
Owners: none

use with
  Tests/test_bgzf.py
Owners: @peterjc

Apply black style to T* files, version 19.10b0. test_TCoffee_tool.py test_TogoWS.py test_translate.py test_TreeConstruction.py
  Tests/test_TCoffee_tool.py
  Tests/test_TogoWS.py
  Tests/test_TreeConstruction.py
  Tests/test_translate.py
Owners: @peterjc

Apply black style to test_SCOP* files, version 19.10b0.
  Tests/test_SCOP_Astral.py
  Tests/test_SCOP_Cla.py
  Tests/test_SCOP_Des.py
  Tests/test_SCOP_Hie.py
  Tests/test_SCOP_Raf.py
  Tests/test_SCOP_Residues.py
  Tests/test_SCOP_Scop.py
  Tests/test_SCOP_online.py
Owners: none

Apply black style to test_SCOP* files, version 19.10b0.
  Tests/test_SCOP_Astral.py
  Tests/test_SCOP_Cla.py
  Tests/test_SCOP_Des.py
  Tests/test_SCOP_Hie.py
  Tests/test_SCOP_Raf.py
  Tests/test_SCOP_Residues.py
  Tests/test_SCOP_Scop.py
  Tests/test_SCOP_online.py
Owners: none

Update MMCIF2Dict.py
  Bio/PDB/MMCIF2Dict.py
Owners: @joaorodrigues, @lennax

Fixed "MMCIF2Dict ValueError: Opening quote in middle of word #2261" (#2716)
  Bio/PDB/MMCIF2Dict.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_PDB_MMCIF2Dict.py
Owners: @joaorodrigues, @lennax

update ncbi_standard_aa.fasta
  Tests/Fasta/ncbi_standard_aa.fasta
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

update ncbiParser; new handles empty/bad fields/titles
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

Style cosmetics, joining strings for more standard look.
  Tests/test_TCoffee_tool.py
Owners: none

Apply black style to test_PopGen* files, version 19.10b0. test_PopGen_GenePop.py test_PopGen_GenePop_EasyController.py test_PopGen_GenePop_nodepend.py
  Tests/test_PopGen_GenePop.py
  Tests/test_PopGen_GenePop_EasyController.py
  Tests/test_PopGen_GenePop_nodepend.py
Owners: @tiagoantao

Apply black style to test_phenotype* files, version 19.10b0. test_phenotype.py test_phenotype_fit.py
  Tests/test_phenotype.py
  Tests/test_phenotype_fit.py
Owners: none

Apply black style to test_NCBITextParser.py, version 19.10b0.
  Tests/test_NCBITextParser.py
Owners: none

Apply black style to T* files, version 19.10b0. test_TCoffee_tool.py test_TogoWS.py test_translate.py test_TreeConstruction.py
  Tests/test_TCoffee_tool.py
  Tests/test_TogoWS.py
  Tests/test_TreeConstruction.py
  Tests/test_translate.py
Owners: @peterjc

Style cosmetics, joining strings for more standard look.
  Tests/test_TCoffee_tool.py
Owners: none

removed SequenceWriter, and renamed Writer to SequenceWriter
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc

Apply black style to test_PopGen* files, version 19.10b0. test_PopGen_GenePop.py test_PopGen_GenePop_EasyController.py test_PopGen_GenePop_nodepend.py
  Tests/test_PopGen_GenePop.py
  Tests/test_PopGen_GenePop_EasyController.py
  Tests/test_PopGen_GenePop_nodepend.py
Owners: @tiagoantao

Entrez efetch: Bug in id handling
  Bio/Entrez/__init__.py
  Tests/test_Entrez_online.py
Owners: @mdehoon

travis
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

Style cosmetics, split the strings, looks better.
  Tests/test_phenotype.py
Owners: none

Some style issues
  Bio/Entrez/__init__.py
  Tests/test_Entrez_online.py
Owners: @mdehoon

No need for 'except XXX as local_var' here (flake8 F841)
  Bio/Entrez/__init__.py
  Bio/GenBank/__init__.py
  Bio/NMR/xpktools.py
  Bio/SeqIO/UniprotIO.py
Owners: @mdehoon, @peterjc

Remove unused imports (flake8 F401)
  Bio/PDB/QCPSuperimposer/__init__.py
  Bio/SearchIO/InterproscanIO/interproscan_xml.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_index.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/__init__.py
  Bio/motifs/matrix.py
  Bio/motifs/minimal.py
Owners: @bow, @peterjc, @mdehoon

Update .flake8 comments
  .flake8
Owners: none

ABC test
  Bio/File.py
  Tests/test_File.py
Owners: none
