Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

change style to conform with black
  Bio/SCOP/__init__.py
Owners: none

cleanup in Bio.SeqIO.PdbIO, in particular the double file parsing in CifAtomIterator
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

travis
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

black lost its mind
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

allow opening SwissProt files by name
  Bio/SwissProt/__init__.py
Owners: none

allow opening SwissProt files by name (#2613)
  Bio/SwissProt/__init__.py
Owners: none

allow phd files to be opened by name
  Bio/Sequencing/Phd.py
Owners: none

allow phd files to be opened by name (#2614)
  Bio/Sequencing/Phd.py
Owners: none

Bio.SeqIO.PirIO cleanup
  Bio/SeqIO/PirIO.py
Owners: @peterjc

Seqio igio python3 (#2606)
  Bio/SeqIO/IgIO.py
Owners: @peterjc

Apply black style to test_SeqIO_AbiIO.py, version 19.10b0.
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

Apply black style, version 19.10b0. test_SeqIO_convert.py and test_SeqIO_FastaIO.py
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_convert.py
Owners: @peterjc

add file mode checking
  Bio/SeqIO/SffIO.py
Owners: @peterjc

bug fix
  Bio/SeqIO/SffIO.py
Owners: @peterjc

bug fix
  Bio/SeqIO/SffIO.py
Owners: @peterjc

add file mode checking
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Bio.SeqIO.PirIO cleanup
  Bio/SeqIO/PirIO.py
Owners: @peterjc

cleanup in Bio.SeqIO.PdbIO (#2612)
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

Convert os.system to subprocess.call (#2568)
  Bio/PDB/DSSP.py
  Bio/PDB/PSEA.py
  Bio/PDB/ResidueDepth.py
  Bio/Wise/__init__.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_blastbg.py
Owners: @joaorodrigues, @lennax

updated Bio.SeqIO.InsdcIO for python3
  Bio/SeqIO/InsdcIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

SnapGene cleanup
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

Adopting f-strings in Scripts/ dir via flynt (#2511)
  Scripts/GenBank/check_output.py
  Scripts/GenBank/check_output_simple.py
  Scripts/PDB/generate_three_to_one_dict.py
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
  Scripts/query_pubmed.py
  Scripts/scop_pdb.py
  Scripts/update_ncbi_codon_table.py
  Scripts/xbbtools/nextorf.py
  Scripts/xbbtools/xbb_search.py
  Scripts/xbbtools/xbb_translations.py
  Scripts/xbbtools/xbb_widget.py
Owners: none

Initial commit for parsing
  Bio/GenBank/Scanner.py
  Bio/GenBank/__init__.py
  Tests/GenBank/tls_KDHP01000000.gb
  Tests/test_GenBank.py
Owners: @peterjc

I'm the news
  NEWS.rst
Owners: none

Set project_urls in setup.py
  setup.py
Owners: none

travis
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

Let Bio.SwissProt handle it
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

Fix newline
  Tests/GenBank/tls_KDHP01000000.gb
Owners: none

Use alphabetical order
  NEWS.rst
Owners: none

First take on explicit tls/tsa check
  Tests/test_GenBank.py
Owners: @peterjc

Travis
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

Travis
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

Apply black style to test_seq* files, version 19.10b0. test_seq.py test_Seq_objs.py test_SeqFeature.py test_SeqRecord.py test_SeqUtils.py
  Tests/test_SeqFeature.py
  Tests/test_SeqRecord.py
  Tests/test_SeqUtils.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Add guide on contributing to the Biopython tutorial
  CONTRIBUTING.rst
  Doc/README.rst
Owners: none

this should do it
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

should be fine now
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

Apply black style, version 19.10b0. test_SeqIO_convert.py and test_SeqIO_FastaIO.py
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_convert.py
Owners: @peterjc

return from generator function
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

Remove subprocess call to python interpreter
  Scripts/xbbtools/xbb_blastbg.py
Owners: none

fix installation line
  Doc/README.rst
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
