Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Avoid slash continuation within commented statement
  Bio/Align/__init__.py
Owners: @peterjc

black, version 19.3b0, on Bio.ALign
  Bio/Align/AlignInfo.py
  Bio/Align/Applications/_ClustalOmega.py
  Bio/Align/Applications/_Clustalw.py
  Bio/Align/Applications/_Dialign.py
  Bio/Align/Applications/_MSAProbs.py
  Bio/Align/Applications/_Mafft.py
  Bio/Align/Applications/_Muscle.py
  Bio/Align/Applications/_Prank.py
  Bio/Align/Applications/_Probcons.py
  Bio/Align/Applications/_TCoffee.py
  Bio/Align/Applications/__init__.py
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
Owners: @peterjc

black, version 19.3b0, on Bio.motifs
  Bio/motifs/__init__.py
  Bio/motifs/applications/_xxmotif.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/jaspar/__init__.py
  Bio/motifs/jaspar/db.py
  Bio/motifs/mast.py
  Bio/motifs/matrix.py
  Bio/motifs/meme.py
  Bio/motifs/minimal.py
  Bio/motifs/pfm.py
  Bio/motifs/transfac.py
  Bio/motifs/xms.py
Owners: @mdehoon

No need for triple-quoted SQL strings with embedded new lines
  Bio/motifs/jaspar/db.py
Owners: none

Missing bracket in exception message
  Bio/motifs/__init__.py
Owners: @mdehoon

Fix post-black string concatenation
  Bio/motifs/__init__.py
  Bio/motifs/jaspar/db.py
Owners: @mdehoon

Remove reference to Jython in main README
  README.rst
Owners: none

Dual license Bio/motifs/transfac.py
  Bio/motifs/transfac.py
Owners: @mdehoon

Dual license Bio/motifs/matrix.py
  Bio/motifs/matrix.py
Owners: @mdehoon

Dual license Bio/motifs/alignace.py
  Bio/motifs/alignace.py
Owners: @mdehoon

Dual license Bio/motifs/applications/_xxmotif.py
  Bio/motifs/applications/_xxmotif.py
Owners: none

Dual license Bio/motifs/applications/__init__.py
  Bio/motifs/applications/__init__.py
Owners: none

Dual license Bio/motifs/__init__.py
  Bio/motifs/__init__.py
Owners: @mdehoon

yield from replacements
  Bio/AlignIO/__init__.py
  Bio/Entrez/Parser.py
  Bio/GenBank/__init__.py
  Bio/Nexus/Trees.py
  Bio/PDB/Atom.py
  Bio/PDB/Chain.py
  Bio/PDB/Entity.py
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/Model.py
  Bio/PDB/Residue.py
  Bio/PDB/Structure.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/CDAOIO.py
  Bio/Phylo/_io.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SearchIO/InterproscanIO/interproscan_xml.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_model/query.py
  Bio/SeqFeature.py
  Bio/SeqIO/PdbIO.py
  Bio/motifs/matrix.py
  Bio/phenotype/__init__.py
  NEWS.rst
Owners: @peterjc, @mdehoon, @joaorodrigues, @lennax, @etal, @bow

remove python2 import for urlopen
  Bio/Blast/NCBIWWW.py
  Bio/Entrez/Parser.py
  Bio/Entrez/__init__.py
  Bio/ExPASy/ScanProsite.py
  Bio/ExPASy/__init__.py
  Bio/Graphics/KGML_vis.py
  Bio/KEGG/REST.py
  Bio/PDB/PDBList.py
  Bio/SCOP/__init__.py
  Bio/TogoWS/__init__.py
  Bio/_py3k/__init__.py
  Bio/motifs/__init__.py
  Scripts/PDB/generate_three_to_one_dict.py
  Tests/run_tests.py
  Tests/test_SeqIO_Gck.py
Owners: @mdehoon, @joaorodrigues, @lennax, @peterjc

remove python2 import for Request
  Bio/Blast/NCBIWWW.py
Owners: none

remove python2 import for urlparse
  Bio/Entrez/Parser.py
  Bio/_py3k/__init__.py
Owners: @mdehoon

remove python2 import for urlcleanup
  Bio/PDB/PDBList.py
  Bio/_py3k/__init__.py
Owners: @joaorodrigues, @lennax

remove python2 import for urlencode
  Bio/Blast/NCBIWWW.py
  Bio/Entrez/__init__.py
  Bio/ExPASy/ScanProsite.py
  Bio/_py3k/__init__.py
Owners: @mdehoon

remove python2 import for quote
  Bio/TogoWS/__init__.py
  Bio/_py3k/__init__.py
Owners: @peterjc

remove python2 import for URLError
  Bio/Entrez/__init__.py
  Bio/_py3k/__init__.py
Owners: @mdehoon

remove python2 import for HTTPError
  Bio/_py3k/__init__.py
  Tests/test_NCBI_qblast.py
  Tests/test_TogoWS.py
Owners: @peterjc

remove comment line
  Bio/phenotype/__init__.py
Owners: none

yield from replacements (#2475)
  Bio/AlignIO/__init__.py
  Bio/Entrez/Parser.py
  Bio/GenBank/__init__.py
  Bio/Nexus/Trees.py
  Bio/PDB/Atom.py
  Bio/PDB/Chain.py
  Bio/PDB/Entity.py
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/Model.py
  Bio/PDB/Residue.py
  Bio/PDB/Structure.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/CDAOIO.py
  Bio/Phylo/_io.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SearchIO/InterproscanIO/interproscan_xml.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_model/query.py
  Bio/SeqFeature.py
  Bio/SeqIO/PdbIO.py
  Bio/motifs/matrix.py
  Bio/phenotype/__init__.py
  NEWS.rst
Owners: @peterjc, @mdehoon, @joaorodrigues, @lennax, @etal, @bow

subprocess.getoutput raises FileNotFoundError on Windows
  Tests/test_ClustalOmega_tool.py
  Tests/test_MSAProbs_tool.py
  Tests/test_phyml_tool.py
  Tests/test_raxml_tool.py
Owners: none

Python 2 problem with subprocess.getoutput fixed
  Bio/Wise/dnal.py
  Bio/_py3k/__init__.py
  Tests/requires_wise.py
  Tests/test_BWA_tool.py
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
  Tests/test_Dialign_tool.py
  Tests/test_Emboss.py
  Tests/test_EmbossPhylipNew.py
  Tests/test_Fasttree_tool.py
  Tests/test_MSAProbs_tool.py
  Tests/test_Mafft_tool.py
  Tests/test_Muscle_tool.py
  Tests/test_PDB_ResidueDepth.py
  Tests/test_Prank_tool.py
  Tests/test_Probcons_tool.py
  Tests/test_TCoffee_tool.py
  Tests/test_XXmotif_tool.py
  Tests/test_phyml_tool.py
  Tests/test_raxml_tool.py
  Tests/test_samtools_tool.py
Owners: @joaorodrigues, @lennax

Other FileNotFoundError cleanup for Python 3
  Tests/test_MafIO_index.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Check for 'not found' or 'not recognized'
  Tests/test_BWA_tool.py
  Tests/test_Clustalw_tool.py
  Tests/test_Dialign_tool.py
  Tests/test_Mafft_tool.py
  Tests/test_Muscle_tool.py
  Tests/test_Prank_tool.py
  Tests/test_Probcons_tool.py
  Tests/test_TCoffee_tool.py
  Tests/test_phyml_tool.py
  Tests/test_raxml_tool.py
Owners: none

subprocess.getoutput raises FileNotFoundError on Windows
  Tests/test_ClustalOmega_tool.py
  Tests/test_MSAProbs_tool.py
  Tests/test_phyml_tool.py
  Tests/test_raxml_tool.py
Owners: none

Other FileNotFoundError cleanup for Python 3
  Tests/test_MafIO_index.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Python 2 problem with subprocess.getoutput fixed
  Bio/Wise/dnal.py
  Bio/_py3k/__init__.py
  Tests/requires_wise.py
  Tests/test_BWA_tool.py
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
  Tests/test_Dialign_tool.py
  Tests/test_Emboss.py
  Tests/test_EmbossPhylipNew.py
  Tests/test_Fasttree_tool.py
  Tests/test_MSAProbs_tool.py
  Tests/test_Mafft_tool.py
  Tests/test_Muscle_tool.py
  Tests/test_PDB_ResidueDepth.py
  Tests/test_Prank_tool.py
  Tests/test_Probcons_tool.py
  Tests/test_TCoffee_tool.py
  Tests/test_XXmotif_tool.py
  Tests/test_phyml_tool.py
  Tests/test_raxml_tool.py
  Tests/test_samtools_tool.py
Owners: @joaorodrigues, @lennax

Check for 'not found' or 'not recognized'
  Tests/test_BWA_tool.py
  Tests/test_Clustalw_tool.py
  Tests/test_Dialign_tool.py
  Tests/test_Mafft_tool.py
  Tests/test_Muscle_tool.py
  Tests/test_Prank_tool.py
  Tests/test_Probcons_tool.py
  Tests/test_TCoffee_tool.py
  Tests/test_phyml_tool.py
  Tests/test_raxml_tool.py
Owners: none

Removed import of universal_read_mode
  Bio/SCOP/Raf.py
  Tests/test_Muscle_tool.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Remove Bio._py3k._universal_read_mode
  Bio/_py3k/__init__.py
Owners: none

Removed _is_int_or_long imports
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/Phylo/TreeConstruction.py
  Bio/SeqFeature.py
  Bio/SeqIO/InsdcIO.py
  Bio/phenotype/phen_micro.py
Owners: @etal, @peterjc

Removed _is_int_or_long defination
  Bio/_py3k/__init__.py
Owners: none

Removed import of universal_read_mode
  Bio/SCOP/Raf.py
  Tests/test_Muscle_tool.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Remove Bio._py3k._universal_read_mode
  Bio/_py3k/__init__.py
Owners: none

Remove _is_int_or_long imports and definition (#2479)
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/Phylo/TreeConstruction.py
  Bio/SeqFeature.py
  Bio/SeqIO/InsdcIO.py
  Bio/_py3k/__init__.py
  Bio/phenotype/phen_micro.py
Owners: @etal, @peterjc

Pyupgrade part 2
  Bio/AlignIO/PhylipIO.py
  Bio/Entrez/Parser.py
  Bio/Nexus/Nexus.py
  Bio/PDB/DSSP.py
  Bio/PDB/NACCESS.py
  Bio/PDB/PDBList.py
  Bio/Phylo/PAML/_paml.py
  Bio/Phylo/PAML/baseml.py
  Bio/Phylo/PAML/codeml.py
  Bio/Phylo/PAML/yn00.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/UniprotIO.py
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
  Scripts/scop_pdb.py
  Scripts/xbbtools/nextorf.py
  Tests/test_GenomeDiagram.py
  Tests/test_GraphicsBitmaps.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_online.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc, @mdehoon, @joaorodrigues, @lennax, @bow, @widdowquinn
