Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Seq bytes (#3451)
  Bio/Seq.py
  BioSQL/BioSeq.py
  Tests/common_BioSQL.py
  Tests/test_SeqIO_TwoBitIO.py
  Tests/test_Seq_objs.py
Owners: @peterjc

updated NEWS (#3486)
  NEWS.rst
Owners: none

remove deprecated code (#3429)
  Bio/PDB/Residue.py
  Bio/PDB/ResidueDepth.py
  Bio/Phylo/__init__.py
  Bio/Phylo/_utils.py
  Bio/SubsMat/__init__.py
  BioSQL/BioSeqDatabase.py
  DEPRECATED.rst
  Scripts/Restriction/ranacompiler.py
Owners: @joaorodrigues, @lennax, @etal

Seq equality and comparisons consistent (#3449)
  Bio/Seq.py
  Tests/common_BioSQL.py
  Tests/test_SeqIO_TwoBitIO.py
  Tests/test_Seq_objs.py
Owners: @peterjc

minor cleanup in Bio.Seq (#3435)
  Bio/Seq.py
Owners: @peterjc

BioSQL doesn't need to subclass Seq (#3428)
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  Tests/common_BioSQL.py
  Tests/seq_tests_common.py
Owners: @peterjc

use an abstract base class (#3445)
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
  BioSQL/BioSeq.py
Owners: @peterjc

remove deprecated argument (#3452)
  Bio/PDB/ResidueDepth.py
Owners: @joaorodrigues, @lennax

Remove defunct link in comment
  Bio/SeqIO/__init__.py
Owners: @peterjc

make pairwise aligner picklable (#3489)
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Ignore flake8-bugbear B015 in tests
  .flake8
Owners: none

Issue 3466 (#3473)
  Bio/KEGG/KGML/KGML_pathway.py
  NEWS.rst
  Tests/test_KEGG_online.py
Owners: none

Simple linear CircleCI setup
  .circleci/config.yml
Owners: none

that never actually happens (#3434)
  Tests/test_SeqIO.py
Owners: @peterjc

Dual license Bio/Phylo/Applications/_Raxml.py
  Bio/Phylo/Applications/_Raxml.py
Owners: none

Actually remove add_sequence method (#3548)
  Bio/Align/__init__.py
  DEPRECATED.rst
Owners: @peterjc

PairwiseAlignment format (#3530)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
Owners: @peterjc

add SAM output to the pairwise aligner (#3518)
  Bio/Align/__init__.py
  Doc/Tutorial.tex
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Pairwise aligner: allow alignment scores on the reverse strand (#3519)
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @mdehoon

Add a substitutions method to PairwiseAlignment (#3549)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

fix DEPRECATED file (#3547)
  DEPRECATED.rst
Owners: none

Fix stray space in RST markup
  NEWS.rst
Owners: none

Add a sort method to `PairwiseAlignment` (#3564)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Updated NEWS: 'pfm-four-rows' scientific notation support.
  NEWS.rst
Owners: none

UniProt GOA Added parser for GPI version 1.2 (#3290)
  Bio/UniProt/GOA.py
  NEWS.rst
  Tests/UniProt/goa_human_sample.gpi
  Tests/test_UniProt_GOA.py
Owners: none

Standardize class init docstrings (#3529)
  Bio/Affy/CelFile.py
  Bio/AlignIO/MauveIO.py
  Bio/Application/__init__.py
  Bio/Entrez/Parser.py
  Bio/GenBank/Record.py
  Bio/GenBank/Scanner.py
  Bio/Graphics/BasicChromosome.py
  Bio/Graphics/Comparative.py
  Bio/Graphics/Distribution.py
  Bio/Graphics/KGML_vis.py
  Bio/HMM/DynamicProgramming.py
  Bio/HMM/Trainer.py
  Bio/LogisticRegression.py
  Bio/PDB/HSExposure.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/kNN.py
  Bio/motifs/alignace.py
  Bio/motifs/meme.py
  Bio/motifs/transfac.py
  Scripts/xbbtools/xbb_translations.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_nographics.py
  Tests/test_SeqIO.py
Owners: @peterjc, @mdehoon, @joaorodrigues, @lennax

fix bug single nucleotide TwoBit (#3539)
  Bio/SeqIO/TwoBitIO.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

Fix sigatm indexing
  Bio/PDB/PDBParser.py
Owners: @joaorodrigues, @lennax

use PSL convention for qStart, tStart, qEnd, tEnd (#3503)
  Bio/Align/__init__.py
Owners: @peterjc

Fix doc comments in Bio.motifs.pfm.
  Bio/motifs/pfm.py
Owners: @mdehoon

Pairwise alignment shape (#3550)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Bump flake8 versions in pre-commit
  .pre-commit-config.yaml
Owners: none

Add tests for "pfm-four-columns" and "pfm-four-rows" motif formats.
  Tests/motifs/fourcolumns.pfm
  Tests/motifs/fourrows.pfm
  Tests/test_motifs.py
Owners: @mdehoon

Fix small typo
  Bio/PDB/HSExposure.py
Owners: @joaorodrigues, @lennax

Generate proper count matrix when reading motifs in minimal MEME format.
  Bio/motifs/minimal.py
  NEWS.rst
Owners: @mdehoon

Adds other Hidrophobicity scales to `ProtParam` (#3524)
  Bio/SeqUtils/ProtParam.py
  Bio/SeqUtils/ProtParamData.py
  CONTRIB.rst
  Tests/test_ProtParam.py
Owners: none

Add some notes for miyata similarity matrix
  Bio/SubsMat/MatrixInfo.py
Owners: none

Use a format method instead of the format function (#3521)
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/Phylo/BaseTree.py
  Bio/motifs/__init__.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_motifs.tex
  Tests/test_align_substitution_matrices.py
  Tests/test_motifs.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @etal, @mdehoon

Bump version to 1.79 (#3567)
  Bio/__init__.py
  NEWS.rst
Owners: none

dont print whitespace at the end of local alignments (#3551)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
  Tests/test_pairwise_alignment_map.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
