Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Removed two missed imports
  Bio/Entrez/__init__.py
  Bio/TogoWS/__init__.py
Owners: @mdehoon, @peterjc

Update test name and comments
  Tests/test_SearchIO_model.py
Owners: @bow

Remove Python 2 only __nonzero__ and __cmp__
  Bio/Align/__init__.py
  Bio/Phylo/BaseTree.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Bio/Seq.py
  Bio/SeqFeature.py
  Bio/SeqRecord.py
  Tests/test_SearchIO_model.py
Owners: @peterjc, @etal, @bow

remove python2 import for raise_from()
  Bio/Align/__init__.py
  Bio/Entrez/Parser.py
Owners: @peterjc, @mdehoon

Move as_bytes to utils
  Bio/Blast/NCBIWWW.py
  Bio/Entrez/Parser.py
  Bio/Entrez/__init__.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SeqIO/SffIO.py
  Bio/SeqUtils/CheckSum.py
  Bio/TogoWS/__init__.py
  Bio/_utils.py
  Bio/bgzf.py
  Tests/search_tests_common.py
  Tests/test_SeqIO_AbiIO.py
  Tests/test_bgzf.py
Owners: @mdehoon, @bow, @peterjc

Removed py3k calls in BioSQL/
  BioSQL/BioSeqDatabase.py
  BioSQL/Loader.py
  NEWS.rst
Owners: none

remove python2 import for raise_from()
  Bio/Align/__init__.py
  Bio/Entrez/Parser.py
Owners: @peterjc, @mdehoon

Revert style changes
  Bio/motifs/__init__.py
Owners: @mdehoon

Remove redundant cast
  Bio/KEGG/KGML/KGML_pathway.py
Owners: none

Remove obsolete commentary
  Tests/test_bgzf.py
Owners: @peterjc

Remove obsolete commentary
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

GenBank: Fix writing TSA data_file_division (#2447)
  Bio/SeqIO/InsdcIO.py
  NEWS.rst
  Tests/test_GenBank.py
Owners: @peterjc

Removed version dependency and changed comment to TODO
  Bio/Entrez/Parser.py
Owners: @mdehoon

Remove legacy python 2 next methods
  Bio/AlignIO/Interfaces.py
  Bio/Blast/ParseBlastTable.py
  Bio/File.py
  Bio/GenBank/__init__.py
  Bio/Nexus/Nexus.py
  Bio/Nexus/StandardData.py
  Bio/PopGen/GenePop/Controller.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/bgzf.py
Owners: @peterjc

Remove legacy python 2 __long__ method
  Bio/Phylo/PhyloXML.py
Owners: @etal

Remove legacy python 2 next method alias
  Bio/Align/__init__.py
Owners: @peterjc

Removed py3k calls in BioSQL/
  BioSQL/BioSeqDatabase.py
  BioSQL/Loader.py
  NEWS.rst
Owners: none

Revert regexp
  Bio/SearchIO/HmmerIO/hmmer2_text.py
Owners: none

Py3k builtins removal (#2444)
  Bio/AlignIO/PhylipIO.py
  Bio/Crystal/__init__.py
  Bio/Graphics/GenomeDiagram/_AbstractDrawer.py
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/HMM/DynamicProgramming.py
  Bio/HMM/MarkovModel.py
  Bio/Nexus/Nexus.py
  Bio/PDB/MMCIFParser.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/TreeConstruction.py
  Bio/Restriction/PrintFormat.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/query.py
  Bio/Seq.py
  Bio/SeqIO/AbiIO.py
  Bio/Sequencing/Ace.py
  Bio/Statistics/lowess.py
  Bio/UniProt/GOA.py
  Bio/Wise/dnal.py
  Bio/_py3k/__init__.py
  Bio/bgzf.py
  Bio/codonalign/__init__.py
  Bio/motifs/__init__.py
  Bio/motifs/jaspar/__init__.py
  Bio/motifs/matrix.py
  NEWS.rst
  Scripts/Restriction/ranacompiler.py
  Tests/PAML/gen_results.py
  Tests/common_BioSQL.py
  Tests/common_BioSQL_online.py
  Tests/seq_tests_common.py
  Tests/test_Fasttree_tool.py
  Tests/test_GenomeDiagram.py
  Tests/test_Nexus.py
  Tests/test_SCOP_Scop.py
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc, @widdowquinn, @joaorodrigues, @lennax, @etal, @bow, @zruan, @mdehoon

'Hotfix'
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
Owners: none

convert Bio.Cluster to python3 only
  Bio/Cluster/__init__.py
  Bio/Cluster/clustermodule.c
  Tests/test_Cluster.py
Owners: @mdehoon

travis
  Tests/test_Cluster.py
Owners: @mdehoon

travis
  Tests/test_Cluster.py
Owners: @mdehoon

travis
  Tests/test_Cluster.py
Owners: @mdehoon

indentation
  Tests/test_Cluster.py
Owners: @mdehoon

convert Bio.Cluster to python3 only (#2451)
  Bio/Cluster/__init__.py
  Bio/Cluster/clustermodule.c
  Tests/test_Cluster.py
Owners: @mdehoon

fix indentation
  Tests/test_Cluster.py
Owners: @mdehoon

fix indentation (#2452)
  Tests/test_Cluster.py
Owners: @mdehoon

Avoid flake8 str concatenation warning
  Tests/test_Cluster.py
Owners: @mdehoon

Use correct encode/decode for urlopen methods
  Bio/Blast/NCBIWWW.py
Owners: none

Python 3 only needs super() with no args
  Bio/Affy/CelFile.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/PhylipIO.py
  Bio/Blast/Record.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/HmmerIO/_base.py
  Bio/SeqIO/FastaIO.py
  BioSQL/BioSeqDatabase.py
Owners: @peterjc

Python 3 assumes UTF8, do not need coding line
  Bio/Align/Applications/_ClustalOmega.py
  Bio/motifs/applications/_xxmotif.py
  Doc/api/conf.py
  Tests/test_Entrez_online.py
  Tests/test_Entrez_parser.py
Owners: @mdehoon

Remove _bytes_to_string
  Bio/SearchIO/ExonerateIO/exonerate_cigar.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/_index.py
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/_index.py
  Bio/_py3k/__init__.py
  Tests/test_SeqIO_index.py
Owners: @bow, @peterjc

Remove all usages that were skipped
  Bio/File.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
Owners: @bow

Remove _string_to_bytes
  Bio/_py3k/__init__.py
Owners: none

Remove all usages that were skipped
  Bio/File.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
Owners: @bow

Remove _string_to_bytes
  Bio/_py3k/__init__.py
Owners: none

Remove _bytes_to_string
  Bio/SearchIO/ExonerateIO/exonerate_cigar.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/_index.py
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/_index.py
  Bio/_py3k/__init__.py
  Tests/test_SeqIO_index.py
Owners: @bow, @peterjc

Use bytes literals over _as_bytes("example")
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

Remove now redundant variables
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
Owners: none
