Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Added non-numerical serial number in sample cif file
  Tests/PDB/a_structure.cif
Owners: none

Added reading of serial file from file
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

Fixed copyright notice - Should be attributed to Rob Miller
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

Appease black style checker.
  Bio/PDB/MMCIFParser.py
  Bio/PDB/PDBIO.py
  Tests/test_PDB.py
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Fixed flake8 smell
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Try coercing atom serial to int on mmCIF parsing. Throw warning if it fails.
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

Added tests for preserve_numbering in PDBIO
  Tests/PDB/1A8O.pdb
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Added tests for preserve_atom_numbering in mmCIF->PDB conversions
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Added check for serial numbers in PDB files. Must be numerical.
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Added keyword to specify msms executable on class instantiation (#3005)
  Bio/PDB/ResidueDepth.py
Owners: @joaorodrigues, @lennax

Use Bio.Align.substitution_matrices instead of Bio.SubsMat in TreeConstruction (#2986)
  Bio/Phylo/TreeConstruction.py
  Tests/test_TreeConstruction.py
Owners: @etal

In Bio.pairwise2, replace substitution matrices from Bio.SubsMat by those from Bio.Align.substitution_matrices
  Bio/pairwise2.py
  Doc/Tutorial/chapter_align.tex
  Tests/pairwise2_testCases.py
Owners: none

move the import
  Tests/pairwise2_testCases.py
Owners: none

fixed some typos
  .flake8
  Bio/Entrez/DTDs/Docsum_3_0.mod.dtd
  Bio/Entrez/DTDs/Docsum_3_1.mod.dtd
  Bio/Entrez/DTDs/Docsum_3_2.mod.dtd
  Bio/Entrez/DTDs/Docsum_3_3.mod.dtd
  Bio/Entrez/DTDs/Docsum_3_4.mod.dtd
  Bio/Entrez/DTDs/NSE.mod.dtd
  Bio/GenBank/Scanner.py
  Bio/PDB/PDBParser.py
  Bio/PDB/ic_data.py
  Bio/PDB/internal_coords.py
  Bio/Restriction/Restriction.py
  Bio/SeqUtils/IsoelectricPoint.py
  Bio/Sequencing/Applications/_bwa.py
  Bio/bgzf.py
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cluster.tex
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_introduction.tex
  Doc/Tutorial/chapter_motifs.tex
  Doc/Tutorial/chapter_phylo.tex
  Scripts/xbbtools/xbb_translations.py
  Scripts/xbbtools/xbb_widget.py
  Tests/motifs/mast.Klf1-200.cd.oops.xml.txt
  Tests/motifs/mast.adh.de.oops.html.txt
  Tests/motifs/mast.crp0.de.oops.txt.txt
  Tests/motifs/meme.INO_up800.classic.oops.xml
  Tests/motifs/meme.adh.classic.oops.xml
  Tests/motifs/meme.farntrans5.classic.anr.xml
  Tests/motifs/meme.psp_test.classic.zoops.xml
  Tests/test_GenBank.py
  Tests/test_prodoc.py
Owners: @peterjc, @joaorodrigues, @lennax

fixed some typos
  DEPRECATED.rst
Owners: none

fixed tests
  Tests/test_prodoc.py
Owners: none

roll back edits to DTDs files
  Bio/Entrez/DTDs/NSE.mod.dtd
  Tests/motifs/mast.Klf1-200.cd.oops.xml.txt
  Tests/motifs/mast.adh.de.oops.html.txt
  Tests/motifs/mast.crp0.de.oops.txt.txt
  Tests/motifs/meme.INO_up800.classic.oops.xml
  Tests/motifs/meme.adh.classic.oops.xml
  Tests/motifs/meme.farntrans5.classic.anr.xml
  Tests/motifs/meme.psp_test.classic.zoops.xml
  Tests/test_NCBI_qblast.py
Owners: none

roll back edits to DTDs files
  Bio/Entrez/DTDs/Docsum_3_0.mod.dtd
  Bio/Entrez/DTDs/Docsum_3_1.mod.dtd
  Bio/Entrez/DTDs/Docsum_3_2.mod.dtd
  Bio/Entrez/DTDs/Docsum_3_3.mod.dtd
  Bio/Entrez/DTDs/Docsum_3_4.mod.dtd
Owners: none

Fixed typos in docstrings and docs (#3013)
  .flake8
  Bio/GenBank/Scanner.py
  Bio/PDB/PDBParser.py
  Bio/PDB/ic_data.py
  Bio/PDB/internal_coords.py
  Bio/Restriction/Restriction.py
  Bio/SeqUtils/IsoelectricPoint.py
  Bio/Sequencing/Applications/_bwa.py
  Bio/bgzf.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cluster.tex
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_introduction.tex
  Doc/Tutorial/chapter_motifs.tex
  Doc/Tutorial/chapter_phylo.tex
  Scripts/xbbtools/xbb_translations.py
  Scripts/xbbtools/xbb_widget.py
  Tests/test_GenBank.py
  Tests/test_NCBI_qblast.py
Owners: @peterjc, @joaorodrigues, @lennax

correct typo coment
  Bio/Phylo/NewickIO.py
Owners: @etal

Add newick trees for testing that are attribute rich
  Tests/Nexus/attr_rich_val.nwk
  Tests/Nexus/attr_rich_val_no_internal_name.nwk
Owners: none

fix confidence concat, help parse both confidence and branch length
  Bio/Phylo/NewickIO.py
Owners: @etal

test suite for writing nwk/nex trees and various node attr
  Tests/test_Phylo.py
Owners: @etal

format with black
  Bio/Phylo/NewickIO.py
  CONTRIB.rst
  NEWS.rst
Owners: @etal

Clarify flake8 configuration comments
  .flake8
Owners: none

Clarify flake8 configuration comments
  .flake8
Owners: none

some fixes
  Bio/Blast/Applications.py
  Bio/Seq.py
  Bio/SeqFeature.py
Owners: @peterjc

take out the middle man
  Bio/Align/AlignInfo.py
Owners: @peterjc

take out the middle man (#3018)
  Bio/Align/AlignInfo.py
Owners: @peterjc

Simplify Bio.AlignIO.convert
  Bio/AlignIO/__init__.py
Owners: @peterjc

Define consensus based MSA molecule_type property
  Bio/Align/__init__.py
Owners: @peterjc

Use MSA molecule type in Nexus output
  Bio/AlignIO/NexusIO.py
  Tests/test_Nexus.py
  Tests/test_SeqIO.py
Owners: @peterjc

some fixes
  Bio/Blast/Applications.py
  Bio/Seq.py
  Bio/SeqFeature.py
Owners: @peterjc

switch Nexus module tree parsing to use new NewickIO
  Bio/Nexus/Nexus.py
Owners: none

Nexus tree parsing now uses Tree.Newick objects
  Bio/Phylo/NexusIO.py
Owners: @etal

add attr rooted,name,weight for Nexus module integration
  Bio/Phylo/NewickIO.py
Owners: @etal

add an attribute rich tree file for nexus test
  Tests/Nexus/attr_rich_val.nex
Owners: none

typo
  Bio/Align/AlignInfo.py
Owners: @peterjc

remove unused argument
  Bio/codonalign/codonseq.py
Owners: @zruan

typo
  Bio/SeqUtils/CheckSum.py
Owners: none
