Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

peter comments
  Tests/test_SeqIO.py
Owners: @peterjc

fix mistake
  Tests/test_SeqIO.py
Owners: @peterjc

travis blank line
  Tests/test_SeqIO.py
Owners: @peterjc

Happy New Year 2020!
  LICENSE.rst
Owners: none

fix test
  Tests/test_Entrez_parser.py
Owners: @mdehoon

Happy New Year 2020!
  LICENSE.rst
Owners: none

added some documentation
  Doc/Tutorial/chapter_entrez.tex
Owners: none

converted Bio.Entrez to python3 (#2461)
  Bio/Entrez/Parser.py
  Bio/Entrez/__init__.py
  Doc/Tutorial/chapter_entrez.tex
  Tests/test_Entrez_online.py
  Tests/test_Entrez_parser.py
Owners: @mdehoon

attempt to resolve conflit
  Bio/Entrez/Parser.py
Owners: @mdehoon

updated files
  Bio/Entrez/__init__.py
  Tests/test_Entrez_parser.py
Owners: @mdehoon

another attempt
  Bio/Entrez/Parser.py
Owners: @mdehoon

pyupgrade again
  Bio/Entrez/Parser.py
Owners: @mdehoon

remove empty line
  Bio/Entrez/Parser.py
Owners: @mdehoon

adding test file
  Bio/SwissProt/__init__.py
  Tests/SwissProt/O23729.txt
  Tests/test_SwissProt.py
  Tests/test_Uniprot.py
Owners: none

Dual license Bio/motifs/matrix.py
  Bio/motifs/matrix.py
Owners: @mdehoon

Dual license Bio/motifs/transfac.py
  Bio/motifs/transfac.py
Owners: @mdehoon

Dual license Bio/motifs/alignace.py
  Bio/motifs/alignace.py
Owners: @mdehoon

Dual license Bio/motifs/__init__.py
  Bio/motifs/__init__.py
Owners: @mdehoon

Dual license Bio/motifs/applications/__init__.py
  Bio/motifs/applications/__init__.py
Owners: none

Dual license Bio/motifs/applications/_xxmotif.py
  Bio/motifs/applications/_xxmotif.py
Owners: none

Fixed doctest for Bio.PDB.AbstractPropertyMap
  Bio/PDB/AbstractPropertyMap.py
  Tests/run_tests.py
Owners: @joaorodrigues, @lennax

Corrected formatting of empty exclusion list
  Tests/run_tests.py
Owners: none

update Bio.SwissProt to handle the new FT lines
  Bio/SeqFeature.py
  Bio/SeqIO/SwissIO.py
  Bio/SwissProt/__init__.py
  Tests/SwissProt/P0A186.txt
  Tests/SwissProt/P60137.txt
  Tests/SwissProt/sp004
  Tests/SwissProt/sp014
  Tests/common_BioSQL.py
  Tests/test_Emboss.py
  Tests/test_SeqIO.py
  Tests/test_SwissProt.py
Owners: @peterjc

travis
  Bio/SwissProt/__init__.py
  Tests/test_SwissProt.py
Owners: none

flakeless
  Bio/SwissProt/__init__.py
Owners: none

kdtree python3
  Bio/PDB/kdtrees.c
Owners: @joaorodrigues, @lennax

kdtree python3 (#2485)
  Bio/PDB/kdtrees.c
Owners: @joaorodrigues, @lennax

Bio.Align python3
  Bio/Align/__init__.py
Owners: @peterjc

cleanup C code
  Bio/Cluster/clustermodule.c
  Bio/PDB/kdtrees.c
Owners: @mdehoon, @joaorodrigues, @lennax

cleanup C code (#2487)
  Bio/Cluster/clustermodule.c
  Bio/PDB/kdtrees.c
Owners: @mdehoon, @joaorodrigues, @lennax

bugfix
  Bio/SwissProt/__init__.py
  Tests/test_SwissProt.py
Owners: none

Add test case for FT lines starting with /
  Tests/SwissProt/P0CK95.txt
  Tests/test_SwissProt.py
Owners: none

Added name to contrib.rst
  CONTRIB.rst
Owners: none

fix for FT continuation lines starting with /
  Bio/SwissProt/__init__.py
Owners: none

Bio.Align python3
  Bio/Align/__init__.py
Owners: @peterjc

Fixed doctest for Bio.PDB.AbstractPropertyMap (#2482)
  Bio/PDB/AbstractPropertyMap.py
  Tests/run_tests.py
Owners: @joaorodrigues, @lennax

Pyupgrade part 2 (again) (#2480)
  Bio/AlignIO/PhylipIO.py
  Bio/Entrez/Parser.py
  Bio/Nexus/Nexus.py
  Bio/PDB/DSSP.py
  Bio/PDB/NACCESS.py
  Bio/PDB/PDBList.py
  Bio/Phylo/PAML/_paml.py
  Bio/Phylo/PAML/baseml.py
  Bio/Phylo/PAML/codeml.py
  Bio/Phylo/PAML/yn00.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/UniprotIO.py
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
  Scripts/scop_pdb.py
  Scripts/xbbtools/nextorf.py
  Tests/test_GenomeDiagram.py
  Tests/test_GraphicsBitmaps.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_online.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc, @mdehoon, @joaorodrigues, @lennax, @bow, @widdowquinn

Fixed flake8 rule D209 violations
  Bio/Phylo/PAML/baseml.py
  Bio/Phylo/PAML/codeml.py
Owners: none

documentation fix
  Bio/SwissProt/__init__.py
Owners: none

travis
  Bio/SwissProt/__init__.py
Owners: none
