Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

fix bulder typo
  Bio/PDB/mmtf/DefaultParser.py
  Bio/PDB/mmtf/__init__.py
Owners: none

Basic MMTF writer
  Bio/PDB/mmtf/__init__.py
  Bio/PDB/mmtf/mmtfio.py
Owners: none

pep7
  Bio/Cluster/cluster.c
Owners: @mdehoon

Dual license Bio/PDB/Superimposer.py
  Bio/PDB/Superimposer.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/HSExposure.py
  Bio/PDB/HSExposure.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/PDBExceptions.py
  Bio/PDB/PDBExceptions.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/NACCESS.py
  Bio/PDB/NACCESS.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Atom.py
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/QCPSuperimposer/__init__.py
  Bio/PDB/QCPSuperimposer/__init__.py
Owners: none

Dual license Bio/PDB/NeighborSearch.py
  Bio/PDB/NeighborSearch.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Residue.py
  Bio/PDB/Residue.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/__init__.py
  Bio/PDB/__init__.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/MMCIF2Dict.py
  Bio/PDB/MMCIF2Dict.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Selection.py
  Bio/PDB/Selection.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/AbstractPropertyMap.py
  Bio/PDB/AbstractPropertyMap.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Dice.py
  Bio/PDB/Dice.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Chain.py
  Bio/PDB/Chain.py
Owners: @joaorodrigues, @lennax

Dual license Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/StructureAlignment.py
  Bio/PDB/StructureAlignment.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Structure.py
  Bio/PDB/Structure.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/vectors.py
  Bio/PDB/vectors.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/FragmentMapper.py
  Bio/PDB/FragmentMapper.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/PSEA.py
  Bio/PDB/PSEA.py
Owners: @joaorodrigues, @lennax

Dual license Tests/test_PDB_KDTree.py
  Tests/test_PDB_KDTree.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/ResidueDepth.py
  Bio/PDB/ResidueDepth.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Polypeptide.py
  Bio/PDB/Polypeptide.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/parse_pdb_header.py
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Raise NotImplementedError when opening bgzf files for append
  Bio/bgzf.py
  Tests/test_bgzf.py
Owners: @peterjc

Added my name to the latest revision
  NEWS.rst
Owners: none

Simplified check_same_thread
  Bio/File.py
  Bio/SeqIO/__init__.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Tweak NEWS order for PDB/mmCIF/MMTF entries
  NEWS.rst
Owners: none

Added dot to the end of the docstring
  Tests/test_SeqIO_index.py
Owners: @peterjc

Raise NotImplementedError when opening bgzf files for append
  Bio/bgzf.py
  Tests/test_bgzf.py
Owners: @peterjc

Added my name to the latest revision
  NEWS.rst
Owners: none

pep7
  Bio/Cluster/cluster.c
  Bio/Cluster/clustermodule.c
Owners: @mdehoon

C Clustering Library version 1.59
  Bio/Cluster/__init__.py
  Bio/Cluster/cluster.h
Owners: @mdehoon

Dual license Bio/Compass/__init__.py
  Bio/Compass/__init__.py
Owners: none

Dual license Tests/test_PDB.py
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/PDBList.py
  Bio/PDB/PDBList.py
Owners: @joaorodrigues, @lennax

Cluster pep7 (#2239)
  Bio/Cluster/__init__.py
  Bio/Cluster/cluster.c
  Bio/Cluster/cluster.h
  Bio/Cluster/clustermodule.c
Owners: @mdehoon
