Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Implement XML parsing for MEME
  Bio/motifs/meme.py
Owners: @mdehoon

Update test_Uniprot.py
  Tests/test_Uniprot.py
Owners: none

Update UniprotIO.py
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

fix: style issues with indentation, single quotes and co
  Bio/SeqIO/UniprotIO.py
  Tests/test_Uniprot.py
Owners: @peterjc

elifize
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

fix: style issues with indentation, single quotes and co
  Bio/SeqIO/UniprotIO.py
  Tests/test_Uniprot.py
Owners: @peterjc

Type error if BgzfReader given to BgzfBlocks
  Bio/bgzf.py
Owners: @peterjc

Test TypeError from BgzfBlocks
  Tests/test_bgzf.py
Owners: @peterjc

Move the append mode NotImplementedError to the writer
  Bio/bgzf.py
Owners: @peterjc

Test TypeError from BgzfBlocks
  Tests/test_bgzf.py
Owners: @peterjc

Type error if BgzfReader given to BgzfBlocks
  Bio/bgzf.py
Owners: @peterjc

Move the append mode NotImplementedError to the writer
  Bio/bgzf.py
Owners: @peterjc

Sample problematic GCG MSF file from IPD-IMGT/HLA database
  Tests/msf/DOA_prot.msf
Owners: none

Test MSF error conditions using DOA_prot.msf
  Tests/test_AlignIO.py
Owners: @peterjc

added embl-cds from uniprot to dbxref (#2310)
  Bio/SeqIO/UniprotIO.py
  Tests/test_Uniprot.py
Owners: @peterjc

Thank Valery Weber (#2310)
  CONTRIB.rst
  NEWS.rst
Owners: none

move with block inside each submodule
  Bio/GenBank/Scanner.py
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/SwissIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/SeqIO/XdnaIO.py
  Bio/SeqIO/__init__.py
Owners: @peterjc, @bow

fix SeqXmlIO
  Bio/SeqIO/SeqXmlIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

cleanup
  Bio/SeqIO/__init__.py
Owners: @peterjc

travis
  Bio/GenBank/Scanner.py
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

fix for python2
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

travis being a jerk
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

travis being a jerk
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

hello goodbye
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

adding nuc4.4
  Bio/Align/substitution_matrices/data/NUC.4.4
Owners: none

change pretty-printing
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

making travis happy
  Tests/test_pairwise_aligner.py
Owners: none

making travis happy
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

tweak keys to work with Bio.pairwise2
  Bio/Align/substitution_matrices/__init__.py
Owners: none

add BiopythonExperimentalWarning to Bio.Align.substitution_matrices
  Bio/Align/substitution_matrices/__init__.py
Owners: none

Dual license Bio/SeqIO/FastaIO.py
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

Dual license Bio/SeqIO/UniprotIO.py
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

Dual license Bio/SeqIO/NibIO.py
  Bio/SeqIO/NibIO.py
Owners: @peterjc

Dual license Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

Update Damien's details
  CONTRIB.rst
Owners: none

Dual license Bio/Pathway/__init__.py
  Bio/Pathway/__init__.py
Owners: none

Dual license Bio/KEGG/Gene/__init__.py
  Bio/KEGG/Gene/__init__.py
Owners: none

Dual license Bio/Pathway/Rep/Graph.py
  Bio/Pathway/Rep/Graph.py
Owners: none

Dual license Bio/Pathway/Rep/__init__.py
  Bio/Pathway/Rep/__init__.py
Owners: none

Update Tarjei's contact details in CONTRIB.rst
  CONTRIB.rst
Owners: none
