Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

update description of alphabets for Bio.SubsMat
  Doc/Tutorial/chapter_advanced.tex
Owners: none

update description of alphabets for Bio.SubsMat (#3067)
  Doc/Tutorial/chapter_advanced.tex
Owners: none

Apply black style to test_pairwise2_no_C.py, version 19.10b0.
  Tests/test_pairwise2_no_C.py
Owners: none

Apply black style to test_phyml_tool.py.py, version 19.10b0.
  Tests/test_phyml_tool.py
Owners: none

Simplify Bio.AlignIO.convert
  Bio/AlignIO/__init__.py
Owners: @peterjc

removing prompts
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Use mol type in Nexus output, not alphabet
  Bio/AlignIO/NexusIO.py
  Tests/test_Nexus.py
  Tests/test_SeqIO.py
Owners: @peterjc

removed the alphabet from one section in the cookbook (#3066)
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Simplify Bio.AlignIO.convert
  Bio/AlignIO/__init__.py
Owners: @peterjc

Use mol type in Nexus output, not alphabet
  Bio/AlignIO/NexusIO.py
  Tests/test_Nexus.py
  Tests/test_SeqIO.py
Owners: @peterjc

removed alphabets from test_AlignIO_convert.py
  Tests/test_AlignIO_convert.py
Owners: @peterjc

removed alphabets from test_AlignIO_convert.py
  Tests/test_AlignIO_convert.py
Owners: @peterjc

Fix broken merge in Biopython 1.76 contributors
  NEWS.rst
Owners: none

removed commented code; commented on 2004, "introns.bla" not available.
  Tests/test_psw.py
Owners: none

Replaced assertEqual() with assertIsNone(), as per flake8 A502 prefer assertIsNone() instead of comparing to None.
  Tests/test_Ace.py
Owners: none

Apply black style to test_codonalign.py, version 19.10b0.
  Tests/test_codonalign.py
Owners: @zruan

fix test_Emboss.py
  Tests/test_Emboss.py
Owners: none

travis
  Bio/SearchIO/_model/hsp.py
Owners: none

replaced alphabets with molecule_type in Bio.SearchIO
  Bio/SearchIO/BlastIO/blast_text.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_domtab.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SearchIO/InterproscanIO/interproscan_xml.py
  Bio/SearchIO/_model/hsp.py
  Tests/test_SearchIO_model.py
Owners: @bow

Replaced assertEqual() with assertIsNone(), as per flake8 A502 prefer assertIsNone() instead of comparing to None.
  Tests/test_Ace.py
Owners: none

fix test_Emboss.py (#3075)
  Tests/test_Emboss.py
Owners: none

removed commented code; commented on 2004, "introns.bla" not available.
  Tests/test_psw.py
Owners: none

Apply black style to test_psw.py, version 19.10b0.
  Tests/test_psw.py
Owners: none

Reorder and remove redundant word
  NEWS.rst
Owners: none

Summarise Bio.Alphabet changes for NEWS
  NEWS.rst
Owners: none

removed alphabets from Bio.Sequencing.PhDd
  Bio/Sequencing/Phd.py
Owners: none

removed alphabets from Bio.Sequencing.PhDd (#3077)
  Bio/Sequencing/Phd.py
Owners: none

removed alphabets
  Bio/SeqUtils/ProtParam.py
Owners: none

Summarise Bio.Alphabet changes for NEWS
  NEWS.rst
Owners: none

Reorder and remove redundant word
  NEWS.rst
Owners: none

Drop alphabet in Bio/PDB/Polypeptide.py
  Bio/PDB/Polypeptide.py
Owners: @joaorodrigues, @lennax

removed alphabets (#3078)
  Bio/SeqUtils/ProtParam.py
Owners: none

removed alphabets
  Bio/SeqUtils/MeltingTemp.py
Owners: none

travis
  Bio/SeqUtils/MeltingTemp.py
Owners: none

message
  Bio/SeqUtils/MeltingTemp.py
Owners: none

removed alphabet from Bio.codonalign (#3049)
  Bio/codonalign/__init__.py
  Bio/codonalign/codonalignment.py
  Bio/codonalign/codonalphabet.py
  Bio/codonalign/codonseq.py
  Tests/test_codonalign.py
Owners: @zruan

Drop alphabet in Bio/PDB/Polypeptide.py
  Bio/PDB/Polypeptide.py
Owners: @joaorodrigues, @lennax

removed alphabets (#3079)
  Bio/SeqUtils/MeltingTemp.py
Owners: none

removed alphabet
  Tests/test_SeqIO_features.py
Owners: @peterjc

removed alphabet (#3081)
  Tests/test_SeqIO_features.py
Owners: @peterjc
