Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

travis
  Tests/test_SeqIO_convert.py
Owners: @peterjc

test_SeqIO_convert update (#2830)
  Tests/test_SeqIO_convert.py
Owners: @peterjc

change features packet encoding
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

reuse bits from SeqIOTestBaseClass
  Tests/test_SeqIO.py
  Tests/test_SeqIO_convert.py
Owners: @peterjc

reuse bits from SeqIOTestBaseClass (#2832)
  Tests/test_SeqIO.py
  Tests/test_SeqIO_convert.py
Owners: @peterjc

Remove executable flag or add shebang
  Bio/Entrez/DTDs/nlmmedlinecitationset_130501.dtd
  Bio/Entrez/DTDs/nlmserials_100101.dtd
  Bio/Entrez/DTDs/pubmed_130501.dtd
  CONTRIB.rst
  Tests/Abi/test_data
  Tests/Geo/soft_ex_affy_chp.txt
  Tests/KEGG/ko01100.xml
  Tests/PAML/Control_files/yn00/yn00.ctl
  Tests/Registry/bt001
  Tests/test_ClustalOmega_tool.py
  Tests/test_MSAProbs_tool.py
  Tests/test_Nexus.py
  Tests/test_Phd.py
  Tests/test_SCOP_Residues.py
  Tests/test_Wise.py
  Tests/test_lowess.py
  Tests/test_psw.py
Owners: none

Remove hashbangs from tests; make run_tests.py executable
  Tests/pairwise2_testCases.py
  Tests/requires_wise.py
  Tests/run_tests.py
  Tests/test_BioSQL_MySQLdb.py
  Tests/test_BioSQL_MySQLdb_online.py
  Tests/test_BioSQL_mysql_connector.py
  Tests/test_BioSQL_mysql_connector_online.py
  Tests/test_BioSQL_psycopg2.py
  Tests/test_BioSQL_psycopg2_online.py
  Tests/test_BioSQL_sqlite3.py
  Tests/test_BioSQL_sqlite3_online.py
  Tests/test_Blast_Record.py
  Tests/test_ColorSpiral.py
  Tests/test_EmbossPrimer.py
  Tests/test_GenBank.py
  Tests/test_GenomeDiagram.py
  Tests/test_GraphicsChromosome.py
  Tests/test_GraphicsDistribution.py
  Tests/test_GraphicsGeneral.py
  Tests/test_HMMGeneral.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_graphics_online.py
  Tests/test_KGML_nographics.py
  Tests/test_Medline.py
  Tests/test_SwissProt.py
  Tests/test_Uniprot.py
  Tests/test_align.py
  Tests/test_pairwise2.py
  Tests/test_pairwise2_no_C.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @widdowquinn

Apply black style to test_Restriction.py, version 19.10b0.
  Tests/test_Restriction.py
Owners: none

reuse record comparison code from QualityIO tests
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_convert.py
Owners: @peterjc

Init commit
  Bio/SeqAnalysis/README.md
  Bio/SeqAnalysis/__init__.py
Owners: none

Bachelor project import from local machine
  Bio/SeqAnalysis/downloader.py
Owners: none

SeqRef, SeqDb for cross-referencing support
  Bio/SeqIO/FastaIO.py
  Bio/SeqRef/GbRef.py
  Bio/SeqRef/PdbRef.py
  Bio/SeqRef/SeqDb/Ebi.py
  Bio/SeqRef/SeqDb/Ncbi.py
  Bio/SeqRef/SeqDb/Rcsb.py
  Bio/SeqRef/SeqDb/Uniprot.py
  Bio/SeqRef/SeqDb/__init__.py
  Bio/SeqRef/SeqDb/_commons.py
  Bio/SeqRef/__init__.py
  Bio/SeqRef/_commons.py
Owners: @peterjc

some docs; string representations
  Bio/SeqRef/GbRef.py
  Bio/SeqRef/PdbRef.py
  Bio/SeqRef/SeqDb/EbiDb.py
  Bio/SeqRef/SeqDb/NcbiDb.py
  Bio/SeqRef/SeqDb/RcsbDb.py
  Bio/SeqRef/SeqDb/UniprotDb.py
  Bio/SeqRef/SeqDb/__init__.py
  Bio/SeqRef/_commons.py
Owners: none

embl and ddbj
  Bio/SeqRef/GbRef.py
  Bio/SeqRef/SeqDb/DdbjDb.py
  Bio/SeqRef/SeqDb/EbiDb.py
  Bio/SeqRef/SeqDb/NcbiDb.py
  Bio/SeqRef/SeqDb/RcsbDb.py
  Bio/SeqRef/SeqDb/UniprotDb.py
  Bio/SeqRef/SeqDb/__init__.py
  Bio/SeqRef/SeqDb/_commons.py
  Bio/SeqRef/__init__.py
  Bio/SeqRef/_commons.py
Owners: none

fetch from url
  Bio/SeqRef/SeqDb/DdbjDb.py
  Bio/SeqRef/SeqDb/NcbiDb.py
  Bio/SeqRef/SeqDb/__init__.py
  Bio/SeqRef/SeqDb/_commons.py
Owners: none

renaming
  Bio/SeqRef/GbRef.py
  Bio/SeqRef/PdbRef.py
  Bio/SeqRef/SeqDb/EbiDb.py
  Bio/SeqRef/SeqDb/NcbiDb.py
  Bio/SeqRef/SeqDb/RcsbDb.py
  Bio/SeqRef/SeqDb/UniprotDb.py
  Bio/SeqRef/SeqDb/_SeqDb.py
  Bio/SeqRef/_SeqRef.py
Owners: none

implements __repr()__
  Bio/SeqRef/_SeqRef.py
  Bio/SeqRef/_demo.py
Owners: none

Revert "implements __repr()__"
  Bio/SeqRef/_SeqRef.py
  Bio/SeqRef/_demo.py
Owners: none

implement __repr__()
  Bio/SeqRef/_SeqRef.py
Owners: none

more docs
  Bio/SeqRef/SeqDb/DdbjDb.py
  Bio/SeqRef/SeqDb/EbiDb.py
  Bio/SeqRef/SeqDb/RcsbDb.py
  Bio/SeqRef/SeqDb/UniprotDb.py
  Bio/SeqRef/SeqDb/_SeqDb.py
Owners: none

ebi-ena fetch
  Bio/SeqRef/SeqDb/EbiDb.py
  Bio/SeqRef/SeqDb/_SeqDb.py
Owners: none

fix some styles
  Bio/SeqRef/GbRef.py
  Bio/SeqRef/PdbRef.py
  Bio/SeqRef/SeqDb/DdbjDb.py
  Bio/SeqRef/SeqDb/EbiDb.py
  Bio/SeqRef/SeqDb/NcbiDb.py
  Bio/SeqRef/SeqDb/RcsbDb.py
  Bio/SeqRef/SeqDb/UniprotDb.py
  Bio/SeqRef/SeqDb/_SeqDb.py
  Bio/SeqRef/_SeqRef.py
  Bio/SeqRef/__init__.py
Owners: none

adding docstrings
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Insdc.py
Owners: @peterjc

reuse record comparison code from QualityIO tests
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_convert.py
Owners: @peterjc

adding docstrings
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Insdc.py
Owners: @peterjc

avoid lazy imports
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_convert.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

travis
  Bio/SeqIO/__init__.py
Owners: @peterjc

Style change. Changed assertFalse(a==b) and assertTrue(a==b) into assertNotEqual(a, b) and assertEqual(a, b).
  Tests/test_Restriction.py
Owners: none

Fixed a bug in calculating the height of clades when building a UPGMA tree
  Bio/Phylo/TreeConstruction.py
Owners: @etal

added my name to contrib.rst alphabetically
  CONTRIB.rst
Owners: none

minor corrections
  Bio/Phylo/TreeConstruction.py
Owners: @etal

formatting changes
  Bio/Phylo/TreeConstruction.py
Owners: @etal

Style change. Changed assertFalse(a==b) and assertTrue(a==b) into assertNotEqual(a, b) and assertEqual(a, b).
  Tests/test_Restriction.py
Owners: none

Apply black style to test_Restriction.py, version 19.10b0.
  Tests/test_Restriction.py
Owners: none

Apply black style to test_RCSBFormats.py, version 19.10b0.
  Tests/test_RCSBFormats.py
Owners: none

Apply black style to test_RCSBFormats.py, version 19.10b0.
  Tests/test_RCSBFormats.py
Owners: none

Split up Bio.SeqIO._convert avoid lazy imports (#2836)
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_convert.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

fixed Abi and SeqXml
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/SeqXmlIO.py
  DEPRECATED.rst
Owners: @peterjc, @bow

Ig
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

updated string formatting to fstrings method
  Bio/PDB/Entity.py
Owners: @joaorodrigues, @lennax

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
