Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Apply black style to test_k* files, version 19.10b0 (#2753)
  Tests/test_KEGG.py
  Tests/test_KEGG_online.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_graphics_online.py
  Tests/test_KGML_nographics.py
  Tests/test_KeyWList.py
  Tests/test_kNN.py
Owners: none

kdkd
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/analyzer_tests.py
Owners: none

added 8 new functionalities
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/analyzer_tests.py
Owners: none

Added NEWS entry about internal coordinates work
  NEWS.rst
Owners: none

refactoring
  Bio/Phylo/__init__.py
  Bio/Phylo/_utils.py
Owners: @etal

Dockstrings for classes and most of the class methods. Typing for methods parameters. Added few exceptions for wrong parameter type.
  Bio/SeqAnalysis/downloader.py
  Bio/SeqAnalysis/downloader_tests.py
Owners: none

Files rename.
  Bio/SeqAnalysis/SeqDatabase.py
  Bio/SeqAnalysis/SeqDatabase_tests.py
Owners: none

Made changes suggested by moozeq
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/analyzer_tests.py
Owners: none

None case for label_func
  Bio/Phylo/_utils.py
Owners: @etal

fixed some typos in func descriptions
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/analyzer_tests.py
Owners: none

Regex enhancements and explanations added. Change usage of static methods from instances to class. Added typing of the inner objects in some methods.
  Bio/SeqAnalysis/SeqDatabase.py
Owners: none

Update SeqAnalyzer.py
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

rounding values
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

further changes requested by Maciek
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

Internal coords submit (#2399)
  Bio/PDB/Chain.py
  Bio/PDB/Model.py
  Bio/PDB/PICIO.py
  Bio/PDB/Residue.py
  Bio/PDB/SCADIO.py
  Bio/PDB/Structure.py
  Bio/PDB/ic_data.py
  Bio/PDB/ic_rebuild.py
  Bio/PDB/internal_coords.py
  Bio/PDB/vectors.py
  NEWS.rst
  Tests/test_PDB_internal_coords.py
  Tests/test_PDB_vectors.py
Owners: @joaorodrigues, @lennax

Internal coords docs (#2400)
  Doc/Tutorial/chapter_pdb.tex
  Doc/api/conf.py
  Doc/biopdb_faq.tex
Owners: none

Implemented macieks suggestions to my class
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/analyzer_tests.py
Owners: none

finishing changes requested by maciek
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/analyzer_tests.py
Owners: none

finished barplots (need docstrings), new functionalities
  Bio/SeqAnalysis/SeqVisualizer.py
Owners: none

Made first draft of tests
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/analyzer_tests.py
Owners: none

deleted 2 redundand files
  Bio/SeqAnalysis/README.md
  Bio/SeqAnalysis/__init__.py
Owners: none

Improved atom.get_full_id docstring
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Fix RST style issue
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Improved atom.get_full_id docstring (#2900)
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

made changes requested by moozeq and modified some dict key names - changes requested by erpeg
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/analyzer_tests.py
Owners: none

fixed doctest in terminal_aa_counter() funciton
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

finished all static plots (still need documentation and tests)
  Bio/SeqAnalysis/SeqVisualizer.py
Owners: none

bumped release date
  NEWS.rst
Owners: none

updated NEWS.rst
  NEWS.rst
Owners: none

bumped release date
  Doc/Tutorial.tex
Owners: none

bumped pypi version
  README.rst
Owners: none

Update version for 1.77 release (#2902)
  Bio/__init__.py
  Doc/Tutorial.tex
  NEWS.rst
  README.rst
Owners: none

update api links in Tutorial
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_quick_start.tex
  Doc/Tutorial/chapter_searchio.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seqio.tex
Owners: none

Update Tutorial with links to 1.77 api docs (#2903)
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_quick_start.tex
  Doc/Tutorial/chapter_searchio.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seqio.tex
Owners: none

post release version bump and NEWS update
  Bio/__init__.py
  Doc/Tutorial.tex
  NEWS.rst
Owners: none

initial
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

post release version bump and NEWS update
  Bio/__init__.py
  Doc/Tutorial.tex
  NEWS.rst
Owners: none

faster fastq parsing
  NEWS.rst
Owners: none

Added tests for both classes and all their methods.
  Bio/SeqAnalysis/SeqDatabase_tests.py
Owners: none

Added descriptions to the tests. Added test.txt file. Minor syntax changes.
  Bio/SeqAnalysis/SeqDatabase_tests.py
  Bio/SeqAnalysis/test.txt
Owners: none
