Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

ignore false positive?
  Tests/test_GraphicsChromosome.py
Owners: none

make string consistent with attribute names
  Bio/Align/_aligners.c
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @mdehoon

use the same variable name in the C code for consistency
  Bio/Align/_aligners.c
Owners: @mdehoon

make string consistent with attribute names (#2344)
  Bio/Align/_aligners.c
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @mdehoon

Remove *.py{} from .gitignore as it is unneeded
  .gitignore
Owners: none

Add Tests/out.bam to .gitignore. Created by Tests/test_BWA_tool.py
  .gitignore
Owners: none

black style, added parentheses to formula to make it easy to read.
  Bio/SeqUtils/MeltingTemp.py
Owners: none

added AbstractCommandLine documenter
  Doc/api/conf.py
Owners: none

added AbstractCommandLine documenter
  Doc/api/conf.py
Owners: none

added AbstractCommandLine documenter
  Doc/api/conf.py
Owners: none

Fix instance start value
  Bio/motifs/meme.py
Owners: @mdehoon

Update MEME test case 3 with XML file
  Tests/motifs/meme.adh.classic.oops.html
  Tests/motifs/meme.adh.classic.oops.txt
  Tests/motifs/meme.adh.classic.oops.xml
  Tests/test_motifs.py
Owners: @mdehoon

Ignore C modules with no docstrings
  Tests/run_tests.py
Owners: none

Apply black style to Bio.SeqUtils (#2339)
  Bio/SeqUtils/CheckSum.py
  Bio/SeqUtils/CodonUsage.py
  Bio/SeqUtils/CodonUsageIndices.py
  Bio/SeqUtils/IsoelectricPoint.py
  Bio/SeqUtils/MeltingTemp.py
  Bio/SeqUtils/ProtParam.py
  Bio/SeqUtils/ProtParamData.py
  Bio/SeqUtils/__init__.py
  Bio/SeqUtils/lcc.py
Owners: none

Add Tests/out.bam to .gitignore. Created by Tests/test_BWA_tool.py
  .gitignore
Owners: none

Remove *.py{} from .gitignore as it is unneeded
  .gitignore
Owners: none

reduce numerical stringency on write_SCAD test; not clear why
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

rename main file to internal_coords, toplevel commands file to ic_rebuild
  Bio/PDB/ic_rebuild.py
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

fix typo
  Bio/PDB/Residue.py
Owners: @joaorodrigues, @lennax

sort NCaCKey access to stabilize results for disordered atoms; change accept_backbone to _mainchain
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

improve doclines; fix tabs in OpenSCAD code to 4-space for Python style compatibility
  Bio/PDB/SCADIO.py
Owners: @joaorodrigues, @lennax

re-work Gly C-beta code
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

add internal_coords unittests
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

implement loading .pic data without initial NCaC coords; add flexible bonds and h-bonds for OpenSCAD output
  Bio/PDB/ic_classes.py
Owners: @joaorodrigues, @lennax

improve docstrings
  Bio/PDB/PICIO.py
  Bio/PDB/ic_data.py
  Bio/PDB/ic_rebuild.py
Owners: @joaorodrigues, @lennax

black formatting
  Bio/PDB/PICIO.py
  Bio/PDB/ic_data.py
Owners: @joaorodrigues, @lennax

fix doclines
  Bio/PDB/Chain.py
  Bio/PDB/Model.py
  Bio/PDB/Structure.py
Owners: @joaorodrigues, @lennax

comments
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

cleanand improve comments
  Bio/PDB/ic_classes.py
Owners: @joaorodrigues, @lennax

change name to internal_coords
  Bio/PDB/Chain.py
  Bio/PDB/Model.py
  Bio/PDB/Structure.py
Owners: @joaorodrigues, @lennax

do not create res.internal_coord if not-accepted hetatm
  Bio/PDB/ic_classes.py
Owners: @joaorodrigues, @lennax

implement comment lines in .pic files
  Bio/PDB/PICIO.py
Owners: @joaorodrigues, @lennax

add test header populated
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

minor clode cleanup
  Bio/PDB/vectors.py
Owners: @joaorodrigues, @lennax

fix extra space at start of TITLE
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

rename to internal_coords, reformatting
  Bio/PDB/SCADIO.py
Owners: @joaorodrigues, @lennax

help with rotatable bonds
  Bio/PDB/SCADIO.py
Owners: @joaorodrigues, @lennax

internal coords version 2
  Bio/PDB/PICIO.py
  Bio/PDB/SCADIO.py
  Bio/PDB/ic_classes.py
  Bio/PDB/ic_data.py
  Bio/PDB/internal_coords.py
  Bio/PDB/vectors.py
Owners: @joaorodrigues, @lennax

change parameter format for homogeneous matrix function calls
  Bio/PDB/vectors.py
Owners: @joaorodrigues, @lennax

make MMCIFParser create minimal header info like PDB
  Bio/PDB/MMCIFParser.py
  Bio/PDB/ic_rebuild.py
Owners: @joaorodrigues, @lennax
