Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Dual license Bio/PDB/DSSP.py
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

Dual license Bio/SVDSuperimposer/__init__.py
  Bio/SVDSuperimposer/__init__.py
Owners: none

Update Damien's details
  CONTRIB.rst
Owners: none

Dual license Bio/SeqIO/NibIO.py
  Bio/SeqIO/NibIO.py
Owners: @peterjc

Dual license Bio/SeqIO/FastaIO.py
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

Dual license Bio/SeqIO/UniprotIO.py
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

Update PyPy versions; clarify Python 3.8 not out yet
  NEWS.rst
Owners: none

Full PyPy versions
  NEWS.rst
Owners: none

Dual license Bio/PDB/Entity.py
  Bio/PDB/Entity.py
Owners: @joaorodrigues, @lennax

Include Klaus Kopec explicitly in the CONTRIB
  CONTRIB.rst
Owners: none

Dual license Bio/KEGG/__init__.py
  Bio/KEGG/__init__.py
Owners: none

Dual license Bio/KEGG/REST.py
  Bio/KEGG/REST.py
Owners: none

Update Leighton's contact information
  CONTRIB.rst
Owners: none

Dual license Bio/KEGG/Map/__init__.py
  Bio/KEGG/Map/__init__.py
Owners: none

Update Tarjei's contact details in CONTRIB.rst
  CONTRIB.rst
Owners: none

Dual license Bio/KEGG/KGML/__init__.py
  Bio/KEGG/KGML/__init__.py
Owners: none

Dual license Bio/KEGG/KGML/KGML_pathway.py
  Bio/KEGG/KGML/KGML_pathway.py
Owners: none

Dual license Bio/KEGG/KGML/KGML_parser.py
  Bio/KEGG/KGML/KGML_parser.py
Owners: none

Dual license Bio/KEGG/Gene/__init__.py
  Bio/KEGG/Gene/__init__.py
Owners: none

Dual license Bio/KEGG/Compound/__init__.py
  Bio/KEGG/Compound/__init__.py
Owners: none

Dual license Bio/Pathway/__init__.py
  Bio/Pathway/__init__.py
Owners: none

Dual license Bio/Pathway/Rep/__init__.py
  Bio/Pathway/Rep/__init__.py
Owners: none

Dual license Bio/Pathway/Rep/MultiGraph.py
  Bio/Pathway/Rep/MultiGraph.py
Owners: none

Dual license Bio/Pathway/Rep/Graph.py
  Bio/Pathway/Rep/Graph.py
Owners: none

Dual license Bio/Nexus/__init__.py
  Bio/Nexus/__init__.py
Owners: none

Dual license Bio/Nexus/Nexus.py
  Bio/Nexus/Nexus.py
Owners: none

Update Frank Kauff's CONTRIB entry
  CONTRIB.rst
Owners: none

Belatedly add Suresh Panneerselvam to CONTRIB.rst
  CONTRIB.rst
Owners: none

Dual license Bio/Nexus/Trees.py
  Bio/Nexus/Trees.py
Owners: none

Dual license Bio/Nexus/Nodes.py
  Bio/Nexus/Nodes.py
Owners: none

Dual license Bio/Nexus/StandardData.py
  Bio/Nexus/StandardData.py
Owners: none

Dual license Tests/test_Nexus.py
  Tests/test_Nexus.py
Owners: none

Python 2.7 warning in setup.py
  setup.py
Owners: none

Fix origin wrapping inside join()
  Bio/GenBank/__init__.py
  Tests/GenBank/bad_origin_wrap.gb
  Tests/test_GenBank.py
Owners: @peterjc

Fix test failing to trigger warning
  Tests/test_GenBank.py
Owners: @peterjc

use raise_from to prevent exception chaining in Python3
  Bio/Entrez/Parser.py
  Bio/_py3k/__init__.py
Owners: @mdehoon

More visual emphasis on Python 2.7 EOL warning
  setup.py
Owners: none

Repeat Python 2.7 warning at end of install
  setup.py
Owners: none

use raise_from to prevent exception chaining in Python3
  Bio/Entrez/Parser.py
  Bio/_py3k/__init__.py
Owners: @mdehoon

Python 2.7 warning in setup.py (#2252)
  setup.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
