Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

My branch
  Bio/SeqAnalysis/__init__.py
Owners: none

First change on my branch
  Bio/SeqAnalysis/__init__.py
Owners: none

flake8 corrections
  Bio/Blast/NCBIWWW/__init__.py
  Tests/test_NCBI_qblast.py
Owners: none

Ignore flake8 E741 ambiguous variable name 'l'
  .flake8
Owners: none

Fix string formatting in exception
  Bio/Cluster/__init__.py
Owners: @mdehoon

The start of creation of analyzer() class
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

anaylzer() class creation
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

Added makedict() function to clsss analyzer()
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

added new functionalities
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

added new functionalities
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

draft of functionalities
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

Update SeqAnalyzer.py
  Bio/SeqAnalysis/SeqAnalyzer.py
Owners: none

replace render_dihedra with di/hedra_from_residues
  Bio/PDB/PICIO.py
Owners: @joaorodrigues, @lennax

added multi_rot_Z,Y
  Bio/PDB/vectors.py
Owners: @joaorodrigues, @lennax

update gly CB target coords, check for regex matches
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

numpy vectorize at chain atom_to_internal and di/hedon init_pos of internal_to_atom
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

Further removal of some useless parts of bachelor project. Database returns now SeqRecord format from SeqIO as SequenceDatabase object. Typing added. Created separate file for tests.
  Bio/SeqAnalysis/downloader.py
  Bio/SeqAnalysis/downloader_tests.py
Owners: none

Apply black to Tests/common_BioSQL*
  Tests/common_BioSQL.py
  Tests/common_BioSQL_online.py
Owners: none

Join string
  Tests/common_BioSQL.py
Owners: none

Ignore flake8 E741 ambiguous variable name 'l'
  .flake8
Owners: none

Fix string formatting in exception
  Bio/Cluster/__init__.py
Owners: @mdehoon

Join string
  Tests/common_BioSQL.py
Owners: none

Apply black to Tests/common_BioSQL*
  Tests/common_BioSQL.py
  Tests/common_BioSQL_online.py
Owners: none

12:28 - 13,05 - retrieving lost data
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/analyzer_tests.py
Owners: none

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_MarkovModel.py
Owners: none

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_SeqIO_Xdna.py
Owners: @peterjc

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_KGML_graphics.py
Owners: none

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_KGML_graphics_online.py
Owners: none

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_SeqIO_write.py
Owners: @peterjc

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_NaiveBayes.py
Owners: none

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_CAPS.py
Owners: none

Implementation of class SeqDownloader responsible for downloading fasta files. Removal of the original work mode choice with future improvements in mind.
  Bio/SeqAnalysis/downloader.py
Owners: none

ete3 interface
  Bio/Phylo/__init__.py
  Bio/Phylo/_utils.py
  Tests/test_Phylo_matplotlib.py
Owners: @etal

support field for ete3 added
  Bio/Phylo/_utils.py
Owners: @etal

basic scatter and hist options
  Bio/SeqAnalysis/SeqVisualizer.py
  setup.py
Owners: none

use init_edra instead of di/hedra_from_residues
  Bio/PDB/PICIO.py
Owners: @joaorodrigues, @lennax

run atom_to_internal coords because something not cleared in unittest script
  Bio/PDB/SCADIO.py
Owners: @joaorodrigues, @lennax

fix gly cb coords again
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

remove unnecessary dimension
  Tests/test_PDB_vectors.py
Owners: @joaorodrigues, @lennax

cleanup for switch to numpy arrays on IC_Chain
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
