Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

removed unused variables and irrelevant code
  Bio/codonalign/codonseq.py
Owners: @zruan

chained replacements to str.translate
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/MsfIO.py
  Bio/GenBank/__init__.py
  Bio/Nexus/Trees.py
  Bio/SearchIO/BlastIO/blast_text.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/Seq.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/Interfaces.py
  Bio/codonalign/__init__.py
Owners: @peterjc, @zruan

bug fix
  Bio/GenBank/__init__.py
Owners: @peterjc

bug again
  Bio/GenBank/__init__.py
Owners: @peterjc

why did i start doing this
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/MauveIO.py
Owners: @peterjc

:(
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

Pin numpydoc==1.0.0 for building API docs
  .travis-tox.ini
Owners: none

Pin numpydoc==1.0.0 for building API docs
  .travis-tox.ini
Owners: none

Avoid dynamic default argument
  Bio/GenBank/__init__.py
Owners: @peterjc

Add __repr__ to FeatureValueCleaner
  Bio/GenBank/utils.py
Owners: @peterjc

fixe typo so travis rebuilds
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

fixed typos and removed unused code (#3021)
  Bio/Align/AlignInfo.py
  Bio/AlignIO/StockholmIO.py
  Bio/SeqUtils/CheckSum.py
  Bio/codonalign/codonseq.py
Owners: @peterjc, @zruan

exp is_monophyletic get terminal node names
  Bio/Phylo/BaseTree.py
Owners: @etal

format with black Nexus
  Bio/Nexus/Nexus.py
Owners: none

Avoid dynamic default argument
  Bio/GenBank/__init__.py
Owners: @peterjc

Add __repr__ to FeatureValueCleaner
  Bio/GenBank/utils.py
Owners: @peterjc

Update contributors in NEWS; clarify black progress
  NEWS.rst
Owners: none

typos
  Bio/Align/Applications/_Muscle.py
  Bio/Align/__init__.py
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/FastaIO.py
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/__init__.py
  Bio/Application/__init__.py
  Bio/PDB/internal_coords.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/FastaIO.py
  Bio/SeqFeature.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/__init__.py
  Bio/bgzf.py
  Bio/codonalign/codonalignment.py
  Bio/pairwise2.py
  Tests/pairwise2_testCases.py
  Tests/test_GenBank.py
  Tests/test_align.py
Owners: @peterjc, @joaorodrigues, @lennax, @bow, @zruan

issue #2904 version as parameter to Tutorial.tex
  .gitignore
  Doc/Makefile
  Doc/Tutorial.tex
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_quick_start.tex
  Doc/Tutorial/chapter_searchio.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seqio.tex
  Doc/version.in
Owners: none

typos
  Bio/Align/Applications/_Muscle.py
  Bio/Align/__init__.py
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/FastaIO.py
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/__init__.py
  Bio/Application/__init__.py
  Bio/PDB/internal_coords.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/FastaIO.py
  Bio/SeqFeature.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/__init__.py
  Bio/bgzf.py
  Bio/codonalign/codonalignment.py
  Bio/pairwise2.py
  Tests/pairwise2_testCases.py
  Tests/test_GenBank.py
  Tests/test_align.py
Owners: @peterjc, @joaorodrigues, @lennax, @bow, @zruan

In Bio.pairwise2, replace substitution matrices (#3008)
  Bio/pairwise2.py
  Doc/Tutorial/chapter_align.tex
  Tests/pairwise2_testCases.py
Owners: none

use Array
  Bio/Align/substitution_matrices/__init__.py
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

dynamically extract current version number for Tutorial build
  Doc/Makefile
Owners: none

added today macro to Tutorial.tex
  Doc/Makefile
  Doc/Tutorial.tex
Owners: none

add substitutions property
  Bio/Align/__init__.py
Owners: @peterjc

Changed QualityIO so that it uses iter explicitly on the handle, so that tempfile.NamedTemporaryFile can be used easily.
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

update tutorial
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Added test for NamedTemporaryFile read problems. Updated MafIO to fix uncovered problems.
  Bio/AlignIO/MafIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

Fixing flake8 and encoding errors
  Tests/test_SeqIO.py
Owners: @peterjc

fixed more flake8 errors
  Tests/test_SeqIO.py
Owners: @peterjc

update documentation
  Bio/Align/substitution_matrices/__init__.py
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

update documentation
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

doctests
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

trying to find out where the doctest failure happens
  Doc/Tutorial/chapter_align.tex
Owners: none

trying to find out where the doctest failure happens
  Doc/Tutorial/chapter_align.tex
Owners: none

trying to find out where the doctest failure happens
  Doc/Tutorial/chapter_align.tex
Owners: none

travis
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
Owners: @peterjc

travis
  Bio/Align/__init__.py
Owners: @peterjc

flake
  Bio/Align/__init__.py
Owners: @peterjc

adding the doctest back in
  Doc/Tutorial/chapter_align.tex
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
