Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Revert NEWS entry change.
  NEWS.rst
Owners: none

remove redundant if blocks
  Bio/Phylo/PAML/baseml.py
  Bio/Phylo/PAML/codeml.py
Owners: none

Implements assert changes as detailed in biopython #2700
  Tests/common_BioSQL.py
  Tests/search_tests_common.py
  Tests/test_AlignInfo.py
  Tests/test_Consensus.py
  Tests/test_Entrez_online.py
  Tests/test_PAML_codeml.py
  Tests/test_PDB.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_Phylo.py
  Tests/test_PhyloXML.py
  Tests/test_SCOP_Scop.py
  Tests/test_SearchIO_model.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_index.py
  Tests/test_Seq_objs.py
  Tests/test_SwissProt.py
  Tests/test_TreeConstruction.py
  Tests/test_Uniprot.py
  Tests/test_codonalign.py
  Tests/test_phenotype.py
Owners: @mdehoon, @joaorodrigues, @lennax, @etal, @bow, @peterjc, @zruan

Implements assert changes as detailed in biopython #2700
  Tests/common_BioSQL.py
  Tests/search_tests_common.py
  Tests/test_AlignInfo.py
  Tests/test_Consensus.py
  Tests/test_Entrez_online.py
  Tests/test_PAML_codeml.py
  Tests/test_PDB.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_Phylo.py
  Tests/test_PhyloXML.py
  Tests/test_SCOP_Scop.py
  Tests/test_SearchIO_model.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_index.py
  Tests/test_Seq_objs.py
  Tests/test_SwissProt.py
  Tests/test_TreeConstruction.py
  Tests/test_Uniprot.py
  Tests/test_codonalign.py
  Tests/test_phenotype.py
Owners: @mdehoon, @joaorodrigues, @lennax, @etal, @bow, @peterjc, @zruan

Make mocked version of NCBI_qblast tests
  Bio/Blast/NCBIWWW.py
  Tests/Blast/README.txt
  Tests/Blast/mock_actin.xml
  Tests/Blast/mock_disco.xml
  Tests/Blast/mock_orchid.xml
  Tests/Blast/mock_pcr.xml
  Tests/Blast/mock_short_empty.xml
  Tests/Blast/mock_short_result.xml
  Tests/Blast/mock_wait.html
  Tests/NCBI_qblast_testCases.py
  Tests/test_NCBI_qblast_mock.py
  Tests/test_NCBI_qblast_online.py
Owners: none

Bugfix for test_phyml_tool (#2770)
  Tests/test_phyml_tool.py
Owners: none

Apply black to Tests/test_raxml_tool.py
  Tests/test_raxml_tool.py
Owners: none

Apply black style to test_Entrez_parser.py, version 19.10b0.
  Tests/test_Entrez_parser.py
Owners: @mdehoon

Combined tests in one file, possible to run on- or offline
  Tests/run_tests.py
  Tests/test_NCBI_qblast_mock.py
Owners: none

Apply black style to test_Entrez* files, version 19.10b0. test_Entrez.py test_Entrez_online.py
  Tests/test_Entrez.py
  Tests/test_Entrez_online.py
Owners: @mdehoon

Split exceeding line
  Tests/test_raxml_tool.py
Owners: none

Minor edits
  Tests/Blast/mock_wait.html
  Tests/NCBI_qblast_testCases.py
  Tests/test_NCBI_qblast_mock.py
  Tests/test_NCBI_qblast_online.py
Owners: none

Added missing file
  Tests/test_NCBI_qblast.py
Owners: none

Apply black style to test_Entrez* files, version 19.10b0. test_Entrez.py test_Entrez_online.py
  Tests/test_Entrez.py
  Tests/test_Entrez_online.py
Owners: @mdehoon

Add leading space
  Tests/test_raxml_tool.py
Owners: none

Apply black to Tests/test_raxml_tool.py (#2780)
  Tests/test_raxml_tool.py
Owners: none

cleanup in test_Phylo (#2751)
  Tests/test_Phylo.py
Owners: @etal

python3 cleanup in Bio.Phylo (#2747)
  Bio/Phylo/BaseTree.py
  Bio/Phylo/NeXMLIO.py
  Bio/Phylo/NewickIO.py
  Bio/Phylo/PhyloXML.py
Owners: @etal

Apply black style to test_Emboss* files, version 19.10b0. test_Emboss.py test_EmbossPhylipNew.py test_EmbossPrimer.py
  Tests/test_Emboss.py
  Tests/test_EmbossPhylipNew.py
  Tests/test_EmbossPrimer.py
Owners: none

Make docstring more explicit and refactor mock_response()
  Tests/Blast/README.txt
  Tests/test_NCBI_qblast.py
Owners: none

Remove import that was added to test something
  Tests/test_NCBI_qblast.py
Owners: none

Make mocked version of NCBI_qblast tests (#2779)
  Bio/Blast/NCBIWWW.py
  Tests/Blast/README.txt
  Tests/Blast/mock_actin.xml
  Tests/Blast/mock_disco.xml
  Tests/Blast/mock_orchid.xml
  Tests/Blast/mock_pcr.xml
  Tests/Blast/mock_short_empty.xml
  Tests/Blast/mock_short_result.xml
  Tests/Blast/mock_wait.html
  Tests/run_tests.py
  Tests/test_NCBI_qblast.py
Owners: none

Use StreamModeError consistently, and use it to avoid the BinaryFormats local variable
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/XdnaIO.py
  Tests/test_SeqIO_index.py
Owners: @peterjc, @bow

black
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

black
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

add docstring & simplify
  Tests/test_SeqIO_index.py
Owners: @peterjc

Use StreamModeError consistently, and avoid the _BinaryFormats local variable (#2786)
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/XdnaIO.py
  Tests/test_SeqIO_index.py
Owners: @peterjc, @bow

Joined strings to address ISC001.
  Tests/test_EmbossPrimer.py
Owners: none

Use StreamModeError to get rid of the _BinaryFormats private variable in the SeqIO tests
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_index.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

Apply black style to test_AlignIO.py, version 19.10b0.
  Tests/test_AlignIO.py
Owners: @peterjc

Apply black style to test_AlignIO.py, version 19.10b0.
  Tests/test_AlignIO.py
Owners: @peterjc

Apply black style to test_Emboss* files, version 19.10b0. (#2785)
  Tests/test_Emboss.py
  Tests/test_EmbossPhylipNew.py
  Tests/test_EmbossPrimer.py
Owners: none

Use StreamModeError to get rid of the _BinaryFormats private variable in the SeqIO tests (#2788)
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_index.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

Loop over handles instead of using next
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

Convert handle.readline() to next(handle)
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

check file mode
  Bio/SeqIO/QualityIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

Adding remaining changes from #2649, and using StreamModeError consistently
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

Adding remaining changes from #2649, and using StreamModeError consistently
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

travis
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_convert.py
Owners: @peterjc

add import
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc
