Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Correct docstring change
  Bio/Data/CodonTable.py
Owners: none

Fixed SeqDatabase multiprocess downloading
  Bio/SeqAnalysis/SeqDatabase.py
  Bio/SeqAnalysis/__main__.py
  Tests/test_SeqAnalysis.py
Owners: @peterjc

Updated licences
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/SeqDatabase.py
  Bio/SeqAnalysis/SeqVisualizer.py
  Bio/SeqAnalysis/__main__.py
Owners: none

Fix SeqDatabase when connection refused
  Bio/SeqAnalysis/SeqDatabase.py
Owners: none

Fix positional argument to UnknownSeq translate method
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Fix legend when more than 30 sequences
  Bio/SeqAnalysis/__main__.py
Owners: none

Simplified usage of module
  Bio/SeqAnalysis/README.md
  Bio/SeqAnalysis/__main__.py
Owners: none

Added MacOS error with multiprocessing fixing guide
  Bio/SeqAnalysis/README.md
Owners: none

Fixed SeqVisualizer tests Added results structure info to README.md
  Bio/SeqAnalysis/README.md
  Tests/SeqAnalysis/proper_Plots/static/bar.png
  Tests/SeqAnalysis/proper_Plots/static/bar_test.png
  Tests/SeqAnalysis/proper_Plots/static/box.png
  Tests/SeqAnalysis/proper_Plots/static/box_test.png
  Tests/SeqAnalysis/proper_Plots/static/scatter.png
  Tests/SeqAnalysis/proper_Plots/static/scatter_test.png
  Tests/test_SeqAnalysis.py
Owners: @peterjc

Simplified run command
  Bio/SeqAnalysis/README.md
Owners: none

Explain IUPAC; fix typo
  Doc/cookbook/Restriction/Restriction.html
  Doc/cookbook/Restriction/Restriction.md
Owners: none

Fixed a typo; cut another IUPAC alphabet example
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Clarify example with named arg
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Fix positional argument to UnknownSeq translate method
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Fix continued doctest
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Added info about successfully performed analysis
  Bio/SeqAnalysis/__main__.py
Owners: none

Remove brief history of alphabet objects
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Revert "Clarify example with named arg"
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Revert "Avoid alphabets in AlignInfo.SummaryInfo example"
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Remove comment about GI numbers
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

remove alphabets from Introduction
  Doc/Tutorial/chapter_introduction.tex
Owners: none

remove alphabets from Introduction
  Doc/Tutorial/chapter_introduction.tex
Owners: none

tiny cleanup
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_entrez.tex
Owners: none

Typo
  Bio/Data/CodonTable.py
Owners: none

tiny cleanup (#2971)
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_entrez.tex
Owners: none

Remove IUPAC classes from docs; update Seq repr (#2959)
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_seq_objects.tex
  Doc/cookbook/Restriction/Restriction.html
  Doc/cookbook/Restriction/Restriction.md
Owners: none

not nearly done
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

fixed minor issues with maximum_clade_probability, added some tests
  Bio/Phylo/Consensus.py
  Tests/TreeConstruction/maximum_clade_probability_ref.tre
  Tests/test_Consensus.py
Owners: @etal

test_SeqIO.py passes
  Bio/AlignIO/NexusIO.py
  Bio/GenBank/__init__.py
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/SwissIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/SeqIO/XdnaIO.py
  Tests/test_SeqIO.py
Owners: @peterjc, @bow

Drop incompatible alpha TypeError in Seq add/join
  Bio/Seq.py
  Doc/Tutorial/chapter_seq_objects.tex
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

fixed some tests
  Bio/GenBank/__init__.py
  Bio/SeqIO/SeqXmlIO.py
  Tests/test_GenBank.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

fixed a few more tests
  Bio/SeqIO/SffIO.py
  Tests/test_SeqIO_AbiIO.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc, @bow

Drop incompatible alpha warnings in Seq comparisons
  Bio/Seq.py
  Tests/test_seq.py
Owners: @peterjc

Remove last use of IUPAC alphabets in Seq
  Bio/Seq.py
Owners: @peterjc

Remove trace of Gapped alphabet code
  Bio/Seq.py
Owners: @peterjc

Fix test_SeqIO_Insdc.py bug
  Tests/test_SeqIO_Insdc.py
Owners: @peterjc

travis
  Bio/AlignIO/NexusIO.py
  Bio/GenBank/__init__.py
  Bio/SeqIO/UniprotIO.py
  Tests/test_GenBank.py
Owners: @peterjc

black
  Bio/AlignIO/NexusIO.py
Owners: @peterjc

Remove trace of Gapped alphabet code
  Bio/Seq.py
Owners: @peterjc

Remove last use of IUPAC alphabets in Seq
  Bio/Seq.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
