Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

rewording two lines.
  NEWS.rst
Owners: none

rewording fix doc8 D001 line too long.
  NEWS.rst
Owners: none

Move data to the dedicated data-file
  Tests/GenBank/good_records.json
  Tests/test_GenBank.py
Owners: @peterjc

Add myself to the next release
  NEWS.rst
Owners: none

Remove unnecessary variables
  Tests/test_GenBank.py
Owners: @peterjc

Missing raise
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

Fix list subtraction in exception message
  Bio/Align/AlignInfo.py
Owners: @peterjc

Update test results for 'new' exception
  Tests/test_SeqIO.py
Owners: @peterjc

Fix same value in or statement
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Fix parsing setup time in Bio.phenotype
  Bio/phenotype/phen_micro.py
Owners: none

Simplify if statement
  Bio/GenBank/Record.py
Owners: @peterjc

Remove duplicat CC elif clause
  Bio/ExPASy/Prosite.py
Owners: none

Avoid unreachable code warning
  Bio/Nexus/Nexus.py
Owners: none

Remove useless if/else
  Bio/Nexus/Trees.py
Owners: none

Remove useless self assignment
  Bio/GenBank/Scanner.py
  Bio/Graphics/GenomeDiagram/_AbstractDrawer.py
  Bio/SearchIO/FastaIO.py
Owners: @peterjc, @widdowquinn, @bow

Remove unused argument in private functions
  Bio/motifs/minimal.py
Owners: @mdehoon

Remove some redundant list comphrension variables
  Bio/Align/substitution_matrices/__init__.py
  Bio/AlignIO/EmbossIO.py
  Bio/HMM/MarkovModel.py
  Bio/Nexus/Nexus.py
  Bio/motifs/transfac.py
Owners: @peterjc, @mdehoon

Remove rundandant return lines
  Bio/Entrez/Parser.py
  Bio/Phylo/BaseTree.py
  Bio/PopGen/GenePop/Controller.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/_model/query.py
  Bio/bgzf.py
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
  Scripts/SeqGui/SeqGui.py
Owners: @mdehoon, @etal, @peterjc

Clear abort if digest dictionary corrupted
  Scripts/Restriction/ranacompiler.py
Owners: none

Remove redundant pass lines
  Bio/Blast/NCBIXML.py
  Bio/PDB/PICIO.py
  Bio/PDB/internal_coords.py
  Scripts/Restriction/ranacompiler.py
Owners: @joaorodrigues, @lennax

Remove unused except as names
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/_index.py
Owners: @peterjc

Fix impossible to reach error
  Bio/SearchIO/_legacy/NCBIStandalone.py
Owners: none

Restore this return statement
  Bio/Restriction/Restriction.py
Owners: none

Clarify intent of 'repeated' if statement
  Bio/SearchIO/_legacy/NCBIStandalone.py
Owners: none

Build constant list via multiplication
  Bio/AlignIO/EmbossIO.py
Owners: @peterjc

Fix numpy deprecation warning
  Doc/Tutorial/chapter_align.tex
Owners: none

Fix list-of-lists creation
  Bio/Align/substitution_matrices/__init__.py
Owners: none

Remove useless self assignment
  Bio/GenBank/Scanner.py
  Bio/Graphics/GenomeDiagram/_AbstractDrawer.py
  Bio/SearchIO/FastaIO.py
Owners: @peterjc, @widdowquinn, @bow

Remove duplicat CC elif clause
  Bio/ExPASy/Prosite.py
Owners: none

Remove unused argument in private functions
  Bio/motifs/minimal.py
Owners: @mdehoon

Restore this return statement
  Bio/Restriction/Restriction.py
Owners: none

Remove useless if/else
  Bio/Nexus/Trees.py
Owners: none

Remove some redundant list comphrension variables
  Bio/Align/substitution_matrices/__init__.py
  Bio/AlignIO/EmbossIO.py
  Bio/HMM/MarkovModel.py
  Bio/Nexus/Nexus.py
  Bio/motifs/transfac.py
Owners: @peterjc, @mdehoon

Fix parsing setup time in Bio.phenotype
  Bio/phenotype/phen_micro.py
Owners: none

Avoid unreachable code warning
  Bio/Nexus/Nexus.py
Owners: none

Build constant list via multiplication
  Bio/AlignIO/EmbossIO.py
Owners: @peterjc

Fix list subtraction in exception message
  Bio/Align/AlignInfo.py
Owners: @peterjc

Update test results for 'new' exception
  Tests/test_SeqIO.py
Owners: @peterjc

Clear abort if digest dictionary corrupted
  Scripts/Restriction/ranacompiler.py
Owners: none

Fix list-of-lists creation
  Bio/Align/substitution_matrices/__init__.py
Owners: none
