Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

updates to tools tests for python3 (#2657)
  Tests/test_Application.py
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
  Tests/test_DSSP_tool.py
  Tests/test_Fasttree_tool.py
  Tests/test_NACCESS_tool.py
Owners: none

update test_Cluster.py for python3 (#2658)
  Tests/test_Cluster.py
Owners: @mdehoon

updates to test_Compass.py for python3 (#2660)
  Tests/test_Compass.py
Owners: none

fix Emboss tests for python3, and one more mutli test in FastaIO
  Tests/test_Emboss.py
  Tests/test_EmbossPhylipNew.py
  Tests/test_EmbossPrimer.py
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

remove Jython stuff from Entrez tests
  Tests/test_Entrez_online.py
  Tests/test_Entrez_parser.py
Owners: @mdehoon

use with in test_Enzyme
  Tests/test_Enzyme.py
Owners: none

use with statement
  Tests/test_ExPASy.py
Owners: none

remove Jython stuff from Entrez tests (#2662)
  Tests/test_Entrez_online.py
  Tests/test_Entrez_parser.py
Owners: @mdehoon

remove duplicated function
  Bio/SeqUtils/IsoelectricPoint.py
Owners: none

use with in test_Enzyme (#2663)
  Tests/test_Enzyme.py
Owners: none

use with statement (#2664)
  Tests/test_ExPASy.py
Owners: none

use with
  Tests/test_FSSP.py
Owners: none

use with to open files
  Tests/test_KEGG_online.py
Owners: none

typo
  Tests/test_KEGG_online.py
Owners: none

use with (#2666)
  Tests/test_FSSP.py
Owners: none

use with to open files in test_KEGG_online.py (#2667)
  Tests/test_KEGG_online.py
Owners: none

update learning tests for python3
  Tests/test_LogisticRegression.py
  Tests/test_MarkovModel.py
  Tests/test_NaiveBayes.py
  Tests/test_kNN.py
  Tests/test_lowess.py
Owners: none

update test_NCBI_qblast.py for python3
  Tests/test_NCBI_qblast.py
Owners: none

BioSQL updates for python3 (#2654)
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  BioSQL/Loader.py
  Tests/common_BioSQL.py
Owners: none

trivial update in Bio.TogoWS for python3 (#2653)
  Bio/TogoWS/__init__.py
Owners: @peterjc

update test_NCBI_qblast.py for python3
  Tests/test_NCBI_qblast.py
Owners: none

update learning tests for python3
  Tests/test_LogisticRegression.py
  Tests/test_MarkovModel.py
  Tests/test_NaiveBayes.py
  Tests/test_kNN.py
  Tests/test_lowess.py
Owners: none

Apply black style to test_seq* files, version 19.10b0. test_seq.py test_Seq_objs.py test_SeqFeature.py test_SeqRecord.py test_SeqUtils.py
  Tests/test_SeqFeature.py
  Tests/test_SeqRecord.py
  Tests/test_SeqUtils.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Rewrite assertEqual to match style of the other assertEqual.
  Tests/test_SeqFeature.py
Owners: @peterjc

Style cosmetics, adjust line length for better look.
  Tests/test_SeqUtils.py
Owners: @peterjc

Style cosmetics, removed comments as they do not align with black style.
  Tests/test_Seq_objs.py
Owners: @peterjc

Apply black style to test_pro* files, version 19.10b0. test_Probcons_tool.py test_prodoc.py test_prosite1.py test_prosite2.py test_ProtParam.py
  Tests/test_Probcons_tool.py
  Tests/test_ProtParam.py
  Tests/test_prodoc.py
  Tests/test_prosite1.py
  Tests/test_prosite2.py
Owners: none

fix Emboss tests for python3, and one more mutli test in FastaIO (#2661)
  Tests/test_Emboss.py
  Tests/test_EmbossPhylipNew.py
  Tests/test_EmbossPrimer.py
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

updates to Bio.Graphics tests for python3 (#2659)
  Tests/test_ColorSpiral.py
  Tests/test_GenomeDiagram.py
  Tests/test_GraphicsBitmaps.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_graphics_online.py
Owners: @widdowquinn, @peterjc

python3 updates to PDB tests
  Tests/test_PDB.py
  Tests/test_PDB_FragmentMapper.py
  Tests/test_PDB_KDTree.py
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_Superimposer.py
  Tests/test_PDB_parse_pdb_header.py
  Tests/test_PDB_vectors.py
  Tests/test_QCPSuperimposer.py
  Tests/test_RCSBFormats.py
  Tests/test_SVDSuperimposer.py
Owners: @joaorodrigues, @lennax

updating phylo tests for python3
  Tests/test_Phylo_CDAO.py
  Tests/test_Phylo_matplotlib.py
  Tests/test_Phylo_networkx.py
Owners: @etal

python3 updates for SeqIO tests
  Tests/test_SeqIO.py
  Tests/test_SeqIO_PdbIO.py
  Tests/test_Seq_objs.py
Owners: @peterjc

update test_TogoWS.py for python3
  Tests/test_TogoWS.py
Owners: @peterjc

update test_Tutorial.py for python3
  Tests/test_Tutorial.py
Owners: none

update test_Uniprot for python3
  Tests/test_Uniprot.py
Owners: none

update test_align_substitution_matrices.py for python3
  Tests/test_align_substitution_matrices.py
Owners: none

update test_codonalign for python3
  Tests/test_codonalign.py
Owners: @zruan

update Bio.phenotype tests for python3
  Tests/test_phenotype.py
  Tests/test_phenotype_fit.py
Owners: none

update Bio.SeqRecord for python3
  Bio/SeqRecord.py
Owners: @peterjc

python3 updates to PDB tests
  Tests/test_PDB.py
  Tests/test_PDB_FragmentMapper.py
  Tests/test_PDB_KDTree.py
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_Superimposer.py
  Tests/test_PDB_parse_pdb_header.py
  Tests/test_PDB_vectors.py
  Tests/test_QCPSuperimposer.py
  Tests/test_RCSBFormats.py
  Tests/test_SVDSuperimposer.py
Owners: @joaorodrigues, @lennax
