Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

typos and stray code
  Bio/Seq.py
  Bio/SeqIO/SffIO.py
Owners: @peterjc

typos and stray code (#3646)
  Bio/Seq.py
  Bio/SeqIO/SffIO.py
Owners: @peterjc

add Biopython to the whitelist in AlignIO.ClustalIO, and add a test case for it
  Bio/AlignIO/ClustalIO.py
  Tests/test_AlignIO_ClustalIO.py
Owners: @peterjc

documentation update (#3633)
  Doc/Tutorial/chapter_align.tex
Owners: none

Enable to read json file of Brite database.
  Bio/KEGG/REST.py
Owners: none

Update test_KEGG_online.py
  Tests/test_KEGG_online.py
Owners: none

Update test_KEGG_online.py
  Tests/test_KEGG_online.py
Owners: none

Update test_KEGG_online.py
  Tests/test_KEGG_online.py
Owners: none

make complement, reverse_complement consistent
  Bio/AlignIO/MafIO.py
  Bio/Restriction/PrintFormat.py
  Bio/Seq.py
  Bio/SeqFeature.py
  Bio/SeqRecord.py
  Bio/SeqUtils/__init__.py
  Bio/motifs/__init__.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc, @mdehoon

style
  Bio/AlignIO/MafIO.py
  Bio/Restriction/PrintFormat.py
  Bio/Seq.py
  Bio/SeqFeature.py
  Bio/SeqRecord.py
  Bio/SeqUtils/__init__.py
Owners: @peterjc

style
  Bio/Seq.py
  Bio/SeqUtils/__init__.py
Owners: @peterjc

sequtils
  Bio/SeqUtils/__init__.py
Owners: none

add support for gaf2.2 format
  Bio/UniProt/GOA.py
Owners: none

JASPAR 2018 and onwards return tf_class and tf_family as vector
  Bio/motifs/jaspar/db.py
Owners: none

updated news and contrib
  CONTRIB.rst
  NEWS.rst
Owners: none

update tutorial
  Doc/Tutorial/chapter_seqio.tex
Owners: none

The tf_class and tf_family in Bio.motifs.jaspar.db should be string array (#3651)
  Bio/motifs/jaspar/db.py
  CONTRIB.rst
  NEWS.rst
Owners: none

update tutorial (#3652)
  Doc/Tutorial/chapter_seqio.tex
Owners: none

add support for gaf2.2 format
  Bio/UniProt/GOA.py
Owners: none

Silence source import warning in dev mode
  Bio/__init__.py
Owners: none

Generalize `PairwiseAlignment` to include multiple alignments (#3624)
  Bio/Align/__init__.py
  Bio/Align/clustal.py
  Bio/Align/interfaces.py
  Bio/AlignIO/ClustalIO.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_align.tex
  Tests/Clustalw/clustalw.aln
  Tests/Clustalw/kalign.aln
  Tests/Clustalw/msaprobs.aln
  Tests/Clustalw/muscle.aln
  Tests/Clustalw/probcons.aln
  Tests/test_AlignIO.py
  Tests/test_AlignIO_ClustalIO.py
  Tests/test_Align_Alignment.py
  Tests/test_Align_clustal.py
  Tests/test_SeqIO.py
  Tests/test_align.py
  Tests/test_pairwise_aligner.py
  Tests/test_pairwise_alignment_map.py
Owners: @peterjc

Seq and SeqRecord can now use numpy int
  Bio/Align/__init__.py
Owners: @peterjc

Seq and SeqRecord can now use numpy int
  Bio/Align/__init__.py
Owners: @peterjc

add test for default in SearchIO QueryResult.pop
  Tests/test_SearchIO_model.py
Owners: @bow

minor code cleanup
  Bio/SearchIO/_model/query.py
Owners: none

test if popping an inexistent key from QueryResult raises a KeyError
  Tests/test_SearchIO_model.py
Owners: @bow

Index MAF files in binary mode
  Bio/AlignIO/MafIO.py
Owners: @peterjc

workaround
  Bio/Seq.py
Owners: @peterjc

use pop with default instead of try except
  Bio/SearchIO/_model/query.py
Owners: none

use single return pattern
  Bio/SearchIO/_model/query.py
Owners: none

skip rows with invalid atoms coords if PERMISSIVE
  Bio/PDB/PDBParser.py
Owners: @joaorodrigues, @lennax

update test for bad coords when not permissive
  Tests/test_PQR.py
Owners: none

comply comment to flake8
  Bio/PDB/PDBParser.py
Owners: @joaorodrigues, @lennax

Apply renaming suggestion from code review
  Tests/test_SearchIO_model.py
Owners: @bow

fix typos
  Doc/Tutorial/chapter_advanced.tex
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_appendix.tex
  Doc/Tutorial/chapter_blast.tex
  Doc/Tutorial/chapter_contributing.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_graphics.tex
  Doc/Tutorial/chapter_motifs.tex
  Doc/Tutorial/chapter_phenotype.tex
  Doc/Tutorial/chapter_phylo.tex
  Doc/Tutorial/chapter_popgen.tex
  Doc/Tutorial/chapter_quick_start.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seq_objects.tex
  Doc/Tutorial/chapter_seqio.tex
  Doc/Tutorial/chapter_testing.tex
  Doc/Tutorial/chapter_uniprot.tex
Owners: none

fix typos (#3666)
  Doc/Tutorial/chapter_advanced.tex
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_appendix.tex
  Doc/Tutorial/chapter_blast.tex
  Doc/Tutorial/chapter_contributing.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_graphics.tex
  Doc/Tutorial/chapter_motifs.tex
  Doc/Tutorial/chapter_phenotype.tex
  Doc/Tutorial/chapter_phylo.tex
  Doc/Tutorial/chapter_popgen.tex
  Doc/Tutorial/chapter_quick_start.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seq_objects.tex
  Doc/Tutorial/chapter_seqio.tex
  Doc/Tutorial/chapter_testing.tex
  Doc/Tutorial/chapter_uniprot.tex
Owners: none
