Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Apply black style to test_SeqIO_Gck.py and test_SeqIO_SnapGene.py, version 19.10b0.
  Tests/test_SeqIO_Gck.py
  Tests/test_SeqIO_SnapGene.py
Owners: @peterjc

Remove obsolete comment and reference to deleted file
  Bio/Restriction/Restriction_Dictionary.py
  Scripts/Restriction/ranacompiler.py
Owners: none

REBASE Jan 2020
  Bio/Restriction/Restriction_Dictionary.py
  NEWS.rst
Owners: none

Remove obsolete comment and reference to deleted file
  Bio/Restriction/Restriction_Dictionary.py
  Scripts/Restriction/ranacompiler.py
Owners: none

updated and ran ranacompiler.py
  Bio/Restriction/Restriction_Dictionary.py
  Scripts/Restriction/ranacompiler.py
Owners: none

Most of Restriction_Dictionary.py follows black style now
  Bio/Restriction/Restriction_Dictionary.py
  Scripts/Restriction/ranacompiler.py
Owners: none

updated Bio.Restriction for python3
  Bio/Restriction/PrintFormat.py
  Bio/Restriction/Restriction.py
  Bio/Restriction/__init__.py
Owners: none

revert and comment 1 change
  Bio/Wise/__init__.py
Owners: none

mistake
  Bio/Wise/__init__.py
Owners: none

If flake8-sfs installed, ignore percent & f-string formatting
  .flake8
Owners: none

Convert string literal .format to f-strings
  Bio/AlignIO/FastaIO.py
  Bio/NaiveBayes.py
  Bio/PDB/Entity.py
  Bio/SeqFeature.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqRecord.py
  Bio/__init__.py
  Bio/codonalign/__init__.py
  Bio/codonalign/codonalignment.py
  Bio/codonalign/codonalphabet.py
  Bio/codonalign/codonseq.py
  Bio/motifs/jaspar/db.py
  Bio/motifs/transfac.py
Owners: @peterjc, @joaorodrigues, @lennax, @zruan, @mdehoon

Apply black style to some test_SeqIO* files , version 19.10b0. test_SeqIO_PdbIO.py test_SeqIO_SeqXML.py test_SeqIO_Xdna.py test_SeqIO_write.py
  Tests/test_SeqIO_PdbIO.py
  Tests/test_SeqIO_SeqXML.py
  Tests/test_SeqIO_Xdna.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

python3 updates Bio.SeqIO.AbiIO (#2591)
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

updated Bio.SearchIO for python3 + some cleanup
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SearchIO/_model/_base.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Bio/SearchIO/_utils.py
  Bio/_utils.py
Owners: @bow

updated Bio.Restriction for python3 (#2581)
  Bio/Restriction/PrintFormat.py
  Bio/Restriction/Restriction.py
  Bio/Restriction/__init__.py
Owners: none

updating Bio.Sequencing for python3 (#2594)
  Bio/Sequencing/Ace.py
Owners: none

Apply black style to test_SeqIO_QualityIO.py and index files , version 19.10b0. test_SeqIO_QualityIO.py test_SeqIO_index.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

docstring update
  Bio/Sequencing/Ace.py
Owners: none

Don't need as_handle any more
  Bio/SeqIO/AceIO.py
Owners: @peterjc

docstring update (#2599)
  Bio/Sequencing/Ace.py
Owners: none

Apply black style to more test_SeqIO* files , version 19.10b0. test_SeqIO_online.py test_SeqIO_NibIO.py test_SeqIO_Insdc.py test_SeqIO_features.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_NibIO.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_online.py
Owners: @peterjc

Apply black style to test_SeqIO_AbiIO.py, version 19.10b0.
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

Using namedTuple for alignment
  Bio/pairwise2.py
Owners: none

Include namedtuple in docstring
  Bio/pairwise2.py
Owners: none

Add keyword parameters
  Bio/pairwise2.py
Owners: none

Some polishing
  Bio/pairwise2.py
Owners: none

Added tests for keyword parameters
  Bio/pairwise2.py
  Tests/pairwise2_testCases.py
Owners: none

Finalize addition of keyword parameters
  Bio/pairwise2.py
Owners: none

Whitespace issues
  Bio/pairwise2.py
Owners: none

Documentation
  Bio/pairwise2.py
  Doc/Tutorial/chapter_align.tex
Owners: none

Update NEWS.rst
  NEWS.rst
Owners: none

black, version 19.10b0, on Bio/
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
Owners: none

Remove python 2 specific comment
  Bio/SearchIO/_model/query.py
Owners: none

Reword docstring as dropped Python 2
  Bio/HMM/MarkovModel.py
  Bio/Phylo/TreeConstruction.py
Owners: @etal

Remove Python 2.5 era fallback for minus infinity
  Bio/HMM/MarkovModel.py
Owners: none

Remove redundant Python 2 comment about bytes
  Bio/bgzf.py
Owners: @peterjc

Remove Python 2 era comment
  Bio/Phylo/PhyloXML.py
Owners: @etal

Reduce python 2/3 commentary here
  Bio/Graphics/GenomeDiagram/_Diagram.py
Owners: @widdowquinn, @peterjc

Remove historical commentary in docstring
  Bio/Application/__init__.py
Owners: none

Some small errors in doctest and tutorial
  Bio/pairwise2.py
  Doc/Tutorial/chapter_align.tex
Owners: none
