Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

remove unneeded test
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

str in Seq (#3420)
  Tests/seq_tests_common.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Remove str from SeqIO code (#3421)
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/XdnaIO.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_AbiIO.py
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_PdbIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_SeqXML.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_write.py
  Tests/test_SffIO.py
Owners: @peterjc, @bow

cleanup (#3404)
  Bio/PopGen/GenePop/LargeFileParser.py
  Bio/PopGen/GenePop/__init__.py
Owners: none

str (#3417)
  Tests/test_MafIO_index.py
Owners: none

str (#3410)
  Scripts/xbbtools/nextorf.py
  Scripts/xbbtools/xbb_utils.py
  Scripts/xbbtools/xbb_widget.py
Owners: none

may as well add find and rfind
  Bio/Seq.py
  Tests/test_SeqIO.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

remove unnecessary calls to str in SearchIO code (#3413)
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/InterproscanIO/interproscan_xml.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Tests/search_tests_common.py
  Tests/test_SearchIO_blast_tab.py
  Tests/test_SearchIO_blast_text.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SearchIO_blat_psl.py
  Tests/test_SearchIO_exonerate.py
  Tests/test_SearchIO_fasta_m10.py
  Tests/test_SearchIO_hhsuite2_text.py
  Tests/test_SearchIO_hmmer2_text.py
  Tests/test_SearchIO_hmmer3_text.py
  Tests/test_SearchIO_interproscan_xml.py
  Tests/test_SearchIO_model.py
Owners: @bow

preserves dbsource annotation in GenBank output (#3425)
  Bio/SeqIO/InsdcIO.py
  CONTRIB.rst
  Tests/common_BioSQL.py
  Tests/test_SeqIO.py
Owners: @peterjc

trying to find out what travis was yapping about (#3488)
  Tests/search_tests_common.py
Owners: none

Welcome to 2021.
  LICENSE.rst
Owners: none

pyupgrade --py36-plus --keep-percent-format
  Bio/Align/__init__.py
  Bio/GenBank/Scanner.py
  Bio/PDB/Atom.py
  Bio/PDB/Entity.py
  Bio/PDB/internal_coords.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/codonalign/codonalignment.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/pfm.py
Owners: @peterjc, @joaorodrigues, @lennax, @zruan, @mdehoon

use UndefinedSequenceData for undefined sequences (#3440)
  Bio/GenBank/__init__.py
  Bio/Seq.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
  BioSQL/Loader.py
  Tests/seq_tests_common.py
  Tests/test_GenBank.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
  Tests/test_motifs_online.py
  Tests/test_seq.py
Owners: @peterjc, @mdehoon

Avoid flake8-bugbear B015 warnings
  Tests/test_SeqRecord.py
Owners: @peterjc

deprecate the ungap method of Seq objects (#3480)
  Bio/Seq.py
  Bio/codonalign/__init__.py
  DEPRECATED.rst
  Tests/test_MafIO_index.py
  Tests/test_seq.py
Owners: @peterjc, @zruan

Declare Bio.Application obsolete
  Bio/Align/Applications/__init__.py
  Bio/Application/__init__.py
  Bio/Blast/Applications.py
  Bio/Emboss/Applications.py
  Bio/Phylo/Applications/__init__.py
  Bio/Sequencing/Applications/__init__.py
  Bio/motifs/applications/__init__.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_blast.tex
  Doc/Tutorial/chapter_phylo.tex
Owners: none

Python 3.9 on CircleCI too
  .circleci/config.yml
Owners: none

Cope with molecule_type 'dna' in GenBank writer (#3476)
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

Add __slots__ to sequence objects (#3482)
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
  BioSQL/BioSeq.py
  Tests/test_seq.py
Owners: @peterjc

DSSP chain label correction for mmCIF files, mark II (#3450)
  Bio/PDB/DSSP.py
  Tests/PDB/1A7G.cif
  Tests/test_PDB_DSSP.py
Owners: @joaorodrigues, @lennax

Dual license Bio/Phylo/Applications/_Fasttree.py
  Bio/Phylo/Applications/_Fasttree.py
Owners: none

use a unittest for search_tests_common (#3353)
  Tests/search_tests_common.py
  Tests/test_SearchIO_model.py
  Tests/test_SearchIO_write.py
Owners: @bow

Ignore flake8-blind-except B902 except Exception:
  .flake8
Owners: none

Improvements to Entrez tests (#3437)
  CONTRIB.rst
  Tests/test_Entrez.py
  Tests/test_Entrez_online.py
Owners: @mdehoon

black
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/pfm.py
Owners: @mdehoon

Avoid blank revisions in pre-commit config
  .pre-commit-config.yaml
Owners: none

Move import comments (about to sort)
  Tests/test_SeqIO_online.py
Owners: @peterjc

add lower and upper to MutableSeq (#3430)
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

optimize upper, lower for twoBit sequences (#3494)
  Bio/SeqIO/TwoBitIO.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

Remove check on BLAST+ command line args
  Tests/test_NCBI_BLAST_tools.py
Owners: none

doc fix for hevea (#3477)
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Add translate method to MutableSeq (#3427)
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Clarify FAQ entry about application wrappers
  Doc/Tutorial/chapter_introduction.tex
Owners: none

deprecate UnknownSeq (#3446)
  Bio/Seq.py
  Bio/SeqRecord.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_seq_objects.tex
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Seq baseclass (#3455)
  Bio/Seq.py
  Bio/SeqIO/FastaIO.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Include Python 3.9 on TravisCI
  .travis-tox.ini
  .travis.yml
Owners: none

support pickling in Bio.Align.substitution_matrices (#3442)
  Bio/Align/substitution_matrices/__init__.py
  Tests/test_align_substitution_matrices.py
Owners: none

Python 3.9 tested now
  NEWS.rst
  README.rst
Owners: none

Show CircleCI build badge on README
  README.rst
Owners: none

Deprecating Python 3.6 support; one more release...
  DEPRECATED.rst
  NEWS.rst
  setup.py
Owners: none
