Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Enable links to GitHub from Sphinx API docs
  Doc/api/conf.py
Owners: none

Remove link to non-functional search page
  Doc/api/index.rst
Owners: none

Run sphinx-build in strict mode (abort on warning)
  Doc/api/Makefile
Owners: none

Avoid mutable defaults in MeltingTemp.py
  Bio/SeqUtils/MeltingTemp.py
Owners: none

Dual license Bio/PDB/parse_pdb_header.py
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Add fmt_() helper to print values that may be None
  Bio/Blast/Record.py
Owners: none

Dual licence Bio/Medline/__init__.py
  Bio/Medline/__init__.py
Owners: none

Fix test after adding fmt_ helper
  Tests/test_Blast_Record.py
Owners: none

Dual license Tests/test_Medline.py
  Tests/test_Medline.py
Owners: none

Moved docstrings and refactored doctests to Test/test_SeqFeature.py
  Bio/SeqFeature.py
  Tests/test_SeqFeature.py
Owners: @peterjc

Fix whitespace
  Bio/SeqFeature.py
  Tests/test_SeqFeature.py
Owners: @peterjc

Update CONTRIB.rst
  CONTRIB.rst
Owners: none

Update PdbIO.py
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

Update CONTRIB.rst
  CONTRIB.rst
Owners: none

Fix flake8 - the GitHub editor as its limits .-)
  Bio/Blast/Record.py
Owners: none

Ignore trailing whitespace to satisfy flake8
  Tests/test_Blast_Record.py
Owners: none

Whoops - hsp is already a class instance
  Tests/test_Blast_Record.py
Owners: none

Dual license Bio/HMM/Utilities.py
  Bio/HMM/Utilities.py
Owners: none

Dual license Bio/HMM/Trainer.py
  Bio/HMM/Trainer.py
Owners: none

Dual license Bio/HMM/MarkovModel.py
  Bio/HMM/MarkovModel.py
Owners: none

Dual license Bio/HMM/DynamicProgramming.py
  Bio/HMM/DynamicProgramming.py
Owners: none

Dual license Tests/test_HMMCasino.py
  Tests/test_HMMCasino.py
Owners: none

Dual license Tests/test_HMMGeneral.py
  Tests/test_HMMGeneral.py
Owners: none

NEWS entry for dual licensing progress
  NEWS.rst
Owners: none

Dual license Bio/HMM/MarkovModel.py
  Bio/HMM/MarkovModel.py
Owners: none

Dual license Bio/HMM/Utilities.py
  Bio/HMM/Utilities.py
Owners: none

Dual license Tests/test_HMMCasino.py
  Tests/test_HMMCasino.py
Owners: none

Dual license Bio/HMM/DynamicProgramming.py
  Bio/HMM/DynamicProgramming.py
Owners: none

Dual license Tests/test_HMMGeneral.py
  Tests/test_HMMGeneral.py
Owners: none

Dual license Bio/HMM/Trainer.py
  Bio/HMM/Trainer.py
Owners: none

added a test for pdb-atom seq with residue insertion codes on a synthetic PDB file
  Tests/PDB/2n0n_M1.pdb
Owners: none

added a test for pdb-atom seq with residue insertion codes on a synthetic PDB file
  Tests/test_SeqIO_PdbIO.py
Owners: @peterjc

doc for test
  Tests/test_SeqIO_PdbIO.py
Owners: @peterjc

Amended string format.
  Tests/test_geo.py
Owners: none

Amended W291 trailing whitespace.
  Tests/test_geo.py
Owners: none

Amended W291 trailing whitespace.
  Tests/test_geo.py
Owners: none

Update contributors
  NEWS.rst
Owners: none

Update CONTRIB
  CONTRIB.rst
Owners: none

Fix RST indentation
  CONTRIBUTING.rst
Owners: none

White space
  NEWS.rst
Owners: none
