Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

don't run tests if numpy is not available
  Doc/Tutorial/chapter_align.tex
  Tests/run_tests.py
  Tests/test_align_substitution_matrices.py
Owners: none

setattr was missing for "mismatch_num"
  Bio/SearchIO/BlastIO/blast_tab.py
Owners: none

add the current directory to the numpy doctests
  Doc/Tutorial/chapter_align.tex
Owners: none

Bio.Align.substitution_matrices requires numpy
  setup.py
Owners: none

Bio.Align.substitution_matrices requires numpy
  Tests/run_tests.py
Owners: none

prevent compiler warnings
  Bio/Align/_aligners.c
Owners: @mdehoon

fix stupid mistake
  Bio/Align/_aligners.c
Owners: @mdehoon

allow older numpy versions
  Bio/Align/substitution_matrices/__init__.py
  setup.py
Owners: none

TravisCI now provides PyPy2/3 version 7.1.1
  .travis.yml
  README.rst
Owners: none

TravisCI now provides PyPy2/3 version 7.1.1
  .travis.yml
  README.rst
Owners: none

Hack for python2 on PyPy to convince it that it really does support the buffer protocol
  Bio/Align/_aligners.c
  Bio/Align/substitution_matrices/__init__.py
Owners: @mdehoon

Travis
  Bio/Align/substitution_matrices/__init__.py
Owners: none

Test to see what happens if we don't allow the import of Bio.Align._aligners to succeed
  Bio/Align/_aligners.c
Owners: @mdehoon

Don't import _aligners
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
Owners: @peterjc, @mdehoon

Import empty _aligners
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
Owners: @peterjc, @mdehoon

Update chapter_advanced.tex
  Doc/Tutorial/chapter_advanced.tex
Owners: none

Import _aligners but don't use it
  Bio/Align/_aligners.c
Owners: @mdehoon

Apply black style to Bio.UniGene.
  Bio/UniGene/__init__.py
Owners: none

fix bug buffer release
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
  Bio/Align/substitution_matrices/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @mdehoon

Fix bug in _prim() to deal with codons [3 letters]
  Bio/codonalign/codonalignment.py
Owners: @zruan

fix for 32-bit machines
  Tests/test_align_substitution_matrices.py
Owners: none

Update chapter_advanced.tex (#2299)
  Doc/Tutorial/chapter_advanced.tex
Owners: none

cast pointer to prevent compiler warning
  Bio/Align/_aligners.c
Owners: @mdehoon

Revert "Update chapter_advanced.tex (#2299)"
  Doc/Tutorial/chapter_advanced.tex
Owners: none

Revert "Update chapter_advanced.tex (#2299)" (#2302)
  Doc/Tutorial/chapter_advanced.tex
Owners: none

removed newline from __repr__, and relocated blank space.
  Bio/UniGene/__init__.py
Owners: none

support soft-masking in nib files
  Bio/SeqIO/NibIO.py
  Tests/Nib/test_bigendian.nib
  Tests/Nib/test_even.fa
  Tests/Nib/test_even_bigendian.nib
  Tests/Nib/test_even_littleendian.nib
  Tests/Nib/test_littleendian.nib
  Tests/Nib/test_odd.fa
  Tests/Nib/test_odd_bigendian.nib
  Tests/Nib/test_odd_littleendian.nib
  Tests/test_SeqIO_NibIO.py
Owners: @peterjc

nib doesn't need to be handled as a special case any more
  Tests/test_SeqIO.py
Owners: @peterjc

style issues
  Bio/SeqIO/NibIO.py
Owners: @peterjc

Update NibIO.py
  Bio/SeqIO/NibIO.py
Owners: @peterjc

support soft-masking in nib files (#2303)
  Bio/SeqIO/NibIO.py
  Tests/Nib/test_bigendian.nib
  Tests/Nib/test_even.fa
  Tests/Nib/test_even_bigendian.nib
  Tests/Nib/test_even_littleendian.nib
  Tests/Nib/test_littleendian.nib
  Tests/Nib/test_odd.fa
  Tests/Nib/test_odd_bigendian.nib
  Tests/Nib/test_odd_littleendian.nib
  Tests/test_SeqIO.py
  Tests/test_SeqIO_NibIO.py
Owners: @peterjc

Removed newline to match UniGene.Record.__repr__.
  Tests/test_UniGene.py
Owners: none

Apply black to Bio.UniGene; remove \n from __repr__ (#2300)
  Bio/UniGene/__init__.py
  Tests/test_UniGene.py
Owners: none

Apply black style to Bio.TogoWS
  Bio/TogoWS/__init__.py
Owners: @peterjc

Added argument to the mmCIF parser to predefine the use of label_seq_id, use_label_seq_id=False.
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

Merged strings on ValueError Message.
  Bio/TogoWS/__init__.py
Owners: @peterjc

Apply black style to Bio.SwissProt.
  Bio/SwissProt/__init__.py
Owners: none

Apply black style to Bio.SwissProt.
  Bio/SwissProt/__init__.py
Owners: none

Apply black style to Bio.TogoWS
  Bio/TogoWS/__init__.py
Owners: @peterjc

Merged strings on ValueError Message.
  Bio/TogoWS/__init__.py
Owners: @peterjc
