Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

cleanup
  Bio/SearchIO/FastaIO.py
Owners: @bow

Apply black style to Bio.phenotype.
  Bio/phenotype/__init__.py
  Bio/phenotype/phen_micro.py
  Bio/phenotype/pm_fitting.py
Owners: none

FastaM10Parser done
  Bio/SearchIO/FastaIO.py
Owners: @bow

without UndoHandle
  Bio/SearchIO/FastaIO.py
Owners: @bow

travis
  Bio/SearchIO/FastaIO.py
Owners: @bow

Combine strings into one line.
  Bio/Seq.py
Owners: @peterjc

fix typo
  NEWS.rst
Owners: none

Apply black style to Bio.phenotype. Merge string.
  Bio/phenotype/phen_micro.py
Owners: none

Apply black style to Bio.Pathway.
  Bio/Pathway/Rep/Graph.py
  Bio/Pathway/Rep/MultiGraph.py
  Bio/Pathway/__init__.py
Owners: none

Apply black style to Bio.NMR
  Bio/NMR/NOEtools.py
  Bio/NMR/xpktools.py
Owners: none

Apply black style to Bio.Nexus.
  Bio/Nexus/Nexus.py
  Bio/Nexus/StandardData.py
  Bio/Nexus/Trees.py
Owners: none

Overdue removal debug_blast_parser.py
  Scripts/debug/debug_blast_parser.py
Owners: none

Apply black style to Bio.phenotype. Merge string (#2379)
  Bio/phenotype/__init__.py
  Bio/phenotype/phen_micro.py
  Bio/phenotype/pm_fitting.py
Owners: none

change legacy dict to pdbh_dict, more efficient join for TITLE
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

add test for handle no TITLE line
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

fix typo to add period.!!
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Fix missing semi-colon
  Doc/Tutorial/chapter_seqio.tex
Owners: none

Fix closing bracket on pair-tuples
  Doc/Tutorial/chapter_popgen.tex
Owners: none

Fix some python snippets to be valid syntax
  Doc/Tutorial/chapter_advanced.tex
Owners: none

Missing closing bracket
  Doc/Tutorial/chapter_cluster.tex
Owners: none

Fix quotes in python snippet
  Doc/Tutorial/chapter_testing.tex
Owners: none

Fix missing comma
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Avoid python snippet which alone is not valid syntax
  Doc/Tutorial/chapter_advanced.tex
Owners: none

Rewrite dict to put ... as a comment
  Doc/Tutorial/chapter_align.tex
Owners: none

Remove redundant slash line continuation and str +
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seqio.tex
Owners: none

Fixes motifs.jaspar.calculate_pseudocounts Adds appropriate test
  Bio/motifs/jaspar/__init__.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_motifs.py
Owners: @mdehoon

Removed "bad quotes" as per Travis request.
  Tests/test_motifs.py
Owners: @mdehoon

Apply black to the tutorial python snippets
  Doc/Tutorial/chapter_advanced.tex
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_appendix.tex
  Doc/Tutorial/chapter_cluster.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_graphics.tex
  Doc/Tutorial/chapter_kegg.tex
  Doc/Tutorial/chapter_phylo.tex
  Doc/Tutorial/chapter_popgen.tex
  Doc/Tutorial/chapter_quick_start.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seqio.tex
  Doc/Tutorial/chapter_testing.tex
Owners: none

ran black, version 19.3b0, on Doc/examples/
  Doc/examples/ACT_example.py
  Doc/examples/Proux_et_al_2002_Figure_6.py
  Doc/examples/clustal_run.py
  Doc/examples/getgene.py
  Doc/examples/make_subsmat.py
  Doc/examples/nmr/simplepredict.py
Owners: none

run black on setup.py
  setup.py
Owners: none

ran black, version 19.10b0, on Scripts/ and BioSQL/
  BioSQL/BioSeq.py
  BioSQL/Loader.py
  Scripts/debug/debug_blast_parser.py
Owners: none

Overdue removal debug_blast_parser.py
  Scripts/debug/debug_blast_parser.py
Owners: none

Enforce black on BioSQL/ Scripts/ + Doc/
  .flake8
  .travis-tox.ini
Owners: none

moved my name alphabetically
  NEWS.rst
Owners: none

Fixes motifs.jaspar.calculate_pseudocounts (#2384)
  Bio/motifs/jaspar/__init__.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_motifs.py
Owners: @mdehoon

be sure to go through __init__ to be sure that the Motif is initialized appropriately
  Bio/motifs/__init__.py
  Tests/test_motifs.py
Owners: @mdehoon

fix attributes
  Bio/motifs/__init__.py
  Tests/test_motifs.py
Owners: @mdehoon

travis
  Bio/motifs/__init__.py
  Tests/test_motifs.py
Owners: @mdehoon

Fix bug motif reverse complement (#2387)
  Bio/motifs/__init__.py
  Tests/test_motifs.py
Owners: @mdehoon

fix typo
  NEWS.rst
Owners: none
