Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Dual license Bio/KDTree/KDTree.c
  Bio/KDTree/KDTree.c
Owners: none

Add copyright line to Bio/PDB/kdtrees.c
  Bio/PDB/kdtrees.c
Owners: @joaorodrigues, @lennax

Dual license Bio/Nexus/cnexus.c
  Bio/Nexus/cnexus.c
Owners: none

Dual license Bio/KDTree/KDTree.h
  Bio/KDTree/KDTree.h
Owners: none

Dual license Bio/motifs/_pwm.c
  Bio/motifs/_pwm.c
Owners: @mdehoon

Dual licence Bio/KDTree/Neighbor.h
  Bio/KDTree/Neighbor.h
Owners: none

Removed unnecessary string formatting (#2546)
  Bio/UniProt/GOA.py
Owners: none

updating Bio.File for python3
  Bio/File.py
  Bio/GenBank/Scanner.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

travis
  Bio/File.py
Owners: none

Omit python 2 alternative import
  Bio/SeqUtils/__init__.py
Owners: none

Remove obsolete TODO comment
  Bio/Phylo/PAML/yn00.py
Owners: none

With with for ExPASy network handles
  Bio/ExPASy/__init__.py
Owners: none

Remove Python 2 era NaN workaround
  Bio/Phylo/PAML/_parse_codeml.py
Owners: none

Switch to FileNotFoundError in DSSP
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

Remove Python 2 references in ExPASy doctests
  Bio/ExPASy/__init__.py
Owners: none

Remove unused import
  Bio/AlignIO/Interfaces.py
  Bio/GenBank/__init__.py
Owners: @peterjc

Remove reference to Python 2 iteration
  Bio/phenotype/__init__.py
Owners: none

updating Bio.File for python3 (#2557)
  Bio/File.py
  Bio/GenBank/Scanner.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

update Bio.GenBank for python3
  Bio/GenBank/Record.py
  Bio/GenBank/Scanner.py
  Bio/GenBank/__init__.py
  Bio/GenBank/utils.py
Owners: @peterjc

update Bio.GenBank for python3 (#2558)
  Bio/GenBank/Record.py
  Bio/GenBank/Scanner.py
  Bio/GenBank/__init__.py
  Bio/GenBank/utils.py
Owners: @peterjc

deprecating Bio.FSSP, as the FSSP database doesn't seem to exist any more (#2556)
  Bio/FSSP/__init__.py
  DEPRECATED.rst
  Tests/test_FSSP.py
Owners: none

updates Bio.Graphics for pyton3
  Bio/Graphics/BasicChromosome.py
  Bio/Graphics/DisplayRepresentation.py
  Bio/Graphics/GenomeDiagram/_AbstractDrawer.py
  Bio/Graphics/GenomeDiagram/_Colors.py
  Bio/Graphics/GenomeDiagram/_Diagram.py
  Bio/Graphics/GenomeDiagram/_FeatureSet.py
  Bio/Graphics/KGML_vis.py
  Bio/Graphics/__init__.py
Owners: @widdowquinn, @peterjc

update tests
  Bio/Graphics/BasicChromosome.py
  Tests/test_GraphicsBitmaps.py
  Tests/test_GraphicsChromosome.py
  Tests/test_GraphicsDistribution.py
  Tests/test_GraphicsGeneral.py
Owners: none

the joy of removing old code
  Bio/KDTree/KDTree.c
  Bio/KDTree/KDTree.h
  Bio/KDTree/KDTree.py
  Bio/KDTree/KDTreemodule.c
  Bio/KDTree/Neighbor.h
  Bio/KDTree/__init__.py
  Bio/PDB/__init__.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_pdb.tex
  Doc/biopdb_faq.tex
  MANIFEST.in
  Tests/run_tests.py
  Tests/test_KDTree.py
  Tests/test_PDB_KDTree.py
  setup.py
Owners: @joaorodrigues, @lennax

updated Bio.KEGG for python3
  Bio/KEGG/Enzyme/__init__.py
  Bio/KEGG/KGML/KGML_parser.py
  Bio/KEGG/REST.py
Owners: none

need to check hasattr
  Bio/Graphics/GenomeDiagram/_Diagram.py
  Bio/Graphics/GenomeDiagram/_FeatureSet.py
Owners: @widdowquinn, @peterjc

typo
  Bio/KEGG/Enzyme/__init__.py
Owners: none

typo
  Bio/Graphics/GenomeDiagram/_FeatureSet.py
Owners: @widdowquinn, @peterjc

black
  Bio/KEGG/KGML/KGML_parser.py
Owners: none

updated Bio.KEGG for python3 (#2562)
  Bio/KEGG/Enzyme/__init__.py
  Bio/KEGG/KGML/KGML_parser.py
  Bio/KEGG/REST.py
Owners: none

Bio.NMR python3
  Bio/NMR/NOEtools.py
  Bio/NMR/xpktools.py
Owners: none

Bio.NMR python3 (#2563)
  Bio/NMR/NOEtools.py
  Bio/NMR/xpktools.py
Owners: none

minor improvements
  Bio/SeqIO/__init__.py
Owners: @peterjc

address review comments
  Bio/SeqIO/__init__.py
Owners: @peterjc

whoops
  Bio/SeqIO/__init__.py
Owners: @peterjc

update Bio.Nexus for python3
  Bio/Nexus/Nexus.py
  Bio/Nexus/StandardData.py
  Bio/Nexus/Trees.py
  Bio/Nexus/cnexus.c
Owners: none

Minor changes to Bio.SeqIO (#2564)
  Bio/SeqIO/__init__.py
Owners: @peterjc

mode
  Bio/Nexus/Nexus.py
Owners: none

update Bio.PDB for python3
  Bio/PDB/DSSP.py
  Bio/PDB/FragmentMapper.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/PDBIO.py
  Bio/PDB/PDBParser.py
  Bio/PDB/PSEA.py
  Bio/PDB/__init__.py
  Bio/PDB/mmtf/__init__.py
Owners: @joaorodrigues, @lennax

update Bio.PDB for python3 (#2566)
  Bio/PDB/DSSP.py
  Bio/PDB/FragmentMapper.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/PDBIO.py
  Bio/PDB/PDBParser.py
  Bio/PDB/PSEA.py
  Bio/PDB/__init__.py
  Bio/PDB/mmtf/__init__.py
Owners: @joaorodrigues, @lennax
