Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Round expected SASAs to allow tests to pass
  Bio/PDB/SASA.py
Owners: @joaorodrigues, @lennax

Round expected SASAs to allow tests to pass - use print/round functions directly.
  Bio/PDB/SASA.py
Owners: @joaorodrigues, @lennax

changed assertion styling for test_Restriction.py
  CONTRIB.rst
  Tests/test_Restriction.py
Owners: none

Added methods to remove children of disordered Entities (#3266)
  Bio/PDB/Atom.py
  Bio/PDB/Entity.py
  Bio/PDB/Residue.py
  NEWS.rst
  Tests/test_PDB_Disordered.py
Owners: @joaorodrigues, @lennax

revert two lines and add comment
  Tests/test_Restriction.py
Owners: none

changed assertion styling for test_Restriction.py (#3276)
  CONTRIB.rst
  Tests/test_Restriction.py
Owners: none

Use assertIn in tests
  Tests/common_BioSQL.py
  Tests/test_Prank_tool.py
  Tests/test_SffIO.py
  Tests/test_TogoWS.py
Owners: @peterjc

changed resname to resname.strip() in PDBParser.py
  Bio/PDB/PDBParser.py
  Bio/PDB/StructureBuilder.py
Owners: @joaorodrigues, @lennax

Add name to contributors list
  CONTRIB.rst
Owners: none

Add name to upcoming release file
  NEWS.rst
Owners: none

Add name to upcoming release file
  NEWS.rst
Owners: none

Applying requested changes. See conversation at https://github.com/biopython/biopython/pull/3279
  Tests/common_BioSQL.py
  Tests/test_Affy.py
  Tests/test_Entrez_parser.py
  Tests/test_phenotype.py
Owners: @mdehoon

Updating assert statements to assertIn/assertNotIn. See #3279 for discussion.
  Tests/test_PhyloXML.py
Owners: @etal

Use assertIn in tests
  Tests/common_BioSQL.py
  Tests/test_Prank_tool.py
  Tests/test_SffIO.py
  Tests/test_TogoWS.py
Owners: @peterjc

Issue #3278: Use assertTrue, assertFalse, assertIsNone in tests (#3279)
  CONTRIB.rst
  NEWS.rst
  Tests/common_BioSQL.py
  Tests/test_Affy.py
  Tests/test_Application.py
  Tests/test_Entrez_parser.py
  Tests/test_NCBITextParser.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_PDBIO.py
  Tests/test_PDB_PDBParser.py
  Tests/test_PDB_Polypetide.py
  Tests/test_PQR.py
  Tests/test_Phylo.py
  Tests/test_PhyloXML.py
  Tests/test_Restriction.py
  Tests/test_SCOP_Scop.py
  Tests/test_SeqIO_index.py
  Tests/test_phenotype.py
Owners: @mdehoon, @joaorodrigues, @lennax, @etal, @peterjc

Correct Sugimoto et al 1995 table
  Bio/SeqUtils/MeltingTemp.py
Owners: none

modified PdbIO.py to handle 2-lettered residue
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

Adjust dotest
  Bio/SeqUtils/MeltingTemp.py
Owners: none

Add my name to NEWS.rst
  NEWS.rst
Owners: none

added _res2aacode function to PdbIO.py
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

modified _res2aacode function in PdbIO.py
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

Native implementation of Shrake-Rupley algorithm for atomic solvent accessible surface areas. (#3274)
  Bio/PDB/SASA.py
  Bio/PDB/__init__.py
  NEWS.rst
  Tests/test_PDB_SASA.py
Owners: @joaorodrigues, @lennax

modified imports in PdbIO.py
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

Melting temp, correct nearest neighbor table for DNA/RNA hybridization (#3281)
  Bio/SeqUtils/MeltingTemp.py
  NEWS.rst
Owners: none

minor changes in PdbIO.py
  Bio/SeqIO/PdbIO.py
  NEWS.rst
Owners: @peterjc

fix spelling-error-in-binary clustermodule.c
  Bio/Cluster/clustermodule.c
Owners: @mdehoon

fix spelling-error-in-binary clustermodule.c (#3282)
  Bio/Cluster/clustermodule.c
Owners: @mdehoon

Trim leading/trailing whitespace of residue names parsed from PDB files (#3275)
  Bio/PDB/PDBParser.py
  Bio/SeqIO/PdbIO.py
  NEWS.rst
  Tests/test_PDB_SMCRA.py
Owners: @joaorodrigues, @lennax, @peterjc

Update Python docs url in tutorial's quickstart section from Python 2 to Python 3
  CONTRIB.rst
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

Update Python docs url in tutorial's quickstart section from Python 2 to Python 3
  CONTRIB.rst
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

Add (modified) versions.html, biopython.css and tailor conf.py
  Doc/api/_static/biopython.css
  Doc/api/_templates/versions.html
  Doc/api/conf.py
  Doc/images/biopython_logo_white.png
Owners: none

Add (modified) versions.html, biopython.css and tailor conf.py (#3285)
  Doc/api/_static/biopython.css
  Doc/api/_templates/versions.html
  Doc/api/conf.py
  Doc/images/biopython_logo_white.png
Owners: none

SnapGene: Store feature name in specific qualifier (#3286).
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

SnapGene: Update test file.
  NEWS.rst
  Tests/SnapGene/sample-d.dna
  Tests/test_SeqIO_SnapGene.py
Owners: @peterjc

Fixed bug 3288
  Bio/Entrez/Parser.py
Owners: @mdehoon

Modified Fixed bug 3288
  Bio/Entrez/Parser.py
Owners: @mdehoon

Fixed bug 3288 (#3289)
  Bio/Entrez/Parser.py
Owners: @mdehoon

SeqIO/SnapGene: Store feature name in specific qualifier
  Bio/SeqIO/SnapGeneIO.py
  NEWS.rst
  Tests/SnapGene/sample-d.dna
  Tests/test_SeqIO_SnapGene.py
Owners: @peterjc

Added parser for UniProt GOA Gene Product Information (GPI) version 1.2, including sample and test.
  Bio/UniProt/GOA.py
  NEWS.rst
  Tests/UniProt/goa_human_sample.gpi
  Tests/test_UniProt_GOA.py
Owners: none

rewording line too long D001
  NEWS.rst
Owners: none
