Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Dual license Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

Added code comments for clarity.
  Bio/GenBank/__init__.py
Owners: @peterjc

Improving test coverage Bio.SubsMat.
  Tests/test_SubsMat.py
Owners: none

Added name to NEWS.rst
  NEWS.rst
Owners: none

Added code comments for clarity.
  Bio/GenBank/__init__.py
Owners: @peterjc

Fix origin wrapping inside join()
  Bio/GenBank/__init__.py
  Tests/GenBank/bad_origin_wrap.gb
  Tests/test_GenBank.py
Owners: @peterjc

Added name to NEWS.rst
  NEWS.rst
Owners: none

Fix test failing to trigger warning
  Tests/test_GenBank.py
Owners: @peterjc

Add new kwarg 'show_full_sequences' to 'format_alignment'
  Bio/pairwise2.py
Owners: none

Update tests for new kwarg 'show_full_sequences'
  Tests/pairwise2_testCases.py
Owners: none

Update tutorial
  Doc/Tutorial/chapter_align.tex
Owners: none

Update NEWS.rst
  NEWS.rst
Owners: none

Change keyword-parameter to 'full_sequences'
  Bio/pairwise2.py
  Doc/Tutorial/chapter_align.tex
  NEWS.rst
  Tests/pairwise2_testCases.py
Owners: none

Adjust for next version
  Bio/pairwise2.py
  NEWS.rst
Owners: none

Pairwise2: Add keyword argument "show_full_sequences" to "format_alignment" (#2143)
  Bio/pairwise2.py
  Doc/Tutorial/chapter_align.tex
  NEWS.rst
  Tests/pairwise2_testCases.py
Owners: none

Start ignoring flake8/pycodestyle E203 due to black false positives
  .flake8
Owners: none

Mention using black in NEWS.rst
  NEWS.rst
Owners: none

Adjust a few comment placements
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
Owners: @widdowquinn, @peterjc

Run black (version 19.3b0) on GenomeDiagram
  Bio/Graphics/GenomeDiagram/_AbstractDrawer.py
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/Graphics/GenomeDiagram/_Colors.py
  Bio/Graphics/GenomeDiagram/_CrossLink.py
  Bio/Graphics/GenomeDiagram/_Diagram.py
  Bio/Graphics/GenomeDiagram/_Feature.py
  Bio/Graphics/GenomeDiagram/_FeatureSet.py
  Bio/Graphics/GenomeDiagram/_Graph.py
  Bio/Graphics/GenomeDiagram/_GraphSet.py
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
  Bio/Graphics/GenomeDiagram/_Track.py
  Bio/Graphics/GenomeDiagram/__init__.py
Owners: @widdowquinn, @peterjc

Apply black to GenomeDiagram; update .flake8 &NEWS (#2251)
  .flake8
  Bio/Graphics/GenomeDiagram/_AbstractDrawer.py
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/Graphics/GenomeDiagram/_Colors.py
  Bio/Graphics/GenomeDiagram/_CrossLink.py
  Bio/Graphics/GenomeDiagram/_Diagram.py
  Bio/Graphics/GenomeDiagram/_Feature.py
  Bio/Graphics/GenomeDiagram/_FeatureSet.py
  Bio/Graphics/GenomeDiagram/_Graph.py
  Bio/Graphics/GenomeDiagram/_GraphSet.py
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
  Bio/Graphics/GenomeDiagram/_Track.py
  Bio/Graphics/GenomeDiagram/__init__.py
  NEWS.rst
Owners: @widdowquinn, @peterjc

Enforce double quotes via flake8-quotes
  .flake8
  .travis-tox.ini
  CONTRIBUTING.rst
Owners: none

Manually fix escaped single quotes
  Tests/test_SeqIO_Gck.py
Owners: @peterjc

Automatically fix double quotes in misc files
  Bio/Blast/Record.py
  Bio/PDB/PDBIO.py
  Bio/PDB/mmtf/DefaultParser.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/XdnaIO.py
  Bio/pairwise2.py
  Tests/test_Blast_Record.py
  Tests/test_SeqIO_Gck.py
  Tests/test_SeqIO_SnapGene.py
  Tests/test_SeqIO_Xdna.py
  Tests/test_UniProt_GOA.py
Owners: @joaorodrigues, @lennax, @peterjc

Update Seq.py
  Bio/Seq.py
Owners: @peterjc

Update Seq.py
  Bio/Seq.py
Owners: @peterjc

separated Bio.motifs from Bio.Motif
  DEPRECATED.rst
Owners: none

Enforce double quotes via flake8-quotes
  .flake8
  .travis-tox.ini
  CONTRIBUTING.rst
Owners: none

Automatically fix double quotes in misc files
  Bio/Blast/Record.py
  Bio/PDB/PDBIO.py
  Bio/PDB/mmtf/DefaultParser.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/XdnaIO.py
  Bio/pairwise2.py
  Tests/test_Blast_Record.py
  Tests/test_SeqIO_Gck.py
  Tests/test_SeqIO_SnapGene.py
  Tests/test_SeqIO_Xdna.py
  Tests/test_UniProt_GOA.py
Owners: @joaorodrigues, @lennax, @peterjc

Manually fix escaped single quotes
  Tests/test_SeqIO_Gck.py
Owners: @peterjc

Tell black not to touch this dictionary indentation
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

Tweak comment placement for black
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

Avoid slash continuation (looked bad after black)
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Tweak to avoid black vs flake8 D202 conflict
  Bio/SeqIO/__init__.py
Owners: @peterjc

Ran black version 19.3b0 on Bio.SeqIO
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/SwissIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/SeqIO/XdnaIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_convert.py
  Bio/SeqIO/_index.py
Owners: @peterjc, @bow

Fix comment placement (thanks Spencer)
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

Fix string literals (which black does not handle yet)
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Ran black version 19.3b0 on Bio.PDB
  Bio/PDB/AbstractPropertyMap.py
  Bio/PDB/Atom.py
  Bio/PDB/DSSP.py
  Bio/PDB/Dice.py
  Bio/PDB/Entity.py
  Bio/PDB/FragmentMapper.py
  Bio/PDB/HSExposure.py
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/NACCESS.py
  Bio/PDB/NeighborSearch.py
  Bio/PDB/PDBIO.py
  Bio/PDB/PDBList.py
  Bio/PDB/PDBParser.py
  Bio/PDB/Polypeptide.py
  Bio/PDB/QCPSuperimposer/__init__.py
  Bio/PDB/Residue.py
  Bio/PDB/ResidueDepth.py
  Bio/PDB/Selection.py
  Bio/PDB/StructureAlignment.py
  Bio/PDB/StructureBuilder.py
  Bio/PDB/__init__.py
  Bio/PDB/mmcifio.py
  Bio/PDB/mmtf/DefaultParser.py
  Bio/PDB/mmtf/__init__.py
  Bio/PDB/mmtf/mmtfio.py
  Bio/PDB/parse_pdb_header.py
  Bio/PDB/vectors.py
Owners: @joaorodrigues, @lennax

Add name to NEWS.rst
  NEWS.rst
Owners: none

Incorporate suggestions from @peterjc
  Bio/PDB/Entity.py
  Bio/PDB/PDBList.py
  Bio/PDB/PDBParser.py
  Bio/PDB/Polypeptide.py
  Bio/PDB/Residue.py
  Bio/PDB/ResidueDepth.py
Owners: @joaorodrigues, @lennax

As master with 2 level separation and separated Bio.motifs from Bio.Motif.
  DEPRECATED.rst
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
