Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

only need 128 bytes
  Bio/Align/_aligners.c
  Bio/Align/substitution_matrices/__init__.py
Owners: @mdehoon

only need 128 bytes (#2460)
  Bio/Align/_aligners.c
  Bio/Align/substitution_matrices/__init__.py
Owners: @mdehoon

Python 3 assumes UTF8, do not need coding line
  Bio/Align/Applications/_ClustalOmega.py
  Bio/motifs/applications/_xxmotif.py
  Doc/api/conf.py
  Tests/test_Entrez_online.py
  Tests/test_Entrez_parser.py
Owners: @mdehoon

Don't need raw on this string
  Bio/SearchIO/BlastIO/blast_xml.py
Owners: none

Don't need raw on this string
  Bio/SearchIO/BlastIO/blast_xml.py
Owners: none

Python 3 only needs super() with no args
  Bio/Affy/CelFile.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/PhylipIO.py
  Bio/Blast/Record.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/HmmerIO/_base.py
  Bio/SeqIO/FastaIO.py
  BioSQL/BioSeqDatabase.py
Owners: @peterjc

Use bytes literals over _as_bytes("example")
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

Don't need raw on this string
  Bio/SearchIO/BlastIO/blast_xml.py
Owners: none

Don't need raw on this string
  Bio/SearchIO/BlastIO/blast_xml.py
Owners: none

Remove now redundant variables
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
Owners: none

Minor fix
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/bgzf.py
Owners: @peterjc

converted Bio.Entrez to python3
  Bio/Entrez/Parser.py
  Bio/Entrez/__init__.py
  Doc/Tutorial/chapter_entrez.tex
  Tests/test_Entrez_online.py
  Tests/test_Entrez_parser.py
Owners: @mdehoon

travis grumbling about bad quotes
  Bio/Entrez/Parser.py
  Bio/Entrez/__init__.py
Owners: @mdehoon

remove python2 include for urlretrieve
  Bio/PDB/PDBList.py
  NEWS.rst
  Scripts/scop_pdb.py
Owners: @joaorodrigues, @lennax

remove python2 include for urlretrieve
  Bio/PDB/PDBList.py
  NEWS.rst
  Scripts/scop_pdb.py
Owners: @joaorodrigues, @lennax

Remove python 2 branch in py3k
  Bio/_py3k/__init__.py
Owners: none

No longer using StringIO or urlretrieve via Bio._py3k
  Bio/_py3k/__init__.py
Owners: none

No longer using Bio._py3k.raise_from
  Bio/_py3k/__init__.py
Owners: none

fix address plus comments
  Bio/AlignIO/__init__.py
  Bio/SearchIO/_model/query.py
  Bio/codonalign/__init__.py
  Scripts/Restriction/ranacompiler.py
Owners: @peterjc, @zruan

fix travis style failures
  Bio/Alphabet/__init__.py
  Bio/Blast/Record.py
  Bio/Data/CodonTable.py
  Bio/NaiveBayes.py
  Bio/SearchIO/_model/query.py
  Bio/codonalign/__init__.py
  Scripts/update_ncbi_codon_table.py
  Tests/search_tests_common.py
  Tests/seq_tests_common.py
  Tests/test_HMMGeneral.py
Owners: @peterjc, @zruan

No longer using Bio._py3k.raise_from
  Bio/_py3k/__init__.py
Owners: none

No longer using StringIO or urlretrieve via Bio._py3k
  Bio/_py3k/__init__.py
Owners: none

Remove python 2 branch in py3k
  Bio/_py3k/__init__.py
Owners: none

Avoid slash continuation within strings
  Bio/Align/AlignInfo.py
Owners: @peterjc

Avoid slash continuation within commented statement
  Bio/Align/__init__.py
Owners: @peterjc

black, version 19.3b0, on Bio.ALign
  Bio/Align/AlignInfo.py
  Bio/Align/Applications/_ClustalOmega.py
  Bio/Align/Applications/_Clustalw.py
  Bio/Align/Applications/_Dialign.py
  Bio/Align/Applications/_MSAProbs.py
  Bio/Align/Applications/_Mafft.py
  Bio/Align/Applications/_Muscle.py
  Bio/Align/Applications/_Prank.py
  Bio/Align/Applications/_Probcons.py
  Bio/Align/Applications/_TCoffee.py
  Bio/Align/Applications/__init__.py
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
Owners: @peterjc

black, version 19.3b0, on Bio.motifs
  Bio/motifs/__init__.py
  Bio/motifs/applications/_xxmotif.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/jaspar/__init__.py
  Bio/motifs/jaspar/db.py
  Bio/motifs/mast.py
  Bio/motifs/matrix.py
  Bio/motifs/meme.py
  Bio/motifs/minimal.py
  Bio/motifs/pfm.py
  Bio/motifs/transfac.py
  Bio/motifs/xms.py
Owners: @mdehoon

Fix post-black string concatenation
  Bio/motifs/__init__.py
  Bio/motifs/jaspar/db.py
Owners: @mdehoon

Missing bracket in exception message
  Bio/motifs/__init__.py
Owners: @mdehoon

No need for triple-quoted SQL strings with embedded new lines
  Bio/motifs/jaspar/db.py
Owners: none

Remove deprecate Bio.Index code
  Bio/Index.py
  DEPRECATED.rst
Owners: none

Fix indentation of docstring
  Bio/_py3k/__init__.py
Owners: none

Remove unused unicode method
  Bio/_py3k/__init__.py
Owners: none

Remove obsolete commentary
  Tests/test_bgzf.py
Owners: @peterjc

adding url to handle
  Bio/Entrez/__init__.py
  Tests/test_Entrez_online.py
Owners: @mdehoon

update docstrings
  Bio/Entrez/__init__.py
Owners: @mdehoon

Revert "Remove unused unicode method"
  Bio/_py3k/__init__.py
Owners: none

black, version 19.3b0, on Bio/*.py
  Bio/File.py
  Bio/LogisticRegression.py
  Bio/MarkovModel.py
  Bio/MaxEntropy.py
  Bio/NaiveBayes.py
  Bio/__init__.py
  Bio/_utils.py
  Bio/kNN.py
  Bio/triefind.py
Owners: none

post-black string concatenation fixes
  Bio/File.py
Owners: none

Avoid slash continuation within strings
  Bio/Align/AlignInfo.py
Owners: @peterjc
