Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

removed alphabets (#3098)
  Doc/biopdb_faq.tex
Owners: none

inserts version number or dev into Tutorial depending on release status
  Doc/Makefile
Owners: none

Update __init__.py
  Bio/Cluster/__init__.py
Owners: @mdehoon

Update __init__.py
  Bio/Cluster/__init__.py
Owners: @mdehoon

Hook up NovoalignCommandline to the API doc build.
  Bio/Sequencing/Applications/__init__.py
Owners: none

Remove unused imports.
  Bio/Pathway/__init__.py
Owners: none

Remove an unused exception object variable.
  Bio/Statistics/lowess.py
Owners: none

Add myself to NEWS.
  NEWS.rst
Owners: none

removed alphabets from SeqXmlIO
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

removed alphabets from SeqXmlIO (#3100)
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

Cosmetic change, disable black format on some matrices make them look as neighbour ones.
  Tests/test_Cluster.py
Owners: @mdehoon

Make MMCIF2Dict more robust (#3093)
  Bio/PDB/MMCIF2Dict.py
  Tests/test_PDB_MMCIF2Dict.py
Owners: @joaorodrigues, @lennax

Pass version as parameter to Tutorial.tex (#3030)
  .gitignore
  Doc/Makefile
  Doc/Tutorial.tex
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_quick_start.tex
  Doc/Tutorial/chapter_searchio.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seqio.tex
  Doc/version.in
Owners: none

Apply black style to test_seq.py, version 19.10b0.
  Tests/test_seq.py
Owners: @peterjc

Cosmetic change, disable black format on line, as it splits it on the dots.
  Tests/test_seq.py
Owners: @peterjc

removed alphabets
  Tests/test_SeqIO.py
Owners: @peterjc

Apply black to test_NACCESS_tool.py
  Tests/test_NACCESS_tool.py
Owners: none

Use assertGreater() on test_Affy.py (flake8 A500)
  Tests/test_Affy.py
Owners: none

Apply black styling to test_Affy.py
  Tests/test_Affy.py
Owners: none

Apply black styling to test_Affy.py
  Tests/test_Affy.py
Owners: none

Use assertGreater() on test_Affy.py (flake8 A500)
  Tests/test_Affy.py
Owners: none

removes reference to http://www.columba-db.de/ to close issue #1826
  Doc/Tutorial/chapter_pdb.tex
Owners: none

removes reference to http://www.columba-db.de/ to close issue #1826
  Doc/Tutorial/chapter_pdb.tex
Owners: none

set molecule type where needed
  Tests/test_SeqIO.py
Owners: @peterjc

travis
  Tests/test_SeqIO.py
Owners: @peterjc

removed alphabets
  Bio/FSSP/FSSPTools.py
Owners: none

removed alphabets (#3105)
  Bio/FSSP/FSSPTools.py
Owners: none

Apply black styling to test_PDB_MMCIFParser.py
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Remove unused imports.
  Bio/Pathway/__init__.py
Owners: none

Remove an unused exception object variable.
  Bio/Statistics/lowess.py
Owners: none

Add myself to NEWS.
  NEWS.rst
Owners: none

Hook up NovoalignCommandline to the API doc build.
  Bio/Sequencing/Applications/__init__.py
Owners: none

Apply black styling to test_PDB_MMCIFParser.py
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Apply black styling to test_SeqIO_write.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

removed alphabets
  Bio/Align/AlignInfo.py
  Tests/test_AlignIO.py
  Tests/test_align.py
Owners: @peterjc

travis
  Bio/Align/AlignInfo.py
Owners: @peterjc

Apply black to Tests/test_DSSP_tool.py and Tests/test_FSSP.py
  Tests/test_DSSP_tool.py
  Tests/test_FSSP.py
Owners: none

also remove alphabet from test_AlignInfo.py
  Tests/test_AlignInfo.py
Owners: none

Apply black styling to test_SeqIO_write.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

Apply black to Tests/test_DSSP_tool.py and Tests/test_FSSP.py
  Tests/test_DSSP_tool.py
  Tests/test_FSSP.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
