Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Automatically download the Gck test files.
  .gitignore
  MANIFEST.in
  Tests/test_SeqIO_Gck.py
Owners: @peterjc

Update NEWS file.
  NEWS.rst
Owners: none

Document snapgene,gck mono-sequence nature.
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

Add more test cases.
  Tests/test_SeqIO_SnapGene.py
Owners: @peterjc

Test the GckIO module against an artificial sample.
  Tests/Gck/README
  Tests/Gck/artificial.gck
  Tests/test_SeqIO_Gck.py
Owners: @peterjc

added myself to contributors
  NEWS.rst
Owners: none

Support residue insertion codes in SeqIO.PdbIO (#2215)
  Bio/SeqIO/PdbIO.py
  CONTRIB.rst
  NEWS.rst
  Tests/PDB/2n0n_M1.pdb
  Tests/test_SeqIO_PdbIO.py
Owners: @peterjc

treat chains correctly
  Bio/PDB/mmtf/mmtfio.py
Owners: none

Basic MMTF writer
  Bio/PDB/mmtf/__init__.py
  Bio/PDB/mmtf/mmtfio.py
Owners: none

document writing MMTF files
  Doc/Tutorial/chapter_pdb.tex
Owners: none

fix bulder typo
  Bio/PDB/mmtf/DefaultParser.py
  Bio/PDB/mmtf/__init__.py
Owners: none

add selectors to counts
  Bio/PDB/mmtf/mmtfio.py
Owners: none

renumber empty atom serials
  Bio/PDB/mmtf/mmtfio.py
Owners: none

count chains across all models
  Bio/PDB/mmtf/mmtfio.py
Owners: none

add Harry to contributors
  CONTRIB.rst
Owners: none

StructureIO base class for file writers
  Bio/PDB/PDBIO.py
  Bio/PDB/mmcifio.py
  Bio/PDB/mmtf/mmtfio.py
Owners: @joaorodrigues, @lennax

fix refs broken due to docs rearrangement
  Doc/Tutorial/chapter_pdb.tex
Owners: none

fix dictionary properties
  Bio/PDB/mmtf/mmtfio.py
  Doc/Tutorial/chapter_pdb.tex
Owners: none

correct types for missing entities
  Bio/PDB/mmtf/mmtfio.py
Owners: none

write sequence, increment chain ID
  Bio/PDB/mmtf/mmtfio.py
Owners: none

flake8 fixes
  Bio/PDB/mmtf/__init__.py
  Bio/PDB/mmtf/mmtfio.py
Owners: none

tests for MMTF file writing
  Bio/PDB/mmtf/mmtfio.py
  Tests/test_mmtf.py
Owners: none

add news entry
  NEWS.rst
Owners: none

more flake8 fixes
  Bio/PDB/mmtf/DefaultParser.py
  Tests/test_mmtf.py
Owners: none

fix line length
  NEWS.rst
Owners: none

Fixed typo
  .flake8
Owners: none

Document where flake8 PIE781 comes from
  .flake8
Owners: none

Support multiple AD affiliation lines in Medline parser
  Bio/Medline/__init__.py
Owners: none

Support multiple AD affiliation lines in Medline parser
  Bio/Medline/__init__.py
Owners: none

REBASE version 908 (August 2019)
  Bio/Restriction/Restriction_Dictionary.py
  NEWS.rst
Owners: none

Adjust ranacompiler.py to output using double quotes
  Scripts/Restriction/ranacompiler.py
Owners: none

Run unify on auto-generated Restriction_Dictionary.py
  Bio/Restriction/Restriction_Dictionary.py
Owners: none

Fix deprecation warning for is_palindrom (no e)
  Scripts/Restriction/ranacompiler.py
Owners: none

Remove unused Lyx file, keep LaTeX only
  Doc/biopdb_faq.lyx
Owners: none

Remove pinning of pydocstyle
  .travis-tox.ini
Owners: none

oops syntax
  Bio/Medline/__init__.py
Owners: none

Update medline test to support multiple affiliations
  Tests/test_Medline.py
Owners: none

Support multiple AD affiliation lines in Medline parser (#2228)
  Bio/Medline/__init__.py
  Tests/test_Medline.py
Owners: none

fix clustercentroids
  Bio/Cluster/__init__.py
  Bio/Cluster/clustermodule.c
Owners: @mdehoon

Ordering the entries to easy future deprecations.
  DEPRECATED.rst
Owners: none
