Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Fix subtle/confusing implicit string literal concatenation
  Bio/motifs/transfac.py
Owners: @mdehoon

Use flake8-implicit-str-concat on TravisCI
  .travis-tox.ini
  CONTRIBUTING.rst
Owners: none

Fix string concatenation style in Tests/
  Tests/run_tests.py
  Tests/search_tests_common.py
  Tests/seq_tests_common.py
  Tests/test_AlignIO_FastaIO.py
  Tests/test_GenBank.py
  Tests/test_GenomeDiagram.py
  Tests/test_Nexus.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_SeqIO_PdbIO.py
  Tests/test_SeqRecord.py
  Tests/test_Uniprot.py
  Tests/test_cellosaurus.py
  Tests/test_phenotype.py
  Tests/test_seq.py
Owners: @peterjc, @widdowquinn, @joaorodrigues, @lennax

Avoid slash line continuation with split strings
  Bio/Application/__init__.py
  Bio/SearchIO/_utils.py
Owners: @bow

Ran black version 19.3b0 on BioSQL
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  BioSQL/Loader.py
Owners: none

Missed this during a rebase
  Bio/SearchIO/BlastIO/blast_xml.py
Owners: none

Fix implicit string concatenation; pointless r-prefixes
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  BioSQL/DBUtils.py
  BioSQL/Loader.py
Owners: none

Avoid needless plus operators for string concatenation
  Bio/GenBank/__init__.py
  Bio/HMM/MarkovModel.py
  Bio/KEGG/KGML/KGML_parser.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/MarkovModel.py
  Bio/SeqIO/QualityIO.py
  Bio/motifs/meme.py
  Bio/pairwise2.py
  Bio/phenotype/phen_micro.py
Owners: @peterjc, @mdehoon

Remove redundant but deliberate string concatenation
  Tests/test_SeqIO_features.py
Owners: @peterjc

Apply black style to Bio.Restriction (#2356)
  Bio/Restriction/PrintFormat.py
  Bio/Restriction/Restriction.py
  Bio/Restriction/Restriction_Dictionary.py
  Scripts/Restriction/ranacompiler.py
Owners: none

Deprecate Bio.Crystal
  Bio/Crystal/__init__.py
  DEPRECATED.rst
  Tests/test_Crystal.py
Owners: none

Avoid slash line continuation within string literals
  Scripts/Restriction/ranacompiler.py
Owners: none

Dual license Bio/Phylo/PAML/__init__.py
  Bio/Phylo/PAML/__init__.py
Owners: none

Dual license Bio/Phylo/PAML/_paml.py
  Bio/Phylo/PAML/_paml.py
Owners: none

Dual license Bio/Phylo/PAML/_parse_baseml.py
  Bio/Phylo/PAML/_parse_baseml.py
Owners: none

Dual license Bio/Phylo/PAML/_parse_codeml.py
  Bio/Phylo/PAML/_parse_codeml.py
Owners: none

Dual license Bio/Phylo/PAML/_parse_yn00.py
  Bio/Phylo/PAML/_parse_yn00.py
Owners: none

Dual license Bio/Phylo/PAML/baseml.py
  Bio/Phylo/PAML/baseml.py
Owners: none

Dual license Bio/Phylo/PAML/codeml.py
  Bio/Phylo/PAML/codeml.py
Owners: none

Dual license Bio/Phylo/PAML/yn00.py
  Bio/Phylo/PAML/yn00.py
Owners: none

Dual license Bio/Phylo/PAML/chi2.py
  Bio/Phylo/PAML/chi2.py
Owners: none

Remove redundant brackets
  Scripts/GenBank/check_output.py
Owners: none

Ran black, version 19.3b0, on Scripts/
  Scripts/GenBank/check_output.py
  Scripts/PDB/generate_three_to_one_dict.py
  Scripts/Performance/biosql_performance_load.py
  Scripts/Performance/biosql_performance_read.py
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
  Scripts/SeqGui/SeqGui.py
  Scripts/debug/debug_blast_parser.py
  Scripts/query_pubmed.py
  Scripts/scop_pdb.py
  Scripts/update_ncbi_codon_table.py
  Scripts/xbbtools/nextorf.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_blastbg.py
  Scripts/xbbtools/xbb_help.py
  Scripts/xbbtools/xbb_search.py
  Scripts/xbbtools/xbb_translations.py
  Scripts/xbbtools/xbb_widget.py
Owners: none

Post-black Scripts/ style cleanup (some are older issues)
  Scripts/Restriction/ranacompiler.py
  Scripts/debug/debug_blast_parser.py
  Scripts/scop_pdb.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_blastbg.py
Owners: none

Dual license Bio/Phylo/PAML/yn00.py
  Bio/Phylo/PAML/yn00.py
Owners: none

Dual license Bio/Phylo/PAML/__init__.py
  Bio/Phylo/PAML/__init__.py
Owners: none

Dual license Bio/Phylo/PAML/_paml.py
  Bio/Phylo/PAML/_paml.py
Owners: none

Dual license Bio/Phylo/PAML/chi2.py
  Bio/Phylo/PAML/chi2.py
Owners: none

Dual license Bio/Phylo/PAML/_parse_yn00.py
  Bio/Phylo/PAML/_parse_yn00.py
Owners: none

Dual license Bio/Phylo/PAML/_parse_baseml.py
  Bio/Phylo/PAML/_parse_baseml.py
Owners: none

Dual license Bio/Phylo/PAML/_parse_codeml.py
  Bio/Phylo/PAML/_parse_codeml.py
Owners: none

Dual license Bio/Phylo/PAML/baseml.py
  Bio/Phylo/PAML/baseml.py
Owners: none

Dual license Bio/Phylo/PAML/codeml.py
  Bio/Phylo/PAML/codeml.py
Owners: none

Dual license Bio/Phylo/CDAOIO.py
  Bio/Phylo/CDAOIO.py
Owners: @etal

dual license Bio/Phylo/Newick.py
  Bio/Phylo/Newick.py
Owners: @etal

Dual license Bio/Phylo/PhyloXML.py
  Bio/Phylo/PhyloXML.py
Owners: @etal

Dual license Bio/Phylo/NeXML.py
  Bio/Phylo/NeXML.py
Owners: @etal

Dual license Bio/Phylo/_utils.py
  Bio/Phylo/_utils.py
Owners: @etal

Dual license Bio/Phylo/NexusIO.py
  Bio/Phylo/NexusIO.py
Owners: @etal

Dual license Bio/Phylo/TreeConstruction.py
  Bio/Phylo/TreeConstruction.py
Owners: @etal
