Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Dual license Bio/Phylo/__init__.py
  Bio/Phylo/__init__.py
Owners: @etal

dual license Bio/Phylo/_cdao_owl.py
  Bio/Phylo/_cdao_owl.py
Owners: @etal

Dual license Bio/Phylo/Consensus.py
  Bio/Phylo/Consensus.py
Owners: @etal

Dual license Bio/Phylo/BaseTree.py
  Bio/Phylo/BaseTree.py
Owners: @etal

Dual license Bio/Phylo/_io.py
  Bio/Phylo/_io.py
Owners: @etal

Dual license Bio/Phylo/CDAO.py
  Bio/Phylo/CDAO.py
Owners: @etal

Dual license Bio/Phylo/NewickIO.py
  Bio/Phylo/NewickIO.py
Owners: @etal

Update NEWS file
  NEWS.rst
Owners: none

Deprecate Bio.Crystal
  Bio/Crystal/__init__.py
  DEPRECATED.rst
  Tests/test_Crystal.py
Owners: none

replaced DOM parser by SAX parser
  Bio/SeqIO/SeqXmlIO.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

Parse multiline structured comments in GenBank files
  Bio/GenBank/Scanner.py
  CONTRIB.rst
  Tests/GenBank/GU949562.1.gb
  Tests/test_GenBank.py
Owners: @peterjc

Apply black style to Bio.Phylo. Aligned triple quotes.
  Bio/Phylo/Applications/_Fasttree.py
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
Owners: none

Remove .html and .txt test files
  Tests/motifs/meme.INO_up800.classic.oops.html
  Tests/motifs/meme.INO_up800.classic.oops.txt
  Tests/motifs/meme.adh.classic.oops.html
  Tests/motifs/meme.adh.classic.oops.txt
  Tests/motifs/meme.farntrans5.classic.anr.html
  Tests/motifs/meme.farntrans5.classic.anr.txt
  Tests/motifs/meme.rna.oops.txt
Owners: none

Remove abandoned MEME test files
  Tests/motifs/meme.out
  Tests/motifs/meme_v_4_11_4.txt
Owners: none

apply black formatting to test_PDB
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

apply black formatting to test_PDB_parse_pdb_header
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

remove space from test_PDB name tests
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

add test for multiline PDB title
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Ran black, version 19.3b0, on Scripts/
  Scripts/GenBank/check_output.py
  Scripts/PDB/generate_three_to_one_dict.py
  Scripts/Performance/biosql_performance_load.py
  Scripts/Performance/biosql_performance_read.py
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
  Scripts/SeqGui/SeqGui.py
  Scripts/debug/debug_blast_parser.py
  Scripts/query_pubmed.py
  Scripts/scop_pdb.py
  Scripts/update_ncbi_codon_table.py
  Scripts/xbbtools/nextorf.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_blastbg.py
  Scripts/xbbtools/xbb_help.py
  Scripts/xbbtools/xbb_search.py
  Scripts/xbbtools/xbb_translations.py
  Scripts/xbbtools/xbb_widget.py
Owners: none

Remove redundant brackets
  Scripts/GenBank/check_output.py
Owners: none

Post-black Scripts/ style cleanup (some are older issues)
  Scripts/Restriction/ranacompiler.py
  Scripts/debug/debug_blast_parser.py
  Scripts/scop_pdb.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_blastbg.py
Owners: none

Avoid slash line continuation within string literals
  Scripts/Restriction/ranacompiler.py
Owners: none

Avoid slash line continuation (commented out code)
  BioSQL/Loader.py
Owners: none

fix docstring for _open in Bio.SCOP
  Bio/SCOP/__init__.py
Owners: none

black on test_SeqIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

Fix some divided string literals after black
  Tests/test_SeqIO.py
Owners: @peterjc

Fixed implicit string concatenation after black
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

ran black on SeqIO
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

ran black on AlignIO
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/FastaIO.py
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/PhylipIO.py
  Bio/AlignIO/StockholmIO.py
  Bio/AlignIO/__init__.py
Owners: @peterjc

Fix some divided string literals after black
  Tests/test_SeqIO.py
Owners: @peterjc

Avoid slash line continuation (commented out code)
  BioSQL/Loader.py
Owners: none

black on test_SeqIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

fix docstring for _open in Bio.SCOP (#2370)
  Bio/SCOP/__init__.py
Owners: none

Dual license Bio/Phylo/BaseTree.py
  Bio/Phylo/BaseTree.py
Owners: @etal

Dual license Bio/Phylo/NeXML.py
  Bio/Phylo/NeXML.py
Owners: @etal

Dual license Bio/Phylo/CDAO.py
  Bio/Phylo/CDAO.py
Owners: @etal

Dual license Bio/Phylo/_utils.py
  Bio/Phylo/_utils.py
Owners: @etal

Dual license Bio/Phylo/NexusIO.py
  Bio/Phylo/NexusIO.py
Owners: @etal

Dual license Bio/Phylo/CDAOIO.py
  Bio/Phylo/CDAOIO.py
Owners: @etal

Dual license Bio/Phylo/PhyloXML.py
  Bio/Phylo/PhyloXML.py
Owners: @etal
