Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Removed more writer tests (PDBIO)
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Isolated tests for PDBIO
  Tests/test_PDB_PDBIO.py
Owners: @joaorodrigues, @lennax

Isolated tests for MMCIFIO
  Tests/test_PDB_MMCIFIO.py
Owners: @joaorodrigues, @lennax

Added check to avoid set_structure to conflict with set_dict
  Bio/PDB/mmcifio.py
Owners: @joaorodrigues, @lennax

Removed unused function
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Missed one test before
  Tests/test_PDB_PDBIO.py
Owners: @joaorodrigues, @lennax

Isolated tests for PPBuilder and CaPPBuilder
  Tests/test_PDB_Polypetide.py
Owners: @joaorodrigues, @lennax

More cleanup...
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Shortened conventions section and fixed a few typos in local dev.
  CONTRIBUTING.rst
Owners: none

Replaced mention to flake8 with mention to pre-commit
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Use raise instead of self.skipTest
  Tests/test_PDB_DSSP.py
  Tests/test_PDB_ResidueDepth.py
Owners: @joaorodrigues, @lennax

run doc8 via pre-commit
  .pre-commit-config.yaml
Owners: none

TravisCI: Drop doc8 via Tox; using pre-commit
  .travis-tox.ini
Owners: none

Remove some pre-commit exclusions
  .pre-commit-config.yaml
Owners: none

Include rstcheck in pre-commit
  .pre-commit-config.yaml
Owners: none

TravisCI: Drop rst-lint, using rstcheck via pre-commit
  .travis-tox.ini
Owners: none

TravisCI: Install the pre-commit environments earlier
  .travis.yml
Owners: none

Shortened conventions section and fixed a few typos in local dev.
  CONTRIBUTING.rst
Owners: none

DOC: Explain how to use pre-commit
  CONTRIBUTING.rst
Owners: none

Fix DOI link style
  NEWS.rst
  README.rst
Owners: none

Enforce DOI link style in pre-commit
  .pre-commit-config.yaml
Owners: none

Remove DOI grep from TravisCI Tox (using pre-commit)
  .travis-tox.ini
Owners: none

Use https for URL
  Bio/__init__.py
Owners: none

Minor tweaks to language in comment
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Fixed closing keywords
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Isolated PDBParser tests
  Tests/test_PDB_PDBParser.py
Owners: @joaorodrigues, @lennax

Isolated SMCRA tests
  Tests/test_PDB.py
  Tests/test_PDB_SMCRA.py
Owners: @joaorodrigues, @lennax

Moved header tests to the appropriate file
  Tests/test_PDB_PDBParser.py
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Silenced warnings in a couple of tests with QUIET=1
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_StructureAlignment.py
Owners: @joaorodrigues, @lennax

Commented out time-consuming test
  Tests/test_PDB_ResidueDepth.py
Owners: @joaorodrigues, @lennax

Use https for URL
  Bio/__init__.py
Owners: none

Enforce DOI link style in pre-commit
  .pre-commit-config.yaml
Owners: none

Remove DOI grep from TravisCI Tox (using pre-commit)
  .travis-tox.ini
Owners: none

Fix DOI link style
  NEWS.rst
  README.rst
Owners: none

Add an explicit transform method to DisorderedAtom that propagates transforms to children
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Match comment to actual text.
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Add tests for disordered entities/atoms.
  Tests/PDB/disordered.pdb
  Tests/test_PDB_Disordered.py
Owners: @joaorodrigues, @lennax

Changed language of the PR template to enable auto-linking to issues. (#3209)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Added check to avoid set_structure to conflict with set_dict (#3219)
  Bio/PDB/mmcifio.py
Owners: @joaorodrigues, @lennax

Cope with missing quality scores in ABI parser
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow
