Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Add tests for "pfm-four-columns" and "pfm-four-rows" motif formats.
  Tests/motifs/fourcolumns.pfm
  Tests/motifs/fourrows.pfm
  Tests/test_motifs.py
Owners: @mdehoon

Fix doc comments in Bio.motifs.pfm.
  Bio/motifs/pfm.py
Owners: @mdehoon

Remove unrelevant comment in Bio.motifs.pfm.
  Bio/motifs/pfm.py
Owners: @mdehoon

Fix "FutureWarning: Possible nested set at position" in Bio.motifs.pfm.
  Bio/motifs/pfm.py
Owners: @mdehoon

Add support for pfm-four-rows PWMS with scientific numbers.
  Bio/motifs/pfm.py
Owners: @mdehoon

Updated NEWS: 'pfm-four-rows' scientific notation support.
  NEWS.rst
Owners: none

Generate proper count matrix when reading motifs in minimal MEME format.
  Bio/motifs/minimal.py
  NEWS.rst
Owners: @mdehoon

use PSL convention for qStart, tStart, qEnd, tEnd
  Bio/Align/__init__.py
Owners: @peterjc

use PSL convention for qStart, tStart, qEnd, tEnd (#3503)
  Bio/Align/__init__.py
Owners: @peterjc

fix gap counts in PSL output
  Bio/Align/__init__.py
Owners: @peterjc

fix for plain strings
  Bio/Align/__init__.py
Owners: @peterjc

add tests
  Tests/test_pairwise_aligner.py
Owners: none

travis is an idiot
  Tests/test_pairwise_aligner.py
Owners: none

travis is a jerk
  Tests/test_pairwise_aligner.py
Owners: none

fix gap counts in PSL output (#3504)
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

fix float printout
  Bio/pairwise2.py
Owners: none

make sure the pairwise2 tests are run correctly
  Tests/test_pairwise2_no_C.py
Owners: none

fix typo
  Tests/test_pairwise2_no_C.py
Owners: none

use float
  Bio/pairwise2.py
Owners: none

fix float printout (#3506)
  Bio/pairwise2.py
  Tests/test_pairwise2_no_C.py
Owners: none

use bytes when checking for wildcard
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

travis, who else
  Tests/test_pairwise_aligner.py
Owners: none

travis still bothering me
  Tests/test_pairwise_aligner.py
Owners: none

travis this is all your fault
  Tests/test_pairwise_aligner.py
Owners: none

In PSL output, use bytes when checking for wildcard (#3508)
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Update __init__.py
  Bio/Align/__init__.py
Owners: @peterjc

fix Entrez doctest
  Doc/Tutorial/chapter_entrez.tex
Owners: none

fix ExPASy.get_prosite_raw for invalid queries
  Bio/ExPASy/__init__.py
Owners: none

fix Entrez doctest (#3510)
  Doc/Tutorial/chapter_entrez.tex
Owners: none

the little brat is whining again
  Bio/ExPASy/__init__.py
Owners: none

fix ExPASy.get_prosite_raw for invalid queries (#3511)
  Bio/ExPASy/__init__.py
Owners: none

UniProt GOA Added parser for GPI version 1.2 (#3290)
  Bio/UniProt/GOA.py
  NEWS.rst
  Tests/UniProt/goa_human_sample.gpi
  Tests/test_UniProt_GOA.py
Owners: none

add BED output
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

add BED output (#3515)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

add SAM output
  Bio/Align/__init__.py
  Doc/Tutorial.tex
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

fix doi
  Doc/Tutorial.tex
Owners: none

add SAM output to the pairwise aligner (#3518)
  Bio/Align/__init__.py
  Doc/Tutorial.tex
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

include strand in score
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
Owners: @peterjc, @mdehoon

reverse_complement
  Bio/Align/_aligners.c
  Tests/test_pairwise_aligner.py
Owners: @mdehoon

release buffer
  Bio/Align/_aligners.c
Owners: @mdehoon

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
