Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Apply black style to Bio.Medline.
  Bio/Medline/__init__.py
Owners: none

Remove redundant slash line continuation and str +
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seqio.tex
Owners: none

Fix closing bracket on pair-tuples
  Doc/Tutorial/chapter_popgen.tex
Owners: none

Avoid python snippet which alone is not valid syntax
  Doc/Tutorial/chapter_advanced.tex
Owners: none

Fix missing comma
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Fix some python snippets to be valid syntax
  Doc/Tutorial/chapter_advanced.tex
Owners: none

Fix missing semi-colon
  Doc/Tutorial/chapter_seqio.tex
Owners: none

Missing closing bracket
  Doc/Tutorial/chapter_cluster.tex
Owners: none

Apply black to the tutorial python snippets
  Doc/Tutorial/chapter_advanced.tex
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_appendix.tex
  Doc/Tutorial/chapter_cluster.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_graphics.tex
  Doc/Tutorial/chapter_kegg.tex
  Doc/Tutorial/chapter_phylo.tex
  Doc/Tutorial/chapter_popgen.tex
  Doc/Tutorial/chapter_quick_start.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seqio.tex
  Doc/Tutorial/chapter_testing.tex
Owners: none

Fix quotes in python snippet
  Doc/Tutorial/chapter_testing.tex
Owners: none

Rewrite dict to put ... as a comment
  Doc/Tutorial/chapter_align.tex
Owners: none

Apply black style to Bio.Medline.
  Bio/Medline/__init__.py
Owners: none

Apply black style to Bio.KEGG.
  Bio/KEGG/Compound/__init__.py
  Bio/KEGG/Enzyme/__init__.py
  Bio/KEGG/Gene/__init__.py
  Bio/KEGG/KGML/KGML_parser.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/KEGG/REST.py
Owners: none

rewrite error message with %s formatting and removed redundant parentheses.
  Bio/Nexus/StandardData.py
  Bio/Nexus/Trees.py
Owners: none

rewrite error message with %s formatting and removed redundant parentheses.
  Bio/Nexus/StandardData.py
  Bio/Nexus/Trees.py
Owners: none

Fixed D202 caused by black style, and D413.
  Bio/Nexus/Nexus.py
  Bio/Nexus/Trees.py
Owners: none

Apply black style to Bio.Nexus.
  Bio/Nexus/Nexus.py
  Bio/Nexus/StandardData.py
  Bio/Nexus/Trees.py
Owners: none

Apply black style to Bio.KDTree.
  Bio/KDTree/KDTree.py
  Bio/KDTree/__init__.py
Owners: none

Apply black style to Bio.HMM.
  Bio/HMM/DynamicProgramming.py
  Bio/HMM/MarkovModel.py
  Bio/HMM/Trainer.py
  Bio/HMM/Utilities.py
Owners: none

Apply black style to Test/test_KDTree.py.
  Tests/test_KDTree.py
Owners: none

Apply black style to Test/test_KDTree.py.
  Tests/test_KDTree.py
Owners: none

Apply black style to Bio.KDTree.
  Bio/KDTree/KDTree.py
  Bio/KDTree/__init__.py
Owners: none

Avoid UndoHandle in SearchIO FastaIO (#2380)
  Bio/SearchIO/FastaIO.py
Owners: @bow

Apply black style to Bio.KEGG.
  Bio/KEGG/Compound/__init__.py
  Bio/KEGG/Enzyme/__init__.py
  Bio/KEGG/Gene/__init__.py
  Bio/KEGG/KGML/KGML_parser.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/KEGG/REST.py
Owners: none

update faq for writing mmCIF files
  Doc/biopdb_faq.tex
Owners: none

update pdb faq for internal_coords
  Doc/biopdb_faq.tex
Owners: none

update tutorial chapter pdb for internal_coords
  Doc/Tutorial/chapter_pdb.tex
Owners: none

update copyright date for Docs
  Doc/api/conf.py
Owners: none

travis
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

fix the file access issue on Windows
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Avoid UndoHandles by catching errors in the parser
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/PDBParser.py
  Bio/SeqIO/PdbIO.py
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax, @peterjc

use signed char for mapping
  Bio/Align/_aligners.c
Owners: @mdehoon

debugging for pypy3
  Tests/test_pairwise_aligner.py
Owners: none

debugging for pypy3
  Tests/test_pairwise_aligner.py
Owners: none

debugging for pypy3
  Tests/test_pairwise_aligner.py
Owners: none

get back to this after python2 is dropped
  Bio/Align/_aligners.c
  Tests/test_pairwise_aligner.py
Owners: @mdehoon

missed one 128
  Bio/Align/_aligners.c
Owners: @mdehoon

use signed char for mapping (#2402)
  Bio/Align/_aligners.c
Owners: @mdehoon

Fix Bio.Cluster._cluster doctests
  Bio/Cluster/clustermodule.c
  CONTRIB.rst
  NEWS.rst
Owners: @mdehoon

Removed PEP ISC001 and 413.
  Bio/HMM/MarkovModel.py
  Bio/HMM/Trainer.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
