Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

fix the URL of PDF Tutorial
  Bio/Seq.py
Owners: @peterjc

bytes in Seq
  Bio/Seq.py
  BioSQL/BioSeq.py
Owners: @peterjc

use bytes in Seq
  Bio/Seq.py
  Tests/test_seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

added some tests
  Bio/Seq.py
  Tests/test_seq.py
Owners: @peterjc

flake is wasting my time
  Tests/test_seq.py
Owners: @peterjc

black is wasting my time
  Tests/test_seq.py
Owners: @peterjc

use a single loop to allow iterators"
  Bio/motifs/__init__.py
Owners: @mdehoon

use a single loop to allow iterators" (#3334)
  Bio/motifs/__init__.py
Owners: @mdehoon

set directory only once
  Bio/Entrez/Parser.py
Owners: @mdehoon

use a class attribute"
  Bio/Entrez/Parser.py
  Tests/test_Entrez.py
Owners: @mdehoon

travis
  Bio/Entrez/Parser.py
Owners: @mdehoon

travis
  Bio/Entrez/Parser.py
Owners: @mdehoon

travis being a
  Bio/Entrez/Parser.py
Owners: @mdehoon

more silly stuff from travis
  Tests/test_Entrez.py
Owners: @mdehoon

Entrez directory (#3336)
  Bio/Entrez/Parser.py
  Tests/test_Entrez.py
Owners: @mdehoon

better support for unicode strings
  Bio/Align/_aligners.c
  Tests/test_pairwise_aligner.py
Owners: @mdehoon

travis
  Tests/test_pairwise_aligner.py
Owners: none

better support for unicode strings (#3338)
  Bio/Align/_aligners.c
  Tests/test_pairwise_aligner.py
Owners: @mdehoon

add tests for undefined 'X' characters
  Tests/test_pairwise_aligner.py
Owners: none

travis
  Tests/test_pairwise_aligner.py
Owners: none

travis
  Tests/test_pairwise_aligner.py
Owners: none

add tests for undefined 'X' characters (#3339)
  Tests/test_pairwise_aligner.py
Owners: none

Fix stray minus sign in RST markup
  NEWS.rst
Owners: none

Remove deprecated Bio.Crystal module.
  Bio/Crystal/__init__.py
  DEPRECATED.rst
  Tests/test_Crystal.py
  setup.py
Owners: none

Remove deprecated Bio.Statistics module.
  Bio/Statistics/__init__.py
  Bio/Statistics/lowess.py
  DEPRECATED.rst
  Tests/run_tests.py
  Tests/test_lowess.py
  setup.py
Owners: none

Don't try to make ragged arrays
  Tests/test_MarkovModel.py
Owners: none

Remove deprecated alignment format methods
  Bio/Align/__init__.py
  DEPRECATED.rst
Owners: @peterjc

Update doctest
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

Add files via upload
  Bio/Phylo/Applications/_MrBayes.py
Owners: none

Update doctest
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

Remove deprecated Bio.Crystal module.
  Bio/Crystal/__init__.py
  DEPRECATED.rst
  Tests/test_Crystal.py
  setup.py
Owners: none

Remove deprecated Bio.Statistics module.
  Bio/Statistics/__init__.py
  Bio/Statistics/lowess.py
  DEPRECATED.rst
  Tests/run_tests.py
  Tests/test_lowess.py
  setup.py
Owners: none

Don't try to make ragged arrays
  Tests/test_MarkovModel.py
Owners: none

Remove deprecated alignment format methods
  Bio/Align/__init__.py
  DEPRECATED.rst
Owners: @peterjc

fix seqxml writer
  Bio/SeqIO/SeqXmlIO.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

NumPy docs do not recommend using S/a here
  Doc/Tutorial/chapter_align.tex
Owners: none

travis
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
