Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

clean up NCaCKey sorts, docstring tweaks
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

fix copyright years to 2019
  Doc/api/conf.py
Owners: none

add enumerate to generate atom serial numbers for cif files; code cleaning and black reformatting
  Bio/PDB/PICIO.py
Owners: @joaorodrigues, @lennax

sort NCaCKeys to stabilise writeSCAD unittest; improve docstrings; black reformatting
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

add .internal_coord as permanent property, move atom_to_internal_coordinates to SMCR classes
  Bio/PDB/Chain.py
  Bio/PDB/Model.py
  Bio/PDB/PICIO.py
  Bio/PDB/Residue.py
  Bio/PDB/SCADIO.py
  Bio/PDB/Structure.py
  Bio/PDB/ic_classes.py
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

changes to peptide.scad for movable polypeptide development; change .pic to .internal_coord
  Bio/PDB/SCADIO.py
Owners: @joaorodrigues, @lennax

update test for sorted NCaCKey resolution to instability
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

add Tutorial doc for internal_coords
  Doc/Tutorial/chapter_pdb.tex
Owners: none

docstring tweaks
  Bio/PDB/PICIO.py
Owners: @joaorodrigues, @lennax

initial docs for internal_coords
  Doc/biopdb_faq.tex
Owners: none

fix extra space added at beginning of TITLE
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

change pic names to ic/internal_coord except for PIC output file format
  Bio/PDB/PICIO.py
  Bio/PDB/ic_data.py
  Bio/PDB/ic_rebuild.py
  Bio/PDB/internal_coords.py
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

fix OpenSCAD output disordered residues not scaled, altloc atoms missing transform; formatting; comments
  Bio/PDB/SCADIO.py
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

more tweaks to make gly c-beta work with scad output
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

formatting
  Bio/PDB/PICIO.py
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

more docstring on 3D printing a model
  Bio/PDB/SCADIO.py
Owners: @joaorodrigues, @lennax

resolve travis issues
  Bio/PDB/SCADIO.py
  Bio/PDB/internal_coords.py
  Bio/PDB/vectors.py
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

loosen numerical stringency due to sorting issues early python versions
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

fix python2 compatibility issues
  Bio/PDB/ic_rebuild.py
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

hack to deal with black vs. flake8 issue
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

fixed missing atoms cause partial dihedron, so some hedra not updated
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

try different test subject for write_SCAD
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

changes to attributes to make rst compatible
  Bio/Align/Applications/_Dialign.py
  Bio/Blast/Applications.py
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
  Bio/Sequencing/Applications/_bwa.py
  CONTRIB.rst
Owners: none

removed extraneous escape characters from docstrings #2220
  Bio/Blast/Applications.py
Owners: none

removed extraneous escape and whitespace characters from docstrings #2220
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
  Bio/Sequencing/Applications/_bwa.py
Owners: none

Apply black style to Bio.SearchIO.
  Bio/SearchIO/BlastIO/__init__.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_text.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/__init__.py
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/ExonerateIO/exonerate_cigar.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/HmmerIO/__init__.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_domtab.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SearchIO/InterproscanIO/__init__.py
  Bio/SearchIO/InterproscanIO/interproscan_xml.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SearchIO/_legacy/ParserSupport.py
  Bio/SearchIO/_model/__init__.py
  Bio/SearchIO/_model/_base.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Bio/SearchIO/_utils.py
Owners: @bow

Fix flake8 issue with black style.D202 No blank lines allowed after function docstring
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_utils.py
Owners: @bow

Black style, added a comment to stop black adding an empty line that raises flake8 D202.
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_utils.py
Owners: @bow

Apply black style to Bio.SCOP.
  Bio/SCOP/Cla.py
  Bio/SCOP/Hie.py
  Bio/SCOP/Raf.py
  Bio/SCOP/Residues.py
  Bio/SCOP/__init__.py
Owners: none

Apply black style to Bio.SCOP. Black off on long lists.
  Bio/SCOP/__init__.py
Owners: none

Add function to convert strand (+/-)
  Bio/motifs/meme.py
Owners: @mdehoon

Fix stand for MEME test case 3
  Tests/test_motifs.py
Owners: @mdehoon

Update MEME test case 3 with XML file
  Tests/motifs/meme.INO_up800.classic.oops.html
  Tests/motifs/meme.INO_up800.classic.oops.txt
  Tests/motifs/meme.INO_up800.classic.oops.xml
  Tests/test_motifs.py
Owners: @mdehoon

Remove abandoned MEME test files
  Tests/motifs/meme.dna.oops.txt
  Tests/motifs/meme.protein.oops.txt
Owners: none

Minor formatting fixes
  Bio/motifs/meme.py
Owners: @mdehoon

Update MEME test case 4 with XML file
  Tests/motifs/meme.farntrans5.classic.anr.html
  Tests/motifs/meme.farntrans5.classic.anr.txt
  Tests/motifs/meme.farntrans5.classic.anr.xml
  Tests/test_motifs.py
Owners: @mdehoon

Remove MEME tests 1, 4, 4_11_4, RNA
  Tests/test_motifs.py
Owners: @mdehoon

Update docstring examples
  Bio/motifs/meme.py
Owners: @mdehoon

prevent attributes and methods being shown twice
  Doc/api/conf.py
Owners: none

Fix docstring styling
  Bio/motifs/meme.py
Owners: @mdehoon
