Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Update pre-commit settings for doc8 (Windows line endings) (#3251)
  .gitattributes
  .pre-commit-config.yaml
  NEWS.rst
Owners: none

Udate pre-commit to v3.2.0
  .pre-commit-config.yaml
Owners: none

Closes #2982.
  Bio/AlignIO/StockholmIO.py
  CONTRIB.rst
Owners: @peterjc

Updated Stockholm.py empty annotation handling
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

Added blank OS in #GS line.
  Tests/Stockholm/funny.sth
Owners: none

Udate pre-commit to v3.2.0
  .pre-commit-config.yaml
Owners: none

Revert binary mode assumption in NeXMLIO
  Bio/Phylo/NeXMLIO.py
Owners: @etal

Test Bio.Phylo.write with NeXML and filename
  Tests/test_Phylo_NeXML.py
Owners: @etal

Ready for Biopython 1.78
  Bio/__init__.py
  NEWS.rst
Owners: none

Update funny.sth
  Tests/Stockholm/funny.sth
Owners: none

post biopython 1.78 version bump
  Bio/__init__.py
  NEWS.rst
Owners: none

Restore closing quote
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

Cope with missing free text on Stockholm GS lines (#3252)
  Bio/AlignIO/StockholmIO.py
  CONTRIB.rst
  Tests/Stockholm/funny.sth
Owners: @peterjc

Implement `makeblastdb -blastdb_version` flag (#2987)
  Bio/Blast/Applications.py
  Tests/test_NCBI_BLAST_tools.py
Owners: none

black
  Tests/test_NCBI_BLAST_tools.py
Owners: none

Added alias for numpy import.
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Added center_of_mass method to Entity
  Bio/PDB/Entity.py
Owners: @joaorodrigues, @lennax

Added specific center_of_mass method to DisorderedAtom
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Added tests for center_of_mass() methods
  Tests/test_PDB_SMCRA.py
Owners: @joaorodrigues, @lennax

allow T in complement_rna
  Bio/Seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

allow T in complement_rna (#3258)
  Bio/Seq.py
Owners: @peterjc

Added fastsort to replace sort() in cluster.c; 2x performance
  Bio/Cluster/cluster.c
  Bio/Cluster/mysort.h
Owners: @mdehoon

Replaces tiny mistake to conform with PEP7 C dialect
  Bio/Cluster/mysort.h
Owners: @mdehoon

Changed parameter name.
  Bio/PDB/Atom.py
  Bio/PDB/Entity.py
  Tests/test_PDB_SMCRA.py
Owners: @joaorodrigues, @lennax

Updated news.
  NEWS.rst
Owners: none

Removed unreachable if-branch. Thanks @peterjc!
  Bio/PDB/Entity.py
Owners: @joaorodrigues, @lennax

updated tests to increase coverage
  Tests/test_PDB_SMCRA.py
Owners: @joaorodrigues, @lennax

Set element to 'X' for unknown/ambiguous cases. (#3250)
  Bio/PDB/Atom.py
  NEWS.rst
  Tests/test_PDB_SMCRA.py
Owners: @joaorodrigues, @lennax

Removed geometric keyword from DisorderedAtom method. Should never be necessary.
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Divided and updated tests.
  Tests/test_PDB_Disordered.py
  Tests/test_PDB_SMCRA.py
Owners: @joaorodrigues, @lennax

Removed element check from PDBIO to enforce only the format, not the content.
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Change INF to INT_MAX
  Bio/Cluster/mysort.h
Owners: @mdehoon

Changed median functions to static inline int (from inline int)
  Bio/Cluster/mysort.h
Owners: @mdehoon

Changed some functions into static
  Bio/Cluster/mysort.h
Owners: @mdehoon

Put content of file mysort.h into cluster.c; change 2 main sort functions to static void (from void)
  Bio/Cluster/cluster.c
  Bio/Cluster/mysort.h
Owners: @mdehoon

Revert "Removed element check from PDBIO to enforce only the format, not the content."
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Extended existing check to account for X.
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Added two tests to check element writing from PDBIO
  Tests/test_PDB_PDBIO.py
Owners: @joaorodrigues, @lennax

Extend atom element check in PDBIO (#3262)
  Bio/PDB/PDBIO.py
  Tests/test_PDB_PDBIO.py
Owners: @joaorodrigues, @lennax
