Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

No space pdb title (#2364)
  Bio/PDB/parse_pdb_header.py
  Tests/test_PDB.py
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

add negative control test, update to MMCIFParser changes
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

no float option for update_header_entry
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

make header processing more efficient and like PDBparser
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

Thank Rob in NEWS file
  NEWS.rst
Owners: none

make MMCIFParser create minimal header info like PDB
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

change return to break
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

add test for header populated from mmCIF file; black formatting
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Import StringIO from io instead of py3k.
  Tests/test_PQR.py
Owners: none

Rob's work ended up being merged after 1.76
  NEWS.rst
Owners: none

Changed all _as_string to decodes
  Bio/Blast/NCBIWWW.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/PDB/PDBList.py
  Bio/_py3k/__init__.py
  Bio/bgzf.py
  Tests/test_bgzf.py
Owners: @joaorodrigues, @lennax, @peterjc

Remove as_bytes
  Bio/Blast/NCBIWWW.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SeqIO/SffIO.py
  Bio/SeqUtils/CheckSum.py
  Bio/TogoWS/__init__.py
  Bio/_py3k/__init__.py
  Bio/bgzf.py
  Tests/search_tests_common.py
  Tests/test_bgzf.py
Owners: @bow, @peterjc

Move codecs import to top
  Bio/bgzf.py
Owners: @peterjc

replace fprintf by PySys_WriteStderr
  Bio/PDB/QCPSuperimposer/qcprotmodule.c
Owners: none

qcprotmodule python3
  Bio/PDB/QCPSuperimposer/qcprotmodule.c
Owners: none

Fix urllib urlencode import
  Bio/SCOP/__init__.py
  Bio/motifs/__init__.py
Owners: @mdehoon

NCBI table 32 did change... but not as expected
  Tests/test_CodonTable.py
Owners: none

no alphapets
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

no alphapets (#2509)
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

moving UndoHandle to Bio.SearchIO._legacy.ParserSupport
  Bio/File.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SearchIO/_legacy/ParserSupport.py
  Tests/test_File.py
  Tests/test_SearchIO_legacy.py
Owners: @bow

put an UndoHandle stub in Bio.File and added a deprecation warning
  Bio/File.py
  DEPRECATED.rst
Owners: none

exception instead of warning
  Bio/File.py
Owners: none

Fix urllib urlencode import
  Bio/SCOP/__init__.py
  Bio/motifs/__init__.py
Owners: @mdehoon

Use assertEqual over deprecated assertEquals
  Tests/test_AlignIO.py
  Tests/test_Entrez_online.py
  Tests/test_MafIO_index.py
  Tests/test_cellosaurus.py
Owners: @peterjc, @mdehoon

Remove as_bytes
  Bio/Blast/NCBIWWW.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SeqIO/SffIO.py
  Bio/SeqUtils/CheckSum.py
  Bio/TogoWS/__init__.py
  Bio/_py3k/__init__.py
  Bio/bgzf.py
  Tests/search_tests_common.py
  Tests/test_bgzf.py
Owners: @bow, @peterjc

Move codecs import to top
  Bio/bgzf.py
Owners: @peterjc

Changed all _as_string to decodes
  Bio/Blast/NCBIWWW.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/PDB/PDBList.py
  Bio/_py3k/__init__.py
  Bio/bgzf.py
  Tests/test_bgzf.py
Owners: @joaorodrigues, @lennax, @peterjc

Cleanup Bio/_py3k/__init__.py
  Bio/_py3k/__init__.py
Owners: none

Cleanup Bio/_py3k/__init__.py
  Bio/_py3k/__init__.py
Owners: none

moving UndoHandle, second attempt
  Bio/File.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SearchIO/_legacy/ParserSupport.py
  DEPRECATED.rst
  Tests/test_File.py
  Tests/test_SearchIO_legacy.py
Owners: @bow

travis
  Bio/SearchIO/_legacy/ParserSupport.py
Owners: none

more python3 updates
  Bio/Entrez/Parser.py
Owners: @mdehoon

more python3 updates (#2515)
  Bio/Entrez/Parser.py
Owners: @mdehoon

removing a hack for a bug that was fixed in 2005 for Python 2.5 - see Python bug tracker issue 1378305
  Bio/motifs/matrix.py
Owners: @mdehoon

removing a hack for a bug that was fixed in 2005 for Python 2.5 - see Python bug tracker issue 1378305 (#2516)
  Bio/motifs/matrix.py
Owners: @mdehoon

Assume dict is ordered
  Bio/File.py
  Bio/SearchIO/__init__.py
  Bio/SeqIO/__init__.py
Owners: @bow, @peterjc

Use assertEqual over deprecated assertEquals
  Tests/test_AlignIO.py
  Tests/test_Entrez_online.py
  Tests/test_MafIO_index.py
  Tests/test_cellosaurus.py
Owners: @peterjc, @mdehoon

Update docstring on ordered dicts
  Bio/SeqIO/__init__.py
Owners: @peterjc

Remove Python 2 comments; add f-string example
  Bio/SeqRecord.py
Owners: @peterjc

Remove Python 2 comments
  Bio/Seq.py
Owners: @peterjc
