Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Need to install sphinx_rtd_theme
  .travis-tox.ini
Owners: none

Disable sphinx.ext.viewcode (formated copy of source code)
  Doc/api/conf.py
Owners: none

__all__ should be a tuple, not a single string
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
Owners: none

Use the TravisCI deploy hook (master branch only)
  .travis.yml
Owners: none

Fixed Doctest for Bio.PDB (#2171)
  Bio/PDB/DSSP.py
  Bio/PDB/FragmentMapper.py
  Bio/PDB/PDBIO.py
  Bio/PDB/ResidueDepth.py
  Bio/PDB/mmcifio.py
  Bio/PDB/vectors.py
  Tests/run_tests.py
Owners: @joaorodrigues, @lennax

Fix RST markup; doctest ELLIPSIS is redundant (#2141)
  Bio/TogoWS/__init__.py
  Bio/phenotype/phen_micro.py
Owners: @peterjc

Enhance CodonAlignment to support addition operation (#1942)
  Bio/codonalign/codonalignment.py
  Bio/codonalign/codonalphabet.py
  Tests/test_codonalign.py
Owners: @zruan

Include Zheng Ruan in release notes
  NEWS.rst
Owners: none

Releasing Biopython 1.74 today
  Bio/__init__.py
  Doc/Tutorial.tex
  NEWS.rst
Owners: none

Fix pdflatex error
  Doc/Tutorial/chapter_testing.tex
Owners: none

Fix missing docstring full stops - flake8 D400
  Tests/test_codonalign.py
Owners: @zruan

Remove obsolete Installation.tex
  Doc/install/Installation.tex
  Doc/install/Makefile
Owners: none

Fix makefile once install/ is gone
  Doc/Makefile
Owners: none

Forgot to bump date for Tutorial
  Doc/Tutorial.tex
Owners: none

Remove reference to deleted section of docs
  Doc/Tutorial/chapter_blast.tex
Owners: none

Docstring polishing (e.g. removing signatures)
  Bio/Restriction/Restriction.py
Owners: none

Avoid backticks in comment line
  Bio/File.py
Owners: none

Double backticks for RST markup
  Bio/Phylo/BaseTree.py
  Bio/Phylo/Consensus.py
  Bio/Phylo/NeXML.py
  Bio/Phylo/NeXMLIO.py
  Bio/Phylo/NewickIO.py
  Bio/Phylo/NexusIO.py
  Bio/Phylo/PhyloXML.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/Phylo/TreeConstruction.py
  Bio/Phylo/_io.py
  Bio/SearchIO/InterproscanIO/__init__.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_legacy/ParserSupport.py
  Bio/SeqIO/AbiIO.py
  Bio/codonalign/codonseq.py
Owners: @etal, @bow, @peterjc, @zruan

Fix error message comma
  Bio/Affy/CelFile.py
Owners: none

Remove used variable
  Bio/Affy/CelFile.py
Owners: none

Avoid backtick for opening quote
  Bio/Align/Applications/_Dialign.py
Owners: none

Double backticks for RST markup
  Bio/Alphabet/IUPAC.py
  Bio/Blast/Applications.py
  Bio/Emboss/Applications.py
  Bio/NMR/xpktools.py
  Bio/PDB/DSSP.py
  Bio/PDB/vectors.py
  Bio/Phylo/CDAO.py
  Bio/Phylo/Newick.py
  Bio/Phylo/PAML/_paml.py
  Bio/PopGen/GenePop/Controller.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/_model/_base.py
  Bio/codonalign/chisq.py
Owners: @peterjc, @joaorodrigues, @lennax, @etal, @zruan

Post release version bump
  Bio/__init__.py
  Doc/Tutorial.tex
  NEWS.rst
  README.rst
Owners: none

TravisCI: Drop Python 3.4
  .travis-tox.ini
  .travis.yml
Owners: none

Python 3.8: if subclass int and define __repr__ need __str__ too
  Bio/SeqFeature.py
Owners: @peterjc

Include Python 3.8-dev on TravisCI test matrix
  .travis-tox.ini
  .travis.yml
Owners: none

Remove redundant return variables
  Bio/SeqFeature.py
Owners: @peterjc

Remove reference to deleted stale documentation
  README.rst
Owners: none

Remove redmine reference
  README.rst
Owners: none

Include Python 3.8-dev on TravisCI test matrix
  .travis-tox.ini
  .travis.yml
Owners: none

Remove redundant return variables
  Bio/SeqFeature.py
Owners: @peterjc

Python 3.8: if subclass int and define __repr__ need __str__ too
  Bio/SeqFeature.py
Owners: @peterjc

Sphinx: Hide project name at top of RTD sidebar
  Doc/api/conf.py
Owners: none

Update setup.py to abort on Python 3.4
  DEPRECATED.rst
  setup.py
Owners: none

Fix typo in section label prefix, seq -> sec
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_seqio.tex
Owners: none

Fix missing \ref in BLAST chapter
  Doc/Tutorial/chapter_blast.tex
Owners: none

LaTeX minted bash -> console
  Doc/Tutorial/chapter_blast.tex
  Doc/Tutorial/chapter_contributing.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_phylo.tex
  Doc/Tutorial/chapter_seqio.tex
  Doc/Tutorial/chapter_testing.tex
Owners: none

Missing space in example command
  Doc/Tutorial/chapter_testing.tex
Owners: none

Update tox example, no Python 2.6
  Doc/Tutorial/chapter_testing.tex
Owners: none

typo
  Doc/Tutorial/chapter_testing.tex
Owners: none
