Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

add a wildcard attribute
  Bio/Align/_aligners.c
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @mdehoon

print out the wildcard
  Bio/Align/_aligners.c
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @mdehoon

travis
  Tests/test_pairwise_aligner.py
Owners: none

Fix GenBank example from sliced record.
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

Record that this example is now linear
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

Add unicode support to the pairwise aligner in Bio.Align (#3383)
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @mdehoon

Seq bytes (#3333)
  Bio/Seq.py
  BioSQL/BioSeq.py
  Tests/test_seq.py
Owners: @peterjc

add test script
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

add test files
  Tests/TwoBit/sequence.bigendian.2bit
  Tests/TwoBit/sequence.fa
  Tests/TwoBit/sequence.littleendian.2bit
Owners: none

done
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_twoBitIO.c
  Tests/TwoBit/sequence.bigendian.2bit
  Tests/TwoBit/sequence.fa
  Tests/TwoBit/sequence.littleendian.2bit
  Tests/TwoBit/sequence.long.2bit
  Tests/test_SeqIO.py
  Tests/test_SeqIO_TwoBitIO.py
  setup.py
Owners: @peterjc

travis
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

travis being obnoxious
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

remove unnecessary str support
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

avoid using PyUnicode_New as it's not in pypy
  Bio/SeqIO/TwoBitIO.py
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

Preserve molecule type in SeqRecord slicing
  Bio/SeqRecord.py
  Doc/Tutorial/chapter_seq_annot.tex
Owners: @peterjc

SFF can pass sequence to Seq as bytes now
  Bio/SeqIO/SffIO.py
Owners: @peterjc

These fields really should be ASCII
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Record that this example is now linear
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

Preserve molecule type in SeqRecord slicing
  Bio/SeqRecord.py
  Doc/Tutorial/chapter_seq_annot.tex
Owners: @peterjc

Fix GenBank example from sliced record.
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

Convert Seq directly to bytes for SFF output
  Bio/SeqIO/SffIO.py
Owners: @peterjc

add some documentation
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

add some documentation
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

move to a comment to travis can't bitch about it
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

move to a comment to travis can't bitch about it
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

Pass bytes to Seq for SFF (#3389)
  Bio/SeqIO/SffIO.py
Owners: @peterjc

documentation update
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_twoBitIO.c
  Doc/Tutorial/chapter_seqio.tex
Owners: @peterjc

fix warning
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

Let's see why 32bit windows is not happy
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

Let's see why 32bit windows is not happy
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

check the file descriptor in advance; on Windows, lseek with a closed file descriptor will by default close the application
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

lseek is fubar on windows
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

Add files via upload
  Bio/Phylo/Applications/_IQtree.py
Owners: none

Add files via upload
  Bio/Phylo/Applications/__init__.py
Owners: none

Add files via upload
  Bio/Phylo/Applications/_IQtree.py
Owners: none

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

lseek and read apparently are fubar on Windows. Use Python to seek/read, and numpy to keep the code reasonably fast
  Bio/SeqIO/TwoBitIO.py
  Bio/SeqIO/_twoBitIO.c
  Tests/test_SeqIO_TwoBitIO.py
  setup.py
Owners: @peterjc

deal with closed files
  Bio/SeqIO/TwoBitIO.py
  Doc/Tutorial/chapter_seqio.tex
Owners: @peterjc

travis
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

more inane stuff from Travis
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
