Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Deprecating Python 3.6 support; one more release...
  DEPRECATED.rst
  NEWS.rst
  setup.py
Owners: none

Fix parsing of DBLINK field with multiline records
  Bio/GenBank/Scanner.py
Owners: @peterjc

preserves dbsource annotation in GenBank output (#3425)
  Bio/SeqIO/InsdcIO.py
  CONTRIB.rst
  Tests/common_BioSQL.py
  Tests/test_SeqIO.py
Owners: @peterjc

Add translate method to MutableSeq (#3427)
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

so far so good
  BioSQL/BioSeq.py
  Tests/common_BioSQL.py
Owners: none

use index
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
Owners: none

rename the class
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  Tests/common_BioSQL.py
  Tests/seq_tests_common.py
Owners: @peterjc

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

travis
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
Owners: none

remove deprecated code
  Bio/PDB/Residue.py
  Bio/PDB/ResidueDepth.py
  Bio/Phylo/_utils.py
  Bio/SubsMat/__init__.py
  BioSQL/BioSeqDatabase.py
  DEPRECATED.rst
  Scripts/Restriction/ranacompiler.py
Owners: @joaorodrigues, @lennax, @etal

draw_graphviz is gone
  Bio/Phylo/__init__.py
Owners: @etal

add lower and upper to MutableSqe
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

travis
  DEPRECATED.rst
Owners: none

that never actually happens
  Tests/test_SeqIO.py
Owners: @peterjc

that never actually happens (#3434)
  Tests/test_SeqIO.py
Owners: @peterjc

BioSQL doesn't need to subclass Seq (#3428)
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  Tests/common_BioSQL.py
  Tests/seq_tests_common.py
Owners: @peterjc

adding strip, lstrip, rstrip, split, rsplit
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

add lower and upper to MutableSeq (#3430)
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

minor cleanup
  Bio/Seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

minor cleanup in Bio.Seq (#3435)
  Bio/Seq.py
Owners: @peterjc

Add name to CONTRIB.rst
  CONTRIB.rst
Owners: none

Check IDs in response data of Entrez.efetch online tests
  Tests/test_Entrez_online.py
Owners: @mdehoon

Remove redundant checks of URL construction in Entrez online tests
  Tests/test_Entrez_online.py
Owners: @mdehoon

Have Entrez URL construction tests check mocked urlopen() call
  Tests/test_Entrez.py
Owners: @mdehoon

Check all parts of generated URLs in Bio.Entrez tests
  Tests/test_Entrez.py
Owners: @mdehoon

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

use UndefinedSequenceData for undefined sequences
  Bio/GenBank/__init__.py
  Bio/Seq.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
  BioSQL/Loader.py
  Tests/seq_tests_common.py
  Tests/test_GenBank.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

travis
  Bio/Seq.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
Owners: @peterjc

typo and some silly stuff
  Tests/test_SeqIO.py
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

make UndefinedSequenceData a private class
  Bio/GenBank/__init__.py
  Bio/Seq.py
  Bio/SeqIO/QualityIO.py
  BioSQL/BioSeq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Improvements to Entrez tests (#3437)
  CONTRIB.rst
  Tests/test_Entrez.py
  Tests/test_Entrez_online.py
Owners: @mdehoon

support pickling
  Bio/Align/substitution_matrices/__init__.py
  Tests/test_align_substitution_matrices.py
Owners: none

travis
  Bio/Align/substitution_matrices/__init__.py
Owners: none

support pickling in Bio.Align.substitution_matrices (#3442)
  Bio/Align/substitution_matrices/__init__.py
  Tests/test_align_substitution_matrices.py
Owners: none

remove deprecated code (#3429)
  Bio/PDB/Residue.py
  Bio/PDB/ResidueDepth.py
  Bio/Phylo/__init__.py
  Bio/Phylo/_utils.py
  Bio/SubsMat/__init__.py
  BioSQL/BioSeqDatabase.py
  DEPRECATED.rst
  Scripts/Restriction/ranacompiler.py
Owners: @joaorodrigues, @lennax, @etal

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

Peter's suggestions
  Bio/Seq.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
  Tests/test_SeqIO.py
  Tests/test_motifs_online.py
Owners: @peterjc, @mdehoon

use UndefinedSequenceData for undefined sequences (#3440)
  Bio/GenBank/__init__.py
  Bio/Seq.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
  BioSQL/Loader.py
  Tests/seq_tests_common.py
  Tests/test_GenBank.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
  Tests/test_motifs_online.py
  Tests/test_seq.py
Owners: @peterjc, @mdehoon

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
