Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

allow iterables as column indices
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

travis
  Bio/Align/__init__.py
Owners: @peterjc

In PairwiseAlignment, allow iterables as column indices when extracting a subalignment (#3590)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

some progress
  Bio/Align/__init__.py
Owners: @peterjc

progress
  Bio/Align/__init__.py
Owners: @peterjc

adds Fedora dependencies for building documentation (#3570)
  Doc/README.rst
Owners: none

rm Bio.Applications from Blast section in the tutorial
  Doc/Tutorial/chapter_blast.tex
Owners: none

use numpy
  Bio/Align/__init__.py
Owners: @peterjc

progress
  Bio/Align/__init__.py
Owners: @peterjc

progress
  Bio/Align/__init__.py
Owners: @peterjc

fixed typos of triple underscore
  Bio/SeqRecord.py
  Bio/phenotype/phen_micro.py
  Tests/test_SearchIO_model.py
Owners: @peterjc, @bow

updated news and contrib list
  CONTRIB.rst
  NEWS.rst
Owners: none

fixed typos of triple underscore
  Bio/SeqRecord.py
  Bio/phenotype/phen_micro.py
  Tests/test_SearchIO_model.py
Owners: @peterjc, @bow

updated news and contrib list
  CONTRIB.rst
  NEWS.rst
Owners: none

progress
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

fix test script
  Tests/test_pairwise_alignment_map.py
Owners: none

progress
  Bio/Align/__init__.py
Owners: @peterjc

done
  Bio/Align/__init__.py
Owners: @peterjc

fix tests
  Tests/test_pairwise_alignment_map.py
Owners: none

update documentation
  Doc/Tutorial/chapter_align.tex
Owners: none

expose qualifiers in repr
  Bio/SeqFeature.py
  Tests/test_Uniprot.py
Owners: @peterjc

add deprecation warning
  Bio/Align/__init__.py
Owners: @peterjc

travis
  Bio/Align/__init__.py
  Tests/test_pairwise_alignment_map.py
Owners: @peterjc

travis
  Bio/Align/__init__.py
Owners: @peterjc

dont use dtype to avoid overflow
  Bio/Align/__init__.py
Owners: @peterjc

adapt init order
  Bio/SeqFeature.py
Owners: @peterjc

indicate the existence of qualifiers in repr (#3595)
  Bio/SeqFeature.py
  Tests/test_Uniprot.py
Owners: @peterjc

remove OrderedDict from SeqFeature
  Bio/SeqFeature.py
Owners: @peterjc

remove OrderedDict
  Bio/AlignIO/StockholmIO.py
  Bio/GenBank/Scanner.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/_model/query.py
  Bio/SearchIO/_utils.py
  Bio/SeqFeature.py
  Bio/SeqIO/__init__.py
  Bio/SeqRecord.py
Owners: @peterjc, @bow

note about OrderedDict removal
  NEWS.rst
Owners: none

ensure SeqRecord.features is a list of SeqFeatures
  Bio/SeqRecord.py
Owners: @peterjc

note about type checking of SeqRecord features parameter
  NEWS.rst
Owners: none

make QueryResult.pop behave like dict.pop
  Bio/SearchIO/_model/query.py
Owners: none

retain comment about minimal requirement
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

Refactor inner loops in consensus functions
  Bio/Align/AlignInfo.py
  NEWS.rst
Owners: @peterjc

speedup and improved readability
  Bio/Data/IUPACData.py
Owners: none

rm unreachable code
  Bio/Nexus/Nexus.py
Owners: none

Let's not just focus on the problème du jour
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Let's not just focus on the problème du jour (#3613)
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Raise Error when single sequence is passed to motifs.Instances
  Bio/motifs/__init__.py
Owners: @mdehoon
