Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

travis
  Bio/Align/__init__.py
Owners: @peterjc

PairwiseAlignment format (#3530)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
Owners: @peterjc

Standardize class initialization comment throughout project
  Bio/Affy/CelFile.py
  Bio/AlignIO/MauveIO.py
  Bio/Application/__init__.py
  Bio/Entrez/Parser.py
  Bio/GenBank/Record.py
  Bio/GenBank/Scanner.py
  Bio/Graphics/BasicChromosome.py
  Bio/Graphics/Comparative.py
  Bio/Graphics/Distribution.py
  Bio/Graphics/KGML_vis.py
  Bio/HMM/DynamicProgramming.py
  Bio/HMM/Trainer.py
  Bio/LogisticRegression.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/kNN.py
  Bio/motifs/alignace.py
  Bio/motifs/meme.py
  Bio/motifs/transfac.py
  Scripts/xbbtools/xbb_translations.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_nographics.py
  Tests/test_SeqIO.py
Owners: @peterjc, @mdehoon

Standardize class init docstrings (#3529)
  Bio/Affy/CelFile.py
  Bio/AlignIO/MauveIO.py
  Bio/Application/__init__.py
  Bio/Entrez/Parser.py
  Bio/GenBank/Record.py
  Bio/GenBank/Scanner.py
  Bio/Graphics/BasicChromosome.py
  Bio/Graphics/Comparative.py
  Bio/Graphics/Distribution.py
  Bio/Graphics/KGML_vis.py
  Bio/HMM/DynamicProgramming.py
  Bio/HMM/Trainer.py
  Bio/LogisticRegression.py
  Bio/PDB/HSExposure.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/kNN.py
  Bio/motifs/alignace.py
  Bio/motifs/meme.py
  Bio/motifs/transfac.py
  Scripts/xbbtools/xbb_translations.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_nographics.py
  Tests/test_SeqIO.py
Owners: @peterjc, @mdehoon, @joaorodrigues, @lennax

updated print function
  Bio/Align/AlignInfo.py
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/PhylipIO.py
  Bio/Blast/NCBIWWW.py
  Bio/Data/CodonTable.py
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/Graphics/GenomeDiagram/_Graph.py
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
  Bio/Nexus/Nexus.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  BioSQL/Loader.py
  Tests/test_codonalign.py
Owners: @peterjc, @widdowquinn, @zruan

one more
  Bio/motifs/jaspar/db.py
Owners: none

Replace remaining python2-style print commands by python3-style print function (#3533)
  Bio/Align/AlignInfo.py
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/PhylipIO.py
  Bio/Blast/NCBIWWW.py
  Bio/Data/CodonTable.py
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/Graphics/GenomeDiagram/_Graph.py
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
  Bio/Nexus/Nexus.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/motifs/jaspar/db.py
  BioSQL/Loader.py
  Tests/test_codonalign.py
Owners: @peterjc, @widdowquinn, @zruan

start test
  Bio/Align/__init__.py
  Tests/test_pslmap.py
Owners: @peterjc

Implemented DisorderedAtom.copy() method
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Added name to NEWS.rst and CONTRIB.rst
  CONTRIB.rst
  NEWS.rst
Owners: none

simple case
  Tests/test_pslmap.py
Owners: none

unittest
  Tests/test_pslmap.py
Owners: none

implement changes to PDB.read() regarding id and reformat PDB.read unit tests
  Bio/PDB/__init__.py
  NEWS.rst
  Tests/test_PDB.py
  Tests/test_mmtf.py
Owners: @joaorodrigues, @lennax

fix bug single nucleotide TwoBit
  Bio/SeqIO/TwoBitIO.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

fix bug single nucleotide TwoBit (#3539)
  Bio/SeqIO/TwoBitIO.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

added a test
  Tests/test_pslmap.py
Owners: none

fix typos (Hidro... to Hydro...)
  Bio/SeqUtils/ProtParam.py
  Bio/SeqUtils/ProtParamData.py
Owners: none

add tests to all new gravy scales
  Tests/test_ProtParam.py
Owners: none

Use autodoc_preserve_defaults = True
  .travis-tox.ini
  Doc/api/conf.py
Owners: none

Numpdoc says class parameters before attributes
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

Bump flake8 versions in pre-commit
  .pre-commit-config.yaml
Owners: none

Fix D402 false positive.
  Bio/GenBank/__init__.py
Owners: @peterjc

Use the noqa D402 twice
  Bio/Phylo/BaseTree.py
  Bio/SeqFeature.py
Owners: @etal, @peterjc

Use the noqa D402 twice
  Bio/Phylo/BaseTree.py
  Bio/SeqFeature.py
Owners: @etal, @peterjc

Fix D402 false positive.
  Bio/GenBank/__init__.py
Owners: @peterjc

Bump flake8 versions in pre-commit
  .pre-commit-config.yaml
Owners: none

found a bug for two exons
  Bio/Align/__init__.py
  Tests/test_pslmap.py
Owners: @peterjc

Adds other Hidrophobicity scales to `ProtParam` (#3524)
  Bio/SeqUtils/ProtParam.py
  Bio/SeqUtils/ProtParamData.py
  CONTRIB.rst
  Tests/test_ProtParam.py
Owners: none

Add some notes for miyata similarity matrix
  Bio/SubsMat/MatrixInfo.py
Owners: none

Add some notes for miyata similarity matrix
  Bio/SubsMat/MatrixInfo.py
Owners: none

fix for multiple exons
  Tests/test_pslmap.py
Owners: none

fmt.lower() fixes
  Bio/PDB/__init__.py
Owners: @joaorodrigues, @lennax

update
  Bio/Align/__init__.py
  Tests/test_pslmap.py
Owners: @peterjc

cleanup
  Tests/test_pslmap.py
Owners: none

cleanup
  Tests/test_pslmap.py
Owners: none

cleanup
  Tests/test_pslmap.py
Owners: none

cleanup
  Tests/test_pslmap.py
Owners: none

cleanup
  Tests/test_pslmap.py
Owners: none

cleanup
  Tests/test_pslmap.py
Owners: none

cleanup
  Tests/test_pslmap.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
