Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

removed alphabet information from printed alignments
  Bio/Align/__init__.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/StockholmIO.py
  Bio/AlignIO/__init__.py
  Bio/SearchIO/_model/hsp.py
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_searchio.tex
  Tests/test_align.py
Owners: @peterjc

pairwise aligner alphabet typo
  Bio/Align/_aligners.c
Owners: @mdehoon

pairwise aligner alphabet typo (#2910)
  Bio/Align/_aligners.c
Owners: @mdehoon

Speed up SeqIO.parse() for fastq (#2908)
  Bio/SeqIO/QualityIO.py
  NEWS.rst
Owners: @peterjc

use capital letter
  Bio/Align/__init__.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/StockholmIO.py
  Bio/AlignIO/__init__.py
  Bio/SearchIO/_model/hsp.py
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_searchio.tex
  Tests/test_align.py
Owners: @peterjc

removed alphabet information from printed alignments (#2909)
  Bio/Align/__init__.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/StockholmIO.py
  Bio/AlignIO/__init__.py
  Bio/SearchIO/_model/hsp.py
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_searchio.tex
  Tests/test_align.py
Owners: @peterjc

the frequency table in SummaryInfo does not need to be a FreqTable
  Bio/Align/AlignInfo.py
  Doc/Tutorial/chapter_advanced.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/examples/clustal_run.py
  Tests/test_AlignInfo.py
  Tests/test_align.py
Owners: @peterjc

Apply black style to test_NCBIXML.py, version 19.10b0.
  Tests/test_NCBIXML.py
Owners: none

Updated Blast UML Diagrams.
  Doc/images/BlastRecord.dia
  Doc/images/BlastRecord.png
  Doc/images/PSIBlastRecord.dia
  Doc/images/PSIBlastRecord.png
Owners: none

the frequency table in SummaryInfo does not need to be a FreqTable (#2911)
  Bio/Align/AlignInfo.py
  Doc/Tutorial/chapter_advanced.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/examples/clustal_run.py
  Tests/test_AlignInfo.py
  Tests/test_align.py
Owners: @peterjc

Apply black style to test_geo.py, version 19.10b0.
  Tests/test_geo.py
Owners: none

Tweak import to make code lines shorter
  Tests/test_SeqIO_write.py
Owners: @peterjc

(Re)run black on PDB tests
  Tests/test_PDB.py
  Tests/test_PDB_FragmentMapper.py
  Tests/test_PDB_KDTree.py
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_Superimposer.py
  Tests/test_PDB_parse_pdb_header.py
  Tests/test_mmtf.py
  Tests/test_mmtf_online.py
Owners: @joaorodrigues, @lennax

Re-run black on SeqIO tests
  Tests/test_SeqIO.py
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_Gck.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_PdbIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_SeqXML.py
  Tests/test_SeqIO_Xdna.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_index.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

String cosmetics; Joining separated strings, easier to read.
  Tests/test_Muscle_tool.py
Owners: none

Apply black style to test_m* files, version 19.10b0.
  Tests/test_MSAProbs_tool.py
  Tests/test_MafIO_index.py
  Tests/test_Mafft_tool.py
  Tests/test_MarkovModel.py
  Tests/test_Medline.py
  Tests/test_Muscle_tool.py
  Tests/test_mmtf.py
  Tests/test_mmtf_online.py
  Tests/test_motifs.py
  Tests/test_motifs_online.py
Owners: @mdehoon

Black on superimposer tests
  Tests/test_PQR.py
  Tests/test_QCPSuperimposer.py
Owners: none

Apply black style to test_NCBIXML.py, version 19.10b0.
  Tests/test_NCBIXML.py
Owners: none

Fix implicit string concat
  Tests/test_SeqIO_PdbIO.py
Owners: @peterjc

Apply black style to test_m* files, version 19.10b0.
  Tests/test_MSAProbs_tool.py
  Tests/test_MafIO_index.py
  Tests/test_Mafft_tool.py
  Tests/test_MarkovModel.py
  Tests/test_Medline.py
  Tests/test_Muscle_tool.py
  Tests/test_mmtf.py
  Tests/test_mmtf_online.py
  Tests/test_motifs.py
  Tests/test_motifs_online.py
Owners: @mdehoon

String cosmetics; Joining separated strings, easier to read.
  Tests/test_Muscle_tool.py
Owners: none

documentation update
  Bio/Phylo/TreeConstruction.py
Owners: @etal

documentation update
  Bio/Phylo/TreeConstruction.py
Owners: @etal

Fix deprecated use of collections.Iterable
  Bio/Seq.py
Owners: @peterjc

black
  Bio/Seq.py
Owners: @peterjc

Fix import (was apparently working by proxy)
  Bio/Seq.py
Owners: @peterjc

motifs alphabet has no letters
  Bio/motifs/jaspar/db.py
Owners: none

motifs alphabet has no letters (#2918)
  Bio/motifs/jaspar/db.py
Owners: none

Fix deprecated use of collections.Iterable
  Bio/Seq.py
Owners: @peterjc

black
  Bio/Seq.py
Owners: @peterjc

Fix import (was apparently working by proxy)
  Bio/Seq.py
Owners: @peterjc

AlphabetError is now a TypeError
  Doc/cookbook/Restriction/Restriction.md
Owners: none

update docs on Seq.join()
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

update html
  Doc/cookbook/Restriction/Restriction.html
Owners: none

removing alphabets from Bio.Restriction
  Bio/Restriction/Restriction.py
Owners: none

update docs on Seq.join()
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

AlphabetError is now a TypeError (#2920)
  Doc/cookbook/Restriction/Restriction.html
  Doc/cookbook/Restriction/Restriction.md
Owners: none

removing alphabets from Bio.Restriction (#2922)
  Bio/Restriction/Restriction.py
Owners: none

update unittest
  Tests/test_HMMGeneral.py
Owners: none

progress
  Bio/HMM/MarkovModel.py
  Tests/test_HMMCasino.py
  Tests/test_HMMGeneral.py
Owners: none
