Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Apply black style to Bio.Geo.
  Bio/Geo/Record.py
  Bio/Geo/__init__.py
Owners: none

Apply black style to Bio.GenBank.
  Bio/GenBank/Scanner.py
  Bio/GenBank/__init__.py
Owners: @peterjc

Apply black style to Bio.FSSP.
  Bio/FSSP/FSSPTools.py
  Bio/FSSP/__init__.py
  Bio/FSSP/fssp_rec.py
Owners: none

Apply black style to Bio.ExPASy.
  Bio/ExPASy/Enzyme.py
  Bio/ExPASy/Prodoc.py
  Bio/ExPASy/Prosite.py
  Bio/ExPASy/ScanProsite.py
  Bio/ExPASy/__init__.py
  Bio/ExPASy/cellosaurus.py
Owners: none

The Ubuntu Xenial phyml package is new enough
  .travis.yml
Owners: none

Fixed the broken url for google image search
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

The Ubuntu Xenial phyml package is new enough
  .travis.yml
Owners: none

Apply black style to Bio.ExPASy.
  Bio/ExPASy/Enzyme.py
  Bio/ExPASy/Prodoc.py
  Bio/ExPASy/Prosite.py
  Bio/ExPASy/ScanProsite.py
  Bio/ExPASy/__init__.py
  Bio/ExPASy/cellosaurus.py
Owners: none

Apply black style to Bio.Geo.
  Bio/Geo/Record.py
  Bio/Geo/__init__.py
Owners: none

Fix Bio.Cluster._cluster doctests
  Bio/Cluster/clustermodule.c
  CONTRIB.rst
  NEWS.rst
Owners: @mdehoon

Fixed the broken url for google image search
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

Apply black style to Bio.HMM.
  Bio/HMM/DynamicProgramming.py
  Bio/HMM/MarkovModel.py
  Bio/HMM/Trainer.py
  Bio/HMM/Utilities.py
Owners: none

Removed PEP ISC001 and 413.
  Bio/HMM/MarkovModel.py
  Bio/HMM/Trainer.py
Owners: none

TravisCI: test on arm64, ppc64le, and s390x
  .travis.yml
  NEWS.rst
Owners: none

ignore known error on the s390x architecture
  Tests/test_SubsMat.py
Owners: none

removed commented code, commented on 2001.
  Bio/FSSP/FSSPTools.py
Owners: none

Apply black style to Bio.FSSP.
  Bio/FSSP/FSSPTools.py
  Bio/FSSP/__init__.py
  Bio/FSSP/fssp_rec.py
Owners: none

removed commented code, commented on 2001.
  Bio/FSSP/FSSPTools.py
Owners: none

define a SwissProtParserError, and use it to store the line in which an error occurred
  Bio/SwissProt/__init__.py
  Tests/test_SeqIO_online.py
Owners: @peterjc

travis
  Bio/SwissProt/__init__.py
Owners: none

Reduce presision in part of Tests/test_phenotype_fit.py
  Tests/test_phenotype_fit.py
Owners: none

ignore known error on the s390x architecture
  Tests/test_SubsMat.py
Owners: none

TravisCI: test on arm64, ppc64le, and s390x
  .travis.yml
  NEWS.rst
Owners: none

Reduce presision in part of Tests/test_phenotype_fit.py
  Tests/test_phenotype_fit.py
Owners: none

Applied black style to Bio.Entrez. black, version 19.10b0.
  Bio/Entrez/Parser.py
  Bio/Entrez/__init__.py
Owners: @mdehoon

Applied black style to Bio.Entrez. black, version 19.10b0.
  Bio/Entrez/Parser.py
  Bio/Entrez/__init__.py
Owners: @mdehoon

Apply black style to Bio.GenBank (#2406)
  Bio/GenBank/Scanner.py
  Bio/GenBank/__init__.py
Owners: @peterjc

make MMCIFParser create minimal header info like PDB
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

make header processing more efficient and like PDBparser
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

no float option for update_header_entry
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

add test for header populated from mmCIF file; black formatting
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

change return to break
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

add negative control test, update to MMCIFParser changes
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Thank Rob in NEWS file
  NEWS.rst
Owners: none

Move and reword CPU testing news
  NEWS.rst
Owners: none

TravisCI: skip coverage on ppc64le
  .travis.yml
Owners: none

TravisCI: skip coverage on ARM64
  .travis.yml
Owners: none

TravisCI: skip coverage on ARM64
  .travis.yml
Owners: none

TravisCI: skip coverage on ppc64le
  .travis.yml
Owners: none

TravisCI: Explicitly avoid any extras on ARM64
  .travis.yml
Owners: none
