Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Simplify if statement
  Bio/GenBank/Record.py
Owners: @peterjc

Remove rundandant return lines
  Bio/Entrez/Parser.py
  Bio/Phylo/BaseTree.py
  Bio/PopGen/GenePop/Controller.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/_model/query.py
  Bio/bgzf.py
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
  Scripts/SeqGui/SeqGui.py
Owners: @mdehoon, @etal, @peterjc

Remove unused except as names
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/_index.py
Owners: @peterjc

Clarify intent of 'repeated' if statement
  Bio/SearchIO/_legacy/NCBIStandalone.py
Owners: none

Fix impossible to reach error
  Bio/SearchIO/_legacy/NCBIStandalone.py
Owners: none

Fix same value in or statement
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Remove redundant pass lines
  Bio/Blast/NCBIXML.py
  Bio/PDB/PICIO.py
  Bio/PDB/internal_coords.py
  Scripts/Restriction/ranacompiler.py
Owners: @joaorodrigues, @lennax

Missing raise
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

fix _codons2re function calling error
  Bio/codonalign/__init__.py
  Tests/test_codonalign.py
Owners: @zruan

fix _codons2re function calling error
  Bio/codonalign/__init__.py
  Tests/test_codonalign.py
Owners: @zruan

Add record tests
  Tests/GenBank/good_features.json
  Tests/GenBank/good_records.json
  Tests/test_GenBank.py
Owners: @peterjc

What if UnknownSeq uses other than N/n?
  Bio/Seq.py
Owners: @peterjc

Doctests for UnknownSeq changes
  Bio/Seq.py
Owners: @peterjc

Recognise homopolymers as UnknownSeq usecase; fix translate
  Bio/Seq.py
Owners: @peterjc

Preserve old behavour of UnknownSeq translate on X and ?
  Bio/Seq.py
Owners: @peterjc

Fix several typos and remove self-evident commentaries
  Tests/test_GenBank.py
Owners: @peterjc

Recognise homopolymers as UnknownSeq usecase
  Bio/Seq.py
Owners: @peterjc

Trimmed 3 testing protein_seqs by one amino acid to prevent irrelevant partial codon warning from appearing when testing translation error of amino acid Seq() object.
  Tests/test_seq.py
Owners: @peterjc

added property decorators
  Bio/Seq.py
  Bio/SeqRecord.py
Owners: @peterjc

added seq doc string
  Bio/SeqRecord.py
Owners: @peterjc

deleted test_seq.test_translation_on_proteins
  Tests/test_seq.py
Owners: @peterjc

Recognize negative residues in REMARK 465
  Bio/PDB/parse_pdb_header.py
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

squashed
  Bio/Seq.py
  Bio/SeqRecord.py
Owners: @peterjc

Recognize negative residues in REMARK 465
  Bio/PDB/parse_pdb_header.py
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Recognize negative residues in REMARK 465
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Recognize negative residues in REMARK 465 (#3308)
  Bio/PDB/parse_pdb_header.py
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

fixed quotes and docstring
  Bio/Seq.py
  Bio/SeqRecord.py
Owners: @peterjc

use _data instead of data in MutableSeq to be consistent with Seq
  Bio/Seq.py
Owners: @peterjc

Fix a typo and extract two functions
  Tests/test_GenBank.py
Owners: @peterjc

Fix problem with data passage
  Tests/test_GenBank.py
Owners: @peterjc

Extract two functions
  Tests/test_GenBank.py
Owners: @peterjc

adding a .data getter/setter with a deprecation warning
  Bio/Seq.py
  DEPRECATED.rst
Owners: @peterjc

travis
  Bio/Seq.py
  DEPRECATED.rst
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

use _data instead of data in MutableSeq to be consistent with Seq (#3311)
  Bio/Seq.py
  DEPRECATED.rst
Owners: @peterjc

remove old Jython hacks
  Bio/AlignIO/MafIO.py
  Bio/Blast/NCBIXML.py
  Bio/Nexus/Trees.py
  Bio/Phylo/PAML/_parse_codeml.py
  Bio/PopGen/GenePop/Controller.py
  Doc/Tutorial/chapter_learning.tex
  Tests/test_NCBITextParser.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_SeqXML.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_index.py
  Tests/test_prosite.py
  Tests/test_prosite2.py
Owners: @peterjc

I fail to see how this is clearer than what we had
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

remove old Jython hacks (#3312)
  Bio/AlignIO/MafIO.py
  Bio/Blast/NCBIXML.py
  Bio/Nexus/Trees.py
  Bio/Phylo/PAML/_parse_codeml.py
  Bio/PopGen/GenePop/Controller.py
  Doc/Tutorial/chapter_learning.tex
  Tests/test_NCBITextParser.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_SeqXML.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_index.py
  Tests/test_prosite.py
  Tests/test_prosite2.py
Owners: @peterjc

Rename obscure one-symbol variables
  Tests/test_GenBank.py
Owners: @peterjc

Fix ValueError catching
  Tests/test_GenBank.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
