Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

travis again
  Tests/test_pairwise_aligner.py
Owners: none

dont print whitespace at the end of local alignments (#3551)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
  Tests/test_pairwise_alignment_map.py
Owners: @peterjc

add basic getitem
  Bio/Align/__init__.py
Owners: @peterjc

bugfix
  Bio/Align/__init__.py
Owners: @peterjc

add a docstring
  Bio/Align/__init__.py
Owners: @peterjc

add a section to the documentation
  Doc/Tutorial/chapter_align.tex
Owners: none

added a test
  Tests/test_pairwise_aligner.py
Owners: none

travis
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

travis
  Tests/test_pairwise_aligner.py
Owners: none

fix examples
  Bio/Align/__init__.py
Owners: @peterjc

simplify PhyloXML
  Bio/Phylo/PhyloXML.py
Owners: @etal

simplify blast parser
  Bio/Blast/Record.py
Owners: none

PhyloXML changes should not be included here
  Bio/Phylo/PhyloXML.py
Owners: @etal

Simpliy the `to_generic` method of `MultipleAlignment` in `Bio.Blast.Record` (#3557)
  Bio/Blast/Record.py
Owners: none

simplify mult_align in Bio.FSSP.FSSPTools
  Bio/FSSP/FSSPTools.py
Owners: none

simplify mult_align in Bio.FSSP.FSSPTools (#3558)
  Bio/FSSP/FSSPTools.py
Owners: none

Bio.AlignIO.FastaIO cleanup
  Bio/AlignIO/FastaIO.py
Owners: @peterjc

simplify PhyloXML (#3556)
  Bio/Phylo/PhyloXML.py
Owners: @etal

Bio.AlignIO.FastaIO cleanup
  Bio/AlignIO/FastaIO.py
Owners: @peterjc

removed deprecated cose
  Bio/Affy/CelFile.py
  Bio/FSSP/FSSPTools.py
  Bio/FSSP/__init__.py
  Bio/FSSP/fssp_rec.py
  Bio/File.py
  DEPRECATED.rst
  Tests/test_FSSP.py
  setup.py
Owners: none

added test for not-implemented code
  Tests/test_pairwise_aligner.py
Owners: none

removed deprecated cose
  Bio/Affy/CelFile.py
  Bio/FSSP/FSSPTools.py
  Bio/FSSP/__init__.py
  Bio/FSSP/fssp_rec.py
  Bio/File.py
  DEPRECATED.rst
  Tests/test_FSSP.py
  setup.py
Owners: none

Pairwise alignment getitem (#3555)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Actually remove add_sequence method (#3548)
  Bio/Align/__init__.py
  DEPRECATED.rst
Owners: @peterjc

add a sort method
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

travis
  Bio/Align/__init__.py
Owners: @peterjc

Add a sort method to `PairwiseAlignment` (#3564)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

extract single line for pairwise alignment
  Bio/Align/__init__.py
  CONTRIB.rst
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

travis is a bad quote
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Bump version to 1.79
  Bio/__init__.py
  NEWS.rst
Owners: none

Bump version to 1.79
  Bio/__init__.py
  NEWS.rst
Owners: none

Bump version to 1.79 (#3567)
  Bio/__init__.py
  NEWS.rst
Owners: none

rm Bio.Applications from Blast section in the tutorial
  Doc/Tutorial/chapter_blast.tex
Owners: none

adds Fedora dependencies for building documentation
  Doc/README.rst
Owners: none

Bio.Clustalw has been removed
  Bio/AlignIO/__init__.py
Owners: @peterjc

Fix LaTeX syntax to allow documentation to build.
  Doc/Tutorial/chapter_align.tex
Owners: none

Fix LaTeX syntax to allow documentation to build.
  Doc/Tutorial/chapter_align.tex
Owners: none

replace accession by locus id in EMBL header line
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

Update CONTRIB.rst
  CONTRIB.rst
Owners: none

remove whitespaces
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc
