Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

gly CB fixes
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

change assemble() to store transforms on dihedra
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

comment adjustments for rst API docs
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

remove unused imports and variables
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

fix spherical coords test
  Tests/test_PDB_vectors.py
Owners: @joaorodrigues, @lennax

remove unused imports
  Bio/PDB/SCADIO.py
Owners: @joaorodrigues, @lennax

remove unused imports
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

Apply black version 19.10b0 to test_Graphics* (#2762)
  Tests/test_GraphicsBitmaps.py
  Tests/test_GraphicsChromosome.py
  Tests/test_GraphicsDistribution.py
  Tests/test_GraphicsGeneral.py
Owners: none

Apply black style to test_SwissProt.py, version 19.10b0.
  Tests/test_SwissProt.py
Owners: none

Apply black style to test_SVDSuperimposer.py, version 19.10b0.
  Tests/test_SVDSuperimposer.py
Owners: none

Apply black style to test_Entrez_parser.py, version 19.10b0.
  Tests/test_Entrez_parser.py
Owners: @mdehoon

Use assertGreater in test_NCBIXML.py
  Tests/test_NCBIXML.py
Owners: none

Use self.assertGreater on misc tool tests
  Tests/test_Fasttree_tool.py
  Tests/test_PAML_codeml.py
  Tests/test_phyml_tool.py
  Tests/test_raxml_tool.py
Owners: none

Use assertLessEqual etc in sequence tests
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqRecord.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Remove workaround for black vs pydocstyle D202
  Bio/KEGG/KGML/KGML_parser.py
  Bio/Nexus/Nexus.py
  Bio/Nexus/Trees.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/PhyloXML.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/PopGen/GenePop/__init__.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_utils.py
  Tests/test_PDB.py
  Tests/test_PDB_KDTree.py
  Tests/test_Phylo.py
Owners: @etal, @bow, @joaorodrigues, @lennax

Remove workaround for black vs pydocstyle D202 (#2870)
  Bio/KEGG/KGML/KGML_parser.py
  Bio/Nexus/Nexus.py
  Bio/Nexus/Trees.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/PhyloXML.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/PopGen/GenePop/__init__.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_utils.py
  Tests/test_PDB.py
  Tests/test_PDB_KDTree.py
  Tests/test_Phylo.py
Owners: @etal, @bow, @joaorodrigues, @lennax

Remove deprecated Bio.KDTree module
  Bio/KDTree/KDTree.c
  Bio/KDTree/KDTree.h
  Bio/KDTree/KDTree.py
  Bio/KDTree/KDTreemodule.c
  Bio/KDTree/Neighbor.h
  Bio/KDTree/__init__.py
  DEPRECATED.rst
  Tests/run_tests.py
  Tests/test_KDTree.py
  setup.py
Owners: none

removed 686 blank line
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Can't compile removed C code
  setup.py
Owners: none

Small fixes with assertion methods in test files (#2869)
  Tests/common_BioSQL.py
  Tests/test_PDB.py
  Tests/test_Pathway.py
Owners: @joaorodrigues, @lennax

Use self.assertIsInstance in tests
  Tests/test_PDB_KDTree.py
Owners: @joaorodrigues, @lennax

Remove deprecated Bio.KDTree module (#2872)
  Bio/KDTree/KDTree.c
  Bio/KDTree/KDTree.h
  Bio/KDTree/KDTree.py
  Bio/KDTree/KDTreemodule.c
  Bio/KDTree/Neighbor.h
  Bio/KDTree/__init__.py
  DEPRECATED.rst
  Tests/run_tests.py
  Tests/test_KDTree.py
  setup.py
Owners: none

missing pieces from KDTree removal
  Doc/Tutorial/chapter_pdb.tex
  Doc/biopdb_faq.tex
  MANIFEST.in
  Tests/test_PDB_KDTree.py
Owners: @joaorodrigues, @lennax

missing pieces from KDTree removal (#2874)
  Doc/Tutorial/chapter_pdb.tex
  Doc/biopdb_faq.tex
  MANIFEST.in
  Tests/test_PDB_KDTree.py
Owners: @joaorodrigues, @lennax

fix gly CB and alt CB path issues with vectorized atom_to_internal_coords - one more
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

resolve flake8 complaints
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

fix gly CB and alt CB path issues with vectorized atom_to_internal_coords
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

only set_accuracy_95 on write_pic - non-working commit
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

Use self.assertIsInstance in tests
  Tests/test_PDB_KDTree.py
Owners: @joaorodrigues, @lennax

Revert NEWS entry change.
  NEWS.rst
Owners: none

Use list()/iteration instead of getchildren for Python 3.9 compatibility.
  Bio/KEGG/KGML/KGML_parser.py
  Bio/Phylo/NeXMLIO.py
Owners: @etal

Use next instead of list to fetch first element.
  Bio/Phylo/NeXMLIO.py
  Bio/SeqIO/UniprotIO.py
Owners: @etal, @peterjc

Use iter instead of getiterator for Python 3.9 compatibility.
  Bio/SeqIO/UniprotIO.py
  CONTRIB.rst
  NEWS.rst
Owners: @peterjc

change hedron len12, angle, len23 to lal numpy array
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

no more futuure
  Bio/motifs/meme.py
  Tests/test_PQR.py
Owners: @mdehoon

no more futuure (#2875)
  Bio/motifs/meme.py
  Tests/test_PQR.py
Owners: @mdehoon

Rearrangements in the file order. Minor changes to the arguments of some functions. Initiation of the class-oriented project structure.
  Bio/SeqAnalysis/downloader.py
Owners: none

remove tool and email parameter when the blast server is not NCBI
  Bio/Blast/NCBIWWW/__init__.py
  Tests/test_NCBI_qblast.py
Owners: none

bug correction
  Bio/Blast/NCBIWWW/__init__.py
  Tests/test_NCBI_qblast.py
Owners: none

added biopython email in tests
  Tests/test_NCBI_qblast.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
