Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

1. Simplify the CAI calculate accoring to the original publication. 2. Cope with undefined CAI values (previously caused devided-by-zero-error.
  Bio/SeqUtils/CodonUsage.py
Owners: none

fix some format change suggested by flake8
  Bio/SeqUtils/CodonUsage.py
Owners: none

add my name to NEWS.rst
  NEWS.rst
Owners: none

Remove doctest from the module
  BioSQL/BioSeqDatabase.py
Owners: none

Remove module from doctest excluding list, since it has no doctests
  Tests/run_tests.py
Owners: none

Add myself to contrib
  CONTRIB.rst
  NEWS.rst
Owners: none

Update BioSeqDatabase.py
  BioSQL/BioSeqDatabase.py
Owners: none

Update rebase_update and simplify Restriction ecosystem slightly (#2130)
  Bio/Restriction/PrintFormat.py
  Bio/Restriction/RanaConfig.py
  DEPRECATED.rst
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
Owners: none

Fix Travis builds
  .travis-tox.ini
  CONTRIBUTING.rst
Owners: none

Fix Travis builds
  .travis-tox.ini
  CONTRIBUTING.rst
Owners: none

Update run_tests.py
  Tests/run_tests.py
Owners: none

Fix BioSQL doctest (#2170)
  BioSQL/BioSeqDatabase.py
  CONTRIB.rst
  NEWS.rst
  Tests/run_tests.py
Owners: none

Fixed Doctest for Bio.PDB
  Bio/PDB/DSSP.py
  Bio/PDB/FragmentMapper.py
  Bio/PDB/PDBIO.py
  Bio/PDB/ResidueDepth.py
  Bio/PDB/mmcifio.py
  Bio/PDB/vectors.py
  Tests/PDB/fragment_data/lib_10_z_5.txt
  Tests/run_tests.py
Owners: @joaorodrigues, @lennax

Disable sphinx.ext.viewcode (formated copy of source code)
  Doc/api/conf.py
Owners: none

Add a tiny introduction to the Sphinx API docs
  Doc/api/index.rst
Owners: none

Fixed Doctest for Bio.PDB, amended typos and file locations.
  Bio/PDB/DSSP.py
  Bio/PDB/FragmentMapper.py
  Bio/PDB/PDBIO.py
  Bio/PDB/mmcifio.py
  Bio/PDB/vectors.py
  Tests/PDB/fragment_data/lib_10_z_5.txt
Owners: @joaorodrigues, @lennax

Proof of principle deployment to biopython/docs
  .github/deploy_docs.sh
  .github/ssh_via_deploy_key.sh
  .travis.yml
Owners: none

Use the TravisCI deploy hook (master branch only)
  .travis.yml
Owners: none

Add __repr__ to NCBICodonTable
  Bio/Data/CodonTable.py
Owners: none

Avoid lambda in SearchIO to_dict (follow SeqIO)
  Bio/SearchIO/__init__.py
Owners: @bow

Avoid function as default argument; use None
  Bio/kNN.py
Owners: none

Skip Bio.Restriction.Restriction in API docs
  Doc/api/conf.py
Owners: none

__all__ should be a tuple, not a single string
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
Owners: none

Follow numpy section naming, fixes sphinx numpydoc warning
  BioSQL/BioSeqDatabase.py
Owners: none

Show logo, explicitly turn off showing RST source
  Doc/api/conf.py
Owners: none

Use read-the-docs theme, with dark grey sidebar
  Doc/api/conf.py
Owners: none

Need to install sphinx_rtd_theme
  .travis-tox.ini
Owners: none

Four space indentation in docstring example
  Bio/AlignIO/FastaIO.py
Owners: @peterjc

Use a bullet point list for these URLs
  Bio/GenBank/Scanner.py
Owners: @peterjc

Proof of principle deployment to biopython/docs
  .github/deploy_docs.sh
  .github/ssh_via_deploy_key.sh
  .travis.yml
Owners: none

Add a tiny introduction to the Sphinx API docs
  Doc/api/index.rst
Owners: none

Avoid function as default argument; use None
  Bio/kNN.py
Owners: none

Show logo, explicitly turn off showing RST source
  Doc/api/conf.py
Owners: none

Use a bullet point list for these URLs
  Bio/GenBank/Scanner.py
Owners: @peterjc

Add __repr__ to NCBICodonTable
  Bio/Data/CodonTable.py
Owners: none

Skip Bio.Restriction.Restriction in API docs
  Doc/api/conf.py
Owners: none

Follow numpy section naming, fixes sphinx numpydoc warning
  BioSQL/BioSeqDatabase.py
Owners: none

Avoid lambda in SearchIO to_dict (follow SeqIO)
  Bio/SearchIO/__init__.py
Owners: @bow

Use read-the-docs theme, with dark grey sidebar
  Doc/api/conf.py
Owners: none

Four space indentation in docstring example
  Bio/AlignIO/FastaIO.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
