Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

use unittest assertIn for test_SeqIO_SeqXML (#3374)
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

use unittest assertRaises in test_SeqIO.py (#3373)
  Tests/test_SeqIO.py
Owners: @peterjc

use unittest assertRaises and assertIn for GenePop (#3372)
  Tests/test_PopGen_GenePop_nodepend.py
Owners: @tiagoantao

clean up unittest (#3375)
  Tests/test_SffIO.py
Owners: none

minor cleanup
  Tests/test_TogoWS.py
Owners: @peterjc

unittest minor cleanup
  Tests/test_phenotype.py
Owners: none

minor cleanup (#3376)
  Tests/test_TogoWS.py
Owners: @peterjc

unittest minor cleanup (#3377)
  Tests/test_phenotype.py
Owners: none

unittest minor cleanup
  Tests/test_Seq_objs.py
Owners: @peterjc

kill the messenger
  Tests/test_Seq_objs.py
Owners: @peterjc

Dual license Bio/Sequencing/Applications/__init__.py
  Bio/Sequencing/Applications/__init__.py
Owners: none

Acknowledge Osvaldo Zagordi for NovoAlign wrapper
  CONTRIB.rst
  NEWS.rst
Owners: none

Dual license Bio/Sequencing/Applications/_Novoalign.py
  Bio/Sequencing/Applications/_Novoalign.py
Owners: none

unittest minor cleanup (#3378)
  Tests/test_Seq_objs.py
Owners: @peterjc

fix the URL of PDF Tutorial (#3332)
  Bio/Seq.py
Owners: @peterjc

default phyml test to single threaded (#3268)
  Tests/test_phyml_tool.py
Owners: none

deprecating the format method (#3267)
  Bio/Phylo/BaseTree.py
  DEPRECATED.rst
Owners: @etal

use unittest
  Tests/test_SCOP_Scop.py
Owners: none

Dual license Bio/Sequencing/__init__.py
  Bio/Sequencing/__init__.py
Owners: none

Dual license Bio/Sequencing/Ace.py
  Bio/Sequencing/Ace.py
Owners: none

Dual license Bio/Sequencing/Applications/_bwa.py
  Bio/Sequencing/Applications/_bwa.py
Owners: none

Dual license Bio/Sequencing/Applications/_samtools.py
  Bio/Sequencing/Applications/_samtools.py
Owners: none

Dual license Bio/Sequencing/Applications/_Novoalign.py
  Bio/Sequencing/Applications/_Novoalign.py
Owners: none

Acknowledge Osvaldo Zagordi for NovoAlign wrapper
  CONTRIB.rst
  NEWS.rst
Owners: none

Dual license Bio/Sequencing/Phd.py
  Bio/Sequencing/Phd.py
Owners: none

Dual license Bio/Sequencing/Applications/__init__.py
  Bio/Sequencing/Applications/__init__.py
Owners: none

use assertCountEqual where possible
  Tests/common_BioSQL_online.py
  Tests/seq_tests_common.py
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_PDBIO.py
  Tests/test_PopGen_GenePop_EasyController.py
  Tests/test_SeqIO_AbiIO.py
  Tests/test_SeqIO_index.py
  Tests/test_seq.py
Owners: @joaorodrigues, @lennax, @tiagoantao, @peterjc, @bow

Delete test_MrBayes_tool.py
  Tests/test_MrBayes_tool.py
Owners: none

Delete _MrBayes.py
  Bio/Phylo/Applications/_MrBayes.py
Owners: none

use unittest (#3380)
  Tests/test_SCOP_Scop.py
Owners: none

really getting tired of Travis
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

use assertEqual
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_ResidueDepth.py
  Tests/test_Pathway.py
  Tests/test_SearchIO_hmmer3_text.py
Owners: @joaorodrigues, @lennax, @bow

Travis should mind its own business
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

Travis wasting my time
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

eat this Travis
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

remove unneeded test
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

print bytes/bytearray as characters
  Bio/Align/__init__.py
Owners: @peterjc

use ANY_LETTER directly
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @mdehoon

unicode strings
  Bio/Align/_aligners.c
  Tests/test_pairwise_aligner.py
Owners: @mdehoon

generalize unicode alignments
  Bio/Align/_aligners.c
Owners: @mdehoon

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
