Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

fix reference to testing chapter
  Doc/README.rst
Owners: none

add >>> to code example
  Doc/README.rst
Owners: none

section -> subsection
  Doc/README.rst
Owners: none

ObjectName -> variable_name; add note on underscore
  Doc/README.rst
Owners: none

remove note on avoiding errors
  Doc/README.rst
Owners: none

fix overlong lines
  Doc/README.rst
Owners: none

fix {pycon} example and add {python} example
  Doc/README.rst
Owners: none

Rewrite assertEqual to match style of the other assertEqual.
  Tests/test_SeqFeature.py
Owners: @peterjc

Style cosmetics, adjust line length for better look.
  Tests/test_SeqUtils.py
Owners: @peterjc

Style cosmetics, removed comments as they do not align with black style.
  Tests/test_Seq_objs.py
Owners: @peterjc

TravisCI also runs doc8 on the RST files
  CONTRIBUTING.rst
Owners: none

SnapGene cleanup (#2621)
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

fix trailing whitespace
  Doc/README.rst
Owners: none

Apply black style to test_SearchIO_blast_xml.py , version 19.10b0.
  Tests/test_SearchIO_blast_xml.py
Owners: @bow

allow file path as argument
  Bio/SeqIO/TabIO.py
Owners: @peterjc

use ElementTree to handle file paths
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

Let Bio.SeqIO.XdnaIO handle file paths
  Bio/SeqIO/XdnaIO.py
  Bio/_utils.py
Owners: @peterjc

black
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

allow file path as argument
  Bio/SeqIO/TabIO.py
Owners: @peterjc

Let Bio.SwissProt handle filename vs handle (#2623)
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

Remove subprocess call to python interpreter
  Scripts/xbbtools/xbb_blastbg.py
Owners: none

Apply black style to test_SearchIO_blast*, version 19.10b0. test_SearchIO_blast_tab.py test_SearchIO_blast_text.py
  Tests/test_SearchIO_blast_tab.py
  Tests/test_SearchIO_blast_text.py
Owners: @bow

Apply black style to test_SearchIO_blat*, version 19.10b0. test_SearchIO_blat_psl.py
  Tests/test_SearchIO_blat_psl.py
Owners: @bow

use ElementTree to handle file paths (#2629)
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

fix typo
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc

Apply black style to test_SearchIO_exonerate*, version 19.10b0. test_SearchIO_exonerate.py
  Tests/test_SearchIO_exonerate.py
Owners: @bow

Allow file paths in FastaIterator and FastaTwoLineIterator
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

Let Bio.SeqIO.XdnaIO handle file paths (#2630)
  Bio/SeqIO/XdnaIO.py
  Bio/_utils.py
Owners: @peterjc

Allow file paths in FastaIterator and FastaTwoLineIterator
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

Apply black style to test_SearchIO_blast_xml.py , version 19.10b0.
  Tests/test_SearchIO_blast_xml.py
Owners: @bow

Let Bio.Sequencing.Phd take care of file paths
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PhdIO.py
Owners: @peterjc

Let Bio.Sequencing.Phd take care of file paths (#2637)
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PhdIO.py
Owners: @peterjc

update Bio.SeqIO.PdbIO
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

update Bio.SeqIO.PdbIO
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

Apply black style to test_SearchIO_fasta*, version 19.10b0. test_SearchIO_fasta_m10.py
  Tests/test_SearchIO_fasta_m10.py
Owners: @bow

Aligned sequence function for pairwise alignments and unified formatting
  Bio/Align/__init__.py
Owners: @peterjc

Apply black style to test_SearchIO_* last files, version 19.10b0. test_SearchIO_interproscan_xml.py test_SearchIO_legacy.py test_SearchIO_model.py test_SearchIO_write.py
  Tests/test_SearchIO_interproscan_xml.py
  Tests/test_SearchIO_legacy.py
  Tests/test_SearchIO_model.py
  Tests/test_SearchIO_write.py
Owners: @bow

Name -> lists
  CONTRIB.rst
  NEWS.rst
Owners: none

Style fixes
  Bio/Align/__init__.py
Owners: @peterjc

Couple more style fixes
  Bio/Align/__init__.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
