Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Assume numpy is present for package list in setup.py
  setup.py
Owners: none

convert Bio.motifs._pwm to python3
  Bio/motifs/_pwm.c
Owners: @mdehoon

travis
  Bio/SwissProt/__init__.py
Owners: none

travis
  Tests/test_SeqIO.py
  Tests/test_SeqIO_online.py
Owners: @peterjc

allow for empty files
  Bio/SwissProt/__init__.py
Owners: none

define a SwissProtParserError, and use it to store the line in which an error occurred
  Bio/SwissProt/__init__.py
  Tests/test_SeqIO_online.py
Owners: @peterjc

use python3 in Bio.SwissProt
  Bio/SwissProt/__init__.py
  Tests/test_SeqIO_online.py
Owners: @peterjc

add missing __next__ to ForwardOnlyHandle
  Tests/test_SeqIO.py
  Tests/test_SeqIO_online.py
Owners: @peterjc

Dual license BSD dual license Bio.KDTreemodule Original author Michiel de Hoon and contributors since as tracked with version control have all agree:
  Bio/KDTree/KDTreemodule.c
Owners: none

Dual license BSD dual license Bio.KDTreemodule (#2423)
  Bio/KDTree/KDTreemodule.c
Owners: none

Handle "Sequences must all be the same length" test centrally
  Tests/test_SeqIO.py
Owners: @peterjc

Make it easier to add new SeqIO tests
  Tests/test_SeqIO.py
Owners: @peterjc

good riddance
  Bio/SeqIO/NibIO.py
Owners: @peterjc

good riddance
  Bio/SeqIO/NibIO.py
Owners: @peterjc

Explicitly include setuptools within TravisCI Tox environment
  .travis-tox.ini
Owners: none

cleanup
  Bio/Align/_aligners.c
  Bio/Align/substitution_matrices/__init__.py
Owners: @mdehoon

Explicitly include wheel within TravisCI Tox environment
  .travis-tox.ini
Owners: none

cleanup (#2427)
  Bio/Align/_aligners.c
  Bio/Align/substitution_matrices/__init__.py
Owners: @mdehoon

TravisCI/Tox: Numpy 1.17.4 was working with PyPy
  .travis-tox.ini
Owners: none

Added name to contrib.rst
  CONTRIB.rst
Owners: none

Explicitly include setuptools within TravisCI Tox environment
  .travis-tox.ini
Owners: none

TravisCI/Tox: Numpy 1.17.4 was working with PyPy
  .travis-tox.ini
Owners: none

Explicitly include wheel within TravisCI Tox environment
  .travis-tox.ini
Owners: none

Small doc updates after dropping Python 2
  CONTRIBUTING.rst
Owners: none

GenBank: Fix TSA line parsing (#2431)
  Bio/GenBank/Scanner.py
  Tests/test_GenBank.py
Owners: @peterjc

Removed empty lines created from import removal
  Bio/Align/Applications/_Dialign.py
  Bio/Align/Applications/_MSAProbs.py
  Bio/Align/Applications/_Prank.py
  Bio/Align/Applications/_Probcons.py
  Bio/Geo/Record.py
  Bio/HMM/Utilities.py
  Bio/NMR/xpktools.py
  Bio/PDB/AbstractPropertyMap.py
  Bio/SeqUtils/CodonUsage.py
  Bio/SubsMat/__init__.py
  Bio/SwissProt/KeyWList.py
Owners: @joaorodrigues, @lennax

Added name to contrib.rst
  CONTRIB.rst
Owners: none

Removed empty lines created from import removal
  Bio/Align/Applications/_Dialign.py
  Bio/Align/Applications/_MSAProbs.py
  Bio/Align/Applications/_Prank.py
  Bio/Align/Applications/_Probcons.py
  Bio/Geo/Record.py
  Bio/HMM/Utilities.py
  Bio/NMR/xpktools.py
  Bio/PDB/AbstractPropertyMap.py
  Bio/SeqUtils/CodonUsage.py
  Bio/SubsMat/__init__.py
  Bio/SwissProt/KeyWList.py
Owners: @joaorodrigues, @lennax

GenBank: Fix TSA line parsing (#2431)
  Bio/GenBank/Scanner.py
  Tests/test_GenBank.py
Owners: @peterjc

Remove docstring comments about Python 2 [ci skip]
  Bio/Phylo/PhyloXML.py
Owners: @etal

Update FAQ on python print style
  Doc/Tutorial/chapter_introduction.tex
Owners: none

Fixed typo [ci skip]
  Doc/Tutorial/chapter_introduction.tex
Owners: none

Remove Python 2 import
  Tests/run_tests.py
Owners: none

Remove Python 2 imports in xbbtools
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_blastbg.py
  Scripts/xbbtools/xbb_help.py
  Scripts/xbbtools/xbb_search.py
  Scripts/xbbtools/xbb_utils.py
  Scripts/xbbtools/xbb_widget.py
  Scripts/xbbtools/xbbtools.py
Owners: none

Remove python 2 imports in SeqGui.py
  Scripts/SeqGui/SeqGui.py
Owners: none

Remove python 2 import in Bio/Index.py
  Bio/Index.py
Owners: none

Remove python 2 import ingetgene.py
  Doc/examples/getgene.py
Owners: none

Remove python 2 imports in test_Restriction.py
  Tests/test_Restriction.py
Owners: none

Remove python 2 imports in rebase_update.py
  Scripts/Restriction/rebase_update.py
Owners: none

Remove python 2 import in Scripts/GenBank/check_output.py
  Scripts/GenBank/check_output.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
