Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Avoid triple-quote strings
  Scripts/update_ncbi_codon_table.py
Owners: none

Turn off black formatting for autogenerated codon tables
  Bio/Data/CodonTable.py
Owners: none

Fix an implicit string concatenation before run black
  Bio/Data/CodonTable.py
Owners: none

Disable black on Bio/Data/SCOPData.py
  Bio/Data/SCOPData.py
Owners: none

black, version 19.10b, on CodonTable.py
  Bio/Data/CodonTable.py
Owners: none

Regenerate CodonTable in more black-like style
  Bio/Data/CodonTable.py
Owners: none

Output using double-quote strings
  Scripts/update_ncbi_codon_table.py
Owners: none

NCBI genetic code table version 4.5
  Bio/Data/CodonTable.py
  NEWS.rst
Owners: none

More black-like indentation in NCBI codon tables
  Scripts/update_ncbi_codon_table.py
Owners: none

NCBI table 32 did change... but not as expected
  Tests/test_CodonTable.py
Owners: none

Four codons per row; blank gaps for stop codons
  Bio/Data/CodonTable.py
  Scripts/update_ncbi_codon_table.py
Owners: none

PQR Parser (#2338)
  Bio/PDB/Atom.py
  Bio/PDB/PDBIO.py
  Bio/PDB/PDBParser.py
  Bio/PDB/StructureBuilder.py
  CONTRIB.rst
  Doc/Tutorial/chapter_pdb.tex
  NEWS.rst
  Tests/PQR/1A80.pqr
  Tests/test_PQR.py
Owners: @joaorodrigues, @lennax

Convert rest of string format method in Bio/Seq.py
  Bio/Seq.py
Owners: @peterjc

cleanup exceptions in Bio.Application (#2536)
  Bio/Application/__init__.py
Owners: none

Remove python 2 branch in setup.py
  setup.py
Owners: none

python3 fixes for Bio.Blast
  Bio/Blast/NCBIWWW.py
  Bio/Blast/NCBIXML.py
  Bio/Blast/ParseBlastTable.py
Owners: none

Remove clang workaround for older Mac OS X systems
  setup.py
Owners: none

Simplify loading README.rst in setup.py
  setup.py
Owners: none

Remove dependency checking in setup.py
  setup.py
Owners: none

python3 fixes for Bio.Blast
  Bio/Blast/NCBIWWW.py
  Bio/Blast/NCBIXML.py
  Bio/Blast/ParseBlastTable.py
Owners: none

black, version 19.10b on Bio.Alphabet
  Bio/Alphabet/IUPAC.py
  Bio/Alphabet/Reduced.py
  Bio/Alphabet/__init__.py
Owners: @peterjc

post-black string concatenation fixes
  Bio/Alphabet/__init__.py
Owners: @peterjc

black, version 19.10b on Bio.Blast files
  Bio/Blast/NCBIWWW.py
  Bio/Blast/NCBIXML.py
  Bio/Blast/ParseBlastTable.py
  Bio/Blast/Record.py
Owners: none

post-black string concatenation tweaks
  Bio/Blast/NCBIWWW.py
  Bio/Blast/NCBIXML.py
Owners: none

Fix pre-existing error in exception messages
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

black, version 19.10b on misc files
  Bio/Compass/__init__.py
  Bio/Nexus/Nexus.py
  Bio/SCOP/__init__.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/SeqXmlIO.py
  Scripts/xbbtools/nextorf.py
Owners: @peterjc

Applied black style to Tests/test_UniProt_GOA.py. black, version 19.10b0.
  Tests/test_UniProt_GOA.py
Owners: none

Simplify loading README.rst in setup.py
  setup.py
Owners: none

Remove python 2 branch in setup.py
  setup.py
Owners: none

Remove dependency checking in setup.py
  setup.py
Owners: none

Remove clang workaround for older Mac OS X systems
  setup.py
Owners: none

black, version 19.10b on misc files
  Bio/Compass/__init__.py
  Bio/Nexus/Nexus.py
  Bio/SCOP/__init__.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/SeqXmlIO.py
  Scripts/xbbtools/nextorf.py
Owners: @peterjc

black, version 19.10b on Bio.Blast files
  Bio/Blast/NCBIWWW.py
  Bio/Blast/NCBIXML.py
  Bio/Blast/ParseBlastTable.py
  Bio/Blast/Record.py
Owners: none

Fix pre-existing error in exception messages
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

post-black string concatenation tweaks
  Bio/Blast/NCBIWWW.py
  Bio/Blast/NCBIXML.py
Owners: none

post-black string concatenation fixes
  Bio/Alphabet/__init__.py
Owners: @peterjc

black, version 19.10b on Bio.Alphabet
  Bio/Alphabet/IUPAC.py
  Bio/Alphabet/Reduced.py
  Bio/Alphabet/__init__.py
Owners: @peterjc

update exceptions in Bio.Cluster for python3
  Bio/Cluster/__init__.py
Owners: @mdehoon

update exceptions in Bio.Cluster for python3 (#2539)
  Bio/Cluster/__init__.py
Owners: @mdehoon

update Exceptions in Bio.Compass for python3
  Bio/Compass/__init__.py
Owners: none
