Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Apply black style to test_cellosaurus.py, version 19.10b0.
  Tests/test_cellosaurus.py
Owners: none

Apply black style to test_Ace.py, version 19.10b0.
  Tests/test_Ace.py
Owners: none

Apply black style to test_Ace.py, version 19.10b0.
  Tests/test_Ace.py
Owners: none

removed alphabets
  Tests/test_SeqRecord.py
Owners: @peterjc

removed alphabets
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

removed alphabet
  Tests/test_SeqIO_Insdc.py
Owners: @peterjc

replaced alphabet by molecule_type
  Tests/test_SeqIO_Xdna.py
Owners: @peterjc

removed alphabets from test_SeqIO_FastaIO.py
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

Cosmetic changes, re-arrange strings, reads better.
  Tests/test_cellosaurus.py
Owners: none

Apply black style to test_Cluster.py, version 19.10b0.
  Tests/test_Cluster.py
Owners: @mdehoon

Apply black style to test_seq.py, version 19.10b0.
  Tests/test_seq.py
Owners: @peterjc

Cosmetic change, disable black format on line, as it splits it on the dots.
  Tests/test_seq.py
Owners: @peterjc

removed alphabets
  Tests/test_SeqIO_write.py
Owners: @peterjc

remove alphabets from Bio.SeqIO.AbioIO
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

remove alphabets from Bio.SeqIO.AbioIO
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

removed alphabets
  Tests/test_SeqIO_write.py
Owners: @peterjc

Apply black style to test_cellosaurus.py, version 19.10b0.
  Tests/test_cellosaurus.py
Owners: none

Cosmetic changes, re-arrange strings, reads better.
  Tests/test_cellosaurus.py
Owners: none

Use backticks more consistently on Bio.Restriction in NEWS
  NEWS.rst
Owners: none

removed alphabets
  Tests/test_SeqRecord.py
Owners: @peterjc

removed alphabets
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

removed alphabets from test_SeqIO_FastaIO.py
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

replaced alphabet by molecule_type
  Tests/test_SeqIO_Xdna.py
Owners: @peterjc

Use backticks more consistently on Bio.Restriction in NEWS
  NEWS.rst
Owners: none

Fix broken merge in Biopython 1.76 contributors
  NEWS.rst
Owners: none

remove stray import
  Tests/test_SeqIO_index.py
Owners: @peterjc

removed the final alphabet in test_SeqIO_Insdc.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Insdc.py
Owners: @peterjc

remove stray import
  Tests/test_SeqIO_index.py
Owners: @peterjc

Update copyright right in Sphinx API settings
  Doc/api/conf.py
Owners: none

Apply black to test_Prank_tool.py
  Tests/test_Prank_tool.py
Owners: none

removed alphabet
  Tests/test_SeqIO_Insdc.py
Owners: @peterjc

removed the final alphabet in test_SeqIO_Insdc.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_Insdc.py
Owners: @peterjc

Make MMCIF2Dict more robust
  Bio/PDB/MMCIF2Dict.py
  Tests/test_PDB_MMCIF2Dict.py
Owners: @joaorodrigues, @lennax

reverting
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/MsfIO.py
  Bio/GenBank/__init__.py
  Bio/Nexus/Trees.py
  Bio/SearchIO/BlastIO/blast_text.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SeqIO/Interfaces.py
  Bio/codonalign/__init__.py
Owners: @peterjc, @zruan

Apply black to test_Prank_tool.py
  Tests/test_Prank_tool.py
Owners: none

Apply black to test_Dialign_tool.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_Dialign_tool.py
Owners: none

Apply black to test_Dialign_tool.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_Dialign_tool.py
Owners: none

Apply black to test_NACCESS_tool.py
  Tests/test_NACCESS_tool.py
Owners: none

removed alphabets
  Tests/test_SeqIO.py
Owners: @peterjc

removed alphabets
  Doc/biopdb_faq.tex
Owners: none
