Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

fix bug found by mypy
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

fix bug found by mypy
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

ImportError and fixing setup.py
  Bio/Alphabet/__init__.py
  setup.py
Owners: @peterjc

all SequenceIterators implement parse() but it was not explicit
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

ImportError
  Tests/run_tests.py
Owners: none

black is out of its mind
  Tests/run_tests.py
Owners: none

you can always rely on Travis
  Tests/run_tests.py
Owners: none

remove Bio.Alphabet and use an informative error message (#3173)
  Bio/Alphabet/IUPAC.py
  Bio/Alphabet/Reduced.py
  Bio/Alphabet/__init__.py
  Tests/run_tests.py
Owners: @peterjc

Tell Sphinx/AutoDoc to ignore Bio.Alphabet
  Doc/api/conf.py
Owners: none

Tell Sphinx/AutoDoc to ignore Bio.Alphabet
  Doc/api/conf.py
Owners: none

repr was wasteful
  Bio/Seq.py
Owners: @peterjc

one
  Bio/codonalign/__init__.py
Owners: @zruan

two
  Bio/codonalign/__init__.py
Owners: @zruan

three
  Bio/codonalign/__init__.py
Owners: @zruan

four
  Bio/codonalign/__init__.py
Owners: @zruan

five
  Bio/codonalign/__init__.py
Owners: @zruan

six
  Bio/codonalign/__init__.py
Owners: @zruan

seven
  Bio/codonalign/__init__.py
Owners: @zruan

eight
  Bio/codonalign/codonseq.py
Owners: @zruan

nine
  Bio/codonalign/codonseq.py
Owners: @zruan

ten
  Bio/codonalign/codonseq.py
Owners: @zruan

eleven
  Bio/codonalign/__init__.py
  Bio/codonalign/codonseq.py
Owners: @zruan

travis
  Bio/codonalign/__init__.py
  Bio/codonalign/codonseq.py
Owners: @zruan

Don't use Seq._data in Codonseq (#3179)
  Bio/codonalign/__init__.py
  Bio/codonalign/codonseq.py
Owners: @zruan

repr was wasteful (#3178)
  Bio/Seq.py
Owners: @peterjc

Minimal conda dependency set
  .appveyor.yml
Owners: none

SeqIO and AlignIO convert doctests with mol type.
  Bio/AlignIO/__init__.py
  Bio/SeqIO/__init__.py
Owners: @peterjc

Remove leading tabs in Nexus output
  Bio/Nexus/Nexus.py
Owners: none

Minimal conda dependency set
  .appveyor.yml
Owners: none

Call black directly (not via flake8)
  .travis-tox.ini
Owners: none

Reorder style checks - fast before slow
  .travis-tox.ini
Owners: none

Need to declare black command to Tox
  .travis-tox.ini
Owners: none

Revert bug fix from Lucas Sinclair; use my original
  Bio/Entrez/Parser.py
Owners: @mdehoon

BSD dual license Bio/Entrez/Parser.py
  Bio/Entrez/Parser.py
Owners: @mdehoon

BSD dual license Bio/Entrez/__init__.py
  Bio/Entrez/__init__.py
Owners: @mdehoon

test more ABCs
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/_legacy/ParserSupport.py
Owners: none

more explict to raise exception (although not required)
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/_legacy/ParserSupport.py
Owners: none

TravisCI: Two early steps, flake8 and misc
  .travis-tox.ini
  .travis.yml
Owners: none

TravisCI: Run black --diff rather than --check
  .travis-tox.ini
Owners: none

use unitest.assertGreater in test_PDBList.py (#3171)
  Tests/test_PDBList.py
Owners: @joaorodrigues, @lennax

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
