Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

updated NEWS (#3486)
  NEWS.rst
Owners: none

use a unittest for search_tests_common (#3353)
  Tests/search_tests_common.py
  Tests/test_SearchIO_model.py
  Tests/test_SearchIO_write.py
Owners: @bow

trying to find out what travis was yapping about
  Tests/search_tests_common.py
Owners: none

travis is a weirdo
  Tests/search_tests_common.py
Owners: none

trying to find out what travis was yapping about (#3488)
  Tests/search_tests_common.py
Owners: none

make pairwise aligner picklable
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

travis
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

travis is wasting my time again
  Tests/test_pairwise_aligner.py
Owners: none

travis
  Tests/test_pairwise_aligner.py
Owners: none

make pairwise aligner picklable (#3489)
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Include Python 3.9 on TravisCI
  .travis-tox.ini
  .travis.yml
Owners: none

Python 3.9 tested now
  NEWS.rst
  README.rst
Owners: none

Python 3.9 on CircleCI too
  .circleci/config.yml
Owners: none

Python 3.9 tested now
  NEWS.rst
  README.rst
Owners: none

Include Python 3.9 on TravisCI
  .travis-tox.ini
  .travis.yml
Owners: none

Python 3.9 on CircleCI too
  .circleci/config.yml
Owners: none

uptimize upper, lower for twoBit sequences
  Bio/SeqIO/TwoBitIO.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

travis
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

waste of time
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

optimize upper, lower for twoBit sequences (#3494)
  Bio/SeqIO/TwoBitIO.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

Fix sigatm indexing
  Bio/PDB/PDBParser.py
Owners: @joaorodrigues, @lennax

Use autodoc_preserve_defaults = True
  .travis-tox.ini
  Doc/api/conf.py
Owners: none

Numpdoc says class parameters before attributes
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

Remove defunct link in comment
  Bio/SeqIO/__init__.py
Owners: @peterjc

Move import comments (about to sort)
  Tests/test_SeqIO_online.py
Owners: @peterjc

Move import comments (about to sort)
  Tests/test_SeqIO_online.py
Owners: @peterjc

Remove defunct link in comment
  Bio/SeqIO/__init__.py
Owners: @peterjc

Fix sigatm indexing
  Bio/PDB/PDBParser.py
Owners: @joaorodrigues, @lennax

add support for cif.gz and pdb.gz files + unittest
  Bio/File.py
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/PDBParser.py
  Tests/PDB/1A8O.cif.gz
  Tests/PDB/1A8O.pdb.gz
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_PDBParser.py
Owners: @joaorodrigues, @lennax

contrib update and pdb.gz cif.gz to news
  CONTRIB.rst
  NEWS.rst
Owners: none

change gzip mode to text and remove decoding
  Bio/File.py
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/PDBParser.py
  Tests/test_PDB_PDBParser.py
Owners: @joaorodrigues, @lennax

Add support for pfm-four-rows PWMS with scientific numbers.
  Bio/motifs/pfm.py
Owners: @mdehoon

Remove unrelevant comment in Bio.motifs.pfm.
  Bio/motifs/pfm.py
Owners: @mdehoon

Updated NEWS: 'pfm-four-rows' scientific notation support.
  NEWS.rst
Owners: none

Fix doc comments in Bio.motifs.pfm.
  Bio/motifs/pfm.py
Owners: @mdehoon

Fix "FutureWarning: Possible nested set at position" in Bio.motifs.pfm.
  Bio/motifs/pfm.py
Owners: @mdehoon

Add tests for "pfm-four-columns" and "pfm-four-rows" motif formats.
  Tests/motifs/fourcolumns.pfm
  Tests/motifs/fourrows.pfm
  Tests/test_motifs.py
Owners: @mdehoon

Generate proper count matrix when reading motifs in minimal MEME format.
  Bio/motifs/minimal.py
  NEWS.rst
Owners: @mdehoon

add PDB.read() function and revert changes to PDBParser(), MMCIFParser()
  Bio/File.py
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/PDBParser.py
  Bio/PDB/__init__.py
  Tests/test_PDB.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_PDBParser.py
Owners: @joaorodrigues, @lennax

added PDB.read mmtf tests to test_mmtf and fix doctest
  Bio/PDB/__init__.py
  Tests/test_PDB.py
  Tests/test_mmtf.py
Owners: @joaorodrigues, @lennax
