Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Dual license Bio/Phylo/_io.py
  Bio/Phylo/_io.py
Owners: @etal

dual license Bio/Phylo/_cdao_owl.py
  Bio/Phylo/_cdao_owl.py
Owners: @etal

dual license Bio/Phylo/Newick.py
  Bio/Phylo/Newick.py
Owners: @etal

Dual license Bio/Phylo/TreeConstruction.py
  Bio/Phylo/TreeConstruction.py
Owners: @etal

Dual license Bio/Phylo/NewickIO.py
  Bio/Phylo/NewickIO.py
Owners: @etal

Dual license Bio/Phylo/Consensus.py
  Bio/Phylo/Consensus.py
Owners: @etal

Dual license Bio/Phylo/__init__.py
  Bio/Phylo/__init__.py
Owners: @etal

Make it easier to add new SeqIO tests
  Tests/test_SeqIO.py
Owners: @peterjc

Handle "Sequences must all be the same length" test centrally
  Tests/test_SeqIO.py
Owners: @peterjc

Apply black style to Bio.Sequencing, resolve conflict on Applications/_bwa.py
  Bio/Sequencing/Applications/_bwa.py
Owners: none

Apply black style to Bio.Phylo. Revert aligned triple quotes.
  Bio/Phylo/Applications/_Fasttree.py
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
Owners: none

add tests
  Bio/SeqIO/SeqXmlIO.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

travis
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

Merge some strings which fit on one line
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/PhylipIO.py
Owners: @peterjc

Apply black style to Bio.Phylo (#2365)
  Bio/Phylo/Applications/_Fasttree.py
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
  Bio/Phylo/Applications/__init__.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/CDAO.py
  Bio/Phylo/CDAOIO.py
  Bio/Phylo/Consensus.py
  Bio/Phylo/NeXML.py
  Bio/Phylo/NeXMLIO.py
  Bio/Phylo/Newick.py
  Bio/Phylo/NewickIO.py
  Bio/Phylo/NexusIO.py
  Bio/Phylo/PAML/_paml.py
  Bio/Phylo/PAML/_parse_baseml.py
  Bio/Phylo/PAML/_parse_codeml.py
  Bio/Phylo/PAML/_parse_yn00.py
  Bio/Phylo/PAML/baseml.py
  Bio/Phylo/PAML/chi2.py
  Bio/Phylo/PAML/codeml.py
  Bio/Phylo/PAML/yn00.py
  Bio/Phylo/PhyloXML.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/Phylo/TreeConstruction.py
  Bio/Phylo/_cdao_owl.py
  Bio/Phylo/_io.py
  Bio/Phylo/_utils.py
Owners: @etal

Seq xml fix (#2375)
  Bio/SeqIO/SeqXmlIO.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

Apply black style to Bio.Sequencing (#2340)
  Bio/Sequencing/Ace.py
  Bio/Sequencing/Applications/_Novoalign.py
  Bio/Sequencing/Applications/__init__.py
  Bio/Sequencing/Applications/_bwa.py
  Bio/Sequencing/Applications/_samtools.py
  Bio/Sequencing/Phd.py
Owners: none

Fixed implicit string concatenation after black
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

Merge some strings which fit on one line
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/PhylipIO.py
Owners: @peterjc

ran black on AlignIO
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/FastaIO.py
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/PhylipIO.py
  Bio/AlignIO/StockholmIO.py
  Bio/AlignIO/__init__.py
Owners: @peterjc

ran black on SeqIO
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

Parse multiline structured comments in GenBank files
  Bio/GenBank/Scanner.py
  CONTRIB.rst
  Tests/GenBank/GU949562.1.gb
  Tests/test_GenBank.py
Owners: @peterjc

ran black, version 19.3b0, on Doc/examples/
  Doc/examples/ACT_example.py
  Doc/examples/Proux_et_al_2002_Figure_6.py
  Doc/examples/clustal_run.py
  Doc/examples/getgene.py
  Doc/examples/make_subsmat.py
  Doc/examples/nmr/simplepredict.py
Owners: none

Enforce black on BioSQL/ Scripts/ + Doc/
  .flake8
  .travis-tox.ini
Owners: none

run black on setup.py
  setup.py
Owners: none

ran black, version 19.10b0, on Scripts/ and BioSQL/
  BioSQL/BioSeq.py
  BioSQL/Loader.py
  Scripts/debug/debug_blast_parser.py
Owners: none

ran black Bio/Seq*.py, version 19.10b, and fixed strings.
  Bio/Seq.py
  Bio/SeqFeature.py
  Bio/SeqRecord.py
Owners: @peterjc

ran black, version 19.10b, on Bio/Graphics/
  Bio/Graphics/BasicChromosome.py
  Bio/Graphics/ColorSpiral.py
  Bio/Graphics/Comparative.py
  Bio/Graphics/DisplayRepresentation.py
  Bio/Graphics/Distribution.py
  Bio/Graphics/KGML_vis.py
  Bio/Graphics/__init__.py
Owners: none

Fixed post-black string concatenation
  Bio/Graphics/BasicChromosome.py
Owners: none

Avoid UndoHandles by catching errors in the parser
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/PDBParser.py
  Bio/SeqIO/PdbIO.py
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax, @peterjc

ran black, version 19.10b, on Bio/Graphics/
  Bio/Graphics/BasicChromosome.py
  Bio/Graphics/ColorSpiral.py
  Bio/Graphics/Comparative.py
  Bio/Graphics/DisplayRepresentation.py
  Bio/Graphics/Distribution.py
  Bio/Graphics/KGML_vis.py
  Bio/Graphics/__init__.py
Owners: none

Fixed post-black string concatenation
  Bio/Graphics/BasicChromosome.py
Owners: none

travis
  Bio/SeqIO/PdbIO.py
Owners: @peterjc

fix the file access issue on Windows
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

so far so good
  Bio/SearchIO/FastaIO.py
Owners: @bow

making progress
  Bio/SearchIO/FastaIO.py
Owners: @bow

almost done
  Bio/SearchIO/FastaIO.py
Owners: @bow

cleanup
  Bio/SearchIO/FastaIO.py
Owners: @bow

more progress
  Bio/SearchIO/FastaIO.py
Owners: @bow

progress
  Bio/SearchIO/FastaIO.py
Owners: @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
