Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

use an abstract base class
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
  BioSQL/BioSeq.py
Owners: @peterjc

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

use an abstract base class (#3445)
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
  BioSQL/BioSeq.py
Owners: @peterjc

deprecate UnknownSeq
  Bio/Seq.py
  Bio/SeqRecord.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_seq_objects.tex
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

travis
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

travis
  Tests/test_Seq_objs.py
Owners: @peterjc

Add files via upload
  Tests/test_IQTree_tool.py
Owners: none

restore filter in tearDown
  Bio/Seq.py
  Tests/test_seq.py
Owners: @peterjc

deprecate UnknownSeq (#3446)
  Bio/Seq.py
  Bio/SeqRecord.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_seq_objects.tex
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

be consistent
  Bio/Seq.py
Owners: @peterjc

adding tests
  Tests/common_BioSQL.py
  Tests/test_SeqIO_TwoBitIO.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Seq equality and comparisons consistent (#3449)
  Bio/Seq.py
  Tests/common_BioSQL.py
  Tests/test_SeqIO_TwoBitIO.py
  Tests/test_Seq_objs.py
Owners: @peterjc

make Seq, MutableSeq methods consistent
  Bio/Seq.py
Owners: @peterjc

add tests for MutableSeq
  Tests/test_Seq_objs.py
Owners: @peterjc

Add mmCIF to file_type
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

Test for mmCIF DSSP
  Tests/PDB/1A7G.cif
  Tests/test_PDB_DSSP.py
Owners: @joaorodrigues, @lennax

DSSP map chain labels for mmCIF
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

quote formatting
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

remove trailing space
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

clearer docstring
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

function args single line
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

add tests for methods
  Bio/Seq.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

tests on subsequences are pointless here as they will return a bytes object
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

added BioSQL tests
  Bio/Seq.py
  Tests/common_BioSQL.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

travis
  Bio/Seq.py
  Tests/common_BioSQL.py
  Tests/test_SeqIO_TwoBitIO.py
Owners: @peterjc

travis
  Bio/Seq.py
  Tests/common_BioSQL.py
Owners: @peterjc

travis
  Bio/Seq.py
  Tests/common_BioSQL.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

update docstrings, and avoid subclassing __bytes__ in BioSQL
  Bio/Seq.py
  BioSQL/BioSeq.py
Owners: @peterjc

Seq bytes (#3451)
  Bio/Seq.py
  BioSQL/BioSeq.py
  Tests/common_BioSQL.py
  Tests/test_SeqIO_TwoBitIO.py
  Tests/test_Seq_objs.py
Owners: @peterjc

baseclass
  Bio/Seq.py
  Bio/SeqIO/FastaIO.py
  Tests/test_seq.py
Owners: @peterjc

remove deprecated argument
  Bio/PDB/ResidueDepth.py
Owners: @joaorodrigues, @lennax

added replace
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Generator typehints for Structure, Model, Residues, Atoms classes
  Bio/PDB/Chain.py
  Bio/PDB/Model.py
  Bio/PDB/NeighborSearch.py
  Bio/PDB/Residue.py
  Bio/PDB/Structure.py
Owners: @joaorodrigues, @lennax

updated docstrings
  Bio/Seq.py
  Tests/test_seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

Update test_IQTree_tool.py
  Tests/test_IQTree_tool.py
Owners: none

Avoid flake8-bugbear B015 warnings
  Tests/test_SeqRecord.py
Owners: @peterjc
