Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Do not record alphabet objects in most of SeqIO
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/SwissIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc

Split strings over multiple lines
  Tests/test_GenBank.py
Owners: @peterjc

Don't assume mol. type for ACE, GCK, SnapGene
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

removed the remaining alphabets
  Bio/Align/__init__.py
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/FastaIO.py
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/MsfIO.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/PhylipIO.py
  Bio/AlignIO/StockholmIO.py
  Bio/AlignIO/__init__.py
  Bio/Phylo/PhyloXML.py
  Bio/SeqIO/__init__.py
Owners: @peterjc, @etal

Change single quotes to double quotes
  Tests/test_GenBank.py
Owners: @peterjc

travis
  Bio/Align/__init__.py
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/MsfIO.py
  Bio/AlignIO/PhylipIO.py
  Bio/SeqIO/__init__.py
Owners: @peterjc

travis
  Bio/Align/__init__.py
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

trivial change to restart appveyor
  Bio/AlignIO/MauveIO.py
Owners: @peterjc

Prepared for pull request to biopython
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/SeqVisualizer.py
  Bio/SeqAnalysis/__main__.py
  CONTRIB.rst
  NEWS.rst
Owners: none

Change single quotes to double quotes
  Tests/test_GenBank.py
Owners: @peterjc

Split strings over multiple lines
  Tests/test_GenBank.py
Owners: @peterjc

Apply black and break some strings into multiple lines
  Tests/test_GenBank.py
Owners: @peterjc

update message contents
  Bio/Align/__init__.py
Owners: @peterjc

Update tests to match
  Tests/test_SeqIO.py
Owners: @peterjc

Apply black styling to test_*_tool.py
  Tests/test_BWA_tool.py
  Tests/test_ClustalOmega_tool.py
  Tests/test_Fasttree_tool.py
Owners: none

PDB output via SeqIO not always protein
  Bio/SeqIO/PdbIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

add doctest for print_index() docstrings
  Bio/SeqUtils/CodonUsage.py
Owners: none

Stop recording alphabet objects in INSDC parsers
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

Stop recording alphabet objects in IG parser
  Bio/SeqIO/IgIO.py
Owners: @peterjc

Remove alphabet argument in NIB parser
  Bio/SeqIO/NibIO.py
Owners: @peterjc

Stop recording alphabet objects in PIR parser
  Bio/SeqIO/PirIO.py
Owners: @peterjc

Apply black styling to test_C*.py
  Tests/test_Chi2.py
  Tests/test_ColorSpiral.py
  Tests/test_Compass.py
  Tests/test_Consensus.py
  Tests/test_Crystal.py
Owners: none

Apply black styling to test_C*.py
  Tests/test_Chi2.py
  Tests/test_ColorSpiral.py
  Tests/test_Compass.py
  Tests/test_Consensus.py
  Tests/test_Crystal.py
Owners: none

Apply black styling to test_pairwise*.py
  Tests/test_pairwise2.py
  Tests/test_pairwise_aligner.py
Owners: none

Apply black styling to test_AlignI*.py
  Tests/test_AlignIO.py
  Tests/test_AlignIO_convert.py
  Tests/test_AlignInfo.py
Owners: @peterjc

removed the remaining alphabets from Bio.Align etc. (#3123)
  Bio/Align/__init__.py
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/FastaIO.py
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/MsfIO.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/PhylipIO.py
  Bio/AlignIO/StockholmIO.py
  Bio/AlignIO/__init__.py
  Bio/Phylo/PhyloXML.py
  Bio/SeqIO/__init__.py
Owners: @peterjc, @etal

removed alphabets
  Bio/Nexus/Nexus.py
Owners: none

changed BgzfTests to use mkstemp as per issue #1850
  Tests/test_bgzf.py
Owners: @peterjc

removed alphabets
  Bio/Phylo/PhyloXML.py
Owners: @etal

travis
  Bio/Nexus/Nexus.py
Owners: none

travis
  Bio/Nexus/Nexus.py
Owners: none

removed alphabets
  Bio/Data/CodonTable.py
  Bio/Seq.py
Owners: @peterjc

removed alphabets from Bio.Nexus (#3130)
  Bio/Nexus/Nexus.py
Owners: none

reformatted by black
  Bio/SeqUtils/CodonUsage.py
Owners: none

Apply black styling to test_pairwise*.py
  Tests/test_pairwise2.py
  Tests/test_pairwise_aligner.py
Owners: none

Apply black styling to test_AlignI*.py
  Tests/test_AlignIO.py
  Tests/test_AlignIO_convert.py
  Tests/test_AlignInfo.py
Owners: @peterjc

Stop recording alphabet objects in INSDC parsers
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

Stop recording alphabet objects in IG parser
  Bio/SeqIO/IgIO.py
Owners: @peterjc

Remove alphabet argument in NIB parser
  Bio/SeqIO/NibIO.py
Owners: @peterjc

Stop recording alphabet objects in PIR parser
  Bio/SeqIO/PirIO.py
Owners: @peterjc
