Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

SnapGene: Parse XML data as UTF8-encoded strings (#3180).
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

SnapGene: Support features wrapping the origin.
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

SnapGene: Add a new test file.
  Tests/SnapGene/pFA-KanMX4.dna
  Tests/test_SeqIO_SnapGene.py
Owners: @peterjc

SnapGene: Keep Black happy.
  Bio/SeqIO/SnapGeneIO.py
  Tests/test_SeqIO_SnapGene.py
Owners: @peterjc

bio.cluster.median no longer exists
  Bio/Statistics/lowess.py
Owners: none

bio.cluster.median no longer exists
  Bio/Statistics/lowess.py
Owners: none

Update NEWS.rst file.
  NEWS.rst
Owners: none

travis
  Tests/test_seq.py
Owners: @peterjc

MutableSeq
  Bio/Seq.py
  Tests/test_seq.py
Owners: @peterjc

Seq
  Bio/Seq.py
Owners: @peterjc

all SequenceIterators implement parse() but it was not explicit
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

SnapGene: Support features wrapping the origin.
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

SnapGene: Keep Black happy.
  Bio/SeqIO/SnapGeneIO.py
  Tests/test_SeqIO_SnapGene.py
Owners: @peterjc

SnapGene: Parse XML data as UTF8-encoded strings (#3180).
  Bio/SeqIO/SnapGeneIO.py
Owners: @peterjc

SnapGene: Add a new test file.
  Tests/SnapGene/pFA-KanMX4.dna
  Tests/test_SeqIO_SnapGene.py
Owners: @peterjc

Update NEWS.rst file.
  NEWS.rst
Owners: none

basic type hints for Bio/SeqIO/QualityIO
  .mypy.ini
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/MauveIO.py
  Bio/Data/CodonTable.py
  Bio/File.py
  Bio/GenBank/Scanner.py
  Bio/Nexus/Nodes.py
  Bio/PDB/NeighborSearch.py
  Bio/Seq.py
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
  Bio/_utils.py
  setup.py
Owners: @peterjc, @joaorodrigues, @lennax, @bow

TravisCI: add mypy testing of Bio/SeqIO
  .travis-tox.ini
  .travis.yml
Owners: none

Basic type hints for SeqRecord and friends
  .mypy.ini
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/NexusIO.py
  Bio/Seq.py
  Bio/SeqIO/__init__.py
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
Owners: @peterjc

prettify the mypy output
  .mypy.ini
Owners: none

remove all basic mypy errors for Bio/
  .appveyor.yml
  .travis-tox.ini
  Bio/Blast/NCBIWWW.py
  Bio/Cluster/__init__.py
  Bio/Entrez/Parser.py
  Bio/Entrez/__init__.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/NeXMLIO.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/Phylo/_cdao_owl.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/_model/_base.py
  Bio/SeqRecord.py
  Bio/TogoWS/__init__.py
  Bio/_utils.py
  Bio/motifs/matrix.py
  Bio/pairwise2.py
  setup.py
Owners: @mdehoon, @etal, @peterjc

make mypy Python 3.8 only to avoid depending on typing_extensions
  .appveyor.yml
  .travis.yml
  Bio/_utils.py
  setup.py
Owners: none

fix three typos
  Tests/test_Seq_objs.py
Owners: @peterjc

Update test_Seq_objs.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Remove alphabet references in docstring
  Bio/Seq.py
Owners: @peterjc

fix three typos (#3191)
  Tests/test_Seq_objs.py
Owners: @peterjc

Remove alphabet references in test names
  Tests/test_seq.py
Owners: @peterjc

This argument was removed
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Update PIR documentation for mol. type change
  Bio/SeqIO/PirIO.py
Owners: @peterjc

Remove obsolete comments
  Bio/File.py
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

sum
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

let Seq subclass bytes
  Bio/Seq.py
  Bio/codonalign/codonseq.py
  Bio/motifs/meme.py
  BioSQL/BioSeq.py
  Doc/Tutorial/chapter_seq_objects.tex
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc, @zruan, @mdehoon

travis
  Bio/Seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

Don't advertise summing Seq objects (#3193)
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

let MutableSeq subclass bytearray
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

Abstract Base Class for Bio/File.py (#2731)
  Bio/File.py
  Tests/test_File.py
Owners: none

TravisCI: call black directly (not via flake8) (#3184)
  .travis-tox.ini
  .travis.yml
Owners: none

Remove alphabet references in docstring
  Bio/Seq.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
