Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Swissprot bugfix (#2484)
  Bio/SeqFeature.py
  Bio/SeqIO/SwissIO.py
  Bio/SwissProt/__init__.py
  CONTRIB.rst
  Tests/SwissProt/O23729.txt
  Tests/SwissProt/P0A186.txt
  Tests/SwissProt/P0CK95.txt
  Tests/SwissProt/P60137.txt
  Tests/SwissProt/sp004
  Tests/SwissProt/sp014
  Tests/common_BioSQL.py
  Tests/test_Emboss.py
  Tests/test_SeqIO.py
  Tests/test_SwissProt.py
  Tests/test_Uniprot.py
Owners: @peterjc

fixing pairwise aligner tests for python3
  Tests/test_pairwise_aligner.py
Owners: none

travis
  Tests/test_pairwise_aligner.py
Owners: none

remove underscores in imports from urllib
  Bio/Blast/NCBIWWW.py
  Bio/ExPASy/ScanProsite.py
  Bio/ExPASy/__init__.py
  Bio/Graphics/KGML_vis.py
  Bio/KEGG/REST.py
  Bio/PDB/PDBList.py
  Bio/TogoWS/__init__.py
  NEWS.rst
Owners: @joaorodrigues, @lennax, @peterjc

Python 3 stuff
  Bio/Seq.py
Owners: @peterjc

Directly import urllib, not via Bio._py3k (#2476)
  Bio/Blast/NCBIWWW.py
  Bio/ExPASy/ScanProsite.py
  Bio/ExPASy/__init__.py
  Bio/Graphics/KGML_vis.py
  Bio/KEGG/REST.py
  Bio/PDB/PDBList.py
  Bio/SCOP/__init__.py
  Bio/TogoWS/__init__.py
  Bio/motifs/__init__.py
  NEWS.rst
  Scripts/PDB/generate_three_to_one_dict.py
  Tests/run_tests.py
  Tests/test_NCBI_qblast.py
  Tests/test_SeqIO_Gck.py
  Tests/test_TogoWS.py
Owners: @joaorodrigues, @lennax, @peterjc, @mdehoon

Python 3 stuff
  Bio/Seq.py
Owners: @peterjc

move import to the top of the file
  Tests/test_pairwise_aligner.py
Owners: none

fixing pairwise aligner tests for python3 (#2491)
  Tests/test_pairwise_aligner.py
Owners: none

replaced the format method with __format__
  Bio/Align/__init__.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_align.tex
  Tests/test_AlignIO.py
Owners: @peterjc

trivial change to restart travis
  Doc/Tutorial/chapter_align.tex
Owners: none

noqa to find out what makes travis sad
  Bio/Align/__init__.py
  Tests/test_AlignIO.py
Owners: @peterjc

travis is having a bad day
  Bio/Align/__init__.py
  Tests/test_AlignIO.py
Owners: @peterjc

remove python2 code from Test/test_Phylo.py
  Tests/test_Phylo.py
Owners: @etal

remove python2 code from Test/test_SeqIO_index.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

remove python2 code from Test/test_SffIO.py
  Tests/test_SffIO.py
Owners: none

Applied black style to Bio.Emboss. black, version 19.10b0.
  Bio/Emboss/Applications.py
  Bio/Emboss/Primer3.py
  Bio/Emboss/PrimerSearch.py
  NEWS.rst
Owners: none

add __format__ to the Motif class
  Bio/motifs/__init__.py
  Doc/Tutorial/chapter_motifs.tex
Owners: @mdehoon

travis false negative
  Bio/motifs/__init__.py
  DEPRECATED.rst
Owners: @mdehoon

travis true negative
  DEPRECATED.rst
Owners: none

add __format__ to the Motif class (#2495)
  Bio/motifs/__init__.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_motifs.tex
Owners: @mdehoon

remove python2 code from Test/test_SeqRecord.py
  Tests/test_SeqRecord.py
Owners: @peterjc

remove python2 code from Test/common_BioSQL.py
  Tests/common_BioSQL.py
Owners: none

remove python2 code from Test/test_geo.py
  Tests/test_geo.py
Owners: none

remove python2 code from Test/test_Seq_objs.py
  Tests/test_Seq_objs.py
Owners: @peterjc

doctest updates
  DEPRECATED.rst
  Doc/Tutorial/chapter_align.tex
Owners: none

remove redundant __ne__ functions
  Bio/Crystal/__init__.py
  Bio/Pathway/Rep/Graph.py
  Bio/Pathway/Rep/MultiGraph.py
  Bio/Pathway/__init__.py
  Bio/SeqFeature.py
  Bio/phenotype/phen_micro.py
Owners: @peterjc

travis false negative
  Bio/Align/__init__.py
Owners: @peterjc

black, version 19.03b, on Bio.Emboss
  Bio/Emboss/Applications.py
  Bio/Emboss/Primer3.py
  Bio/Emboss/PrimerSearch.py
  Tests/test_Emboss.py
Owners: none

Fix triple-quote indentation; remove EMBOSS 6.1.0 refs
  Bio/Emboss/Applications.py
Owners: none

Post-black string concatenation fix
  Bio/Emboss/Applications.py
Owners: none

fix test_geo.py
  Tests/test_geo.py
Owners: none

remove redundant __ne__ functions
  Bio/Crystal/__init__.py
  Bio/Pathway/Rep/Graph.py
  Bio/Pathway/Rep/MultiGraph.py
  Bio/Pathway/__init__.py
  Bio/SeqFeature.py
  Bio/phenotype/phen_micro.py
Owners: @peterjc

fix doctest typo
  Doc/Tutorial/chapter_align.tex
Owners: none

black, version 19.3b0, on misc files
  Bio/Affy/CelFile.py
  Bio/Application/__init__.py
  Bio/CAPS/__init__.py
  Bio/Crystal/__init__.py
  Bio/Data/IUPACData.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/LogisticRegression.py
  Bio/MarkovModel.py
  Bio/MaxEntropy.py
  Bio/NaiveBayes.py
  Bio/Phylo/BaseTree.py
  Bio/PopGen/GenePop/__init__.py
  Bio/Sequencing/Applications/_bwa.py
  Bio/Statistics/__init__.py
  Bio/SwissProt/__init__.py
  Bio/Wise/psw.py
  Bio/__init__.py
  Bio/_utils.py
  Bio/kNN.py
  Bio/motifs/__init__.py
  Bio/triefind.py
Owners: @etal, @mdehoon

black, version 19.3b0, with string fix
  Bio/Compass/__init__.py
Owners: none

fix doctest typo
  Doc/Tutorial/chapter_align.tex
Owners: none

post-black string concatenation fixes
  Bio/File.py
Owners: none

black, version 19.3b0, on Bio/*.py
  Bio/File.py
  Bio/LogisticRegression.py
  Bio/MarkovModel.py
  Bio/MaxEntropy.py
  Bio/NaiveBayes.py
  Bio/__init__.py
  Bio/_utils.py
  Bio/kNN.py
  Bio/triefind.py
Owners: none

now we're getting somewhere
  Doc/Tutorial/chapter_align.tex
Owners: none
