Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

str (#3416)
  Tests/common_BioSQL.py
Owners: none

travis
  Tests/test_codonalign.py
Owners: @zruan

travis
  Tests/test_SearchIO_blast_text.py
  Tests/test_SearchIO_blat_psl.py
Owners: @bow

str in codonalign (#3418)
  Bio/codonalign/codonalignment.py
  Tests/test_codonalign.py
Owners: @zruan

str (#3419)
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

travis
  Tests/test_seq.py
Owners: @peterjc

str
  Bio/SeqUtils/lcc.py
Owners: none

str
  Bio/SeqUtils/CheckSum.py
  Bio/SeqUtils/lcc.py
  Tests/test_SeqUtils.py
Owners: @peterjc

remove unnecessary calls to str in SearchIO code (#3413)
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/InterproscanIO/interproscan_xml.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Tests/search_tests_common.py
  Tests/test_SearchIO_blast_tab.py
  Tests/test_SearchIO_blast_text.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SearchIO_blat_psl.py
  Tests/test_SearchIO_exonerate.py
  Tests/test_SearchIO_fasta_m10.py
  Tests/test_SearchIO_hhsuite2_text.py
  Tests/test_SearchIO_hmmer2_text.py
  Tests/test_SearchIO_hmmer3_text.py
  Tests/test_SearchIO_interproscan_xml.py
  Tests/test_SearchIO_model.py
Owners: @bow

travis
  Tests/test_SeqIO_features.py
Owners: @peterjc

str in Seq (#3420)
  Tests/seq_tests_common.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

Remove str from SeqIO code (#3421)
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/XdnaIO.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_AbiIO.py
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_PdbIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_SeqXML.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_write.py
  Tests/test_SffIO.py
Owners: @peterjc, @bow

make index, rindex consistent for Seq and MutableSeq
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

may as well add find and rfind
  Bio/Seq.py
  Tests/test_SeqIO.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

add startswith, endswith, __contains__
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

add startswith, endswith, __contains__
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

may as well add find and rfind
  Bio/Seq.py
  Tests/test_SeqIO.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

make index, rindex consistent for Seq and MutableSeq
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Test SeqIO.write doesn't destroy DBSOURCE
  Tests/GenBank/CAA46787.gb
  Tests/test_SeqIO.py
Owners: @peterjc

Write DBSOURCE if db_source present in annotations
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

Add self to CONTRIB.rst
  CONTRIB.rst
Owners: none

Fix test related to type of db_source entry
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

Remove reference to db_source as being unwritten
  Tests/common_BioSQL.py
Owners: none

private
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

Remove redundant test file in favor of existing
  Tests/GenBank/CAA46787.gb
  Tests/test_SeqIO.py
Owners: @peterjc

NEWS
  NEWS.rst
Owners: none

Prefer github profile to email
  CONTRIB.rst
Owners: none

Deprecating Python 3.6 support; one more release...
  DEPRECATED.rst
  NEWS.rst
  setup.py
Owners: none

use assertCountEqual in unittests where possible (#3381)
  Tests/common_BioSQL_online.py
  Tests/seq_tests_common.py
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_PDBIO.py
  Tests/test_PopGen_GenePop_EasyController.py
  Tests/test_SeqIO_AbiIO.py
  Tests/test_SeqIO_index.py
  Tests/test_seq.py
Owners: @joaorodrigues, @lennax, @tiagoantao, @peterjc, @bow

Add a parser for 2bit files to Bio.SeqIO (#3388)
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_twoBitIO.c
  Doc/Tutorial/chapter_seqio.tex
  NEWS.rst
  Tests/TwoBit/sequence.bigendian.2bit
  Tests/TwoBit/sequence.fa
  Tests/TwoBit/sequence.littleendian.2bit
  Tests/TwoBit/sequence.long.2bit
  Tests/test_SeqIO_TwoBitIO.py
  setup.py
Owners: @peterjc

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

Dual license Bio/Phylo/Applications/_Raxml.py
  Bio/Phylo/Applications/_Raxml.py
Owners: none

Dual license Bio/Phylo/Applications/_Fasttree.py
  Bio/Phylo/Applications/_Fasttree.py
Owners: none

Dual license Bio/Phylo/PhyloXMLIO.py
  Bio/Phylo/PhyloXMLIO.py
Owners: @etal

Dual license Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Phyml.py
Owners: none

Dual license Bio/Phylo/Applications/__init__.py
  Bio/Phylo/Applications/__init__.py
Owners: none

Dual license Bio/Phylo/NeXMLIO.py
  Bio/Phylo/NeXMLIO.py
Owners: @etal

translate
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

travis
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
