Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

make return strings more readable and update correct order of parameters.
  Bio/Pathway/__init__.py
Owners: none

Rename function
  Bio/motifs/meme.py
Owners: @mdehoon

Update with sequence_id, sequence_name
  Bio/motifs/meme.py
  Tests/test_motifs.py
Owners: @mdehoon

Update copyright headers
  Bio/motifs/meme.py
  Tests/test_motifs.py
Owners: @mdehoon

Update docstring example
  Bio/motifs/meme.py
Owners: @mdehoon

Update docstring example, add test file with 1 motif
  Bio/motifs/__init__.py
  Tests/motifs/meme.psp_test.classic.zoops.xml
Owners: @mdehoon

Update motifs documentation inline examples
  Doc/Tutorial/chapter_motifs.tex
Owners: none

added bracket to "if" argument, cosmetic change.
  Bio/NMR/NOEtools.py
Owners: none

make return strings more readable and update correct order of parameters.
  Bio/Pathway/__init__.py
Owners: none

Apply black style to Bio.Pathway.
  Bio/Pathway/Rep/Graph.py
  Bio/Pathway/Rep/MultiGraph.py
  Bio/Pathway/__init__.py
Owners: none

Apply black style to Bio.NMR
  Bio/NMR/NOEtools.py
  Bio/NMR/xpktools.py
Owners: none

added bracket to "if" argument, cosmetic change.
  Bio/NMR/NOEtools.py
Owners: none

Verify don't need NumPy to compile anymore
  .travis-tox.ini
Owners: none

Verify don't need NumPy to compile anymore
  .travis-tox.ini
Owners: none

Define encode method on Seq objects
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Fixed D202 caused by black style, and D413.
  Bio/Nexus/Nexus.py
  Bio/Nexus/Trees.py
Owners: none

Define encode method on Seq objects
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Add unit tests for PQR parser module.
  Tests/PQR/1A80.pqr
  Tests/test_PQRParser.py
Owners: none

Update StructureBuilder.py
  Bio/PDB/StructureBuilder.py
Owners: @joaorodrigues, @lennax

Add names to the CONTRIB.rst
  CONTRIB.rst
Owners: none

Added warning for None atom radius
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Delete script for quick testing.
  test_PQR.sh
Owners: none

Changes in PDBIO to read and write PQR files
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Enable Structure Builder to create Atom objects from PQR files
  Bio/PDB/StructureBuilder.py
Owners: @joaorodrigues, @lennax

Modify PQR test to use the PDBParser class with the flag
  Tests/test_PQRParser.py
Owners: none

Fix linting errors.
  Bio/PDB/PDBIO.py
  Bio/PDB/PQRParser.py
Owners: @joaorodrigues, @lennax

Add test_PQR.sh shell script for testing modifications
  test_PQR.sh
Owners: none

Add a script for testing/linting changes before commiting
  test_PQR.sh
Owners: none

Fix bug in PDBIO.py
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Delete unnecessary files
  Bio/PDB/PQRParser.py
  Bio/PDB/StructureBuilder.py
  Tests/test_PQR.py
  test_PQR.sh
Owners: @joaorodrigues, @lennax

Add PQRParser.py for parsing .pqr files.
  Bio/PDB/PQRParser.py
Owners: @joaorodrigues, @lennax

Change implementation to a flag based one to avoid duplicate code.
  Bio/PDB/PDBParser.py
  Bio/PDB/StructureBuilder.py
Owners: @joaorodrigues, @lennax

Added documentation and examples on reading and writing PQR files
  Doc/Tutorial/chapter_pdb.tex
Owners: none

Include PQR tests in the testing shell script.
  test_PQR.sh
Owners: none

Debug PDBIO.py
  Bio/PDB/Atom.py
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Modify Atom class to support radius and charge
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Update PDBIO.py
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Renamed charge to pqr_charge
  Bio/PDB/Atom.py
  Bio/PDB/PDBParser.py
  Bio/PDB/StructureBuilder.py
Owners: @joaorodrigues, @lennax

Updated News.rst
  NEWS.rst
Owners: none

Fix linting error in NEWS.rst
  NEWS.rst
Owners: none
