Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Avoid mutable defaults in MeltingTemp.py
  Bio/SeqUtils/MeltingTemp.py
Owners: none

Fix path to test files.
  Bio/phenotype/phen_micro.py
Owners: none

Fix path to test files
  Bio/phenotype/phen_micro.py
Owners: none

Print out proper well ID
  Bio/phenotype/phen_micro.py
Owners: none

Print proper output
  Bio/phenotype/phen_micro.py
Owners: none

Print proper output
  Bio/phenotype/phen_micro.py
Owners: none

Revert "Fix path to test files."
  Bio/phenotype/phen_micro.py
Owners: none

Revert "Fix path to test files"
  Bio/phenotype/phen_micro.py
Owners: none

Dual license Bio/Blast/NCBIXML.py
  Bio/Blast/NCBIXML.py
Owners: none

Uncommented Bio.phenotype.phen_micro to run the tests
  Tests/run_tests.py
Owners: none

Remove Bio.phenotype.phen_micro from EXCLUDE_DOCTEST_MODULES
  Tests/run_tests.py
Owners: none

Python releases first then code, most recent first.
  DEPRECATED.rst
Owners: none

adding tests for clustercentroids
  Bio/Cluster/clustermodule.c
  Tests/test_Cluster.py
Owners: @mdehoon

Install numpy for py36 and py38 in the testenv
  .travis-tox.ini
Owners: none

getting started on transpose
  Tests/test_Cluster.py
Owners: @mdehoon

Do not install numpy for py38
  .travis-tox.ini
Owners: none

starting Transpose=True
  Tests/test_Cluster.py
Owners: @mdehoon

Add py38 back to test matrix for testenv
  .travis-tox.ini
Owners: none

Added Dariusz Izak to the contributors list
  CONTRIB.rst
Owners: none

Added support for check-same-thread
  Bio/File.py
  Bio/SeqIO/__init__.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

add checks for transpose=True
  Tests/test_Cluster.py
Owners: @mdehoon

make travis happy
  Tests/test_Cluster.py
Owners: @mdehoon

fix clustercentroids (#2231)
  Bio/Cluster/__init__.py
  Bio/Cluster/clustermodule.c
  Tests/test_Cluster.py
Owners: @mdehoon

Dual license Bio/Blast/NCBIXML.py
  Bio/Blast/NCBIXML.py
Owners: none

add selectors to counts
  Bio/PDB/mmtf/mmtfio.py
Owners: none

fix refs broken due to docs rearrangement
  Doc/Tutorial/chapter_pdb.tex
Owners: none

renumber empty atom serials
  Bio/PDB/mmtf/mmtfio.py
Owners: none

StructureIO base class for file writers
  Bio/PDB/PDBIO.py
  Bio/PDB/mmcifio.py
  Bio/PDB/mmtf/mmtfio.py
Owners: @joaorodrigues, @lennax

treat chains correctly
  Bio/PDB/mmtf/mmtfio.py
Owners: none

write sequence, increment chain ID
  Bio/PDB/mmtf/mmtfio.py
Owners: none

flake8 fixes
  Bio/PDB/mmtf/__init__.py
  Bio/PDB/mmtf/mmtfio.py
Owners: none

document writing MMTF files
  Doc/Tutorial/chapter_pdb.tex
Owners: none

fix dictionary properties
  Bio/PDB/mmtf/mmtfio.py
  Doc/Tutorial/chapter_pdb.tex
Owners: none

correct types for missing entities
  Bio/PDB/mmtf/mmtfio.py
Owners: none

more flake8 fixes
  Bio/PDB/mmtf/DefaultParser.py
  Tests/test_mmtf.py
Owners: none

tests for MMTF file writing
  Bio/PDB/mmtf/mmtfio.py
  Tests/test_mmtf.py
Owners: none

add Harry to contributors
  CONTRIB.rst
Owners: none

add news entry
  NEWS.rst
Owners: none

fix line length
  NEWS.rst
Owners: none

count chains across all models
  Bio/PDB/mmtf/mmtfio.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
