Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

fix seqxml writer (#3347)
  Bio/SeqIO/SeqXmlIO.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

use the underlying binary handle if a text handle is inadvertently passs
  Bio/SeqIO/Interfaces.py
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

travis complaining
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

convert to a unittest
  Tests/test_SeqIO_features.py
Owners: @peterjc

convert seq_tests_common.py to a unittest
  Tests/common_BioSQL.py
  Tests/common_BioSQL_online.py
  Tests/seq_tests_common.py
  Tests/test_BioSQL_sqlite3.py
  Tests/test_MafIO_index.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_index.py
  Tests/test_Uniprot.py
Owners: @peterjc

travis
  Tests/test_SeqIO_features.py
Owners: @peterjc

more travis
  Tests/test_SeqIO_features.py
Owners: @peterjc

more travis
  Tests/test_SeqIO_features.py
Owners: @peterjc

travis
  Tests/common_BioSQL.py
  Tests/seq_tests_common.py
  Tests/test_Uniprot.py
Owners: none

travis
  Tests/test_SeqIO_features.py
Owners: @peterjc

random acts of travis
  Tests/seq_tests_common.py
  Tests/test_Uniprot.py
Owners: none

random acts of travis
  Tests/seq_tests_common.py
Owners: none

random acts of travis
  Tests/seq_tests_common.py
Owners: none

random acts of travis
  Tests/seq_tests_common.py
Owners: none

convert test_SeqIO_features.py to a unittest (#3349)
  Tests/test_SeqIO_features.py
Owners: @peterjc

looping
  Tests/seq_tests_common.py
  Tests/test_MafIO_index.py
Owners: none

use alist
  Tests/test_MafIO_index.py
Owners: none

Add files via upload
  Tests/test_MrBayes_tool.py
Owners: none

convert seq_tests_common.py to a unittest (#3351)
  Tests/common_BioSQL.py
  Tests/common_BioSQL_online.py
  Tests/seq_tests_common.py
  Tests/test_BioSQL_sqlite3.py
  Tests/test_MafIO_index.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_index.py
  Tests/test_Uniprot.py
Owners: @peterjc

Fix bug in caching precommit
  .github/workflows/basic.yml
Owners: none

Forgot GHA syntax..
  .github/workflows/style-checkers.yml
Owners: none

Added dependencies to build stage
  .github/workflows/basic.yml
Owners: none

Added package and test jobs.
  .github/workflows/basic.yml
  .github/workflows/style-checkers.yml
Owners: none

Added caching to precommit hooks.
  .github/workflows/basic.yml
Owners: none

Skip online tests.
  .github/workflows/basic.yml
Owners: none

Fix typo in Python version
  .github/workflows/style-checkers.yml
Owners: none

Style checking action draft.
  .github/workflows/style-checkers.yml
Owners: none

Changed syntax of multiple OSes to let matrix work.
  .github/workflows/basic.yml
Owners: none

use a unittest for search_tests_common
  Tests/search_tests_common.py
  Tests/test_SearchIO_model.py
  Tests/test_SearchIO_write.py
Owners: @bow

travis
  Tests/search_tests_common.py
Owners: none

convert remaining bits in test_EmbossPhylipNew to unittest
  Tests/test_EmbossPhylipNew.py
Owners: none

convert remaining bits to unittest
  Tests/test_GraphicsChromosome.py
Owners: none

minor fix in test_NCBI_qblast.py
  Tests/test_NCBI_qblast.py
Owners: none

Added rule to set test file as binary.
  .gitattributes
Owners: none

Added .maf file as binary as well.
  .gitattributes
Owners: none

Have pre-commit run only on files modified by the PR.
  .github/workflows/basic.yml
Owners: none

travis is a weirdo
  Tests/test_GraphicsChromosome.py
Owners: none

convert remaining bits in test_EmbossPhylipNew to unittest (#3354)
  Tests/test_EmbossPhylipNew.py
Owners: none

minor fix in test_NCBI_qblast.py (#3356)
  Tests/test_NCBI_qblast.py
Owners: none

use unittest to check exceptions
  Tests/common_BioSQL.py
Owners: none
