Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

str (#3402)
  Tests/test_Prank_tool.py
Owners: none

Preserve molecule type in SeqRecord slicing
  Bio/SeqRecord.py
  Doc/Tutorial/chapter_seq_annot.tex
Owners: @peterjc

remove unnecessary calls to str from SeqRecord
  Tests/test_SeqRecord.py
Owners: @peterjc

str
  Bio/SeqUtils/CheckSum.py
  Bio/SeqUtils/lcc.py
  Tests/test_SeqUtils.py
Owners: @peterjc

Add a parser for 2bit files to Bio.SeqIO (#3388)
  Bio/Seq.py
  Bio/SeqIO/TwoBitIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_twoBitIO.c
  Doc/Tutorial/chapter_seqio.tex
  NEWS.rst
  Tests/TwoBit/sequence.bigendian.2bit
  Tests/TwoBit/sequence.fa
  Tests/TwoBit/sequence.littleendian.2bit
  Tests/TwoBit/sequence.long.2bit
  Tests/test_SeqIO_TwoBitIO.py
  setup.py
Owners: @peterjc

remove unnecessary str (#3396)
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
Owners: none

Dual license Bio/Phylo/PhyloXMLIO.py
  Bio/Phylo/PhyloXMLIO.py
Owners: @etal

str (#3419)
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

take advantage of the fact that Seq stores its sequence data as a bytes object (#3391)
  Bio/motifs/_pwm.c
  Bio/motifs/matrix.py
Owners: @mdehoon

str (#3411)
  Scripts/Restriction/ranacompiler.py
Owners: none

removed unnecessary str
  Tests/test_Uniprot.py
Owners: none

Add unicode support to the pairwise aligner in Bio.Align (#3383)
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @mdehoon

Dual license Bio/Phylo/NeXMLIO.py
  Bio/Phylo/NeXMLIO.py
Owners: @etal

str
  Tests/test_Phd.py
Owners: none

str
  Bio/SeqUtils/lcc.py
Owners: none

str in codonalign (#3418)
  Bio/codonalign/codonalignment.py
  Tests/test_codonalign.py
Owners: @zruan

remove unnecessary str (#3395)
  Bio/SeqIO/NibIO.py
  Tests/test_SeqIO_NibIO.py
Owners: @peterjc

Dual license Bio/Phylo/Applications/__init__.py
  Bio/Phylo/Applications/__init__.py
Owners: none

str (#3416)
  Tests/common_BioSQL.py
Owners: none

remove unnecessary str from Blast code (#3406)
  Bio/Blast/Record.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Tests/test_NCBITextParser.py
  Tests/test_NCBI_BLAST_tools.py
Owners: none

Record that this example is now linear
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

Remove str where not needed in SCOP, AlignIO, Align (#3398)
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/StockholmIO.py
  Bio/SCOP/__init__.py
  Tests/test_AlignIO.py
  Tests/test_AlignIO_ClustalIO.py
  Tests/test_AlignIO_MauveIO.py
  Tests/test_AlignIO_PhylipIO.py
  Tests/test_AlignInfo.py
  Tests/test_SCOP_Astral.py
  Tests/test_align.py
  Tests/test_align_substitution_matrices.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

remove unnecessary str
  Tests/test_TogoWS.py
Owners: @peterjc

remove str in applications code (#3415)
  Tests/test_Emboss.py
  Tests/test_HMMGeneral.py
  Tests/test_Muscle_tool.py
Owners: none

add startswith, endswith, __contains__
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Dual license Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Phyml.py
Owners: none

remove unnecessary str from Bio.phenotype (#3393)
  Bio/phenotype/phen_micro.py
  Tests/test_phenotype.py
Owners: none

remove str (#3399)
  Tests/test_SwissProt.py
Owners: none

Remove str GenBank (#3412)
  Scripts/GenBank/check_output_simple.py
  Tests/test_GenBank.py
Owners: @peterjc

Fix GenBank example from sliced record.
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

make index, rindex consistent for Seq and MutableSeq
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

use assertEqual
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_ResidueDepth.py
  Tests/test_Pathway.py
  Tests/test_SearchIO_hmmer3_text.py
Owners: @joaorodrigues, @lennax, @bow

Seq bytes (#3333)
  Bio/Seq.py
  BioSQL/BioSeq.py
  Tests/test_seq.py
Owners: @peterjc

Pass bytes to Seq for SFF (#3389)
  Bio/SeqIO/SffIO.py
Owners: @peterjc

fix: fix typo in code formatting comments for nodes and branches
  Bio/Phylo/NewickIO.py
Owners: @etal

use assertCountEqual in unittests where possible (#3381)
  Tests/common_BioSQL_online.py
  Tests/seq_tests_common.py
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_PDBIO.py
  Tests/test_PopGen_GenePop_EasyController.py
  Tests/test_SeqIO_AbiIO.py
  Tests/test_SeqIO_index.py
  Tests/test_seq.py
Owners: @joaorodrigues, @lennax, @tiagoantao, @peterjc, @bow

remove unnecessary str (#3392)
  Bio/motifs/__init__.py
  Bio/motifs/jaspar/db.py
  Bio/motifs/matrix.py
  Tests/test_motifs.py
Owners: @mdehoon

remove unnecessary str from PDB code (#3405)
  Tests/test_PDB_Polypeptide.py
Owners: @joaorodrigues, @lennax

str (#3400)
  Bio/ExPASy/ScanProsite.py
Owners: none

remove unnecessary calls to str from Nexus code (#3409)
  Bio/Nexus/Nexus.py
Owners: none
