Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Add my name to NEWS.rst
  NEWS.rst
Owners: none

Introduce charge_at_pH functionality
  Bio/SeqUtils/IsoelectricPoint.py
  Bio/SeqUtils/ProtParam.py
  Tests/test_ProtParam.py
Owners: none

Change single to double quotes in IsoelectricPoint.py
  Bio/SeqUtils/IsoelectricPoint.py
Owners: none

Update NEWS.rst
  NEWS.rst
Owners: none

D413 issue after solving merge conflict
  Bio/SeqUtils/ProtParam.py
Owners: none

Introduce charge_at_pH functionality in ProteinAnalysis (and IsoelectricPoint) (#2096)
  Bio/SeqUtils/IsoelectricPoint.py
  Bio/SeqUtils/ProtParam.py
  NEWS.rst
  Tests/test_ProtParam.py
Owners: none

Commit _build and _templates folders to the repo
  .travis-tox.ini
  Doc/api/_build/.gitkeep
  Doc/api/_static/.gitkeep
  Doc/api/_templates/.gitkeep
Owners: none

Add my name to NEWS.rst
  NEWS.rst
Owners: none

fix SAFE_ADD
  Bio/Align/_aligners.c
Owners: @mdehoon

fix SAFE_ADD (#2293)
  Bio/Align/_aligners.c
Owners: @mdehoon

test do not replace double spaces
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

add unit test
  Tests/test_SeqRecord.py
Owners: @peterjc

Cope with T-COFFEE's GCG MSF output quirks
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

Basic GCG MSF parser
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

Test EMBOSS MSF output
  Tests/test_Emboss.py
Owners: none

More detailed warning on header length conflict;
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

Glue for MSF support
  Bio/AlignIO/__init__.py
Owners: @peterjc

Update docs, AlignIO can read T-Coffee's GCG MSF and PHYLIP
  Bio/Align/Applications/_TCoffee.py
Owners: none

Explicit warning where MSF sequences were truncated
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

Cope with seqs with prematurely truncated MSF entries
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

Test parsing MSF from MUSCLE
  Tests/test_Muscle_tool.py
Owners: none

Add MSF output test with T-Coffee
  Tests/test_TCoffee_tool.py
Owners: none

Document use of tilde and dots in MSF
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

Try to cope with CGC MSF header length conflict
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

Parse EMBOSS MSF output with coord lines
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

add unit test
  Tests/test_SeqRecord.py
Owners: @peterjc

test do not replace double spaces
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

black formatting on MsfIO
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

Acknowledge National Marrow Donor Program (NMPD) for MSF work
  Bio/AlignIO/MsfIO.py
  NEWS.rst
Owners: @peterjc

add example to docs (untested)
  Doc/Tutorial/chapter_seqio.tex
Owners: none

do not replace double spaces when cleaning
  Bio/AlignIO/Interfaces.py
Owners: @peterjc

missing formatting
  Doc/Tutorial/chapter_seqio.tex
Owners: none

use doctests
  Doc/Tutorial/chapter_seqio.tex
Owners: none

fix doctests
  Doc/Tutorial/chapter_seqio.tex
Owners: none

Improve docs by illustrating how to modify a SeqRecord (#2296)
  Bio/AlignIO/Interfaces.py
  Doc/Tutorial/chapter_seqio.tex
Owners: @peterjc

add missing file
  Bio/Align/substitution_matrices/__init__.py
Owners: none

Travis
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
  Bio/Align/substitution_matrices/__init__.py
  Tests/test_align_substitution_matrices.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @mdehoon

Travis
  Bio/Align/substitution_matrices/__init__.py
Owners: none

Travis
  Bio/Align/substitution_matrices/__init__.py
Owners: none

Travis
  Bio/Align/substitution_matrices/__init__.py
Owners: none
