Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

weird
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

reverting previous change to the tutorial text
  Doc/Tutorial/chapter_seqio.tex
Owners: none

reverting changes to test_SeqIO.py; these are not needed anymore now that twoBit file reading is done via Python
  Tests/test_SeqIO.py
Owners: @peterjc

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

take advantage of the fact that Seq stores its sequence data as a bytes object
  Bio/motifs/_pwm.c
  Bio/motifs/matrix.py
Owners: @mdehoon

travis
  Bio/motifs/matrix.py
Owners: @mdehoon

take advantage of the fact that Seq stores its sequence data as a bytes object (#3391)
  Bio/motifs/_pwm.c
  Bio/motifs/matrix.py
Owners: @mdehoon

improving speed
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

using C code for 2bit to sequence conversion
  Bio/SeqIO/TwoBitIO.py
  setup.py
Owners: @peterjc

adding missing C code
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

expand exception
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

accept formats I and L
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

remove unnecessary str
  Bio/motifs/__init__.py
  Bio/motifs/jaspar/db.py
  Bio/motifs/matrix.py
  Tests/test_motifs.py
Owners: @mdehoon

release buffer
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

travis
  Bio/SeqIO/TwoBitIO.py
Owners: @peterjc

remove unnecessary str from Bio.phenotype
  Bio/phenotype/phen_micro.py
  Tests/test_phenotype.py
Owners: none

windows
  Bio/SeqIO/_twoBitIO.c
Owners: @peterjc

remove str where not needed
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/StockholmIO.py
  Tests/test_AlignIO.py
  Tests/test_AlignIO_ClustalIO.py
  Tests/test_AlignIO_MauveIO.py
  Tests/test_AlignIO_PhylipIO.py
  Tests/test_AlignInfo.py
  Tests/test_align.py
  Tests/test_align_substitution_matrices.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

remove unnecessary str (#3392)
  Bio/motifs/__init__.py
  Bio/motifs/jaspar/db.py
  Bio/motifs/matrix.py
  Tests/test_motifs.py
Owners: @mdehoon

remove unnecessary str from Bio.phenotype (#3393)
  Bio/phenotype/phen_micro.py
  Tests/test_phenotype.py
Owners: none

travis
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

remove unnecessary str
  Bio/SeqIO/NibIO.py
  Tests/test_SeqIO_NibIO.py
Owners: @peterjc

remove unnecessary str
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
Owners: none

remove unnecessary str
  Tests/test_TogoWS.py
Owners: @peterjc

travis
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

remove str
  Bio/SCOP/__init__.py
  Tests/test_SCOP_Astral.py
Owners: none

remove str
  Tests/test_SwissProt.py
Owners: none

str
  Bio/ExPASy/ScanProsite.py
Owners: none

remove unnecessary str (#3396)
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
Owners: none

remove unnecessary str
  Tests/test_TogoWS.py
Owners: @peterjc

use assertEqual
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_ResidueDepth.py
  Tests/test_Pathway.py
  Tests/test_SearchIO_hmmer3_text.py
Owners: @joaorodrigues, @lennax, @bow

remove unneeded test
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

fix: fix typo in code formatting comments for nodes and branches
  Bio/Phylo/NewickIO.py
Owners: @etal

Remove str where not needed in SCOP, AlignIO, Align (#3398)
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/MauveIO.py
  Bio/AlignIO/StockholmIO.py
  Bio/SCOP/__init__.py
  Tests/test_AlignIO.py
  Tests/test_AlignIO_ClustalIO.py
  Tests/test_AlignIO_MauveIO.py
  Tests/test_AlignIO_PhylipIO.py
  Tests/test_AlignInfo.py
  Tests/test_SCOP_Astral.py
  Tests/test_align.py
  Tests/test_align_substitution_matrices.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

remove unnecessary str (#3395)
  Bio/SeqIO/NibIO.py
  Tests/test_SeqIO_NibIO.py
Owners: @peterjc

remove str (#3399)
  Tests/test_SwissProt.py
Owners: none

removed unnecessary str
  Tests/test_Uniprot.py
Owners: none

str
  Tests/test_Prank_tool.py
Owners: none

str
  Tests/test_Phd.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
