Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Update NEWS.rst
  NEWS.rst
Owners: none

Update parse error
  Bio/motifs/meme.py
Owners: @mdehoon

Apply black style to Bio.SCOP. Removed backslashes from SQL statements.
  Bio/SCOP/__init__.py
Owners: none

Apply black style to Bio.Restriction.
  Bio/Restriction/PrintFormat.py
  Bio/Restriction/Restriction.py
  Bio/Restriction/Restriction_Dictionary.py
Owners: none

Apply black style to Bio.SCOP. Removed backslashes from SQL statements.
  Bio/SCOP/__init__.py
Owners: none

Apply black style to Bio.SCOP.
  Bio/SCOP/Cla.py
  Bio/SCOP/Hie.py
  Bio/SCOP/Raf.py
  Bio/SCOP/Residues.py
  Bio/SCOP/__init__.py
Owners: none

Apply black style to Bio.SCOP. Black off on long lists.
  Bio/SCOP/__init__.py
Owners: none

changes to attributes to make rst compatible
  Bio/Align/Applications/_Dialign.py
  Bio/Blast/Applications.py
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
  Bio/Sequencing/Applications/_bwa.py
  CONTRIB.rst
Owners: none

removed extraneous escape and whitespace characters from docstrings #2220
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
  Bio/Sequencing/Applications/_bwa.py
Owners: none

added AbstractCommandLine documenter
  Doc/api/conf.py
Owners: none

added AbstractCommandLine documenter
  Doc/api/conf.py
Owners: none

removed extraneous escape characters from docstrings #2220
  Bio/Blast/Applications.py
Owners: none

prevent attributes and methods being shown twice
  Doc/api/conf.py
Owners: none

added AbstractCommandLine documenter
  Doc/api/conf.py
Owners: none

Apply black style to Bio.Restriction; updated Restriction_Dictionary.py and switch off black on Restriction_Dictionary.py from ranacompiler.py
  Bio/Restriction/Restriction.py
  Bio/Restriction/Restriction_Dictionary.py
  Scripts/Restriction/ranacompiler.py
Owners: none

Apply black style to Bio.PopGen.
  Bio/PopGen/GenePop/Controller.py
  Bio/PopGen/GenePop/EasyController.py
  Bio/PopGen/GenePop/FileParser.py
  Bio/PopGen/GenePop/LargeFileParser.py
  Bio/PopGen/GenePop/__init__.py
Owners: none

Apply black style to Bio.PopGen.Added a comment on a line causing flake8 D202.
  Bio/PopGen/GenePop/__init__.py
Owners: none

Fix same line implicit string concatenation from black
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/SffIO.py
  Bio/bgzf.py
Owners: @peterjc

Avoid __getitem__ speed overhead in motif search
  Bio/motifs/matrix.py
Owners: @mdehoon

don't add extra space added at beginning of TITLE
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Apply black style to Bio.PopGen.
  Bio/PopGen/GenePop/Controller.py
  Bio/PopGen/GenePop/EasyController.py
  Bio/PopGen/GenePop/FileParser.py
  Bio/PopGen/GenePop/LargeFileParser.py
  Bio/PopGen/GenePop/__init__.py
Owners: none

Apply black style to Bio.PopGen.Added a comment on a line causing flake8 D202.
  Bio/PopGen/GenePop/__init__.py
Owners: none

Fix flake8 issue with black style.D202 No blank lines allowed after function docstring
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_utils.py
Owners: @bow

Black style, added a comment to stop black adding an empty line that raises flake8 D202.
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_utils.py
Owners: @bow

Apply black style to Bio.SearchIO.
  Bio/SearchIO/BlastIO/__init__.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_text.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/__init__.py
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/ExonerateIO/exonerate_cigar.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/HmmerIO/__init__.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_domtab.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SearchIO/InterproscanIO/__init__.py
  Bio/SearchIO/InterproscanIO/interproscan_xml.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SearchIO/_legacy/ParserSupport.py
  Bio/SearchIO/_model/__init__.py
  Bio/SearchIO/_model/_base.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Bio/SearchIO/_utils.py
Owners: @bow

Fix implicitly concatenated string literals on one line
  Bio/GenBank/Scanner.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/SffIO.py
  Bio/bgzf.py
Owners: @peterjc

Ran black version 19.3b0 on BioSQL
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  BioSQL/Loader.py
Owners: none

Fix implicit string concatenation; pointless r-prefixes
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  BioSQL/DBUtils.py
  BioSQL/Loader.py
Owners: none

Fix subtle/confusing implicit string literal concatenation
  Bio/motifs/transfac.py
Owners: @mdehoon

Avoid needless plus operators for string concatenation
  Bio/GenBank/__init__.py
  Bio/HMM/MarkovModel.py
  Bio/KEGG/KGML/KGML_parser.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/MarkovModel.py
  Bio/SeqIO/QualityIO.py
  Bio/motifs/meme.py
  Bio/pairwise2.py
  Bio/phenotype/phen_micro.py
Owners: @peterjc, @mdehoon

Avoid slash line continuation with split strings
  Bio/Application/__init__.py
  Bio/SearchIO/_utils.py
Owners: @bow

Use flake8-implicit-str-concat on TravisCI
  .travis-tox.ini
  CONTRIBUTING.rst
Owners: none

Apply black style to Bio.Restriction.
  Bio/Restriction/Restriction_Dictionary.py
Owners: none

Apply black style to Bio.Phylo.
  Bio/Phylo/Applications/_Fasttree.py
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
  Bio/Phylo/Applications/__init__.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/CDAO.py
  Bio/Phylo/CDAOIO.py
  Bio/Phylo/Consensus.py
  Bio/Phylo/NeXML.py
  Bio/Phylo/NeXMLIO.py
  Bio/Phylo/Newick.py
  Bio/Phylo/NewickIO.py
  Bio/Phylo/NexusIO.py
  Bio/Phylo/PAML/_paml.py
  Bio/Phylo/PAML/_parse_baseml.py
  Bio/Phylo/PAML/_parse_codeml.py
  Bio/Phylo/PAML/_parse_yn00.py
  Bio/Phylo/PAML/baseml.py
  Bio/Phylo/PAML/chi2.py
  Bio/Phylo/PAML/codeml.py
  Bio/Phylo/PAML/yn00.py
  Bio/Phylo/PhyloXML.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/Phylo/TreeConstruction.py
  Bio/Phylo/__init__.py
  Bio/Phylo/_cdao_owl.py
  Bio/Phylo/_io.py
  Bio/Phylo/_utils.py
Owners: @etal

Missed this during a rebase
  Bio/SearchIO/BlastIO/blast_xml.py
Owners: none

Fix string concatenation style in Scripts/
  Scripts/Restriction/ranacompiler.py
  Scripts/scop_pdb.py
  Scripts/xbbtools/xbb_blastbg.py
  Scripts/xbbtools/xbb_translations.py
Owners: none

Remove redundant but deliberate string concatenation
  Tests/test_SeqIO_features.py
Owners: @peterjc

Fix string concatenation style in Tests/
  Tests/run_tests.py
  Tests/search_tests_common.py
  Tests/seq_tests_common.py
  Tests/test_AlignIO_FastaIO.py
  Tests/test_GenBank.py
  Tests/test_GenomeDiagram.py
  Tests/test_Nexus.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_SeqIO_PdbIO.py
  Tests/test_SeqRecord.py
  Tests/test_Uniprot.py
  Tests/test_cellosaurus.py
  Tests/test_phenotype.py
  Tests/test_seq.py
Owners: @peterjc, @widdowquinn, @joaorodrigues, @lennax

Fix implicitly concatenated string literals on one line
  Bio/GenBank/Scanner.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/SffIO.py
  Bio/bgzf.py
Owners: @peterjc

Fix string concatenation style in Scripts/
  Scripts/Restriction/ranacompiler.py
  Scripts/scop_pdb.py
  Scripts/xbbtools/xbb_blastbg.py
  Scripts/xbbtools/xbb_translations.py
Owners: none
