Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Remove alphabet references in test names
  Tests/test_seq.py
Owners: @peterjc

Remove obsolete comments
  Bio/File.py
  Bio/SeqIO/InsdcIO.py
Owners: @peterjc

Update PIR documentation for mol. type change
  Bio/SeqIO/PirIO.py
Owners: @peterjc

This argument was removed
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Update and rename Atom.py to Atom_Protonation.py
  Bio/PDB/Atom_Protonation.py
Owners: @joaorodrigues, @lennax

Fix documentation link
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

Remove repeating example
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Remove repeating example
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Fix documentation link
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

Updated ncbi query url to latest working
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

Added name as contributor to NEWS and CONTRIB rst
  CONTRIB.rst
  NEWS.rst
Owners: none

Moved Yogesh name one line up
  NEWS.rst
Owners: none

Moved Yogesh name one line up
  NEWS.rst
Owners: none

Added name as contributor to NEWS and CONTRIB rst
  CONTRIB.rst
  NEWS.rst
Owners: none

Updated ncbi query url to latest working
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

Add spaces after END statement to match format specs
  Bio/PDB/PDBIO.py
Owners: @joaorodrigues, @lennax

Delete extra empty lines.
  Tests/PDB/ions.pdb
Owners: none

Add spaced to END statements to match format spec
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Added check for unexpected records in the coordinate section. Also add code to skip empty lines.
  Bio/PDB/PDBParser.py
Owners: @joaorodrigues, @lennax

Updated tests to match detection of unexpected records
  Tests/PDB/a_structure.pdb
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Updated my name and contact
  CONTRIB.rst
Owners: none

Flake8 fixes
  Bio/PDB/PDBParser.py
Owners: @joaorodrigues, @lennax

Overzealous find/replace...
  Bio/PDB/PDBParser.py
Owners: @joaorodrigues, @lennax

Revert more overzealous find/replace
  Bio/PDB/PDBParser.py
Owners: @joaorodrigues, @lennax

Changed language of the PR template to enable auto-linking to issues.
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Added warning for unexpected records when parsing coordinates in PDB files. (#3208)
  Bio/PDB/PDBIO.py
  Bio/PDB/PDBParser.py
  CONTRIB.rst
  Tests/PDB/a_structure.pdb
  Tests/PDB/ions.pdb
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Pdbio set structure (#3006)
  Bio/PDB/PDBIO.py
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Moved solvent exposure script to PDB folder.
  Scripts/PDB/hsexpo
Owners: none

Updated and renamed hsexpo script
  Scripts/PDB/hsexpo.py
Owners: none

Add ignore rule for Windows-only pyd files
  .gitignore
Owners: none

Updated pre-commit config to match Travis
  .pre-commit-config.yaml
Owners: none

Added argument to black not to modify files.
  .pre-commit-config.yaml
Owners: none

Cleaning comments
  .pre-commit-config.yaml
Owners: none

Fixed style issues
  Scripts/PDB/hsexpo.py
Owners: none

Add ignore rule for Windows-only pyd files (#3211)
  .gitignore
Owners: none

Adds module-level documentation for kdtrees C module
  Bio/PDB/kdtrees.c
Owners: @joaorodrigues, @lennax

Cleaning comments
  .pre-commit-config.yaml
Owners: none

Add pre-commit config
  .pre-commit-config.yaml
Owners: none

Added argument to black not to modify files.
  .pre-commit-config.yaml
Owners: none

Updated pre-commit config to match Travis
  .pre-commit-config.yaml
Owners: none
