Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Don't add tests at run time, and use unittest asserts
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

moving changes to test_SeqIO_FastaIO.py to a separate PR
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

Don't add tests at run time, and use unittest asserts
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

don't add tests at run time
  Tests/test_SeqIO_index.py
Owners: @peterjc

separate out changes to test_SeqIO_index.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

don't add tests at run time
  Tests/test_SeqIO_index.py
Owners: @peterjc

use unittest API
  Tests/test_SeqIO.py
  Tests/test_SeqIO_index.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

move changes to TestSeqIO class to a separate PR
  Tests/test_SeqIO.py
Owners: @peterjc

use unittest API (#2812)
  Tests/test_SeqIO.py
  Tests/test_SeqIO_index.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

reorganize test_SeqIO_QualityIO.py to avoid adding tests at run time
  Tests/test_SeqIO.py
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

travis
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

reorganize test_SeqIO_QualityIO.py to avoid adding tests at run time (#2813)
  Tests/test_SeqIO.py
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

new fasta parser: parses titles according to the NCBI standard
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/__init__.py
  Tests/Fasta/ncbi_standard.pro
Owners: @peterjc

update test
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

undo formatting
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

typo
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

typo
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

typo
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

correct format
  Tests/test_SeqIO_FastaIO.py
Owners: @peterjc

adopting suggestion by @mdehoon
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

get rid of BinaryFormats, and dont open a file prematurely
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_convert.py
Owners: @peterjc

travis
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_convert.py
Owners: @peterjc

get rid of BinaryFormats, and dont open a file prematurely (#2816)
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_convert.py
Owners: @peterjc

Don't use with block if it is not needed
  Bio/SeqIO/_convert.py
Owners: @peterjc

Don't use with block if it is not needed (#2818)
  Bio/SeqIO/_convert.py
Owners: @peterjc

raise a ValueError in Bio.Entrez if the XML data do not include a DTD or XML Schema
  Bio/Entrez/Parser.py
  Tests/Entrez/biosample.xml
  Tests/test_Entrez_parser.py
Owners: @mdehoon

raise a ValueError in Bio.Entrez if the XML data do not include a DTD or XML Schema (#2820)
  Bio/Entrez/Parser.py
  Tests/Entrez/biosample.xml
  Tests/test_Entrez_parser.py
Owners: @mdehoon

Don't add tests at runtime, and cleanup (#2804)
  Tests/test_Phylo_NeXML.py
Owners: @etal

REMARK 465 parsing accept 1 or more spaces
  Bio/PDB/parse_pdb_header.py
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

remove extraneous space in test case
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

REMARK 465 parsing accept 1 or more spaces (#2821)
  Bio/PDB/parse_pdb_header.py
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

fix mauve writer, and remove cunning bits from test_SeqIO_write
  Bio/AlignIO/MauveIO.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

travis
  Tests/test_SeqIO_write.py
Owners: @peterjc

no more cunning tests
  Tests/test_SeqIO_convert.py
Owners: @peterjc

remove redundant if blocks (#2775)
  Bio/Phylo/PAML/baseml.py
  Bio/Phylo/PAML/codeml.py
Owners: none

Use XML parsing for MEME output files (#2354)
  Bio/motifs/__init__.py
  Bio/motifs/meme.py
  Doc/Tutorial/chapter_motifs.tex
  NEWS.rst
  Tests/motifs/meme.INO_up800.classic.oops.xml
  Tests/motifs/meme.adh.classic.oops.xml
  Tests/motifs/meme.dna.oops.txt
  Tests/motifs/meme.farntrans5.classic.anr.xml
  Tests/motifs/meme.protein.oops.txt
  Tests/motifs/meme.protein.tcm.txt
  Tests/motifs/meme.psp_test.classic.zoops.xml
  Tests/motifs/meme.rna.oops.txt
  Tests/motifs/meme_v_4_11_4.txt
  Tests/test_motifs.py
Owners: @mdehoon

MAINT: Apply black formatter
  Bio/Phylo/CDAOIO.py
  Bio/SeqIO/FastaIO.py
  Doc/Tutorial/chapter_testing.tex
  Scripts/Structure/hsexpo
Owners: @etal, @peterjc

Add pre-commit config
  .pre-commit-config.yaml
Owners: none

fix mauve writer, and remove cunning bits from test_SeqIO_write (#2824)
  Bio/AlignIO/MauveIO.py
  Tests/test_SeqIO_write.py
Owners: @peterjc

MAINT: Apply black formatter
  Bio/Phylo/CDAOIO.py
  Bio/SeqIO/FastaIO.py
  Doc/Tutorial/chapter_testing.tex
  Scripts/Structure/hsexpo
Owners: @etal, @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
