Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Apply black styling to test_SeqIO_Xdna.py
  Tests/test_SeqIO_Xdna.py
Owners: @peterjc

Apply black style to test_Uniprot.py
  Tests/test_Uniprot.py
Owners: none

Add myself to NEWS.rst
  NEWS.rst
Owners: none

Add myself to CONTRIB.rst
  CONTRIB.rst
Owners: none

Apply black styling to test_KEGG.py
  Tests/test_KEGG.py
Owners: none

Use assertEqual() on test_Clustalw_tool.py (flake8 A500)
  Tests/test_Clustalw_tool.py
Owners: none

Apply black styling to test_Clustalw_tool.py
  Tests/test_Clustalw_tool.py
Owners: none

Add myself to NEWS.rst
  NEWS.rst
Owners: none

Apply black style to test_Uniprot.py
  Tests/test_Uniprot.py
Owners: none

Add myself to CONTRIB.rst
  CONTRIB.rst
Owners: none

Apply black styling to test_SeqIO_Xdna.py
  Tests/test_SeqIO_Xdna.py
Owners: @peterjc

Use assertEqual() on test_Clustalw_tool.py (flake8 A500)
  Tests/test_Clustalw_tool.py
Owners: none

Apply black styling to test_Clustalw_tool.py
  Tests/test_Clustalw_tool.py
Owners: none

removed alphabets from replacement_dictionary in AlignInfo (#3108)
  Bio/Align/AlignInfo.py
  Tests/test_AlignIO.py
  Tests/test_AlignInfo.py
  Tests/test_align.py
Owners: @peterjc

Use assertGreater() and assertIsNone() in test_Emboss.py
  Tests/test_Emboss.py
Owners: none

Apply black styling to test_Emboss.py
  Tests/test_Emboss.py
Owners: none

Apply black styling to test_KEGG.py
  Tests/test_KEGG.py
Owners: none

flake8 A502, replaced assertEqual with assertIsNone.
  Tests/test_CodonTable.py
Owners: none

Apply black style to test_CodonTable.py, version 19.10b0.
  Tests/test_CodonTable.py
Owners: none

Apply black styling to test_Emboss.py
  Tests/test_Emboss.py
Owners: none

Use assertGreater() and assertIsNone() in test_Emboss.py
  Tests/test_Emboss.py
Owners: none

remove trailing white spaces
  Bio/Cluster/__init__.py
Owners: @mdehoon

fix minor style issues
  Bio/SeqUtils/CodonUsage.py
Owners: none

Drop alphabets in SeqIO indexing & SFF
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_index.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Apply black to test_HMM* and comply to flake8 A501
  Tests/test_HMMCasino.py
  Tests/test_HMMGeneral.py
Owners: none

one
  Bio/Align/AlignInfo.py
  Tests/test_AlignInfo.py
  Tests/test_align.py
Owners: @peterjc

two
  Bio/Align/AlignInfo.py
  Tests/test_AlignIO.py
Owners: @peterjc

done for now
  Bio/Align/AlignInfo.py
Owners: @peterjc

travis
  Bio/Align/AlignInfo.py
  Tests/test_AlignIO.py
Owners: @peterjc

travis again
  Bio/Align/AlignInfo.py
Owners: @peterjc

travis again
  Bio/Align/AlignInfo.py
Owners: @peterjc

Reject alphabet argument to SeqIO indexing
  Bio/SeqIO/__init__.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Apply black to test_HMM* and comply to flake8 A501
  Tests/test_HMMCasino.py
  Tests/test_HMMGeneral.py
Owners: none

Apply black and break some strings into multiple lines
  Tests/test_GenBank.py
Owners: @peterjc

Apply black style to test_CodonTable.py, version 19.10b0.
  Tests/test_CodonTable.py
Owners: none

flake8 A502, replaced assertEqual with assertIsNone.
  Tests/test_CodonTable.py
Owners: none

Cleanup
  Bio/SeqIO/_index.py
Owners: @peterjc

AlignInfo alphabets (#3119)
  Bio/Align/AlignInfo.py
  Tests/test_AlignIO.py
  Tests/test_AlignInfo.py
  Tests/test_align.py
Owners: @peterjc

Apply black styling to test_*_tool.py
  Tests/test_BWA_tool.py
  Tests/test_ClustalOmega_tool.py
  Tests/test_Fasttree_tool.py
Owners: none

Drop alphabets in SeqIO indexing & SFF (#3116)
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_index.py
  Tests/test_SeqIO_index.py
Owners: @peterjc
