Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

sys.version_info use in test_SeqIO_index.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Use context managers to close handles
  Tests/test_SeqIO_index.py
Owners: @peterjc

Drop python 2 dictionary testing
  Tests/test_SeqIO_index.py
Owners: @peterjc

Update how SFF checks file mode (try/except)
  Bio/SeqIO/SffIO.py
Owners: @peterjc

reset test_SeqIO_index.py to 042e356
  Tests/test_SeqIO_index.py
Owners: @peterjc

update tests to silence warning
  Bio/motifs/__init__.py
  Tests/test_motifs.py
Owners: @mdehoon

one more old format
  Tests/test_align.py
Owners: none

removing Bio.trie
  Bio/trie.c
  Bio/trie.h
  Bio/triefind.py
  Bio/triemodule.c
  DEPRECATED.rst
  Tests/test_trie.py
  setup.py
Owners: none

fix test_Seq_objs.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Avoid triple quoted string with embedded new lines
  Bio/motifs/__init__.py
Owners: @mdehoon

Stylistic improvements suggested in review
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Remove python2 checks from Test/ (#2496)
  Tests/common_BioSQL.py
  Tests/test_Phylo.py
  Tests/test_SeqRecord.py
  Tests/test_Seq_objs.py
  Tests/test_SffIO.py
  Tests/test_geo.py
Owners: @etal, @peterjc

Avoid triple quoted string with embedded new lines
  Bio/motifs/__init__.py
Owners: @mdehoon

black, version 19.3b0, on misc files
  Bio/Affy/CelFile.py
  Bio/Application/__init__.py
  Bio/CAPS/__init__.py
  Bio/Crystal/__init__.py
  Bio/Data/IUPACData.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/Phylo/BaseTree.py
  Bio/PopGen/GenePop/__init__.py
  Bio/Sequencing/Applications/_bwa.py
  Bio/Statistics/__init__.py
  Bio/SwissProt/__init__.py
  Bio/Wise/psw.py
  Bio/motifs/__init__.py
Owners: @etal, @mdehoon

black, version 19.3b0, with string fix
  Bio/Compass/__init__.py
Owners: none

removing Bio.trie
  Bio/trie.c
  Bio/trie.h
  Bio/triefind.py
  Bio/triemodule.c
  DEPRECATED.rst
  Tests/test_trie.py
  setup.py
Owners: none

black, version 19.03b, on Bio.Emboss
  Bio/Emboss/Applications.py
  Bio/Emboss/Primer3.py
  Bio/Emboss/PrimerSearch.py
  Tests/test_Emboss.py
Owners: none

Fix triple-quote indentation; remove EMBOSS 6.1.0 refs
  Bio/Emboss/Applications.py
Owners: none

Post-black string concatenation fix
  Bio/Emboss/Applications.py
Owners: none

Remove Python 2 only deprecation warning
  Bio/SeqRecord.py
Owners: @peterjc

Update how SFF checks file mode (try/except)
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Use context managers to close handles
  Tests/test_SeqIO_index.py
Owners: @peterjc

Drop python 2 dictionary testing
  Tests/test_SeqIO_index.py
Owners: @peterjc

sys.version_info use in test_SeqIO_index.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Stylistic improvements suggested in review
  Bio/SeqIO/SffIO.py
Owners: @peterjc

replace the format method with __format__ (#2493)
  Bio/Align/__init__.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_align.tex
  Tests/test_AlignIO.py
  Tests/test_align.py
  Tests/test_motifs.py
Owners: @peterjc, @mdehoon

python3 c code
  Bio/Nexus/cnexus.c
Owners: none

qcprotmodule python3
  Bio/PDB/QCPSuperimposer/qcprotmodule.c
Owners: none

NCBI genetic code table version 4.5
  Bio/Data/CodonTable.py
  NEWS.rst
Owners: none

Regenerate CodonTable in more black-like style
  Bio/Data/CodonTable.py
Owners: none

Fix an implicit string concatenation before run black
  Bio/Data/CodonTable.py
Owners: none

Disable black on Bio/Data/SCOPData.py
  Bio/Data/SCOPData.py
Owners: none

More black-like indentation in NCBI codon tables
  Scripts/update_ncbi_codon_table.py
Owners: none

Turn off black formatting for autogenerated codon tables
  Bio/Data/CodonTable.py
Owners: none

Output using double-quote strings
  Scripts/update_ncbi_codon_table.py
Owners: none

Four codons per row; blank gaps for stop codons
  Bio/Data/CodonTable.py
  Scripts/update_ncbi_codon_table.py
Owners: none

black, version 19.10b, on CodonTable.py
  Bio/Data/CodonTable.py
Owners: none

Avoid triple-quote strings
  Scripts/update_ncbi_codon_table.py
Owners: none

replace fprintf by PySys_WriteStderr
  Bio/PDB/QCPSuperimposer/qcprotmodule.c
Owners: none

python3 c code
  Bio/Nexus/cnexus.c
Owners: none
