Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

black
  Bio/Phylo/BaseTree.py
Owners: @etal

remove ancient comment
  Tests/test_GraphicsGeneral.py
Owners: none

update crc32 in Bio.SeqUtils
  Bio/SeqUtils/CheckSum.py
  Tests/test_SeqUtils.py
Owners: @peterjc

Solve Python2/3 issue with StringIO
  Tests/test_NCBI_qblast.py
Owners: none

Apply black style to test_k* files, version 19.10b0. test_KEGG.py test_KEGG_online.py test_KeyWList.py test_KGML_graphics.py test_KGML_graphics_online.py test_KGML_nographics.py test_kNN.py
  Tests/test_KEGG.py
  Tests/test_KEGG_online.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_graphics_online.py
  Tests/test_KGML_nographics.py
  Tests/test_KeyWList.py
  Tests/test_kNN.py
Owners: none

fix bug for different lengths
  Bio/SCOP/__init__.py
Owners: none

Apply black style to test_HMM* files, version 19.10b0. test_HMMCasino.py test_HMMGeneral.py
  Tests/test_HMMCasino.py
  Tests/test_HMMGeneral.py
Owners: none

cleanup compare Bio.SCOP (#2748)
  Bio/SCOP/__init__.py
Owners: none

Apply black style to test_HMM* files, version 19.10b0. test_HMMCasino.py test_HMMGeneral.py
  Tests/test_HMMCasino.py
  Tests/test_HMMGeneral.py
Owners: none

move handle url check outside with block
  Tests/test_KEGG_online.py
Owners: none

move handle url check outside with block (#2755)
  Tests/test_KEGG_online.py
Owners: none

remove IGNORE_EXCEPTION_DETAIL in doctest
  Tests/test_Tutorial.py
Owners: none

Solve Python2/3 issue with StringIO
  Tests/test_NCBI_qblast.py
Owners: none

Adjust blastp search with short_query for new matrix
  Tests/test_NCBI_qblast.py
Owners: none

delete stuff
  Bio/AlignIO/EmbossIO.py
  Bio/codonalign/codonalphabet.py
  Tests/test_AlignIO_EmbossIO.py
  Tests/test_Entrez_online.py
  Tests/test_NMR.py
Owners: @peterjc, @zruan, @mdehoon

remove other ref to EmbossWriter
  Bio/AlignIO/__init__.py
Owners: @peterjc

Remove unused imports and 'EmbossWriter' Class (#2759)
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/__init__.py
  Bio/codonalign/codonalphabet.py
  Tests/test_AlignIO_EmbossIO.py
  Tests/test_Entrez_online.py
  Tests/test_NMR.py
Owners: @peterjc, @zruan, @mdehoon

update Bio.PDB for python3
  Bio/PDB/DSSP.py
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Apply black style to test_Graphics* files, version 19.10b0. test_GraphicsBitmaps.py test_GraphicsChromosome.py test_GraphicsDistribution.py test_GraphicsGeneral.py
  Tests/test_GraphicsBitmaps.py
  Tests/test_GraphicsChromosome.py
  Tests/test_GraphicsDistribution.py
  Tests/test_GraphicsGeneral.py
Owners: none

Apply black style to test_geo.py, version 19.10b0.
  Tests/test_geo.py
Owners: none

free view buffer
  Bio/Align/_aligners.c
Owners: @mdehoon

deprecate class
  Bio/SeqIO/Interfaces.py
  DEPRECATED.rst
Owners: @peterjc

Apply black style to test_Ge* files, version 19.10b0. test_GenBank.py test_GenomeDiagram.py
  Tests/test_GenBank.py
  Tests/test_GenomeDiagram.py
Owners: @peterjc, @widdowquinn

free view buffer (#2760)
  Bio/Align/_aligners.c
Owners: @mdehoon

deprecate class
  Bio/SeqIO/Interfaces.py
  DEPRECATED.rst
Owners: @peterjc

Apply black style to test_GenBank.py, version 19.10b0; after v19.3b0 had been applied.
  Tests/test_GenBank.py
Owners: @peterjc

Apply black style to test_GenBank.py, version 19.10b0; after v19.3b0 had been applied.
  Tests/test_GenBank.py
Owners: @peterjc

Apply black style to test_GenomeDiagram.py, version 19.10b0; re-write asserts for better look.
  Tests/test_GenomeDiagram.py
Owners: @widdowquinn, @peterjc

Overdue removal of Seq __hash__ warning
  Bio/Seq.py
  DEPRECATED.rst
Owners: @peterjc

Change logic for testing dependency
  Tests/test_phyml_tool.py
Owners: none

'last minute' flake8 issue
  Tests/test_phyml_tool.py
Owners: none

Implements assert changes as detailed in biopython #2698
  Tests/test_BWA_tool.py
  Tests/test_CodonTable.py
  Tests/test_Crystal.py
  Tests/test_Emboss.py
  Tests/test_Entrez.py
  Tests/test_ExPASy.py
  Tests/test_Fasttree_tool.py
  Tests/test_File.py
  Tests/test_GenBank.py
  Tests/test_GraphicsChromosome.py
  Tests/test_KDTree.py
  Tests/test_KEGG.py
  Tests/test_Mafft_tool.py
  Tests/test_Nexus.py
  Tests/test_PAML_codeml.py
  Tests/test_PDB_KDTree.py
  Tests/test_Phylo.py
  Tests/test_SearchIO_model.py
  Tests/test_SffIO.py
  Tests/test_samtools_tool.py
  Tests/test_seq.py
Owners: @mdehoon, @peterjc, @joaorodrigues, @lennax, @etal, @bow

Added name to NEWS and CONTRIB
  CONTRIB.rst
  NEWS.rst
Owners: none

Added name to NEWS and CONTRIB
  CONTRIB.rst
  NEWS.rst
Owners: none

Implements assert changes as detailed in biopython #2698
  Tests/test_BWA_tool.py
  Tests/test_CodonTable.py
  Tests/test_Crystal.py
  Tests/test_Emboss.py
  Tests/test_Entrez.py
  Tests/test_ExPASy.py
  Tests/test_Fasttree_tool.py
  Tests/test_File.py
  Tests/test_GenBank.py
  Tests/test_GraphicsChromosome.py
  Tests/test_KDTree.py
  Tests/test_KEGG.py
  Tests/test_Mafft_tool.py
  Tests/test_Nexus.py
  Tests/test_PAML_codeml.py
  Tests/test_PDB_KDTree.py
  Tests/test_Phylo.py
  Tests/test_SearchIO_model.py
  Tests/test_SffIO.py
  Tests/test_samtools_tool.py
  Tests/test_seq.py
Owners: @mdehoon, @peterjc, @joaorodrigues, @lennax, @etal, @bow

Use Python 3.1+ assertIsNot method in tests
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Overdue removal of Seq __hash__ warning
  Bio/Seq.py
  DEPRECATED.rst
Owners: @peterjc

apply black and use unittest assert methods (#2767)
  Tests/test_GenomeDiagram.py
Owners: @widdowquinn, @peterjc

Use iter instead of getiterator for Python 3.9 compatibility.
  Bio/SeqIO/UniprotIO.py
  CONTRIB.rst
  NEWS.rst
Owners: @peterjc

Use list()/iteration instead of getchildren for Python 3.9 compatibility.
  Bio/KEGG/KGML/KGML_parser.py
  Bio/Phylo/NeXMLIO.py
Owners: @etal
