Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

test more ABCs
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/_legacy/ParserSupport.py
Owners: none

Apply black style to test_phenotype* files, version 19.10b0. test_phenotype.py test_phenotype_fit.py
  Tests/test_phenotype.py
  Tests/test_phenotype_fit.py
Owners: none

Style cosmetics, split the strings, looks better.
  Tests/test_phenotype.py
Owners: none

address review comments
  Tests/test_File.py
Owners: none

Apply black style to test_PAML* files, version 19.10b0. test_PAML_baseml.py test_PAML_codeml.py test_PAML_tools.py test_PAML_yn00.py
  Tests/test_PAML_baseml.py
  Tests/test_PAML_codeml.py
  Tests/test_PAML_tools.py
  Tests/test_PAML_yn00.py
Owners: none

Added retmax value, so the queried ID is included in the esearch returning list.
  Doc/Tutorial/chapter_entrez.tex
Owners: none

requested changes
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

Use the base class in Bio.SeqIO.Interface to check the number of sequences while writing (#2717)
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/XdnaIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

define StreamModeError, and use it to check formats in SeqRecord
  Bio/SeqIO/Interfaces.py
  Bio/SeqRecord.py
Owners: @peterjc

recomended to raise still: https://docs.python.org/3/library/exceptions.html#NotImplementedError
  Bio/File.py
Owners: none

more explict to raise exception (although not required)
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/_legacy/ParserSupport.py
Owners: none

Apply black style to test_NCBI* files, version 19.10b0. test_NCBI_BLAST_tools.py test_NCBI_qblast.py
  Tests/test_NCBI_BLAST_tools.py
  Tests/test_NCBI_qblast.py
Owners: none

move exception to Bio
  Bio/SeqIO/Interfaces.py
  Bio/SeqRecord.py
  Bio/__init__.py
Owners: @peterjc

updated: esearch to search for Biopython in the title, output and some wording.
  Doc/Tutorial/chapter_entrez.tex
Owners: none

Apply black style to test_l* files, version 19.10b0. test_LogisticRegression.py test_lowess.py
  Tests/test_LogisticRegression.py
  Tests/test_lowess.py
Owners: none

Update failing Entrez Tutorial doctest (#2734)
  Doc/Tutorial/chapter_entrez.tex
Owners: none

Apply black style to test_l* files, version 19.10b0. test_LogisticRegression.py test_lowess.py
  Tests/test_LogisticRegression.py
  Tests/test_lowess.py
Owners: none

define StreamModeError, use in SeqIO & SeqRecord (#2735)
  Bio/SeqIO/Interfaces.py
  Bio/SeqRecord.py
  Bio/__init__.py
Owners: @peterjc

Apply black style to test_NCBI* files, version 19.10b0. test_NCBI_BLAST_tools.py test_NCBI_qblast.py
  Tests/test_NCBI_BLAST_tools.py
  Tests/test_NCBI_qblast.py
Owners: none

don't need _BinaryFormats any more in SeqIO.write
  Bio/SeqIO/__init__.py
Owners: @peterjc

travis did not like my 'quotes'
  Bio/SeqIO/__init__.py
Owners: @peterjc

black did not like my white space
  Bio/SeqIO/__init__.py
Owners: @peterjc

don't need _BinaryFormats any more in SeqIO.write (#2741)
  Bio/SeqIO/__init__.py
Owners: @peterjc

move converter
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_convert.py
  Tests/test_SeqIO_convert.py
Owners: @peterjc

Entrez efetch: Bug in id handling? (#2707)
  Bio/Entrez/__init__.py
  Tests/test_Entrez_online.py
Owners: @mdehoon

Optimise algorithm of `Bio.SeqUtils.IsoelectricPoint` (#2665)
  Bio/SeqUtils/IsoelectricPoint.py
  CONTRIB.rst
  NEWS.rst
Owners: none

Adjust blastp search with short_query for new matrix
  Tests/test_NCBI_qblast.py
Owners: none

Remove Python 2 specific __div__ and __rdiv__
  Bio/PDB/vectors.py
  Bio/Phylo/PhyloXML.py
  Bio/Restriction/Restriction.py
Owners: @joaorodrigues, @lennax, @etal

check file mode
  Bio/SeqIO/QualityIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

Convert handle.readline() to next(handle)
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

Loop over handles instead of using next
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

use defaultdict
  Bio/HMM/MarkovModel.py
  Tests/test_HMMGeneral.py
Owners: none

update Bio.PDB for python3
  Bio/PDB/DSSP.py
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

python3 cleanup in Bio.Phylo
  Bio/Phylo/BaseTree.py
  Bio/Phylo/NeXMLIO.py
  Bio/Phylo/NewickIO.py
  Bio/Phylo/PhyloXML.py
Owners: @etal

cleanup compare
  Bio/SCOP/__init__.py
Owners: none

update crc32 in Bio.SeqUtils
  Bio/SeqUtils/CheckSum.py
  Tests/test_SeqUtils.py
Owners: @peterjc

remove ancient comment
  Tests/test_GraphicsGeneral.py
Owners: none

cleanup in test_Phylo
  Tests/test_Phylo.py
Owners: @etal

use defaultdict (#2745)
  Bio/HMM/MarkovModel.py
  Tests/test_HMMGeneral.py
Owners: none

remove IGNORE_EXCEPTION_DETAIL in doctest
  Tests/test_Tutorial.py
Owners: none
