Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

check file mode
  Bio/SeqIO/QualityIO.py
  Tests/test_SeqIO.py
Owners: @peterjc

removed first readline
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

removed the second readline
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

removed one next
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

removed one next
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

removed one next
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

removed a next
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

first, fix the example
  Bio/SeqIO/QualityIO.py
  Tests/Quality/error_qual_space.fastq
  Tests/Quality/error_qual_tab.fastq
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

remove meaningless test
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

Update IsoelectricPoint.py
  Bio/SeqUtils/IsoelectricPoint.py
Owners: none

add contrib
  CONTRIB.rst
  NEWS.rst
Owners: none

fix sequence checking
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

use iterator
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

removed one next
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

removed one next
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

done
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

allow Bio.SeqIO.FastaIO and Bio.SeqIO.SeqXmlIO to open a file for writing
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

Add guide on contributing to the Biopython Tutorial (#2625)
  CONTRIBUTING.rst
  Doc/README.rst
Owners: none

allow Bio.SeqIO.FastaIO and Bio.SeqIO.SeqXmlIO to open a file for writing (#2650)
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

updated Bio.SeqUtils.CheckSum for python3
  Bio/SeqUtils/CheckSum.py
Owners: none

updated Bio.SeqUtils.__init__ for python3
  Bio/SeqUtils/__init__.py
Owners: none

trivial update in Bio.Sequencing.Phd and Bio.SwissProt for python3
  Bio/Sequencing/Phd.py
  Bio/SwissProt/__init__.py
Owners: none

trivial update in Bio.TogoWS for python3
  Bio/TogoWS/__init__.py
Owners: @peterjc

Restore meme.out
  Tests/motifs/meme.out
Owners: none

black
  Bio/SeqUtils/__init__.py
Owners: none

trivial update in Bio.Sequencing.Phd and Bio.SwissProt for python3 (#2652)
  Bio/Sequencing/Phd.py
  Bio/SwissProt/__init__.py
Owners: none

updates for python3
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  BioSQL/Loader.py
  Tests/common_BioSQL.py
Owners: none

test updates for python3
  Tests/run_tests.py
  Tests/search_tests_common.py
Owners: none

python3 updates to test_AlignIO_MauveIO
  Tests/test_AlignIO_MauveIO.py
Owners: @peterjc

black
  BioSQL/Loader.py
Owners: none

updates to tools tests for python3
  Tests/test_Application.py
  Tests/test_ClustalOmega_tool.py
  Tests/test_Clustalw_tool.py
  Tests/test_DSSP_tool.py
  Tests/test_Fasttree_tool.py
  Tests/test_NACCESS_tool.py
Owners: none

black
  Bio/TogoWS/__init__.py
Owners: @peterjc

Sequtils checksum python3 (#2651)
  Bio/SeqUtils/CheckSum.py
  Bio/SeqUtils/__init__.py
Owners: none

Apply black style to meme.py
  Bio/motifs/meme.py
Owners: @mdehoon

update test_Cluster.py for python3
  Tests/test_Cluster.py
Owners: @mdehoon

updates to Bio.Graphics tests for python3
  Tests/test_ColorSpiral.py
  Tests/test_GenomeDiagram.py
  Tests/test_GraphicsBitmaps.py
  Tests/test_KGML_graphics.py
  Tests/test_KGML_graphics_online.py
Owners: @widdowquinn, @peterjc

bug17666 affects Python 3.4 or older only
  Tests/run_tests.py
Owners: none

updates to test_Compass.py for python3
  Tests/test_Compass.py
Owners: none

typo
  Tests/test_Compass.py
Owners: none

test updates for python3 (#2655)
  Tests/run_tests.py
  Tests/search_tests_common.py
Owners: none
