Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

str (#3400)
  Bio/ExPASy/ScanProsite.py
Owners: none

Update _IQtree.py
  Bio/Phylo/Applications/_IQtree.py
Owners: none

removed unnecessary str
  Tests/test_Uniprot.py
Owners: none

str (#3402)
  Tests/test_Prank_tool.py
Owners: none

str
  Tests/test_Phd.py
Owners: none

cleanup
  Bio/PopGen/GenePop/LargeFileParser.py
  Bio/PopGen/GenePop/__init__.py
Owners: none

cleanup (#3404)
  Bio/PopGen/GenePop/LargeFileParser.py
  Bio/PopGen/GenePop/__init__.py
Owners: none

remove unnecessary str from PDB code
  Tests/test_PDB_Polypetide.py
Owners: @joaorodrigues, @lennax

travis
  Tests/test_PDB_Polypeptide.py
Owners: @joaorodrigues, @lennax

remove unnecessary str
  Bio/Blast/Record.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Tests/test_NCBITextParser.py
  Tests/test_NCBI_BLAST_tools.py
Owners: none

travis
  Bio/Blast/Record.py
Owners: none

remove unnecessary str from Blast code (#3406)
  Bio/Blast/Record.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Tests/test_NCBITextParser.py
  Tests/test_NCBI_BLAST_tools.py
Owners: none

remove unnecessary calls to str from SeqRecord
  Tests/test_SeqRecord.py
Owners: @peterjc

remove unnecessary calls to str
  Bio/Nexus/Nexus.py
Owners: none

str
  Scripts/xbbtools/nextorf.py
  Scripts/xbbtools/xbb_utils.py
  Scripts/xbbtools/xbb_widget.py
Owners: none

travis
  Bio/Nexus/Nexus.py
Owners: none

str
  Scripts/Restriction/ranacompiler.py
Owners: none

str (#3410)
  Scripts/xbbtools/nextorf.py
  Scripts/xbbtools/xbb_utils.py
  Scripts/xbbtools/xbb_widget.py
Owners: none

remove unnecessary calls to str from Nexus code (#3409)
  Bio/Nexus/Nexus.py
Owners: none

str (#3411)
  Scripts/Restriction/ranacompiler.py
Owners: none

str
  Scripts/GenBank/check_output_simple.py
  Tests/test_GenBank.py
Owners: @peterjc

travis
  Tests/test_GenBank.py
Owners: @peterjc

str
  Tests/test_Emboss.py
  Tests/test_HMMGeneral.py
  Tests/test_Muscle_tool.py
Owners: none

str
  Bio/SeqUtils/CheckSum.py
  Bio/SeqUtils/lcc.py
  Tests/test_SeqUtils.py
Owners: @peterjc

str
  Bio/SeqUtils/lcc.py
Owners: none

remove unnecessary str from PDB code (#3405)
  Tests/test_PDB_Polypeptide.py
Owners: @joaorodrigues, @lennax

remove unnecessary calls to str from SeqRecord
  Tests/test_SeqRecord.py
Owners: @peterjc

Remove str GenBank (#3412)
  Scripts/GenBank/check_output_simple.py
  Tests/test_GenBank.py
Owners: @peterjc

remove unnecessary calls to str in SearchIO code
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/InterproscanIO/interproscan_xml.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Tests/search_tests_common.py
  Tests/test_SearchIO_blast_tab.py
  Tests/test_SearchIO_blast_text.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SearchIO_blat_psl.py
  Tests/test_SearchIO_exonerate.py
  Tests/test_SearchIO_fasta_m10.py
  Tests/test_SearchIO_hhsuite2_text.py
  Tests/test_SearchIO_hmmer2_text.py
  Tests/test_SearchIO_hmmer3_text.py
  Tests/test_SearchIO_interproscan_xml.py
  Tests/test_SearchIO_model.py
Owners: @bow

travis
  Tests/test_Emboss.py
Owners: none

travis
  Bio/SearchIO/_model/hit.py
  Tests/search_tests_common.py
  Tests/test_SearchIO_blast_tab.py
  Tests/test_SearchIO_blast_text.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SearchIO_blat_psl.py
  Tests/test_SearchIO_exonerate.py
  Tests/test_SearchIO_fasta_m10.py
  Tests/test_SearchIO_hmmer2_text.py
  Tests/test_SearchIO_hmmer3_text.py
Owners: @bow

str
  Bio/codonalign/codonalignment.py
  Tests/test_codonalign.py
Owners: @zruan

str
  Tests/test_MafIO_index.py
Owners: none

str
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/XdnaIO.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_AbiIO.py
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_PdbIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_SeqXML.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_write.py
  Tests/test_SffIO.py
Owners: @peterjc, @bow

str
  Tests/seq_tests_common.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

str
  Tests/common_BioSQL.py
Owners: none

str
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

I hope that in the future the Biopython developers will consider more carefully what the priorities of the project should be.
  Tests/test_SearchIO_blast_text.py
  Tests/test_SearchIO_blat_psl.py
  Tests/test_SearchIO_hmmer2_text.py
Owners: @bow

str (#3417)
  Tests/test_MafIO_index.py
Owners: none

remove str in applications code (#3415)
  Tests/test_Emboss.py
  Tests/test_HMMGeneral.py
  Tests/test_Muscle_tool.py
Owners: none
