Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Ignore flake8-bugbear B015 in tests
  .flake8
Owners: none

error message for file type assert
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

Ignore flake8-bugbear B015 in tests
  .flake8
Owners: none

Avoid flake8-bugbear B015 warnings
  Tests/test_SeqRecord.py
Owners: @peterjc

use _SeqAbstractBaseClass for type checking
  Bio/Seq.py
Owners: @peterjc

fix black style on assert
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

DSSP chain label correction for mmCIF files, mark II (#3450)
  Bio/PDB/DSSP.py
  Tests/PDB/1A7G.cif
  Tests/test_PDB_DSSP.py
Owners: @joaorodrigues, @lennax

Simple linear CircleCI setup
  .circleci/config.yml
Owners: none

Avoid blank revisions in pre-commit config
  .pre-commit-config.yaml
Owners: none

check index value
  Bio/Align/__init__.py
Owners: @peterjc

remove deprecated argument (#3452)
  Bio/PDB/ResidueDepth.py
Owners: @joaorodrigues, @lennax

Avoid blank revisions in pre-commit config
  .pre-commit-config.yaml
Owners: none

Simple linear CircleCI setup
  .circleci/config.yml
Owners: none

Welcome to 2021.
  LICENSE.rst
Owners: none

Show CircleCI build badge on README
  README.rst
Owners: none

pyupgrade --py36-plus --keep-percent-format
  Bio/Align/__init__.py
  Bio/GenBank/Scanner.py
  Bio/PDB/Atom.py
  Bio/PDB/Entity.py
  Bio/PDB/internal_coords.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/codonalign/codonalignment.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/pfm.py
Owners: @peterjc, @joaorodrigues, @lennax, @zruan, @mdehoon

black
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/pfm.py
Owners: @mdehoon

pyupgrade --py36-plus --keep-percent-format
  Bio/Align/__init__.py
  Bio/GenBank/Scanner.py
  Bio/PDB/Atom.py
  Bio/PDB/Entity.py
  Bio/PDB/internal_coords.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/codonalign/codonalignment.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/pfm.py
Owners: @peterjc, @joaorodrigues, @lennax, @zruan, @mdehoon

black
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/pfm.py
Owners: @mdehoon

Add files via upload
  Bio/Phylo/Applications/test_IQTree_tool.py
Owners: none

Add files via upload
  Bio/Phylo/Applications/_IQtree.py
Owners: none

Add files via upload
  Tests/test_IQTree_tool.py
Owners: none

Add files via upload
  Tests/Phylip/example_iqtree.phy
Owners: none

Delete test_IQTree_tool.py
  Bio/Phylo/Applications/test_IQTree_tool.py
Owners: none

Delete colors.scheme.xml
  colors.scheme.xml
Owners: none

Delete debugger.xml
  debugger.xml
Owners: none

Delete editor.xml
  editor.xml
Owners: none

Delete filetypes.xml
  filetypes.xml
Owners: none

Delete ide.general.xml
  ide.general.xml
Owners: none

Delete find.xml
  find.xml
Owners: none

Delete markdown.xml
  markdown.xml
Owners: none

Delete wsl.distributions.xml
  wsl.distributions.xml
Owners: none

Delete inspection directory
  inspection/Default.xml
Owners: none

Delete _windows directory
  _windows/laf.xml
Owners: none

Delete codestyles directory
  codestyles/Default.xml
Owners: none

Add files via upload
  Bio/Phylo/Applications/_IQtree.py
Owners: none

Add files via upload
  Tests/test_IQTree_tool.py
Owners: none

Update CONTRIB.rst
  CONTRIB.rst
Owners: none

Declare Bio.Application obsolete
  Bio/Align/Applications/__init__.py
  Bio/Application/__init__.py
  Bio/Blast/Applications.py
  Bio/Emboss/Applications.py
  Bio/Phylo/Applications/__init__.py
  Bio/Sequencing/Applications/__init__.py
  Bio/motifs/applications/__init__.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_blast.tex
  Doc/Tutorial/chapter_phylo.tex
Owners: none

Remove check on BLAST+ command line args
  Tests/test_NCBI_BLAST_tools.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
