Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Pairwise alignment getitem (#3555)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Fix LaTeX syntax to allow documentation to build.
  Doc/Tutorial/chapter_align.tex
Owners: none

fix Entrez doctest (#3510)
  Doc/Tutorial/chapter_entrez.tex
Owners: none

Added several more steps to workflow
  .github/workflows/basic.yml
Owners: none

Remove unrelevant comment in Bio.motifs.pfm.
  Bio/motifs/pfm.py
Owners: @mdehoon

Fix PairwiseAligner compiler warnings on switch statements (#3525)
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @mdehoon

Bio.AlignIO.FastaIO cleanup
  Bio/AlignIO/FastaIO.py
Owners: @peterjc

simplify PhyloXML (#3556)
  Bio/Phylo/PhyloXML.py
Owners: @etal

fix ExPASy.get_prosite_raw for invalid queries (#3511)
  Bio/ExPASy/__init__.py
Owners: none

Replace remaining python2-style print commands by python3-style print function (#3533)
  Bio/Align/AlignInfo.py
  Bio/AlignIO/EmbossIO.py
  Bio/AlignIO/Interfaces.py
  Bio/AlignIO/PhylipIO.py
  Bio/Blast/NCBIWWW.py
  Bio/Data/CodonTable.py
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/Graphics/GenomeDiagram/_Graph.py
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
  Bio/Nexus/Nexus.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/motifs/jaspar/db.py
  BioSQL/Loader.py
  Tests/test_codonalign.py
Owners: @peterjc, @widdowquinn, @zruan

removed deprecated cose
  Bio/Affy/CelFile.py
  Bio/FSSP/FSSPTools.py
  Bio/FSSP/__init__.py
  Bio/FSSP/fssp_rec.py
  Bio/File.py
  DEPRECATED.rst
  Tests/test_FSSP.py
  setup.py
Owners: none

Add support for pfm-four-rows PWMS with scientific numbers.
  Bio/motifs/pfm.py
Owners: @mdehoon

Enforces D105 in ExPASy, motifs and SeqIO modules. (#3573)
  Bio/Align/__init__.py
  Bio/ExPASy/Enzyme.py
  Bio/ExPASy/cellosaurus.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/TwoBitIO.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/pfm.py
  Bio/motifs/xms.py
Owners: @peterjc, @mdehoon

Fix "FutureWarning: Possible nested set at position" in Bio.motifs.pfm.
  Bio/motifs/pfm.py
Owners: @mdehoon

fix gap counts in PSL output (#3504)
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

Use the noqa D402 twice
  Bio/Phylo/BaseTree.py
  Bio/SeqFeature.py
Owners: @etal, @peterjc

map between pairwise alignments (#3546)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
  Tests/test_pairwise_alignment_map.py
Owners: @peterjc

PairwiseAligner alignments against the reverse strand (#3527)
  Bio/Align/__init__.py
  Bio/Align/_aligners.c
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc, @mdehoon

In PSL output, use bytes when checking for wildcard (#3508)
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Owners: @peterjc

add BED output (#3515)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.tex
  Tests/test_pairwise_aligner.py
Owners: @peterjc

fix float printout (#3506)
  Bio/pairwise2.py
  Tests/test_pairwise2_no_C.py
Owners: none

Simpliy the `to_generic` method of `MultipleAlignment` in `Bio.Blast.Record` (#3557)
  Bio/Blast/Record.py
Owners: none

Use autodoc_preserve_defaults = True
  .travis-tox.ini
  Doc/api/conf.py
Owners: none

Numpdoc says class parameters before attributes
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

Fix D402 false positive.
  Bio/GenBank/__init__.py
Owners: @peterjc

simplify mult_align in Bio.FSSP.FSSPTools (#3558)
  Bio/FSSP/FSSPTools.py
Owners: none

GHA workflow for linting and testing.
  .github/workflows/basic.yml
Owners: none

Fix YAML syntax
  .github/workflows/basic.yml
Owners: none

Make last step run after all others.
  .github/workflows/basic.yml
Owners: none

Debug - where are the wheels?
  .github/workflows/basic.yml
Owners: none

Fix wheel archiving & install
  .github/workflows/basic.yml
Owners: none

Debug - where are the wheels? Part 2
  .github/workflows/basic.yml
Owners: none

Separate wheel building into its own job.
  .github/workflows/basic.yml
Owners: none

Move check_rst to first step along with style and build.
  .github/workflows/basic.yml
Owners: none

Fix bug - missing checkout.
  .github/workflows/basic.yml
Owners: none

Remove ANSI color code from copy-pasting
  .github/workflows/basic.yml
Owners: none

Post-release version bump.
  Bio/__init__.py
  NEWS.rst
Owners: none

Commented out RST check for now.
  .github/workflows/basic.yml
Owners: none

Commented out RST check for now: the running part only
  .github/workflows/basic.yml
Owners: none

Add install of wheel using pip
  .github/workflows/basic.yml
Owners: none
