Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

SeqIO and AlignIO convert doctests with mol type.
  Bio/AlignIO/__init__.py
  Bio/SeqIO/__init__.py
Owners: @peterjc

Updated cluster.c mean function
  Bio/Cluster/cluster.c
Owners: @mdehoon

add extra comment to cluster.c median function
  Bio/Cluster/cluster.c
Owners: @mdehoon

Add optional dictionary references to extract()
  Bio/SeqFeature.py
  Tests/test_SeqFeature.py
Owners: @peterjc

Use assertRaisesRegexp in test; minor style tweaks.
  Bio/SeqFeature.py
  Tests/test_SeqFeature.py
Owners: @peterjc

SeqFeature/location .extract NEWS entry; thank Adam
  NEWS.rst
Owners: none

Mention extract & trans-splicing in the Tutorial
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

Downgrade SeqRecord to Seq in extract references
  Bio/SeqFeature.py
  Tests/test_SeqFeature.py
Owners: @peterjc

Use result += ... to make code look better
  Bio/Cluster/cluster.c
Owners: @mdehoon

Changed comments from // to /*..*/ for consistency
  Bio/Cluster/cluster.c
Owners: @mdehoon

Enhancement: faster cluster.c mean() function (#3244)
  Bio/Cluster/cluster.c
Owners: @mdehoon

Remove _shirt_ and _flip exception on ext refs
  Bio/SeqFeature.py
Owners: @peterjc

fix docstrings
  Bio/Seq.py
Owners: @peterjc

SeqFeature/location .extract NEWS entry; thank Adam
  NEWS.rst
Owners: none

Use assertRaisesRegexp in test; minor style tweaks.
  Bio/SeqFeature.py
  Tests/test_SeqFeature.py
Owners: @peterjc

Mention extract & trans-splicing in the Tutorial
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

Downgrade SeqRecord to Seq in extract references
  Bio/SeqFeature.py
  Tests/test_SeqFeature.py
Owners: @peterjc

Remove _shirt_ and _flip exception on ext refs
  Bio/SeqFeature.py
Owners: @peterjc

Add optional dictionary references to extract()
  Bio/SeqFeature.py
  Tests/test_SeqFeature.py
Owners: @peterjc

fix docstrings (#3246)
  Bio/Seq.py
Owners: @peterjc

Point at new Alphabet page on website
  Bio/Alphabet/__init__.py
Owners: @peterjc

remove remaining unicode stuff
  Bio/Entrez/Parser.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqUtils/CheckSum.py
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  Tests/test_Seq_objs.py
Owners: @mdehoon, @etal, @peterjc

travis
  BioSQL/BioSeqDatabase.py
Owners: none

style
  BioSQL/BioSeqDatabase.py
Owners: none

style
  BioSQL/BioSeqDatabase.py
Owners: none

Link to alphabet page from NEWS
  NEWS.rst
Owners: none

remove remaining unicode stuff (#3248)
  Bio/Entrez/Parser.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqUtils/CheckSum.py
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  Tests/test_Seq_objs.py
Owners: @mdehoon, @etal, @peterjc

Revert binary mode assumption in NeXMLIO
  Bio/Phylo/NeXMLIO.py
Owners: @etal

Test Bio.Phylo.write with NeXML and filename
  Tests/test_Phylo_NeXML.py
Owners: @etal

Fixed typo and improved comment placement
  Tests/test_seq.py
Owners: @peterjc

Remove alphabet mention from StockholmIO example
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

Link to alphabet page from NEWS
  NEWS.rst
Owners: none

Point at new Alphabet page on website
  Bio/Alphabet/__init__.py
Owners: @peterjc

Remove self-test from Bio/PDB/NeighborSearch.py
  Bio/PDB/NeighborSearch.py
Owners: @joaorodrigues, @lennax

Remove alphabet mention from StockholmIO example
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

Fixed typo and improved comment placement
  Tests/test_seq.py
Owners: @peterjc

Added documentation to element assignment and improved unknown assignment.
  Bio/PDB/Atom.py
  Tests/test_PDB_SMCRA.py
Owners: @joaorodrigues, @lennax

Tweak pre-commit-config for recent doc8 changes
  .pre-commit-config.yaml
Owners: none

Change .gitattributes to change line endings to Unix style for text files
  .gitattributes
Owners: none

added name to NEWS.rst
  NEWS.rst
Owners: none
