Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Remove python 2 import from SeqIO docstring
  Bio/SeqIO/__init__.py
Owners: @peterjc

Remove python 2 import from Tests/test_SubsMat.py
  Tests/test_SubsMat.py
Owners: none

Remove python 2 import ingetgene.py
  Doc/examples/getgene.py
Owners: none

Remove python 2 import in Scripts/GenBank/check_output.py
  Scripts/GenBank/check_output.py
Owners: none

Remove python 2 imports in rebase_update.py
  Scripts/Restriction/rebase_update.py
Owners: none

Remove python 2 import in Doc/examples/www_blast.py
  Doc/examples/www_blast.py
Owners: none

Remove python 2 import in Bio/Seq.py
  Bio/Seq.py
Owners: @peterjc

Remove python 2 import in Bio/Index.py
  Bio/Index.py
Owners: none

Remove deprecate Bio.Index code
  Bio/Index.py
  DEPRECATED.rst
Owners: none

Remove Python 2 only __nonzero__ and __cmp__
  Bio/Align/__init__.py
  Bio/Phylo/BaseTree.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Bio/Seq.py
  Bio/SeqFeature.py
  Bio/SeqRecord.py
  Tests/test_SearchIO_model.py
Owners: @peterjc, @etal, @bow

fixed incorrect conflict resolve in SeqGui.py
  Scripts/SeqGui/SeqGui.py
Owners: none

Initial removal of unicode usages
  Bio/Entrez/Parser.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/_py3k/__init__.py
  BioSQL/BioSeq.py
Owners: @mdehoon, @etal

Initial removal of basestring usages
  Bio/AlignIO/__init__.py
  Bio/Application/__init__.py
  Bio/Crystal/__init__.py
  Bio/File.py
  Bio/Graphics/GenomeDiagram/_Colors.py
  Bio/Nexus/Nexus.py
  Bio/Nexus/StandardData.py
  Bio/PDB/PDBIO.py
  Bio/PDB/Polypeptide.py
  Bio/PDB/mmcifio.py
  Bio/PDB/mmtf/mmtfio.py
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/PhyloXML.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/SCOP/Raf.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Bio/SearchIO/_utils.py
  Bio/Seq.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqRecord.py
  Bio/Sequencing/Applications/_bwa.py
  Bio/_py3k/__init__.py
  Bio/phenotype/__init__.py
  Bio/phenotype/phen_micro.py
  BioSQL/Loader.py
  Tests/common_BioSQL.py
  Tests/common_BioSQL_online.py
  Tests/seq_tests_common.py
  Tests/test_SeqIO.py
Owners: @peterjc, @widdowquinn, @joaorodrigues, @lennax, @etal, @bow

Update test name and comments
  Tests/test_SearchIO_model.py
Owners: @bow

Fix missed strings
  Bio/Phylo/BaseTree.py
Owners: @etal

Remove string aliases for python2 (#2441)
  Bio/AlignIO/__init__.py
  Bio/Application/__init__.py
  Bio/Crystal/__init__.py
  Bio/Entrez/Parser.py
  Bio/File.py
  Bio/Graphics/GenomeDiagram/_Colors.py
  Bio/Nexus/Nexus.py
  Bio/Nexus/StandardData.py
  Bio/PDB/PDBIO.py
  Bio/PDB/Polypeptide.py
  Bio/PDB/mmcifio.py
  Bio/PDB/mmtf/mmtfio.py
  Bio/Phylo/Applications/_Phyml.py
  Bio/Phylo/Applications/_Raxml.py
  Bio/Phylo/BaseTree.py
  Bio/Phylo/PhyloXML.py
  Bio/Phylo/PhyloXMLIO.py
  Bio/SCOP/Raf.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Bio/SearchIO/_utils.py
  Bio/Seq.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqRecord.py
  Bio/Sequencing/Applications/_bwa.py
  Bio/_py3k/__init__.py
  Bio/phenotype/__init__.py
  Bio/phenotype/phen_micro.py
  BioSQL/BioSeq.py
  BioSQL/Loader.py
  Tests/common_BioSQL.py
  Tests/common_BioSQL_online.py
  Tests/seq_tests_common.py
  Tests/test_SeqIO.py
Owners: @peterjc, @mdehoon, @widdowquinn, @joaorodrigues, @lennax, @etal, @bow

Remove Python 2 only deprecation warning
  Bio/SeqRecord.py
Owners: @peterjc

Drop unicode literal u prefix
  Bio/Align/Applications/_ClustalOmega.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SeqIO/InsdcIO.py
  Bio/motifs/applications/_xxmotif.py
  Tests/test_Affy.py
  Tests/test_Entrez_online.py
  Tests/test_Entrez_parser.py
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PhyloXML.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc, @mdehoon, @joaorodrigues, @lennax, @etal, @bow

Use unicode characters without escaping
  Tests/test_PhyloXML.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SeqIO_SeqXML.py
Owners: @etal, @bow, @peterjc

Use unicode characters without escaping
  Tests/test_PhyloXML.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SeqIO_SeqXML.py
Owners: @etal, @bow, @peterjc

Drop unicode literal u prefix
  Bio/Align/Applications/_ClustalOmega.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SeqIO/InsdcIO.py
  Bio/motifs/applications/_xxmotif.py
  Tests/test_Affy.py
  Tests/test_Entrez_online.py
  Tests/test_Entrez_parser.py
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_PhyloXML.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc, @mdehoon, @joaorodrigues, @lennax, @etal, @bow

Initial removal of range
  Bio/AlignIO/PhylipIO.py
  Bio/Graphics/GenomeDiagram/_AbstractDrawer.py
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/HMM/DynamicProgramming.py
  Bio/HMM/MarkovModel.py
  Bio/Nexus/Nexus.py
  Bio/PDB/MMCIFParser.py
  Bio/Restriction/PrintFormat.py
  Bio/Restriction/Restriction.py
  Bio/Seq.py
  Bio/Statistics/lowess.py
  Bio/_py3k/__init__.py
  Bio/motifs/__init__.py
  Bio/motifs/jaspar/__init__.py
  Bio/motifs/matrix.py
  BioSQL/Loader.py
  Tests/PAML/gen_results.py
  Tests/seq_tests_common.py
  Tests/test_GenomeDiagram.py
  Tests/test_Nexus.py
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc, @widdowquinn, @joaorodrigues, @lennax, @mdehoon

Formatting
  Bio/motifs/__init__.py
Owners: @mdehoon

Remove zip
  Bio/Nexus/Nexus.py
  Bio/Phylo/TreeConstruction.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SeqIO/AbiIO.py
  Bio/Sequencing/Ace.py
  Bio/UniProt/GOA.py
  Bio/Wise/dnal.py
  Bio/_py3k/__init__.py
  Bio/codonalign/__init__.py
  Tests/common_BioSQL.py
  Tests/common_BioSQL_online.py
  Tests/test_Fasttree_tool.py
  Tests/test_GenomeDiagram.py
  Tests/test_SCOP_Scop.py
Owners: @etal, @bow, @peterjc, @zruan, @widdowquinn

Cleanup py3k
  Bio/Crystal/__init__.py
  Bio/Wise/dnal.py
  Bio/_py3k/__init__.py
Owners: none

Remove filter
  Bio/Phylo/BaseTree.py
  Bio/Restriction/Restriction.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/query.py
  Bio/_py3k/__init__.py
Owners: @etal

Remove open from py3k
  Bio/_py3k/__init__.py
  Bio/bgzf.py
Owners: @peterjc

Remove input
  Bio/_py3k/__init__.py
  Scripts/Restriction/ranacompiler.py
Owners: none

Remove import
  Bio/bgzf.py
Owners: @peterjc

Reverse
  Bio/bgzf.py
Owners: @peterjc

Added myself
  NEWS.rst
Owners: none

Use open from builtin
  Bio/bgzf.py
Owners: @peterjc

Remove _bytes_to_string
  Bio/SearchIO/ExonerateIO/exonerate_cigar.py
  Bio/SearchIO/ExonerateIO/exonerate_text.py
  Bio/SearchIO/_index.py
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/_index.py
  Bio/_py3k/__init__.py
  Tests/test_SeqIO_index.py
Owners: @bow, @peterjc

Remove _string_to_bytes
  Bio/_py3k/__init__.py
Owners: none

Remove all usages that were skipped
  Bio/File.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
Owners: @bow

Remove custom as_string cruthc
  Bio/Phylo/BaseTree.py
Owners: @etal

Remove _as_string
  Bio/Blast/NCBIWWW.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/PDB/PDBList.py
  Bio/_py3k/__init__.py
  Bio/_utils.py
Owners: @joaorodrigues, @lennax

Remove unused unicode method
  Bio/_py3k/__init__.py
Owners: none

Missed one import
  Bio/bgzf.py
  Tests/test_bgzf.py
Owners: @peterjc

Remove as_bytes and use wheel function
  Bio/Blast/NCBIWWW.py
  Bio/Entrez/Parser.py
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/BlatIO.py
  Bio/SearchIO/ExonerateIO/exonerate_vulgar.py
  Bio/SearchIO/FastaIO.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SeqIO/SffIO.py
  Bio/SeqUtils/CheckSum.py
  Bio/_py3k/__init__.py
  Bio/bgzf.py
  Tests/search_tests_common.py
  Tests/test_SeqIO_AbiIO.py
  Tests/test_bgzf.py
Owners: @mdehoon, @bow, @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
