Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Break test_PDB.py in multiple smaller, modular, tests. (#3220)
  Tests/test_DSSP_tool.py
  Tests/test_NACCESS_tool.py
  Tests/test_PDB.py
  Tests/test_PDB_DSSP.py
  Tests/test_PDB_Exposure.py
  Tests/test_PDB_MMCIFIO.py
  Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_NACCESS.py
  Tests/test_PDB_PDBIO.py
  Tests/test_PDB_PDBParser.py
  Tests/test_PDB_Polypetide.py
  Tests/test_PDB_ResidueDepth.py
  Tests/test_PDB_SMCRA.py
  Tests/test_PDB_StructureAlignment.py
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Fix long-standing issues with copying/operating on DisorderedAtoms. (#3223)
  Bio/PDB/Atom.py
  Bio/PDB/Entity.py
  Tests/PDB/disordered.pdb
  Tests/test_PDB_Disordered.py
Owners: @joaorodrigues, @lennax

Raise clear exception on abi-trim without quals
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

addresses issue #3225 - update primer matches for test_pcr_primers
  Tests/test_NCBI_qblast.py
Owners: none

python2 -> python3 exceptions
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/XdnaIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_index.py
Owners: @peterjc

travis
  Bio/SeqIO/SffIO.py
Owners: @peterjc

python2 -> python3 exceptions (#3227)
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/XdnaIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqIO/_index.py
Owners: @peterjc

update mock_pcr.xml to reflect changes to test case for offline testing
  Tests/Blast/mock_pcr.xml
Owners: none

Use a base class in a C extension module to provide the buffer protocol to the Seq class
  Bio/Seq.py
  Bio/_seqobject.c
  Bio/codonalign/codonseq.py
  Bio/motifs/meme.py
  BioSQL/BioSeq.py
  Tests/test_seq.py
  setup.py
Owners: @peterjc, @zruan, @mdehoon

added name to NEWS.rst
  NEWS.rst
Owners: none

update test to reflect resolution=None option
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

avoid TypeError as cannot catch
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

default HEADER resolution to None, filter non-numeric values
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

update parse PDB header to reflect resolution=None default
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

update test to check for resolution = .
  Tests/PDB/1SSU_mod.cif
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

support em resolution field
  Bio/PDB/MMCIFParser.py
Owners: @joaorodrigues, @lennax

Clarify exception message (may not be a file)
  Bio/Entrez/Parser.py
Owners: @mdehoon

Ensure default sample_id in AbiIO is not overwritten
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

Fix boolean check for missing quality values in AbiIO
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

BSD dual license Bio/Entrez/__init__.py
  Bio/Entrez/__init__.py
Owners: @mdehoon

BSD dual license Bio/Entrez/Parser.py
  Bio/Entrez/Parser.py
Owners: @mdehoon

Clarify exception message (may not be a file)
  Bio/Entrez/Parser.py
Owners: @mdehoon

Revert bug fix from Lucas Sinclair; use my original
  Bio/Entrez/Parser.py
Owners: @mdehoon

Improve and extend mmCIF header resolution parsing (#3229)
  Bio/PDB/MMCIFParser.py
  Bio/PDB/parse_pdb_header.py
  Tests/PDB/1SSU_mod.cif
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Added method to return sorted list of children of DisorderedAtom
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Tweaked test file to test for order of disordered children.
  Tests/PDB/disordered.pdb
Owners: none

Addresses issue #3225 - update hits for test_pcr_primers (#3226)
  NEWS.rst
  Tests/Blast/mock_pcr.xml
  Tests/test_NCBI_qblast.py
Owners: none

DisorderedAtom returns children sorted by altloc (#3232)
  Bio/PDB/Atom.py
  Tests/PDB/disordered.pdb
Owners: @joaorodrigues, @lennax

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Owners: none

Small rst bug
  CONTRIBUTING.rst
Owners: none

TravisCI/Tox - pin black==19.10b0
  .travis-tox.ini
Owners: none

TravisCI/Tox - pin black==19.10b0 (#3237)
  .travis-tox.ini
Owners: none

Small rst bug
  CONTRIBUTING.rst
Owners: none

Raise clear exception on abi-trim without quals
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

Fix boolean check for missing quality values in AbiIO
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

Ensure default sample_id in AbiIO is not overwritten
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

Cope with missing quality scores in ABI parser
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

Focus on molecule type not file mode in convert help
  Bio/SeqIO/__init__.py
Owners: @peterjc

Remove leading tabs in Nexus output
  Bio/Nexus/Nexus.py
Owners: none

Focus on molecule type not file mode in convert help
  Bio/SeqIO/__init__.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
