Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

whitespace fix
  Bio/SCOP/__init__.py
Owners: none

Revert Jython JVM workaround in MatrixInfo.py
  Bio/SubsMat/MatrixInfo.py
Owners: none

Four space indentation to match current style
  Bio/SubsMat/MatrixInfo.py
Owners: none

Disable black on Bio/SubsMat/MatrixInfo.py
  Bio/SubsMat/MatrixInfo.py
Owners: none

Bio.GenBank: Remove error-hiding __gettattr__ method (#2528)
  Bio/GenBank/__init__.py
Owners: @peterjc

docstring formatting
  Bio/SCOP/__init__.py
Owners: none

whitespace fix
  Bio/SCOP/__init__.py
Owners: none

Set project_urls in setup.py
  setup.py
Owners: none

updated Bio.SearchIO for python3 + some cleanup
  Bio/SearchIO/BlastIO/blast_tab.py
  Bio/SearchIO/BlastIO/blast_xml.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/SearchIO/HmmerIO/hmmer2_text.py
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SearchIO/__init__.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SearchIO/_model/_base.py
  Bio/SearchIO/_model/hit.py
  Bio/SearchIO/_model/hsp.py
  Bio/SearchIO/_model/query.py
  Bio/SearchIO/_utils.py
  Bio/_utils.py
Owners: @bow

_ -> \_ fixes interruption when running make
  Doc/Tutorial/chapter_pdb.tex
Owners: none

Style improvements after black.
  Tests/test_SeqIO_AbiIO.py
Owners: @peterjc, @bow

update Exceptions in Bio.Seq to python3
  Bio/Seq.py
Owners: @peterjc

_ -> \_ fixes interruption when running make
  Doc/Tutorial/chapter_pdb.tex
Owners: none

Bio.Genbank: Add molecule_type handler to _RecordConsumer
  Bio/GenBank/Record.py
  Bio/GenBank/__init__.py
Owners: @peterjc

Remove obsolete comment
  Bio/SubsMat/MatrixInfo.py
Owners: none

update Exceptions in Bio.Seq to python3
  Bio/Seq.py
Owners: @peterjc

Bio.GenBank: Fix a _FeatureConsumer typo masked by blanked __getattr___ pass
  Bio/GenBank/__init__.py
Owners: @peterjc

Bio.Genbank: Add topology handler to _RecordConsumer
  Bio/GenBank/Record.py
  Bio/GenBank/__init__.py
Owners: @peterjc

Bio.GenBank: Silence a false flake8 warning
  Bio/GenBank/__init__.py
Owners: @peterjc

Disable black on Bio/pairwise2.py temporarily
  Bio/pairwise2.py
Owners: none

update Exceptions in Bio.SeqFeature for python3
  Bio/SeqFeature.py
Owners: @peterjc

Refresh black on recent edits
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/Seq.py
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc

flake8: enforce black on Bio/
  .flake8
  CONTRIBUTING.rst
Owners: none

update Exceptions in Bio.SeqFeature for python3
  Bio/SeqFeature.py
Owners: @peterjc

REBASE Jan 2020
  Bio/Restriction/Restriction_Dictionary.py
  NEWS.rst
Owners: none

updated and ran ranacompiler.py
  Bio/Restriction/Restriction_Dictionary.py
  Scripts/Restriction/ranacompiler.py
Owners: none

Most of Restriction_Dictionary.py follows black style now
  Bio/Restriction/Restriction_Dictionary.py
  Scripts/Restriction/ranacompiler.py
Owners: none

Bio.Genbank: Add molecule_type handler to _RecordConsumer
  Bio/GenBank/Record.py
  Bio/GenBank/__init__.py
Owners: @peterjc

Bio.GenBank: Silence a false flake8 warning
  Bio/GenBank/__init__.py
Owners: @peterjc

Bio.GenBank: Remove error-hiding __gettattr__ method (#2528)
  Bio/GenBank/__init__.py
Owners: @peterjc

Bio.GenBank: Fix a _FeatureConsumer typo masked by blanked __getattr___ pass
  Bio/GenBank/__init__.py
Owners: @peterjc

Bio.Genbank: Add topology handler to _RecordConsumer
  Bio/GenBank/Record.py
  Bio/GenBank/__init__.py
Owners: @peterjc

Refresh black on recent edits
  Bio/SearchIO/HmmerIO/hmmer3_tab.py
  Bio/Seq.py
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc

flake8: enforce black on Bio/
  .flake8
  CONTRIBUTING.rst
Owners: none

Disable black on Bio/pairwise2.py temporarily
  Bio/pairwise2.py
Owners: none

Apply black style to test_SeqIO_Gck.py and test_SeqIO_SnapGene.py, version 19.10b0.
  Tests/test_SeqIO_Gck.py
  Tests/test_SeqIO_SnapGene.py
Owners: @peterjc

updating Bio.Sequencing for python3
  Bio/Sequencing/Ace.py
Owners: none

black on long comment line
  Bio/GenBank/__init__.py
Owners: @peterjc

updates Bio.SeqIO.AbiIO for python3, and allow other kinds of byte streams
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

fix error message
  Bio/SeqIO/AbiIO.py
Owners: @peterjc, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
