Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Fasta
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc, @bow

don't check class names, it's super-fragile
  Bio/codonalign/__init__.py
Owners: @zruan

don't check class names, it's super-fragile (#2845)
  Bio/codonalign/__init__.py
Owners: @zruan

Ig
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

fixed Abi and SeqXml
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/SeqXmlIO.py
  DEPRECATED.rst
Owners: @peterjc, @bow

Fasta
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc, @bow

Fasta
  Bio/SeqIO/FastaIO.py
Owners: @peterjc

codonalign fixes
  Bio/codonalign/__init__.py
  Tests/test_codonalign.py
Owners: @zruan

codonalign fixes (#2847)
  Bio/codonalign/__init__.py
  Tests/test_codonalign.py
Owners: @zruan

done
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc, @bow

travis
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

let's see how far we have gotten
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc, @bow

not very far yet apparently
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc

black is the new orange
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc, @bow

black
  Bio/SeqIO/AbiIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/NibIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc, @bow

Don't disappoint me now Travis
  Bio/SeqIO/TabIO.py
Owners: @peterjc

Handle compression in fetched structure files.
  Bio/PDB/PDBList.py
Owners: @joaorodrigues, @lennax

Update NEWS.rst
  NEWS.rst
Owners: none

Handle malformed structured comment
  Bio/GenBank/Scanner.py
  Tests/GenBank/invalid_structured_comment.gb
  Tests/test_GenBank.py
Owners: @peterjc

Add name to NEWS
  NEWS.rst
Owners: none

Added don't overwrite compressed file.
  Bio/PDB/PDBList.py
Owners: @joaorodrigues, @lennax

Fixed param compres docstring and return filename
  Bio/PDB/PDBList.py
Owners: @joaorodrigues, @lennax

Adhere to black and PEP257 formatting conventions
  Bio/GenBank/Scanner.py
  Tests/GenBank/invalid_structured_comment.gb
  Tests/test_GenBank.py
Owners: @peterjc

Handle malformed structured comment (#2851)
  Bio/GenBank/Scanner.py
  NEWS.rst
  Tests/GenBank/invalid_structured_comment.gb
  Tests/test_GenBank.py
Owners: @peterjc

fix bug with restriction site elucidate
  Bio/Restriction/Restriction.py
Owners: none

finish type hints and changes for mypy; add verbose option for to/from internal coordinates
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

add type hints
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

type hints work with code changes for mypy and pytype
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

check in internal_coords
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

change from /w to [not whitespace] for pdb ID field (falls back to filename)
  Bio/PDB/PICIO.py
Owners: @joaorodrigues, @lennax

rm x == y == z construct, caused cython product to seg fault
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

missed _py3k in Tests
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

tests for internal_coords
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

add type hints
  Bio/PDB/ic_rebuild.py
Owners: @joaorodrigues, @lennax

change _py3k to io for StringIO
  Bio/PDB/ic_rebuild.py
Owners: @joaorodrigues, @lennax

Model hooks for internal_coords
  Bio/PDB/Model.py
Owners: @joaorodrigues, @lennax

check in scadio
  Bio/PDB/SCADIO.py
Owners: @joaorodrigues, @lennax

Chain hooks for internal_coords
  Bio/PDB/Chain.py
Owners: @joaorodrigues, @lennax

add DisorderedResidue type for isinstance of Residue
  Bio/PDB/ic_rebuild.py
Owners: @joaorodrigues, @lennax

Structure hooks for internal_coords
  Bio/PDB/Structure.py
Owners: @joaorodrigues, @lennax
