Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

use with to open files (#2689)
  Tests/test_MSAProbs_tool.py
Owners: none

Update test_GenomeDiagram.py
  Tests/test_GenomeDiagram.py
Owners: @widdowquinn, @peterjc

use with statement in test_GenBank (#2682)
  Tests/test_GenBank.py
Owners: @peterjc

Fix newline
  Tests/GenBank/tls_KDHP01000000.gb
Owners: none

I'm the news
  NEWS.rst
Owners: none

First take on explicit tls/tsa check
  Tests/test_GenBank.py
Owners: @peterjc

Initial commit for parsing
  Bio/GenBank/Scanner.py
  Bio/GenBank/__init__.py
  Tests/GenBank/tls_KDHP01000000.gb
  Tests/test_GenBank.py
Owners: @peterjc

Use alphabetical order
  NEWS.rst
Owners: none

Style cosmetic, join strings implicit concatenation, making one line literal; looks better.
  Tests/test_Probcons_tool.py
Owners: none

Apply black style to test_pro* files, version 19.10b0. test_Probcons_tool.py test_prodoc.py test_prosite1.py test_prosite2.py test_ProtParam.py
  Tests/test_Probcons_tool.py
  Tests/test_ProtParam.py
  Tests/test_prodoc.py
  Tests/test_prosite1.py
  Tests/test_prosite2.py
Owners: none

Apply black style to test_SearchIO_blast*, version 19.10b0. test_SearchIO_blast_tab.py test_SearchIO_blast_text.py
  Tests/test_SearchIO_blast_tab.py
  Tests/test_SearchIO_blast_text.py
Owners: @bow

Apply black style to test_SearchIO_* last files, version 19.10b0. test_SearchIO_interproscan_xml.py test_SearchIO_legacy.py test_SearchIO_model.py test_SearchIO_write.py
  Tests/test_SearchIO_interproscan_xml.py
  Tests/test_SearchIO_legacy.py
  Tests/test_SearchIO_model.py
  Tests/test_SearchIO_write.py
Owners: @bow

Apply black style to test_SearchIO_fasta*, version 19.10b0. test_SearchIO_fasta_m10.py
  Tests/test_SearchIO_fasta_m10.py
Owners: @bow

Apply black style to test_SearchIO_blat*, version 19.10b0. test_SearchIO_blat_psl.py
  Tests/test_SearchIO_blat_psl.py
Owners: @bow

Apply black style to more test_SeqIO* files , version 19.10b0. test_SeqIO_online.py test_SeqIO_NibIO.py test_SeqIO_Insdc.py test_SeqIO_features.py
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_NibIO.py
  Tests/test_SeqIO_features.py
  Tests/test_SeqIO_online.py
Owners: @peterjc

Style cosmetics, split line looks better.
  Tests/test_SeqIO_features.py
Owners: @peterjc

Apply black style to test_SearchIO_exonerate*, version 19.10b0. test_SearchIO_exonerate.py
  Tests/test_SearchIO_exonerate.py
Owners: @bow

use with in test_GenomeDiagram.py (#2686)
  Tests/test_GenomeDiagram.py
Owners: @widdowquinn, @peterjc

Apply black to Tests/test_run_tests.py
  Tests/run_tests.py
Owners: none

Black on pairwise2
  Bio/pairwise2.py
Owners: none

Black on pairwise2 tests
  Tests/pairwise2_testCases.py
  Tests/test_pairwise2.py
Owners: none

Fix E731, relocated # noqa E731, misplaced after black style.
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

Apply black style to test_Phylo* files, version 19.10b0. test_Phylo.py test_Phylo_CDAO.py test_Phylo_matplotlib.py test_Phylo_networkx.py test_Phylo_NeXML.py test_PhyloXML.py
  Tests/test_Phylo.py
  Tests/test_PhyloXML.py
  Tests/test_Phylo_CDAO.py
  Tests/test_Phylo_NeXML.py
  Tests/test_Phylo_matplotlib.py
  Tests/test_Phylo_networkx.py
Owners: @etal

Apply black style to test_PAML* files, version 19.10b0. test_PAML_baseml.py test_PAML_codeml.py test_PAML_tools.py test_PAML_yn00.py
  Tests/test_PAML_baseml.py
  Tests/test_PAML_codeml.py
  Tests/test_PAML_tools.py
  Tests/test_PAML_yn00.py
Owners: none

Black on pairwise2
  Bio/pairwise2.py
Owners: none

Black on pairwise2 tests
  Tests/pairwise2_testCases.py
  Tests/test_pairwise2.py
Owners: none

Remove remaining 'line-break before binary operator' issues in MeltingTemp.py
  Bio/SeqUtils/MeltingTemp.py
Owners: none

Update .flake8 file
  .flake8
Owners: none

Update flake8 settings (#2696)
  .flake8
  Bio/SeqUtils/MeltingTemp.py
Owners: none

Remove TODO comments about empty __init__.py
  Bio/HMM/__init__.py
  Bio/Phylo/PAML/__init__.py
  Bio/Statistics/__init__.py
Owners: none

Use Python 3.1+ assertIsNot method in tests
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Fix E731, relocated # noqa E731, misplaced after black style.
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

Apply black style to test_SeqIO_QualityIO.py and index files , version 19.10b0. test_SeqIO_QualityIO.py test_SeqIO_index.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_index.py
Owners: @peterjc

Style cosmetics, align first line with the rest of paragraph.
  Tests/test_SeqIO_QualityIO.py
Owners: @peterjc

Apply black to Tests/test_run_tests.py
  Tests/run_tests.py
Owners: none

Remove TODO comments about empty __init__.py
  Bio/HMM/__init__.py
  Bio/Phylo/PAML/__init__.py
  Bio/Statistics/__init__.py
Owners: none

use with in test_Medline.py
  Tests/test_Medline.py
Owners: none

updated Bio.Phylo for python3 (#2577)
  Bio/Phylo/BaseTree.py
  Bio/Phylo/CDAOIO.py
  Bio/Phylo/Consensus.py
  Bio/Phylo/NeXMLIO.py
  Bio/Phylo/NewickIO.py
  Bio/Phylo/PAML/codeml.py
  Bio/Phylo/PhyloXML.py
  Bio/Phylo/TreeConstruction.py
  Bio/Phylo/_io.py
  Bio/Phylo/_utils.py
Owners: @etal

trim_str is no longer used
  Bio/_utils.py
Owners: none

use with
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax
