Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Implementation of get() method in SeqDatabase class.
  Bio/SeqAnalysis/downloader.py
  Bio/SeqAnalysis/downloader_tests.py
Owners: none

integration configuration
  .appveyor.yml
  .travis-tox.ini
Owners: none

clean up unused init_pos and di/hedra_from_atoms
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

integration configuration
  .appveyor.yml
  .travis-tox.ini
Owners: none

Minor change with database file path.
  Bio/SeqAnalysis/downloader.py
  Bio/SeqAnalysis/downloader_tests.py
Owners: none

remove extraneous pass
  Bio/PDB/PICIO.py
Owners: @joaorodrigues, @lennax

integration configuration
  .appveyor.yml
  .travis-tox.ini
Owners: none

integration configuration
  .appveyor.yml
  .travis-tox.ini
Owners: none

fix merge problem
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

integration configuration
  .travis-tox.ini
Owners: none

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_SeqIO_Xdna.py
Owners: @peterjc

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_KGML_graphics_online.py
Owners: none

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_KGML_graphics.py
Owners: none

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_MarkovModel.py
Owners: none

Fix flake8 E123 closing bracket does not match indentation of opening bracket's line
  Tests/test_SeqIO_write.py
Owners: @peterjc

No flake8 E123 left in Tests/
  .flake8
Owners: none

flake8 issues
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

black version 19.10b0 on last files with flake E123
  Tests/test_CAPS.py
  Tests/test_NaiveBayes.py
Owners: none

No flake8 E123 left in Tests/
  .flake8
Owners: none

black version 19.10b0 on last files with flake E123
  Tests/test_CAPS.py
  Tests/test_NaiveBayes.py
Owners: none

Cope with BLAST DB v5 extensions
  Tests/test_NCBI_BLAST_tools.py
Owners: none

Changed buggy old %s str formatting to f-string.
  Bio/PDB/Entity.py
Owners: @joaorodrigues, @lennax

old draw method
  .travis-tox.ini
  Bio/Phylo/__init__.py
  Bio/Phylo/_utils.py
Owners: @etal

Appease black
  Bio/PDB/Entity.py
Owners: @joaorodrigues, @lennax

Added test to check for duplicated residue exception
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Fixed tests style.
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

PDBParser throws TypeError on duplicated Residues (#2891)
  Bio/PDB/Entity.py
  Tests/test_PDB.py
Owners: @joaorodrigues, @lennax

Apply black to remaining Tests/test_E*.py files
  Tests/test_EMBL_unittest.py
  Tests/test_Enzyme.py
  Tests/test_ExPASy.py
Owners: @peterjc

List @martonlanga as contributor
  CONTRIB.rst
Owners: none

Apply black to remaining Tests/test_E*.py files
  Tests/test_EMBL_unittest.py
  Tests/test_Enzyme.py
  Tests/test_ExPASy.py
Owners: @peterjc

List @martonlanga as contributor
  CONTRIB.rst
Owners: none

Apply black style to test_SeqIO_write.py, version 19.10b0.
  Tests/test_SeqIO_write.py
Owners: @peterjc

Apply black style to test_SeqIO_Xdna.py, version 19.10b0.
  Tests/test_SeqIO_Xdna.py
Owners: @peterjc

comment alternate CB path
  Bio/PDB/PICIO.py
Owners: @joaorodrigues, @lennax

remove entries parameter from multi_rot routines - get from input array
  Bio/PDB/vectors.py
Owners: @joaorodrigues, @lennax

harder tests for changing internal coords
  Tests/test_PDB_internal_coords.py
Owners: @joaorodrigues, @lennax

di/hedra init uses xAtoms_needs_update array masks; fix cannot change 1st residue ICs after first set; do not use alt CB path unless needed, document; cleanup
  Bio/PDB/internal_coords.py
Owners: @joaorodrigues, @lennax

Bumped version for release
  NEWS.rst
  README.rst
Owners: none

Bumped version for release
  Bio/__init__.py
  Doc/Tutorial.tex
Owners: none

Cope with BLAST DB v5 extensions
  Tests/test_NCBI_BLAST_tools.py
Owners: none
