Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Remove __hash__ = None needed on Python 2 only
  Bio/SeqRecord.py
Owners: @peterjc

Remove unused import
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

Remove Python 2 specific documentation
  Bio/SeqIO/__init__.py
Owners: @peterjc

Update ordered dict docs in SearchIO too
  Bio/SearchIO/__init__.py
Owners: @bow

Forgot f-prefix in f-string example
  Bio/SeqRecord.py
Owners: @peterjc

remove python2 code from Bio/File.py
  Bio/File.py
Owners: none

remove python2 code from Bio/SearchIO/__init__.py
  Bio/SearchIO/__init__.py
Owners: @bow

remove python2 code from BioSQL/BioSeqDatabase.py
  BioSQL/BioSeqDatabase.py
Owners: none

remove python2 code from Tests/test_SeqIO_SeqXML.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

removed _binary_to_string_handle
  Bio/Entrez/__init__.py
  Bio/ExPASy/__init__.py
  Bio/KEGG/REST.py
  Bio/TogoWS/__init__.py
  Bio/_py3k/__init__.py
Owners: @mdehoon, @peterjc

Python 3 should always have ElementTree
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

Remove unused import
  Bio/SeqIO/Interfaces.py
Owners: @peterjc

Remove __hash__ = None needed on Python 2 only
  Bio/SeqRecord.py
Owners: @peterjc

Remove Python 2 specific documentation
  Bio/SeqIO/__init__.py
Owners: @peterjc

Remove Python 2 comments; add f-string example
  Bio/SeqRecord.py
Owners: @peterjc

Forgot f-prefix in f-string example
  Bio/SeqRecord.py
Owners: @peterjc

Remove Python 2 comments
  Bio/Seq.py
Owners: @peterjc

Convert string format method to f-strings
  Bio/Affy/CelFile.py
  Bio/PDB/ResidueDepth.py
  Bio/Phylo/TreeConstruction.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/Seq.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/XdnaIO.py
  Bio/SeqRecord.py
  Bio/SeqUtils/MeltingTemp.py
  Bio/UniProt/GOA.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/jaspar/__init__.py
  Bio/motifs/jaspar/db.py
  Bio/motifs/mast.py
  Bio/motifs/pfm.py
  Scripts/Restriction/ranacompiler.py
  Scripts/SeqGui/SeqGui.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_translations.py
  Tests/PAML/gen_results.py
  Tests/test_SeqRecord.py
Owners: @joaorodrigues, @lennax, @etal, @peterjc, @mdehoon

removed _binary_to_string_handle
  Bio/Entrez/__init__.py
  Bio/ExPASy/__init__.py
  Bio/KEGG/REST.py
  Bio/TogoWS/__init__.py
  Bio/_py3k/__init__.py
Owners: @mdehoon, @peterjc

Don't need local variable just for return value
  Bio/ExPASy/__init__.py
Owners: none

Remove Bio._py3k
  Bio/_py3k/__init__.py
Owners: none

some corrections
  Tests/test_SeqIO_SeqXML.py
  setup.py
Owners: @peterjc

Remove Bio._py3k from setup.py
  setup.py
Owners: none

Removing version check for python 2 from files (#2520)
  Bio/File.py
  Bio/SearchIO/__init__.py
  BioSQL/BioSeqDatabase.py
  Tests/test_SeqIO_SeqXML.py
Owners: @bow, @peterjc

seqxml is a binary format
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/__init__.py
Owners: @peterjc

check binary mode
  Bio/SeqIO/SeqXmlIO.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

test should work now everywhere
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

travis should think about its priorities in life
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

remove python2 stuff from Bio/Phylo/BaseTree.py, and replace iterlen by a simpler alternative
  Bio/Phylo/BaseTree.py
  Bio/_utils.py
Owners: @etal

Assume dict is ordered (#2518)
  Bio/File.py
  Bio/SearchIO/__init__.py
  Bio/SeqIO/__init__.py
Owners: @bow, @peterjc

Seqxml windows bug (#2525)
  Bio/SeqIO/SeqXmlIO.py
  Bio/SeqIO/__init__.py
  Tests/test_SeqIO_SeqXML.py
Owners: @peterjc

Remove Python 2 branch in BGZF
  Bio/bgzf.py
Owners: @peterjc

Remove Python 2 references in Tutorial
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_appendix.tex
  Doc/Tutorial/chapter_cluster.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_introduction.tex
  Doc/Tutorial/chapter_motifs.tex
  Doc/Tutorial/chapter_seq_objects.tex
  Doc/Tutorial/chapter_seqio.tex
  Doc/Tutorial/chapter_testing.tex
  Doc/Tutorial/chapter_uniprot.tex
Owners: none

remove python2 stuff from Bio/Phylo/BaseTree.py, and replace iterlen by a simpler alternative
  Bio/Phylo/BaseTree.py
  Bio/_utils.py
Owners: @etal

Python 3 should always have ElementTree
  Bio/SeqIO/UniprotIO.py
Owners: @peterjc

Clarify use of latin1 in BGZF test
  Tests/test_bgzf.py
Owners: @peterjc

Document latin1 and new-line limits to BGZF text mode
  Bio/bgzf.py
Owners: @peterjc

More use of context manager with gzip
  Tests/test_bgzf.py
Owners: @peterjc

Remove check for gzip bug in old versions of Python
  Tests/test_bgzf.py
Owners: @peterjc

Remove python 3 reference
  Doc/Tutorial/chapter_appendix.tex
Owners: none
