Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

update Exceptions in Bio.Compass for python3 (#2540)
  Bio/Compass/__init__.py
Owners: none

update Bio.Data.CodonTable Exception for python3
  Bio/Data/CodonTable.py
Owners: none

update Bio.Data.CodonTable Exception for python3 (#2542)
  Bio/Data/CodonTable.py
Owners: none

update Bio.Emboss Exceptions for python3
  Bio/Emboss/Primer3.py
Owners: none

update Bio.Emboss Exceptions for python3 (#2543)
  Bio/Emboss/Primer3.py
Owners: none

update Exceptions in Bio.Entrez for python3
  Bio/Entrez/Parser.py
Owners: @mdehoon

Applied black style to Tests/test_UniProt_GOA.py. black, version 19.10b0.
  Tests/test_UniProt_GOA.py
Owners: none

update Exceptions in Bio.Entrez for python3 (#2544)
  Bio/Entrez/Parser.py
Owners: @mdehoon

update docstrings
  Bio/Seq.py
Owners: @peterjc

Adopt f-strings in Bio.UniProt, flynt v.0.40.1.
  Bio/UniProt/GOA.py
Owners: none

fix exceptions in Bio/ExPASy
  Bio/ExPASy/ScanProsite.py
  Bio/ExPASy/__init__.py
Owners: none

fix exceptions in Bio/ExPASy (#2547)
  Bio/ExPASy/ScanProsite.py
  Bio/ExPASy/__init__.py
Owners: none

Convert string format method to f-strings
  Bio/Affy/CelFile.py
  Bio/PDB/ResidueDepth.py
  Bio/Phylo/TreeConstruction.py
  Bio/SearchIO/HHsuiteIO/hhsuite2_text.py
  Bio/Seq.py
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/XdnaIO.py
  Bio/SeqRecord.py
  Bio/SeqUtils/MeltingTemp.py
  Bio/UniProt/GOA.py
  Bio/motifs/clusterbuster.py
  Bio/motifs/jaspar/__init__.py
  Bio/motifs/jaspar/db.py
  Bio/motifs/mast.py
  Bio/motifs/pfm.py
  Scripts/Restriction/ranacompiler.py
  Scripts/SeqGui/SeqGui.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_translations.py
  Tests/PAML/gen_results.py
  Tests/test_SeqRecord.py
Owners: @joaorodrigues, @lennax, @etal, @peterjc, @mdehoon

Convert rest of string format method in Bio/Seq.py
  Bio/Seq.py
Owners: @peterjc

black, version 19.10b, on Bio.Cluster
  Bio/Cluster/__init__.py
Owners: @mdehoon

Remove Python 2 specific __div__ and __rdiv__
  Bio/PDB/vectors.py
  Bio/Phylo/PhyloXML.py
  Bio/Restriction/Restriction.py
Owners: @joaorodrigues, @lennax, @etal

Omit python 2 alternative import
  Bio/SeqUtils/__init__.py
Owners: none

Remove reference to Python 2 iteration
  Bio/phenotype/__init__.py
Owners: none

Remove unused import
  Bio/AlignIO/Interfaces.py
  Bio/GenBank/__init__.py
Owners: @peterjc

Remove Python 2 references in ExPASy doctests
  Bio/ExPASy/__init__.py
Owners: none

Remove Python 2 era NaN workaround
  Bio/Phylo/PAML/_parse_codeml.py
Owners: none

Remove obsolete TODO comment
  Bio/Phylo/PAML/yn00.py
Owners: none

Switch to FileNotFoundError in DSSP
  Bio/PDB/DSSP.py
Owners: @joaorodrigues, @lennax

With with for ExPASy network handles
  Bio/ExPASy/__init__.py
Owners: none

Disable black on Bio/SubsMat/MatrixInfo.py
  Bio/SubsMat/MatrixInfo.py
Owners: none

Revert Jython JVM workaround in MatrixInfo.py
  Bio/SubsMat/MatrixInfo.py
Owners: none

Four space indentation to match current style
  Bio/SubsMat/MatrixInfo.py
Owners: none

black, version 19.10b, on Bio.Cluster
  Bio/Cluster/__init__.py
Owners: @mdehoon

Dual license Bio/motifs/_pwm.c
  Bio/motifs/_pwm.c
Owners: @mdehoon

Dual licence Bio/KDTree/Neighbor.h
  Bio/KDTree/Neighbor.h
Owners: none

Add copyright line to Bio/PDB/kdtrees.c
  Bio/PDB/kdtrees.c
Owners: @joaorodrigues, @lennax

Dual license Bio/Nexus/cnexus.c
  Bio/Nexus/cnexus.c
Owners: none

Dual license Bio/KDTree/KDTree.h
  Bio/KDTree/KDTree.h
Owners: none

Dual license Bio/KDTree/KDTree.c
  Bio/KDTree/KDTree.c
Owners: none

post-black string concatenation
  Bio/Blast/Applications.py
Owners: none

Fix triple quotes in Bio/Blast/Applications.py
  Bio/Blast/Applications.py
Owners: none

black, version 19.10b, Bio/Blast/Applications.py
  Bio/Blast/Applications.py
Owners: none

moving UndoHandle, second attempt (#2514)
  Bio/File.py
  Bio/SearchIO/_legacy/NCBIStandalone.py
  Bio/SearchIO/_legacy/ParserSupport.py
  DEPRECATED.rst
  Tests/test_File.py
  Tests/test_SearchIO_legacy.py
Owners: @bow

Removed unnecessary string formatting.
  Bio/UniProt/GOA.py
Owners: none

deprecating Bio.FSSP, as the FSSP database doesn't seem to exist any more
  Bio/FSSP/__init__.py
  DEPRECATED.rst
  Tests/test_FSSP.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
