Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Apply black styling to remaining non-formatted tests
  Tests/test_Blast_Record.py
  Tests/test_File.py
  Tests/test_GenBank.py
  Tests/test_KEGG_online.py
  Tests/test_UniGene.py
  Tests/test_codonalign.py
Owners: @peterjc, @zruan

Apply black to last non-formatted tests
  Tests/pairwise2_testCases.py
  Tests/requires_internet.py
  Tests/requires_wise.py
  Tests/search_tests_common.py
  Tests/seq_tests_common.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Update flake8 config to stop ignoring black on tests
  .flake8
Owners: none

Update information regarding black on CONTRIBUTING and NEWS
  CONTRIBUTING.rst
  NEWS.rst
Owners: none

Remove now unused alphabet import
  Bio/SeqIO/IgIO.py
Owners: @peterjc

Apply black styling to Tests/PAML/gen_results.py
  Tests/PAML/gen_results.py
Owners: none

Stop recording alphabet in GckIO
  Bio/SeqIO/GckIO.py
Owners: @peterjc

Stop recording alphabet in SwissIO
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

Stop recording alphabet in TabIO
  Bio/SeqIO/TabIO.py
Owners: @peterjc

Remove ignore instruction for black in the pre-commit hook
  .flake8
Owners: none

removed alphabets (#3147)
  Doc/Tutorial/chapter_seqio.tex
Owners: none

remove alphabets for UnknownSeq (#3148)
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Update information regarding black on CONTRIBUTING and NEWS
  CONTRIBUTING.rst
  NEWS.rst
Owners: none

Apply black to last non-formatted tests
  Tests/pairwise2_testCases.py
  Tests/requires_internet.py
  Tests/requires_wise.py
  Tests/search_tests_common.py
  Tests/seq_tests_common.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Update flake8 config to stop ignoring black on tests
  .flake8
Owners: none

Remove ignore instruction for black in the pre-commit hook
  .flake8
Owners: none

Apply black styling to Tests/PAML/gen_results.py
  Tests/PAML/gen_results.py
Owners: none

Stop recording alphabet in GckIO
  Bio/SeqIO/GckIO.py
Owners: @peterjc

Remove now unused alphabet import
  Bio/SeqIO/IgIO.py
Owners: @peterjc

Stop recording alphabet in TabIO
  Bio/SeqIO/TabIO.py
Owners: @peterjc

Stop recording alphabet in SwissIO
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

PC-2019.3.4 <crist@DESKTOP-ADFNI72 Delete jdk.table.xml, updates.xml
  jdk.table.xml
  updates.xml
Owners: none

PC-2019.3.4 <crist@DESKTOP-ADFNI72 Update find.xml
  find.xml
Owners: none

PC-2019.3.4 <crist@DESKTOP-ADFNI72 Update find.xml
  find.xml
Owners: none

removed alphabets
  BioSQL/BioSeq.py
  BioSQL/Loader.py
  Tests/common_BioSQL.py
  Tests/test_BioSQL_sqlite3.py
Owners: none

travis
  BioSQL/BioSeq.py
  Tests/common_BioSQL.py
Owners: none

Stop recording alphabet in XdnaIO
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc

Forgot to remove this earlier
  Bio/SeqIO/TabIO.py
Owners: @peterjc

Minor style tweak
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

Stop recording alphabet in FASTQ parsers
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

Remove remaining use of Alphabets in SFF
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Remove remaining use of Alphabets in SFF
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Stop recording alphabet in XdnaIO
  Bio/SeqIO/XdnaIO.py
Owners: @peterjc

Forgot to remove this earlier
  Bio/SeqIO/TabIO.py
Owners: @peterjc

Minor style tweak
  Bio/SeqIO/SwissIO.py
Owners: @peterjc

Stop recording alphabet in FASTQ parsers
  Bio/SeqIO/QualityIO.py
Owners: @peterjc

Discard alphabet when adding Seq objects
  Bio/Seq.py
Owners: @peterjc

Discard alphabet when adding UnknownSeq objects
  Bio/Seq.py
Owners: @peterjc

Discard alphabet when adding MutableSeq objects
  Bio/Seq.py
Owners: @peterjc

this should pass once Seq objects are fixed
  BioSQL/BioSeq.py
  Tests/common_BioSQL.py
  Tests/common_BioSQL_online.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
