Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Remove Python 2 references in Tutorial
  Doc/Tutorial/chapter_align.tex
  Doc/Tutorial/chapter_appendix.tex
  Doc/Tutorial/chapter_cluster.tex
  Doc/Tutorial/chapter_cookbook.tex
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_introduction.tex
  Doc/Tutorial/chapter_motifs.tex
  Doc/Tutorial/chapter_seq_objects.tex
  Doc/Tutorial/chapter_seqio.tex
  Doc/Tutorial/chapter_testing.tex
  Doc/Tutorial/chapter_uniprot.tex
Owners: none

Remove python 3 reference
  Doc/Tutorial/chapter_appendix.tex
Owners: none

black, version 19.10b, on Bio.codonalign
  Bio/codonalign/__init__.py
  Bio/codonalign/chisq.py
  Bio/codonalign/codonalignment.py
  Bio/codonalign/codonalphabet.py
  Bio/codonalign/codonseq.py
Owners: @zruan

post-black string concatenation
  Bio/codonalign/__init__.py
  Bio/codonalign/codonalignment.py
  Bio/codonalign/codonseq.py
Owners: @zruan

Must update test_SeqIO_index.py too
  Tests/test_SeqIO_index.py
Owners: @peterjc

add from None to get a clear exception message
  Bio/SeqIO/SffIO.py
Owners: @peterjc

add from None to get a clear exception message (#2529)
  Bio/SeqIO/SffIO.py
Owners: @peterjc

Turn off black formatting for autogenerated codon tables
  Bio/Data/CodonTable.py
Owners: none

Avoid triple-quote strings
  Scripts/update_ncbi_codon_table.py
Owners: none

black, version 19.10b, on CodonTable.py
  Bio/Data/CodonTable.py
Owners: none

Disable black on Bio/Data/SCOPData.py
  Bio/Data/SCOPData.py
Owners: none

Fix an implicit string concatenation before run black
  Bio/Data/CodonTable.py
Owners: none

raise a ValueError if a SeqXML file is opened in text mode for writing
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

More use of context manager with gzip
  Tests/test_bgzf.py
Owners: @peterjc

Remove check for gzip bug in old versions of Python
  Tests/test_bgzf.py
Owners: @peterjc

Clarify use of latin1 in BGZF test
  Tests/test_bgzf.py
Owners: @peterjc

Must update test_SeqIO_index.py too
  Tests/test_SeqIO_index.py
Owners: @peterjc

Document latin1 and new-line limits to BGZF text mode
  Bio/bgzf.py
Owners: @peterjc

Actually restrict to latin1 for BGZF output
  Bio/bgzf.py
Owners: @peterjc

raise a ValueError if a SeqXML file is opened in text mode for writing (#2531)
  Bio/SeqIO/SeqXmlIO.py
Owners: @peterjc

updating Bio.Affy for python3
  Bio/Affy/CelFile.py
  Tests/test_Affy.py
Owners: none

travis
  Bio/Affy/CelFile.py
Owners: none

travis
  Bio/Affy/CelFile.py
Owners: none

integrated test_Affy.py and test_CelFile.py \(don't know why there were two\)
  Bio/Affy/CelFile.py
  Tests/test_Affy.py
  Tests/test_CelFile.py
Owners: none

travis has some weird taste
  Bio/Affy/CelFile.py
  Tests/test_Affy.py
Owners: none

v3 files are text
  Bio/Affy/CelFile.py
  Tests/test_Affy.py
Owners: none

travis
  Bio/Affy/CelFile.py
  Tests/test_Affy.py
Owners: none

GenBank: Fix writing TSA data_file_division (#2447) (#2448)
  Bio/SeqIO/InsdcIO.py
  NEWS.rst
  Tests/test_GenBank.py
Owners: @peterjc

Make it explicit that the next methods have gone now
  DEPRECATED.rst
Owners: none

travis
  Bio/Affy/CelFile.py
Owners: none

don't need from None here
  Bio/Affy/CelFile.py
Owners: none

updating Bio.Affy for python3 (#2533)
  Bio/Affy/CelFile.py
  Tests/test_Affy.py
  Tests/test_CelFile.py
Owners: none

update exceptions in Bio.Align to python3
  Bio/Align/AlignInfo.py
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
Owners: @peterjc

cant fix this now
  Bio/Align/__init__.py
Owners: @peterjc

black, version 19.10b, on Bio.codonalign
  Bio/codonalign/__init__.py
  Bio/codonalign/chisq.py
  Bio/codonalign/codonalignment.py
  Bio/codonalign/codonalphabet.py
  Bio/codonalign/codonseq.py
Owners: @zruan

post-black string concatenation
  Bio/codonalign/__init__.py
  Bio/codonalign/codonalignment.py
  Bio/codonalign/codonseq.py
Owners: @zruan

update exceptions in Bio.Align to python3 (#2534)
  Bio/Align/AlignInfo.py
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
Owners: @peterjc

clean up exceptions for python3
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/FastaIO.py
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/PhylipIO.py
  Bio/AlignIO/__init__.py
Owners: @peterjc

clean up exceptions for python3 (#2535)
  Bio/AlignIO/ClustalIO.py
  Bio/AlignIO/FastaIO.py
  Bio/AlignIO/MafIO.py
  Bio/AlignIO/NexusIO.py
  Bio/AlignIO/PhylipIO.py
  Bio/AlignIO/__init__.py
Owners: @peterjc

cleanup exceptions in Bio.Application
  Bio/Application/__init__.py
Owners: none
