Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

generalize multiplication to allow us to simplify format() (#2195)
  Bio/SubsMat/__init__.py
Owners: none

these classes don't do anything
  Bio/SubsMat/__init__.py
  Tests/test_SubsMat.py
Owners: none

these classes don't do anything (#2198)
  Bio/SubsMat/__init__.py
  Tests/test_SubsMat.py
Owners: none

Convert setup.py, Scripts/ and Docs/ to use double quotes
  Doc/api/conf.py
  Doc/examples/Proux_et_al_2002_Figure_6.py
  Doc/examples/clustal_run.py
  Doc/examples/fasta_dictionary.py
  Doc/examples/getgene.py
  Doc/examples/make_subsmat.py
  Doc/examples/nmr/simplepredict.py
  Doc/examples/swissprot.py
  Doc/examples/www_blast.py
  Scripts/GenBank/check_output.py
  Scripts/GenBank/check_output_simple.py
  Scripts/PDB/generate_three_to_one_dict.py
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
  Scripts/SeqGui/SeqGui.py
  Scripts/debug/debug_blast_parser.py
  Scripts/query_pubmed.py
  Scripts/scop_pdb.py
  Scripts/update_ncbi_codon_table.py
  Scripts/xbbtools/nextorf.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_blastbg.py
  Scripts/xbbtools/xbb_help.py
  Scripts/xbbtools/xbb_search.py
  Scripts/xbbtools/xbb_translations.py
  Scripts/xbbtools/xbb_utils.py
  Scripts/xbbtools/xbb_widget.py
  Scripts/xbbtools/xbbtools.py
  setup.py
Owners: none

Manually fixing quote corner cases in Tests/
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_SearchIO_blast_text.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SearchIO_fasta_m10.py
Owners: @joaorodrigues, @lennax, @bow

Using tool unify to convert BioSQL/ to use double quotes
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  BioSQL/DBUtils.py
  BioSQL/Loader.py
Owners: none

Manually fix mixed quote strings
  Scripts/PDB/generate_three_to_one_dict.py
Owners: none

Manually fixing corner case quotes in Bio/PDB/
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/mmcifio.py
Owners: @joaorodrigues, @lennax

Manually fixing more quotes in Bio/
  Bio/Nexus/Nexus.py
  Bio/Nexus/Trees.py
  Bio/Phylo/_cdao_owl.py
  Bio/SeqUtils/MeltingTemp.py
Owners: @etal

Manually fixing quote corner cases in Tests/
  Tests/test_PDB_MMCIF2Dict.py
  Tests/test_SearchIO_blast_text.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SearchIO_fasta_m10.py
Owners: @joaorodrigues, @lennax, @bow

Manually fix mixed quote strings
  Scripts/PDB/generate_three_to_one_dict.py
Owners: none

Using tool unify to convert BioSQL/ to use double quotes
  BioSQL/BioSeq.py
  BioSQL/BioSeqDatabase.py
  BioSQL/DBUtils.py
  BioSQL/Loader.py
Owners: none

Manually fixing more quotes in Bio/
  Bio/Nexus/Nexus.py
  Bio/Nexus/Trees.py
  Bio/Phylo/_cdao_owl.py
  Bio/SeqUtils/MeltingTemp.py
Owners: @etal

Manually fixing corner case quotes in Bio/PDB/
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/mmcifio.py
Owners: @joaorodrigues, @lennax

Convert setup.py, Scripts/ and Docs/ to use double quotes
  Doc/api/conf.py
  Doc/examples/Proux_et_al_2002_Figure_6.py
  Doc/examples/clustal_run.py
  Doc/examples/fasta_dictionary.py
  Doc/examples/getgene.py
  Doc/examples/make_subsmat.py
  Doc/examples/nmr/simplepredict.py
  Doc/examples/swissprot.py
  Doc/examples/www_blast.py
  Scripts/GenBank/check_output.py
  Scripts/GenBank/check_output_simple.py
  Scripts/PDB/generate_three_to_one_dict.py
  Scripts/Restriction/ranacompiler.py
  Scripts/Restriction/rebase_update.py
  Scripts/SeqGui/SeqGui.py
  Scripts/debug/debug_blast_parser.py
  Scripts/query_pubmed.py
  Scripts/scop_pdb.py
  Scripts/update_ncbi_codon_table.py
  Scripts/xbbtools/nextorf.py
  Scripts/xbbtools/xbb_blast.py
  Scripts/xbbtools/xbb_blastbg.py
  Scripts/xbbtools/xbb_help.py
  Scripts/xbbtools/xbb_search.py
  Scripts/xbbtools/xbb_translations.py
  Scripts/xbbtools/xbb_utils.py
  Scripts/xbbtools/xbb_widget.py
  Scripts/xbbtools/xbbtools.py
  setup.py
Owners: none

Improve test coverage for module Bio.UniProt
  Bio/UniProt/GOA.py
  NEWS.rst
  Tests/UniProt/gene_association.goa_yeast.1.gaf
  Tests/UniProt/goa_yeast.gpa.59.gpa
  Tests/UniProt/gp_information.goa_yeast.28.gpi
  Tests/test_UniProt_GOA.py
Owners: none

Fix C405 Unnecessary list literal.
  Tests/test_UniProt_GOA.py
Owners: none

Fix AssertionError, sorting list on assertEqual.
  Tests/test_UniProt_GOA.py
Owners: none

Update settings if using flake-quote or flake8-pie locally
  .flake8
Owners: none

Fix AssertionError, sorting list on assertEqual.
  Tests/test_UniProt_GOA.py
Owners: none

Fix C405 Unnecessary list literal.
  Tests/test_UniProt_GOA.py
Owners: none

Improve test coverage for module Bio.UniProt
  Bio/UniProt/GOA.py
  NEWS.rst
  Tests/UniProt/gene_association.goa_yeast.1.gaf
  Tests/UniProt/goa_yeast.gpa.59.gpa
  Tests/UniProt/gp_information.goa_yeast.28.gpi
  Tests/test_UniProt_GOA.py
Owners: none

mmCIF reader always reads in lists
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/mmcifio.py
  Tests/test_PDB_MMCIF2Dict.py
Owners: @joaorodrigues, @lennax

Docs and news entry
  Doc/Tutorial/chapter_pdb.tex
  NEWS.rst
Owners: none

add a bit more error checking
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

add name
  NEWS.rst
Owners: none

Docs and news entry
  Doc/Tutorial/chapter_pdb.tex
  NEWS.rst
Owners: none

mmCIF reader always reads in lists
  Bio/PDB/MMCIF2Dict.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/mmcifio.py
  Tests/test_PDB_MMCIF2Dict.py
Owners: @joaorodrigues, @lennax

use a set instead of a dict
  Bio/SubsMat/__init__.py
Owners: none

use a set instead of a dict (#2201)
  Bio/SubsMat/__init__.py
Owners: none

Removes files created during run of run_tests.py
  Bio/ExPASy/__init__.py
  Bio/File.py
Owners: none

Removes files created during run of run_tests.py
  Bio/ExPASy/__init__.py
  Bio/File.py
Owners: none

Add a bit more error checking for MutableSeq initiation (#2200)
  Bio/Seq.py
  NEWS.rst
  Tests/test_Seq_objs.py
Owners: @peterjc

add remark 99 tests
  Bio/PDB/parse_pdb_header.py
  Tests/PDB/d256ba_.ent
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Add ASTRAL REMARK 99 parsing in header
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

update docs
  Doc/Tutorial/chapter_pdb.tex
  Doc/biopdb_faq.lyx
  Doc/biopdb_faq.tex
Owners: none

Only add astral to dict if remark found
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Update CONTRIB and NEWS
  CONTRIB.rst
  NEWS.rst
Owners: none

add remark 99 tests
  Bio/PDB/parse_pdb_header.py
  Tests/PDB/d256ba_.ent
  Tests/test_PDB_parse_pdb_header.py
Owners: @joaorodrigues, @lennax

update docs
  Doc/Tutorial/chapter_pdb.tex
  Doc/biopdb_faq.lyx
  Doc/biopdb_faq.tex
Owners: none
