Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Fixed unittests for SeqDatabase
  Tests/test_SeqAnalysis.py
Owners: @peterjc

Remove alphabet objects from CodonTable
  Bio/Data/CodonTable.py
  Bio/Seq.py
Owners: @peterjc

Update xbbtools for CodonTable changes
  Scripts/xbbtools/nextorf.py
Owners: none

make pretty PDF
  Doc/Tutorial/chapter_seq_annot.tex
  Tests/test_Tutorial.py
Owners: none

Drop use of Gapped alphabet in PhyloXML (#2951)
  Bio/Phylo/PhyloXML.py
  Tests/test_PhyloXML.py
Owners: @etal

Fixed 'venv' package name in README.md
  Bio/SeqAnalysis/README.md
Owners: none

test space windows
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

breaklines
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

put NORMALIZE_WHITESPACE back in
  Doc/Tutorial/chapter_seq_annot.tex
  Tests/test_Tutorial.py
Owners: none

find out which one is breaking the test
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

adding one
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

blankline
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

still failing
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

add second test
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

add long string
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

fix sequence
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

fix note
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

weird
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

weird stuff
  Doc/Tutorial/chapter_seq_annot.tex
  Tests/test_Tutorial.py
Owners: none

the final insult
  Doc/Tutorial/chapter_seq_annot.tex
  Tests/test_Tutorial.py
Owners: none

bla
  Doc/Tutorial/chapter_seq_annot.tex
  Tests/test_Tutorial.py
Owners: none

gave up
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

travis adding insult to injury
  Tests/test_Tutorial.py
Owners: none

test_Tutorial.py python3
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Tests/test_Tutorial.py
Owners: none

remove alphabet
  Tests/test_Tutorial.py
Owners: none

test_Tutorial.py python3 (#2964)
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Tests/test_Tutorial.py
Owners: none

added one doctest
  Doc/Tutorial/chapter_seq_annot.tex
  Tests/test_Tutorial.py
Owners: none

added one doctest
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

added a doctest
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

added a doctest
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

added a doctest
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

added a doctest
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

added a doctest
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

made the pdf pretty
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

doctests and alphabets in chapter_seq_annot (#2965)
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Tests/test_Tutorial.py
Owners: none

added tests; small fixes
  Bio/SeqAnalysis/SeqVisualizer.py
  Bio/SeqAnalysis/__main__.py
  Tests/SeqAnalysis/proper_Plots/static/bar.png
  Tests/SeqAnalysis/proper_Plots/static/box.png
  Tests/SeqAnalysis/proper_Plots/static/scatter.png
  Tests/test_SeqAnalysis.py
Owners: @peterjc

remove alphabet from quickstart
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

Fixed SeqDatabase test Fixed `cp -r` in README.md
  Bio/SeqAnalysis/README.md
  Bio/SeqAnalysis/SeqDatabase.py
Owners: none

remove alphabet from quickstart (#2966)
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

improved values for test plots
  Bio/SeqAnalysis/__main__.py
Owners: none
