Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

remove alphabets from chapter_testing.tex
  Doc/Tutorial/chapter_testing.tex
Owners: none

Merging all components
  Bio/SeqAnalysis/SeqDatabase.py
  Bio/SeqAnalysis/SeqDatabase_tests.py
  Bio/SeqAnalysis/SeqVisualizer.py
  Bio/SeqAnalysis/__init__.py
  Bio/SeqAnalysis/__main__.py
  Bio/SeqAnalysis/analyzer_tests.py
  Bio/SeqAnalysis/test.txt
Owners: none

remove alphabets from chapter_testing.tex (#2949)
  Doc/Tutorial/chapter_testing.tex
Owners: none

Drop most IUPAC alphabets in Seq/SeqRecord docstrings
  Bio/Seq.py
  Bio/SeqRecord.py
Owners: @peterjc

Drop use of Gapped alphabet in PhyloXML
  Bio/Phylo/PhyloXML.py
  Tests/test_PhyloXML.py
Owners: @etal

Use assertIsNone etc in test_PhyloXML.py
  Tests/test_PhyloXML.py
Owners: @etal

Drop IUPAC alphabets from GenBank/EMBL parser
  Bio/GenBank/__init__.py
  Bio/SeqIO/__init__.py
  Bio/SeqRecord.py
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_seqio.tex
Owners: @peterjc

remove alphabet from test_SeqFeature
  Tests/test_SeqFeature.py
Owners: @peterjc

remove alphabets from Seq representation
  Bio/Alphabet/Reduced.py
  Bio/SearchIO/_model/hsp.py
  Bio/Seq.py
  Bio/SeqFeature.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_motifs.tex
  Doc/Tutorial/chapter_searchio.tex
  Doc/Tutorial/chapter_seq_objects.tex
  Doc/Tutorial/chapter_seqio.tex
  Tests/test_SeqRecord.py
  Tests/test_SwissProt.py
  Tests/test_Uniprot.py
  Tests/test_seq.py
Owners: @peterjc

black
  Bio/Seq.py
Owners: @peterjc

black again
  Bio/Seq.py
Owners: @peterjc

back to black
  Bio/Seq.py
Owners: @peterjc

Found a few more. Alphabets are like cockroaches.
  Doc/Tutorial/chapter_pdb.tex
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

alphabets must die
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

Drop most IUPAC alphabets in Seq/SeqRecord docstrings
  Bio/Seq.py
  Bio/SeqRecord.py
Owners: @peterjc

Drop IUPAC alphabets from GenBank/EMBL parser
  Bio/GenBank/__init__.py
  Bio/SeqIO/__init__.py
  Bio/SeqRecord.py
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_seqio.tex
Owners: @peterjc

Fix silly typo
  Tests/test_PhyloXML.py
Owners: @etal

fixed bugs, added mcmc input, added maximum_clade_probability_consensus, working on returning multiple trees from majority_consensus
  Bio/Phylo/Consensus.py
Owners: @etal

fixed returning multiple trees in majority_consensus
  Bio/Phylo/Consensus.py
Owners: @etal

Moved tests to proper directory with proper usage of unittests
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/__init__.py
  Bio/SeqAnalysis/__main__.py
  Tests/SeqAnalysis/database_tests.txt
  Tests/test_SeqAnalysis.py
Owners: @peterjc

Added 'plotly' to requirements
  setup.py
Owners: none

Added root directory
  Bio/SeqAnalysis/SeqDatabase.py
  Bio/SeqAnalysis/__main__.py
  Tests/test_SeqAnalysis.py
Owners: @peterjc

No need for explicit inherit from object in Python3
  Bio/SeqAnalysis/SeqDatabase.py
Owners: none

Added root directory to rest of modules Fixed output from SeqDatabase
  Bio/SeqAnalysis/SeqAnalyzer.py
  Bio/SeqAnalysis/SeqDatabase.py
  Bio/SeqAnalysis/SeqVisualizer.py
  Bio/SeqAnalysis/__main__.py
Owners: none

Fixed unittest for SeqDatabase
  Bio/SeqAnalysis/SeqDatabase.py
  Tests/test_SeqAnalysis.py
Owners: @peterjc

Sequences may be read from stdin or as filename
  Bio/SeqAnalysis/__main__.py
  Tests/SeqAnalysis/sequences.txt
Owners: none

Added README.md with information about building and running
  Bio/SeqAnalysis/README.md
  Bio/SeqAnalysis/SeqVisualizer.py
  Bio/SeqAnalysis/__main__.py
Owners: none

remove alphabets from Seq representation (#2953)
  Bio/Alphabet/Reduced.py
  Bio/SearchIO/_model/hsp.py
  Bio/Seq.py
  Bio/SeqFeature.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
  Doc/Tutorial/chapter_entrez.tex
  Doc/Tutorial/chapter_motifs.tex
  Doc/Tutorial/chapter_pdb.tex
  Doc/Tutorial/chapter_quick_start.tex
  Doc/Tutorial/chapter_searchio.tex
  Doc/Tutorial/chapter_seq_annot.tex
  Doc/Tutorial/chapter_seq_objects.tex
  Doc/Tutorial/chapter_seqio.tex
  Tests/test_SeqRecord.py
  Tests/test_SwissProt.py
  Tests/test_Uniprot.py
  Tests/test_seq.py
Owners: @peterjc

fixing cookbook example for python3
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

fixing cookbook example for python3 (#2958)
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Avoid alphabets in AlignInfo.SummaryInfo example
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Alphabet no longer shown in Seq __repr__
  Doc/Tutorial/chapter_quick_start.tex
Owners: none

Simplify/update alphabet introduction
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Remove outdated print example
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

Seq __repr__ dropped the alphabet
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

Remove uses of IUPAC alphabet in chapter
  Doc/Tutorial/chapter_seq_objects.tex
Owners: none

Remove alphabet from Seq __repr__ etc.
  Doc/cookbook/Restriction/Restriction.html
  Doc/cookbook/Restriction/Restriction.md
Owners: none

Fixed unittests for SeqAnalysis Added info about running tests to README.md
  Bio/SeqAnalysis/README.md
  Tests/test_SeqAnalysis.py
Owners: @peterjc

Fix old typo
  Doc/Tutorial/chapter_cookbook.tex
Owners: none

add missing doctests to chapter_seq_annot.tex
  Doc/Tutorial/chapter_seq_annot.tex
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
