Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Drop protein alphabet on Seq translate method output
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
  Tests/test_translate.py
Owners: @peterjc

Drop alphabet on Seq upper/lower method output
  Bio/Seq.py
Owners: @peterjc

Drop alphabet on Seq slice (and reverse_complement)
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Drop alphabet on Seq split and strip method output
  Bio/Seq.py
Owners: @peterjc

fixed a tuple amiss
  Bio/Blast/Applications.py
Owners: none

update fasta examples
  Doc/examples/fasta_dictionary.py
  Doc/examples/fasta_iterator.py
Owners: none

update fasta examples (#2989)
  Doc/examples/fasta_dictionary.py
  Doc/examples/fasta_iterator.py
Owners: none

let the Swiss-Prot parser fix the file handle mode if it's binary
  Bio/SwissProt/__init__.py
  Doc/Tutorial/chapter_uniprot.tex
Owners: none

let the Swiss-Prot parser fix the file handle mode if it's binary (#2990)
  Bio/SwissProt/__init__.py
  Doc/Tutorial/chapter_uniprot.tex
Owners: none

Drop alphabet on Seq (back)transcribe
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Drop alphabet on Seq upper/lower method output
  Bio/Seq.py
Owners: @peterjc

Drop alphabet on Seq slice (and reverse_complement)
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Drop alphabet checks on string-like Seq methods
  Bio/Seq.py
  Tests/test_seq.py
Owners: @peterjc

Drop protein alphabet on Seq translate method output
  Bio/Seq.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
  Tests/test_translate.py
Owners: @peterjc

Drop alphabet on Seq split and strip method output
  Bio/Seq.py
Owners: @peterjc

Drop alphabet on Seq complement
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Remove alphabet from a few SeqIO doctests
  Bio/SeqIO/__init__.py
Owners: @peterjc

remove example script and file
  Doc/Tutorial/chapter_cookbook.tex
  Doc/examples/make_subsmat.py
  Doc/examples/protein.aln
Owners: none

remove example script and file (#2991)
  Doc/Tutorial/chapter_cookbook.tex
  Doc/examples/make_subsmat.py
  Doc/examples/protein.aln
Owners: none

Fixed typo
  Bio/AlignIO/MsfIO.py
Owners: @peterjc

Cleanup: UnknownSeq is a subclass of Seq
  Bio/Seq.py
Owners: @peterjc

Bug fix: UnknownSeq character in multiply and (back)transcribe
  Bio/Seq.py
Owners: @peterjc

Set UnknownSeq character explicitly in GenBank parser
  Bio/GenBank/__init__.py
Owners: @peterjc

Drop alphabet in Seq join method
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Drop alphabet on Seq multiplication and conversion.
  Bio/Seq.py
  BioSQL/BioSeq.py
  Tests/common_BioSQL.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Drop alphabet on multiple UnknownSeq methods
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Drop alphabet on Seq ungap
  Bio/Seq.py
Owners: @peterjc

Avoid SciPy 1.5.0 due to minimize change
  .travis-tox.ini
Owners: none

Avoid SciPy 1.5.0 due to minimize change
  .travis-tox.ini
Owners: none

Drop alphabet on Seq ungap
  Bio/Seq.py
Owners: @peterjc

Cleanup: UnknownSeq is a subclass of Seq
  Bio/Seq.py
Owners: @peterjc

Drop alphabet in Seq join method
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Drop alphabet on Seq multiplication and conversion.
  Bio/Seq.py
  BioSQL/BioSeq.py
  Tests/common_BioSQL.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Drop alphabet on multiple UnknownSeq methods
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Set UnknownSeq character explicitly in GenBank parser
  Bio/GenBank/__init__.py
Owners: @peterjc

Bug fix: UnknownSeq character in multiply and (back)transcribe
  Bio/Seq.py
Owners: @peterjc

precompute dicts test
  Bio/Data/IUPACData.py
  Bio/Seq.py
Owners: @peterjc

fix the bound issue of _ml when using the minimize function of scipy>=1.5.0
  Bio/codonalign/codonseq.py
Owners: @zruan

remove the requirement of scipy<1.5.0
  .travis-tox.ini
Owners: none

fix syntax issues for _ml method
  Bio/codonalign/codonseq.py
Owners: @zruan
