Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc

Add ASTRAL REMARK 99 parsing in header
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Update CONTRIB and NEWS
  CONTRIB.rst
  NEWS.rst
Owners: none

Only add astral to dict if remark found
  Bio/PDB/parse_pdb_header.py
Owners: @joaorodrigues, @lennax

Fix URL markup in LaTeX - spotted at CoFest 2019 in Basel
  Doc/Tutorial/chapter_align.tex
Owners: none

Fix RST oddity in SeqIO format list
  Bio/SeqIO/__init__.py
Owners: @peterjc

Deprecate Bio.Index
  Bio/Index.py
  DEPRECATED.rst
Owners: none

Fix Bio.Phylo doctests (pull request #2114)
  Bio/Phylo/Applications/_Fasttree.py
  Bio/Phylo/TreeConstruction.py
  Bio/Phylo/_io.py
  Bio/Phylo/_utils.py
  Tests/run_tests.py
Owners: @etal

Improve test coverage Bio.UniGene
  Tests/test_UniGene.py
Owners: none

Amend as Travis CI fails on py27 AssertionError: ValueError not raised
  Tests/test_UniGene.py
Owners: none

Fix TypeError raised by str(HSP())
  Bio/Blast/Record.py
Owners: none

Fix __str__ when align_length is None
  Bio/Blast/Record.py
Owners: none

Add test case for HSP.__str__
  Tests/test_Blast_Record.py
Owners: none

Make Entrez retry logic treat 429s as retryable errors
  Bio/Entrez/__init__.py
Owners: @mdehoon

Add __getnewargs__ to SeqFeatures.*Positions classes so that instances are (un)picklable
  Bio/SeqFeature.py
Owners: @peterjc

Improve test coverage Bio.Geo
  Tests/test_geo.py
Owners: none

To context manager.
  Tests/test_UniGene.py
Owners: none

Improve test coverage Bio.UniGene (#2206)
  Tests/test_UniGene.py
Owners: none

Dual license Bio/PDB/vectors.py
  Bio/PDB/vectors.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/__init__.py
  Bio/PDB/__init__.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Superimposer.py
  Bio/PDB/Superimposer.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/StructureAlignment.py
  Bio/PDB/StructureAlignment.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Structure.py
  Bio/PDB/Structure.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Selection.py
  Bio/PDB/Selection.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/ResidueDepth.py
  Bio/PDB/ResidueDepth.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Residue.py
  Bio/PDB/Residue.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Polypeptide.py
  Bio/PDB/Polypeptide.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/PSEA.py
  Bio/PDB/PSEA.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/PDBExceptions.py
  Bio/PDB/PDBExceptions.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/NeighborSearch.py
  Bio/PDB/NeighborSearch.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/NACCESS.py
  Bio/PDB/NACCESS.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/FragmentMapper.py
  Bio/PDB/FragmentMapper.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/MMCIF2Dict.py
  Bio/PDB/MMCIF2Dict.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/HSExposure.py
  Bio/PDB/HSExposure.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Dice.py
  Bio/PDB/Dice.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Chain.py
  Bio/PDB/Chain.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/Atom.py
  Bio/PDB/Atom.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/AbstractPropertyMap.py
  Bio/PDB/AbstractPropertyMap.py
Owners: @joaorodrigues, @lennax

Dual license Bio/PDB/QCPSuperimposer/__init__.py
  Bio/PDB/QCPSuperimposer/__init__.py
Owners: none

Dual license Tests/test_PDB_MMCIFParser.py
  Tests/test_PDB_MMCIFParser.py
Owners: @joaorodrigues, @lennax

Dual license Tests/test_PDB_KDTree.py
  Tests/test_PDB_KDTree.py
Owners: @joaorodrigues, @lennax
