Repository biopython/biopython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @peterjc, @mdehoon, @zruan, @widdowquinn, @joaorodrigues, @lennax, @etal, @tiagoantao, @bow

Fix Seq strip methods (overuse of str casting)
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Fix regression in Seq equality
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Fix TypeError in Seq find, index, split
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Fix regression in Seq equality
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Fix TypeError in Seq count and count_overlap
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Seq TypeError fixing in NEWS
  NEWS.rst
Owners: none

Update StockholmIO.py
  Bio/AlignIO/StockholmIO.py
Owners: @peterjc

Refactor to avoid else branch
  Bio/Seq.py
Owners: @peterjc

MeltingTemp docs
  Bio/SeqUtils/MeltingTemp.py
Owners: none

make sure that all sequence letters are ASCII
  Bio/Align/_aligners.c
Owners: @mdehoon

make sure that all sequence letters are ASCII (#3322)
  Bio/Align/_aligners.c
Owners: @mdehoon

MeltingTemp docs
  Bio/SeqUtils/MeltingTemp.py
Owners: none

Accept Seq, MutableSeq objects in Seq, MutableSeq initializers"
  Bio/Seq.py
  Bio/SeqFeature.py
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_seq_objects.tex
  Tests/common_BioSQL.py
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

using the existing array or string directly
  Bio/Seq.py
Owners: @peterjc

UnknownSeq causing problems
  Bio/Seq.py
Owners: @peterjc

using Peter's suggestion
  Bio/Seq.py
Owners: @peterjc

using Peter's suggestion
  Bio/Seq.py
Owners: @peterjc

Accept Seq, MutableSeq objects in Seq, MutableSeq initializers ... (#3323)
  Bio/Seq.py
  Bio/SeqFeature.py
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_seq_objects.tex
  Tests/common_BioSQL.py
  Tests/test_SeqIO_features.py
  Tests/test_Seq_objs.py
  Tests/test_seq.py
Owners: @peterjc

Fix TypeError in Seq find, index, split
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Fix TypeError in Seq count and count_overlap
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Fix Seq strip methods (overuse of str casting)
  Bio/Seq.py
  Tests/test_Seq_objs.py
Owners: @peterjc

Seq TypeError fixing in NEWS
  NEWS.rst
Owners: none

Refactor to avoid else branch
  Bio/Seq.py
Owners: @peterjc

clean up __getitem__ for UnknownSeq
  Bio/Seq.py
Owners: @peterjc

clean up __getitem__ for UnknownSeq (#3324)
  Bio/Seq.py
Owners: @peterjc

Test None raises TypeError here
  Tests/test_Seq_objs.py
Owners: @peterjc

Comment fix: None is a valid argument for strip
  Bio/Seq.py
Owners: @peterjc

test_GAQueens.py was removed on September 25, 2018 in pull request #1802
  Bio/Seq.py
Owners: @peterjc

Test None raises TypeError here
  Tests/test_Seq_objs.py
Owners: @peterjc

Comment fix: None is a valid argument for strip
  Bio/Seq.py
Owners: @peterjc

test_GAQueens.py was removed on September 25, 2018 in pull request #1802
  Bio/Seq.py
Owners: @peterjc

don't apply str blindly
  Bio/Seq.py
Owners: @peterjc

travis
  Bio/Seq.py
Owners: @peterjc

Change of mirror, because URL of prosite changed
  Bio/ExPASy/ScanProsite.py
Owners: none

Added name to NEWS.rst and CONTRIB.rst
  CONTRIB.rst
  NEWS.rst
Owners: none

Modifications for pull request
  Bio/ExPASy/ScanProsite.py
  NEWS.rst
Owners: none

don't apply str blindly in Seq methods (#3328)
  Bio/Seq.py
Owners: @peterjc

comment changed
  Bio/ExPASy/ScanProsite.py
Owners: none

MutableSeq bytearray
  Bio/Seq.py
  Tests/test_seq.py
Owners: @peterjc

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# and https://github.com/blog/2392-introducing-code-owners
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in the repo.
# *       @defunkt
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com
#

Bio/Alphabet @peterjc

Bio/Align/* @peterjc
Bio/Align/_aligners.c @mdehoon
Bio/AlignIO/* @peterjc
Tests/test_AlignIO* @peterjc

Bio/bgzf.py @peterjc
Tests/test_bgzf*.py @peterjc

Bio/Cluster/* @mdehoon
Tests/test_Cluster*.py @mdehoon

Bio/codonalign/* @zruan
Tests/test_codonalign*.py @zruan

Bio/Entrez/* @mdehoon
Tests/test_Entrez*.py @mdehoon

Bio/GenBank/* @peterjc
Tests/test_GenBank*.py @peterjc
Tests/test_EMBL*.py @peterjc

Bio/Graphics/GenomeDiagram/* @widdowquinn @peterjc
Tests/test_GenomeDiagram*.py @widdowquinn @peterjc

Bio/motifs/* @mdehoon
Tests/test_motifs*.py @mdehoon

Bio/PDB/* @joaorodrigues @lennax
Tests/test_PDB*.py @joaorodrigues @lennax

Bio/Phylo/* @etal
Tests/test_Phylo*.py @etal

Bio/PopGen/* @tiagoantao
Tests/test_PopGen*.py @tiagoantao

Bio/SearchIO/* @bow
Tests/test_SearchIO*.py @bow

Bio/Seq*.py @peterjc
Bio/SeqIO/* @peterjc
Tests/test_Seq* @peterjc
Tests/test_seq* @peterjc

Bio/SeqIO/AbiIO.py @peterjc @bow
Tests/test_SeqIO_AbiIO.py @peterjc @bow

Bio/TogoWS/* @peterjc
Tests/test_TogoWS*.py @peterjc
